<template>
  <def-layout>
    <SalonSkeleton v-if="isLoading" />

    <div v-else class="salon-page site-content main-content">
      <SalonHeader />

      <div class="salon-page__blocks">
        <div class="container">
          <div class="salon-page__blocks-inner">
            <div class="row g-0">
              <div class="col-xl-5 col-lg-12">
                <SalonGallery />
              </div>

              <div class="col-xl-7 col-lg-12">
                <div class="salon-page__block-details">
                  <div id="salon-map" class="salon-page__map" />

                  <SalonSummary />
                  <SalonDescription />
                  <SalonTabs v-model="tab" />
                </div>
              </div>
            </div>

            <div id="services" class="tab-content salon-page__tab-content">
              <SalonServices v-show="tab === SALON_TABS.services" />

              <SalonSpecialists v-show="tab === SALON_TABS.specialists" />
            </div>
          </div>
        </div>
      </div>

      <div id="reviews" class="reviews-blocks">
        <div class="container">
          <SalonReviews />
        </div>
      </div>

      <SimilarSalons />
    </div>
  </def-layout>
</template>

<script>
import DefLayout from "@/layouts/Default/Default";
import SalonSkeleton from "@/components/Skeleton/SalonSkeleton";

import SalonHeader from "./components/SalonHeader.vue";
import SalonGallery from "./components/SalonGallery.vue";
import SalonSummary from "./components/SalonSummary.vue";
import SalonDescription from "./components/SalonDescription.vue";

import SalonTabs from "./components/SalonTabs.vue";
import SalonServices from "./components/SalonServices.vue";
import SalonSpecialists from "./components/SalonSpecialists.vue";

import SalonReviews from "./components/SalonReviews";
import SimilarSalons from "./components/SimilarSalons";

import { accountModule, salonModule } from "@/store";
import { SALON_TABS } from "./constants";
import { YandexMap } from "@/services/yandex-map";

import VueScrollTo from "vue-scrollto";

export default {
  name: "Salon",
  components: {
    DefLayout,
    SalonSkeleton,

    SalonHeader,
    SalonGallery,
    SalonSummary,
    SalonDescription,

    SalonTabs,
    SalonServices,
    SalonSpecialists,

    SalonReviews,
    SimilarSalons,
  },

  data() {
    return {
      tab: SALON_TABS.services,
    };
  },

  computed: {
    isLoading() {
      return salonModule.isLoading;
    },

    salon() {
      return salonModule.salon;
    },

    SALON_TABS: () => SALON_TABS,
  },

  watch: {
    "$route.params.id": {
      immediate: true,
      async handler() {
        await salonModule.loadSalon(this.$route.params.id);
        await this.$nextTick();
        this.displayMap();

        if (!this.$route.hash) return;

        VueScrollTo.scrollTo(this.$route.hash, 100, { offset: -120 });
      },
    },
  },

  beforeRouteEnter(to, from, next) {
    if (from.name !== "Search" || !from.query.categoryId) return next();

    salonModule.setCategoryId(from.query.categoryId);
    next();
  },

  created() {
    if (salonModule.categoryId) {
      this.tab = SALON_TABS.specialists;
    }

    if (this.$route.hash === "#success") {
      this.$bvModal.show("payment-success-modal");
    }
  },

  methods: {
    async displayMap() {
      const isEmptyCoordinates = this.salon.coordinates.every((item) => !item);
      const map = await YandexMap.create({
        elementId: "salon-map",
        center: isEmptyCoordinates
          ? [accountModule.longitude, accountModule.latitude]
          : this.salon.coordinates,
        zoom: 13,
      });

      if (isEmptyCoordinates) return;

      map.addMark({
        center: this.salon.coordinates,
        title: this.salon.name,
        image: this.salon.logo,
      });
    },
  },
};
</script>

<style lang="scss">
@import "styles/salon-page";

.fade-enter-active {
  transition: opacity 1s ease;
}

.fade-enter {
  opacity: 0;
}
.salon-page__empty {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 0;
}
</style>
