<template>
  <div class="auth__social">
    <span class="auth__social--text">{{ $t("auth.enterBy") }}</span>
    <span class="auth__socials">
      <!-- <a href="#" class="social__link" @click="getLink('fb')">
        <svg class="symbol__social symbol__social--facebook">
          <use xlink:href="#facebook"></use>
        </svg>
      </a> -->

      <a href="#" class="social__link" @click="getLink('vk')">
        <svg class="symbol__social">
          <use xlink:href="#vk"></use>
        </svg>
      </a>

      <a href="#" class="social__link" @click="getLink('g+')">
        <svg class="symbol__social">
          <use xlink:href="#google"></use>
        </svg>
      </a>
    </span>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";

const authStore = createNamespacedHelpers("Auth");
function parseURLParams(url) {
  var queryStart = url.indexOf("?") + 1,
    queryEnd = url.indexOf("#") + 1 || url.length + 1,
    query = url.slice(queryStart, queryEnd - 1),
    pairs = query.replace(/\+/g, " ").split("&"),
    parms = {},
    i,
    n,
    v,
    nv;

  if (query === url || query === "") return;

  for (i = 0; i < pairs.length; i++) {
    nv = pairs[i].split("=", 2);
    n = decodeURIComponent(nv[0]);
    v = decodeURIComponent(nv[1]);

    if (!(n in parms)) parms[n] = [];
    parms[n].push(nv.length === 2 ? v : null);
  }
  return parms;
}

export default {
  name: "AuthSocial",
  methods: {
    ...authStore.mapActions(["getOAuthLink", "oauthLogin", "setTokens"]),
    getLink(type) {
      let redirect_uri =
        process.env.VUE_APP_SOCIAL_REDIRECT_URI ||
        "http://localhost:5000/login";
      this.getOAuthLink({
        type,
        redirect_uri,
      }).then((response) => {
        window.location.href = response.data.url;
      });
    },
  },
  async mounted() {
    if (parseURLParams(location.search)) {
      let type = "g+",
        redirect_uri =
          process.env.VUE_APP_SOCIAL_REDIRECT_URI ||
          "http://localhost:5000/login",
        code = 0,
        params = parseURLParams(location.search);

      if (params.code || params.scope) {
        code = params.code[0];

        if (params.scope && params.scope[0].includes("googleapis")) {
          type = "g+";
        } else if (params.code[0].length === 18) {
          type = "vk";
        }

        const response = await this.oauthLogin({
          type,
          code,
          redirect_uri,
        });

        if (response.data.ok) {
          await this.setTokens(response.data);
          if (process.env.VUE_APP_HOME_REDIRECT_URL) {
            location.href = process.env.VUE_APP_HOME_REDIRECT_URL;
          } else {
            await this.$router.push("/");
          }
        } else {
          this.$doNoty.error(response.data.msg);
        }
      }
    }
  },
};
</script>

<style lang="scss" scoped>
.auth__social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 44px;

  @media (max-width: 468px) {
    flex-direction: column;
  }
}

.auth__social--text {
  font-size: 16px;
  color: rgba(27, 25, 24, 1);
  font-weight: 400;
  margin-right: 21px;

  @media (max-width: 468px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.auth__socials {
  display: flex;
  align-items: center;
}

.social__link {
  text-decoration: none;

  margin-right: 11px;

  &:hover {
    text-decoration: none;
  }

  &:last-child {
    margin-right: 0;
  }
}

.symbol__social {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &--facebook {
    width: 39px;
    height: 39px;
  }
}
</style>
