<template>
  <account>
    <div class="profile-info">
      <OrderBlocks class="orders__blocks" />
    </div>
  </account>
</template>

<script>
import Account from "@/layouts/Account/Account.vue";

import OrderBlocks from "./components/OrderBlocks.vue";

import { ordersModule } from "./store/orders-module";
import { sum } from "lodash";

export default {
  name: "Orders",
  components: {
    Account,
    OrderBlocks,
  },

  async created() {
    await ordersModule.loadOrders();
  },
};
</script>

<style lang="scss">
@import "styles/orders";
</style>
