.status-home {
  &__blocks {
      margin: 0 -15px;
      @media (max-width: 991px) {
          margin: 0 -15px;
          overflow: hidden;
          overflow-x: scroll;
      }
  }
  &__block {
      padding: 0 15px;
      max-width: 50%;
      flex: 0 0 50%;
      @media (max-width: 991px) {
          padding: 0 15px;
          max-width: 300px;
          flex: 0 0 300px;
          width: 300px;
      }
  }
  &__block-inner {
      padding: 40px 40px 55px;
      margin: 10px 0;
      height: calc(100% - 30px);
      border-radius: 7px;
      background: rgba(255, 255, 255, 0.2);
      background-size: cover !important;
      @media (max-width: 991px) {
          padding: 18px 20px;
          margin: 15px 0;
          height: calc(100% - 30px);
          border-radius: 7px;
          background: rgba(255, 255, 255, 0.2);
          background-size: cover !important;
      }
  }
  &__block-header {
      margin-bottom: 70px;
      @media (max-width: 991px) {
          margin-bottom: 20px;
      }
  }
  &__block-number {
      display: inline-block;
      width: 63px;
      height: 63px;
      font-size: 39px;
      line-height: 42px;
      padding: 10px;
      text-align: center;
      color: $white;
      margin-right: 15px;
      background: url(~@/assets/img/status/status-number__bg.svg) no-repeat;
      background-size: cover;
      @media (max-width: 991px) {
          display: inline-block;
          width: 33px;
          height: 33px;
          font-size: 20px;
          line-height: 20px;
          padding: 5px;
          margin-right: 10px;
      }
  }
  &__block-name {
      font-weight: 500;
      font-size: 31px;
      line-height: 33px;
      text-transform: uppercase;
      color: $white;
      @media (max-width: 991px) {
          font-size: 16px;
          line-height: 17px;
      }
  }
  &__block-content {
      margin-bottom: 30px;
      @media (max-width: 991px) {
          margin-bottom: 15px;
      }
  }
  &__block-title {
      font-size: 28px;
      line-height: 30px;
      color: $white;
      margin-bottom: 20px;
      @media (max-width: 991px) {
          font-size: 15px;
          line-height: 17px;
          margin-bottom: 10px;
      }
      strong {
          font-weight: 600;
      }
  }
  &__block-text {
      font-size: 18px;
      color: $white;
      @media (max-width: 991px) {
          font-size: 12px;
          line-height: 17px;
      }
  }
  &__block-info {
      max-width: 215px;
      font-size: 18px;
      margin-left: 30px;
      font-weight: 500;
      color: $white;
      @media (max-width: 991px) {
          max-width: 100px;
          font-size: 10px;
          line-height: 13px;
          margin-left: 20px;
      }
  }

  .btn-white {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
      border-radius: 41px;
      font-weight: 600;
      font-size: 18px;
      color: $black;
      padding: 18px 39px;
      @media (max-width: 991px) {
          font-size: 12px;
          padding: 10px 30px;
      }
  }
}
