<template>
  <div class="discount-select">
    <p v-if="discountType" class="btn discount-select__selected">
      {{ selectedOption ? selectedOption.label : discountType }}
    </p>

    <div v-else class="dropdown">
      <button
        class="btn dropdown-toggle"
        :class="{ show: isOpen }"
        type="button"
        @click="isOpen = !isOpen"
      >
        {{ selectedOption ? selectedOption.label : "Выберите скидку" }}
      </button>

      <ul class="dropdown-menu" :class="{ show: isOpen }">
        <div
          v-for="option in discountOptions"
          :key="option.value"
          class="discount-select__item"
          @click="selectOption(option)"
        >
          {{ option.label }}
        </div>
      </ul>
    </div>
  </div>
</template>

<script>
import { accountModule } from "@/store";

export default {
  name: "DiscountSelect",

  props: {
    value: { type: String, required: true },
  },

  data() {
    return {
      isOpen: false,
    };
  },

  computed: {
    discountType: () => accountModule.discountType,

    discountOptions() {
      return [
        {
          value: "high",
          label: "199р до 35% скидка на все услуги в месяц",
        },
        {
          value: "medium",
          label: "99р до 25% скидка на все услуги в месяц",
        },
        {
          value: "low",
          label: "49р до 15% скидка на все услуги в месяц",
        },
      ];
    },

    selectedOption() {
      return this.discountOptions.find((item) => item.value === this.value);
    },
  },

  methods: {
    selectOption(option) {
      this.$emit("input", option.value);
      this.isOpen = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.discount-select__selected {
  margin: 0;
  cursor: initial;
  white-space: normal;
  text-align: left;
  width: max-content;
  padding-left: 0;
}

.dropdown-toggle {
  white-space: normal;
  text-align: left;
  width: max-content;
  border: 1px solid rgba(0, 0, 0, 0.15);

  @media (max-width: 1024px) {
    width: auto;
  }
}

.dropdown-menu {
  min-width: 100%;
}

.discount-select__item {
  cursor: pointer;
  padding: 10px;
  min-width: 100%;
  width: max-content;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}
</style>
