<template>
  <account>
    <div class="profile-info">
      <div class="profile-page__header">
        <div class="profile-page__header-inner">
          <div class="profile-page__top-title d-flex">Внутренний счет</div>
        </div>
      </div>

      <div class="internal-account__content">
        <div class="">
          <div class="internal-account__block balanc-now">
            <div class="internal-account__block-inner">
              <div class="internal-account__block-title">
                На вашем внутреннем счету
              </div>
              <div
                class="
                  internal-account__block-content
                  d-flex
                  align-items-center
                  justify-content-between
                "
              >
                <div class="internal-account__block-summa opacity-50">
                  {{ Math.floor(balance) }}
                </div>
                <form class="up-balance" @submit.prevent="topupBalance">
                  <input
                    v-model="amountToAdd"
                    type="number"
                    class="up-balance__input"
                    placeholder="150 000"
                    required
                  />
                  <button
                    type="submit"
                    class="btn btn-lightgrey up-balance__btn"
                    :disabled="isProcessing"
                  >
                    <template v-if="isProcessing"> Обработка… </template>
                    <template v-else> Пополнить </template>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div class="internal-account__statistic">
            <div v-if="nextStatus" class="internal-account__block">
              <div class="internal-account__block-inner">
                <div class="internal-account__block-title">
                  Необходимо потратить для перехода на
                  <strong class="text-uppercase" :class="nextStatus">
                    {{ $t(`statuses.${nextStatus}`) }}
                  </strong>
                </div>
                <div
                  class="
                    internal-account__block-content
                    d-flex
                    align-items-center
                    justify-content-between
                  "
                >
                  <div
                    class="internal-account__block-summa"
                    :class="nextStatus"
                  >
                    {{ $fm(nextStatusAmount - spentAmount) }}
                  </div>

                  <router-link
                    :to="{ name: 'Status' }"
                    class="
                      internal-account__block-btn
                      internal-account__block-moreInfo
                      btn-black
                    "
                  >
                    Узнать подробнее
                  </router-link>
                </div>
              </div>
            </div>

            <div class="internal-account__block">
              <div class="internal-account__block-inner">
                <div class="internal-account__block-title">
                  Процент вашего кешбека
                </div>
                <div class="internal-account__block-content">
                  <div class="internal-account__block-summa">
                    {{ cashback }}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="internal-account__block text">
          <div class="internal-account__block-text">
            <p>
              Первичный бонус — после первой транзакции, проведенной
              пользователем, который зарегистрировался по реферальной ссылке.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="internal-account__block">
            <div class="internal-account__block-inner">
              <div class="internal-account__block-title">
                Статус тарифа “Решай сам” ({{
                  discountType ? "Подключен" : "Не подключен"
                }})
              </div>

              <div
                class="
                  internal-account__block-content
                  d-flex
                  align-items-center
                  justify-content-between
                "
              >
                <DiscountSelect v-model="selectedType" />

                <button
                  type="button"
                  class="
                    internal-account__block-btn internal-account__block-up
                    btn-black
                  "
                  :disabled="isProcessing"
                  @click="updateDiscountType"
                >
                  <template v-if="isProcessing"> Обработка… </template>
                  <template v-else-if="discountType"> Отключить </template>
                  <template v-else> Подключить </template>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </account>
</template>

<script>
import Account from "@/layouts/Account/Account";
import DiscountSelect from "./DiscountSelect.vue";
import { accountModule, paymentModule } from "@/store";

export default {
  name: "Internal-account",
  components: {
    Account,
    DiscountSelect,
  },

  data() {
    return {
      amountToAdd: "",
      isProcessing: false,
      selectedType: "",
    };
  },

  computed: {
    currentStatus() {
      return accountModule.status;
    },

    balance() {
      return accountModule.balance;
    },

    spentAmount() {
      return accountModule.spentAmount;
    },

    cashback() {
      return accountModule.currentCashbackLevel.cashback * 100;
    },

    nextStatusAmount() {
      return accountModule.nextCashbackLevel.amount;
    },

    discountType() {
      return accountModule.discountType;
    },

    nextStatus() {
      return accountModule.nextCashbackLevel.title;
    },
  },

  created() {
    this.selectedType = this.discountType;

    if (this.$route.hash === "#success") {
      this.$doNoty.success("Оплата прошла успешно");
      accountModule.loadUserInfo();
      this.$router.replace({ hash: "" });
    }
  },

  methods: {
    async updateDiscountType() {
      if (!this.selectedType && !this.discountType) return;

      this.isProcessing = true;
      const isDisableMode = Boolean(this.discountType);
      try {
        await accountModule.updateUserInfo({
          params: { discountType: isDisableMode ? "" : this.selectedType },
        });

        if (isDisableMode) {
          this.selectedType = "";
        }
      } catch (err) {
        this.$doNoty.error(err);
      } finally {
        this.isProcessing = false;
      }
    },

    async topupBalance() {
      this.isProcessing = true;
      try {
        await paymentModule.init({
          amount: Number(this.amountToAdd),
          metadata: { user_id: String(accountModule.userId) },
          redirect: `${location.href}#success`,
          topUpBalance: true,
        });
        this.$bvModal.show("checkout-modal");
      } catch (err) {
        this.$doNoty.error(err);
      } finally {
        this.isProcessing = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "internal-account";

.internal-account__content {
  .row {
    flex-wrap: wrap;
  }
}

.classic {
  color: #395dc0;
}
.silver {
  color: $lightgrey;
}
.gold {
  color: $yellow;
}
.platinum {
  color: #bba6e6;
}

.internal-account__decide {
  margin-left: auto;
}
</style>
