.internal-account {
  &__statistic {
    display: flex;
    justify-content: space-between;
    @media (max-width: $tabletL) {
      flex-wrap: wrap;
    }
    .internal-account__block {
      flex-grow: 1;
      @media (max-width: $tabletL) {
        width: 100%;
      }
      &:last-child {
        min-width: 290px;
        margin-left: 22px;
        @media (max-width: $desktop) {
          min-width: unset;
        }
        @media (max-width: $tabletL) {
          margin-left: 0;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__block {
      background: $white;
      border-radius: 7px;
      padding: 25px;
      margin-bottom: 25px;
      @media (max-width: 575px) {
          margin-bottom: 15px;
      }
      &.text {
          background: transparent;
          padding: 0;
      }
  }
  &__block-content {
    @media (max-width: $tabletL) {
      flex-wrap: wrap;
    }
  }
  &__block-text {
      font-size: 16px;
      line-height: 25px;
  }
  &__block-title {
      font-weight: 500;
      font-size: 17px;
      margin-bottom: 30px;
      @media (max-width: 575px) {
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 40px;
      }
  }
  &__block-summa {
      font-weight: 500;
      font-size: 48px;
      line-height: 52px;
      @media (max-width: 575px) {
          font-weight: 500;
          font-size: 34px;
          line-height: 37px;
      }
  }
  &__block-btn {
      background: $white;
      border: 1px solid rgba(29, 39, 74, 0.3);
      border-radius: 7px;
      padding: 10px 15px;
      color: $black;
      text-decoration: none;
  }
  &__block-status {
      font-weight: 500;
      font-size: 26px;
      @media (max-width: 575px) {
          font-size: 20px;
      }
      &.grey {
          opacity: 0.4;
      }
  }
}

.up-balance {
  &__input {
    width: 95px;
    height: 43px;
    margin-right: 10px;
    border-radius: 7px;
    padding: 0 10px;
    text-align: center;
    border: 1px solid rgba($color: $black, $alpha: 0.1);
    @media (max-width: $tabletL) {
      max-width: 150px;
      width: 100%;
    }
  }
  &__btn {
    border-radius: 7px;
    font-size: 14px;
    height: 43px;
    padding: 10px 30px;
    @media (max-width: $tabletL) {
      padding: 10px 25px;
    }
  }
}


@media (max-width: 575px) {
  .internal-account {
      &__block-moreInfo {
          font-size: 0;
          width: 28px;
          height: 28px;
          border: 0;
          padding: 0;
          background: url(~@/assets/img/icon/question.svg) no-repeat;
          &:hover {
              background: url(~@/assets/img/icon/question.svg) no-repeat;
          }
      }

  }
  .balanc-now {
      .internal-account__block-content {
          flex-direction: column;
          align-items: flex-start !important;
      }
      .up-balance {
          margin-top: 20px;
      }
      .internal-account__block-title {
          margin-bottom: 15px;
      }
  }
}
