.article {
  display: flex;
  flex-direction: column;
  &.wide {
    flex-direction: row;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
    .article__img {
      margin-bottom: 0;
      flex-basis: 48%;
      flex-shrink: 0;
      @media (max-width: $tablet) {
        margin-bottom: 12px;
      }
      div,
      img {
        min-height: 320px;
        height: 100% !important;
        @media (max-width: $mobileS) {
          min-height: 170px;
        }
      }
    }
    .article__content {
      width: 100%;
      padding-left: 35px;
      @media (max-width: $tabletL) {
        padding-left: 20px;
      }
      @media (max-width: $tablet) {
        padding-left: 0;
      }
    }
    .article__tags {
      margin-bottom: 10px;
      @media (max-width: $tablet) {
        margin-bottom: 4px;
      }
    }
    .article__title {
      font-weight: 700;
      font-size: 31px;
      line-height: 129.5%;
      margin-bottom: 16px;
      @media (max-width: $tablet) {
        font-size: 21px;
        margin-bottom: 9px;
      }
    }
    .article__date {
      margin-bottom: 16px;
      @media (max-width: $tablet) {
        display: inline-block;
      }
    }
  }
}
.article__img {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  @media (max-width: $tablet) {
    margin-bottom: 10px;
  }
  div,
  img {
    width: 100%;
    height: 274px !important;
    object-fit: cover;
    @media (max-width: $mobileS) {
      height: 170px !important;
    }
  }
}
.article__content {
  display: flex;
  flex-direction: column;
}
.article__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
}
.article__tag {
  font-weight: 500;
  font-size: 14px;
  line-height: 129.5%;
  padding: 6px 10px;
  border-radius: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  background-color: rgba($black, 0.1);
  @media (max-width: $tablet) {
    margin-bottom: 4px;
  }
  &:last-child {
    margin-right: 0;
  }
}
.article__title {
  display: inline-block;
  font-weight: 500;
  font-size: 19px;
  line-height: 129.5%;
  margin-bottom: 13px;
  cursor: pointer;
  color: $black;
  text-decoration: none;
  &:hover {
    color: $black;
  }
  @media (max-width: $tablet) {
    font-weight: 700;
    font-size: 16px;
    line-height: 156.5%;
    margin-bottom: 0;
  }
}
.article__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 162.19%;
  margin-bottom: 16px;
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 162.19%;
    margin-bottom: 8px;
    @media (max-width: $tablet) {
      line-height: 142.19%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (max-width: $tablet) {
    line-height: 142.19%;
    margin-bottom: 12px;
  }
}
.article__date {
  font-weight: 600;
  font-size: 15px;
  line-height: 129.5%;
  color: rgba($black, 0.3);
  @media (max-width: $tablet) {
    display: none;
    font-size: 13px;
  }
}
