.populat-service__block {
  height: calc(100% - 30px);
  margin: 15px 0;
  &-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &-header {
    position: relative;
  }
  &-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &-img {
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 7px;
    width: 100%;
    img {
      border-radius: 7px;
    }
  }
  &-icons {
    position: absolute;
    left: 15px;
    top: -6px;
    @media (max-width: $tablet) {
      left: 8px;
    }
  }
  &-icon {
    margin-right: 9px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-gender {
    font-size: 0;
    line-height: 0;
    width: 26px;
    height: 40px;
    @media (max-width: $tablet) {
      width: 21px;
      height: 32px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  /*.star-blur {
      display: inline-block;
      width: 21px;
      height: 20px;
      margin-right: 5px;
      background: url(../img/icon/star-blue.svg) no-repeat;
      opacity: 0.5;
  }*/
  .shop-favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: $white url(~@/assets/img/icon/favorite.svg) no-repeat;
    background-size: 18px;
    background-position: top 12px center;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
    &.active {
      background-image: url(~@/assets/img/icon/favorite-color.svg);
    }
  }
  .populat-service__raiting {
    margin-bottom: 20px;
  }
  .populat-service__raiting-value {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    margin-right: 10px;
    color: $lightred;
  }
  .populat-service__raiting-reviews {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.5;
  }
  .promo-time-procedure {
    span {
      font-weight: 500;
      font-size: 16px;
      opacity: 0.5;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 5px;
      background: url(~@/assets/img/icon/time-slot.svg) no-repeat;
    }
  }
  .populat-service__name {
    flex: 1;
    display: block;
    font-size: 17px;
    color: $black;
    text-decoration: none;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    &:hover {
      color: $blue;
    }
  }
  .populat-service__prices {
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
      justify-content: flex-start;
    }
  }
  .populat-service__price {
    &.new {
      font-weight: bold;
      font-size: 18px;
    }
    &.old {
      text-decoration-line: line-through;
      font-weight: 500;
      font-size: 16px;
      opacity: 0.5;
      @media (max-width: $tablet) {
        margin-left: 12px;
      }
    }
  }

}

.best-price-label {
  position: absolute;
  top: -3px;
  left: 15px;
  display: inline-block;
  width: 27px;
  height: 40px;
  background: url(~@/assets/img/icon/best-price.svg) no-repeat;
}

.populat-service__blocks {
  &-footer {
    margin-top: 70px;
    .btn-see-all {
      display: inline-block;
      padding: 20px 45px;
      border-radius: 41px;
      font-weight: 600;
      font-size: 18px;
    }
  }
}

@media (max-width: 1399px) {
  .populat-service__block {
    .shop-favorite {
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      background-size: 16px;
      background-position: top 8px center;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .populat-service__block {
    .populat-service__name {
      font-size: 15px;
    }
    .populat-service__price {
      &.new {
        font-size: 14px;
      }
      &.old {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 767px) {
  .populat-service__block {
    &-img {
      margin-bottom: 10px;
    }
    .star-blur {
      width: 16px;
      height: 16px;
      background-size: 16px;
    }
    .populat-service__raiting  {
      margin-bottom: 10px;
    }
    .populat-service__raiting-value {
      font-size: 13px;
      margin-right: 5px;
    }
    .populat-service__raiting-reviews {
      font-size: 10px;
    }
    .populat-service__name {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 10px;
    }
    .populat-service__price {
      &.new {
        font-size: 12px;
      }
      &.old {
        font-size: 10px;
        margin-left: 15px;
      }
    }
    .promo-time-procedure {
      &:before {
        width: 13px;
        height: 13px;
        background-size: contain;
      }
      span {
        font-size: 11px;
      }
    }
  }
  .populat-service__blocks-footer {
    margin-top: 35px;
    .btn-see-all {
      width: 100%;
      font-size: 15px;
      padding: 10px;
    }
  }
}

.hit-services {
  .our-slider__more-info,
  .our-slider__more-buy  {
      width: 50%;
      border-radius: 7px;
      font-size: 14px;
      font-weight: 400;
  }
  .our-slider__more-info {
      margin-right: 10px;
      line-height: 1.5;
  }
}
