<template>
  <def-layout>
    <div class="tariff-page site-content main-content">
      <div class="header-page">
        <div class="container">
          <div class="header-page__title">Тарифы</div>
        </div>
      </div>

      <div v-if="isLoading" class="tariff__spinner">
        <SemipolarSpinner
          :animation-duration="2000"
          :size="50"
        />
      </div>

      <div v-else class="tariff__blocks">
        <div class="container">
          <div class="tariff__blocks-inner">
            <div class="row">
              <div
                v-for="(tariff, i) in tariffs"
                :key="tariff.id"
                class="col-xl-3 col-lg-6 col-md-6 col-sm-7 col-7"
              >
                <div
                  class="tariff__block"
                  :class="tariffColors[i % tariffColors.length]"
                >
                  <div class="tariff__block-inner">
                    <div class="tariff__block-header">
                      <div class="tariff__block-title">
                        <template v-if="tariff.price === 0">
                          Бесплатно
                        </template>

                        <template v-else>
                          {{ $fm(tariff.price) }} <span>/ мес.</span>
                        </template>
                      </div>
                    </div>

                    <div class="tariff__block-body">
                      <div class="tariff__block-name">{{ tariff.title }}</div>
                      <ul v-if="tariff.description" class="tariff__block-items">
                        <li
                          v-for="(item, j) in tariff.description.split('\n')"
                          :key="j"
                          class="tariff__block-item"
                        >
                          {{ item }}
                        </li>
                      </ul>

                      <p v-else class="tariff__block-stub">Нет описания</p>
                    </div>

                    <div class="tariff__block-footer">
                      <button
                        type="button"
                        class="tariff__block-btn"
                        :disabled="tariff.price === 0"
                        @click="$router.push({ name: 'RegistrationUser' })"
                      >
                        <template v-if="tariff.price === 0">
                          Уже подключен
                        </template>

                        <template v-else> Подключить </template>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </def-layout>
</template>

<script>
import { SemipolarSpinner } from "epic-spinners";
import DefLayout from "@/layouts/Default/Default";

import { mainApi } from "@/services/api/main-api";
import { Tariff } from "@/models/Tariff";

export default {
  name: "Tariff",
  components: {
    SemipolarSpinner,
    DefLayout,
  },

  data() {
    return {
      isLoading: false,
      tariffs: [],
    };
  },

  computed: {
    tariffColors() {
      return ["dark-blue", "blue", "green", "purple"];
    },
  },

  async created() {
    await this.loadTariffs();
  },

  methods: {
    async loadTariffs() {
      this.isLoading = true;
      try {
        const { data } = await mainApi.getRates();
        this.tariffs = data.data.map((item) => new Tariff(item));
      } catch (err) {
        this.$doNoty.error(err);
      } finally {
        this.isLoading = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "tariff";

.tariff {
  &__spinner {
    margin: 100px auto;
    display: grid;
    place-items: center;
  }

  &__block {
    &-stub {
      padding: 0 20px;
    }
  }
}
</style>
