.tariff__blocks {
  padding-bottom: 60px;
}
.tariff__block {
  border-radius: 10px;
  padding: 30px 0 40px;
  &.dark-blue {
    .tariff__block-inner {
      box-shadow: 0px 0px 5px rgba(21, 29, 54, 0.15);
    }
    .tariff__block-header {
      /*background: url(~@/assets/img/icon/tariff-bg1.svg) no-repeat;
            background-size: contain;*/
      background: $black;
      &::before {
        border-color: $black transparent transparent transparent;
      }
    }
    .tariff__block-name {
      color: $black;
      background: rgba(29, 39, 74, 0.08);
    }
    .tariff__block-item:before {
      background: url(~@/assets/img/icon/check-darkBlue.svg) no-repeat;
    }
    .tariff__block-btn {
      background: #d7d7d7;
    }
  }
  &.blue {
    .tariff__block-inner {
      box-shadow: 0px 2px 10px rgba(97, 130, 247, 0.25);
    }

    .tariff__block-header {
      /*background: url(~@/assets/img/icon/tariff-bg2.svg) no-repeat;
            background-size: contain;*/
      background: $blue;
      &::before {
        border-color: $blue transparent transparent transparent;
      }
    }
    .tariff__block-name {
      color: $blue;
      background: rgba(97, 130, 247, 0.08);
    }
    .tariff__block-item {
      color: $blue;
      &:before {
        background: url(~@/assets/img/icon/check-blue.svg) no-repeat;
      }
    }
    .tariff__block-btn {
      background: $blue;
      color: $white;
    }
  }
  &.green {
    .tariff__block-inner {
      box-shadow: 0px 2px 10px rgba(38, 174, 96, 0.25);
    }

    .tariff__block-header {
      /*background: url(~@/assets/img/icon/tariff-bg3.svg) no-repeat;
            background-size: contain;*/
      background: $green;
      &::before {
        border-color: $green transparent transparent transparent;
      }
    }
    .tariff__block-name {
      color: $green;
      background: rgba(38, 174, 96, 0.08);
    }
    .tariff__block-item {
      color: $green;
      &:before {
        background: url(~@/assets/img/icon/check-green.svg) no-repeat;
      }
    }
    .tariff__block-btn {
      background: $green;
      color: $white;
    }
  }
  &.purple {
    .tariff__block-inner {
      box-shadow: 0px 2px 10px rgba(145, 97, 247, 0.25);
    }

    .tariff__block-header {
      /*background: url(~@/assets/img/icon/tariff-bg4.svg) no-repeat;
            background-size: contain;*/
      background: $violet;
      &::before {
        border-color: $violet transparent transparent transparent;
      }
    }
    .tariff__block-name {
      color: $violet;
      background: rgba(145, 97, 247, 0.08);
    }
    .tariff__block-item {
      color: $violet;
      &:before {
        background: url(~@/assets/img/icon/check-purple.svg) no-repeat;
      }
    }
    .tariff__block-btn {
      background: $violet;
      color: $white;
    }
  }
  &-inner {
    border-radius: 10px;
  }
  &-header {
    position: relative;
    top: -15px;
    margin: 0 20px;
    position: relative;
    border-radius: 24px;
    padding: 30px 20px;
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 1399px) {
      padding: 20px;
    }
    @media (max-width: 1199px) {
      padding: 30px 20px;
    }
    @media (max-width: 991px) {
      padding: 20px;
    }
    @media (max-width: 767px) {
      padding: 30px 20px;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14px 111px 0 111px;
      left: 50%;
      transform: translateX(-50%) translateY(100%);
      @media (max-width: 1399px) {
        border-width: 14px 90px 0 90px;
      }
      @media (max-width: 1199px) {
        border-width: 14px 190px 0 190px;
      }
      @media (max-width: 991px) {
        border-width: 14px 130px 0 130px;
      }
      @media (max-width: 767px) {
        border-width: 14px 106px 0 106px;
      }
    }
  }
  &-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: $white;
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 17px;
    }
  }
  &-name {
    text-align: center;
    font-weight: 600;
    font-size: 21px;
    line-height: 23px;
    padding: 10px 0;
    margin-bottom: 35px;
  }
  &-items {
    list-style: none;
    padding: 0 20px 0 35px;
    margin: 0 0 35px;
  }
  &-item {
    position: relative;
    padding-left: 35px;
    font-size: 16px;
    line-height: 17px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:before {
      position: absolute;
      left: 0;
      content: "";
      display: inline-block;
      width: 15px;
      height: 13px;
    }
  }
  &-footer {
    margin: 0 40px;
    position: relative;
    top: 25px;
  }
  &-btn {
    width: 100%;
    border-radius: 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 18px 0;
    border: 0;
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
  }
}

@media (max-width: 767px) {
  .tariff__blocks-inner {
    .row {
      flex-wrap: nowrap;
      overflow-y: scroll;
    }
  }
}

@media (max-width: 575px) {
  .tariff__blocks-inner {
    .row > * {
      width: 300px;
      flex: 0 0 300px;
    }
  }
}
