<template>
  <div class="tabs-menu">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <router-link
          :to="{ params: { tab: NOTES_TABS.all } }"
          class="nav-link"
          active-class="active"
        >
          Все
        </router-link>
      </li>

      <li class="nav-item" role="presentation">
        <router-link
          :to="{ params: { tab: NOTES_TABS.orders } }"
          class="nav-link"
          active-class="active"
        >
          Заказы
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
const NOTES_TABS = {
  orders: "order",
  all: "all",
};

export default {
  name: "NotesTabs",

  computed: {
    NOTES_TABS: () => NOTES_TABS,
  },
};
</script>
