<template>
  <div
    class="notes__block"
    :class="{
      read: note.isRead,
      new: !note.isRead,
      'with-btn': note.route,
    }"
  >
    <div
      class="notes__block-inner d-flex align-items-center justify-content-between"
    >
      <div class="notes__block-left d-flex">
        <span class="notes__block-status"></span>
        <div class="notes__block-text">{{ note.text }}</div>
        <div class="notes__block-data">{{ $fdt(note.createdAt) }}</div>
      </div>

      <div v-if="note.route" class="notes__block-right">
        <router-link :to="note.route">
          <button
            class="notes__block-btn btn"
            :class="[note.isBooking ? 'btn-blue' : 'btn-lightgrey']"
            type="button"
          >
            <template v-if="note.isBooking"> Забронировать </template>
            <template v-else> Перейти </template>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { Note } from "@/models/Note";

export default {
  name: "NoteCard",

  props: {
    note: { type: Note, required: true },
  },
};
</script>
