<template>
  <div class="teasers-page__content">
    <div class="container">
      <div class="teasers-page__content-inner">
        <div
          class="
            site-content__header
            d-flex
            align-items-center
            justify-content-between
          "
        >
          <div class="site-content__title">Тизеры</div>
          <div class="slider-nav">
            <div
              class="teasers-swiper-button-prev swiper-button-prev"
              id="swiper-button-prev"
            ></div>
            <div
              class="teasers-swiper-button-next swiper-button-next"
              id="swiper-button-next"
            ></div>
          </div>
        </div>

        <div v-swiper="swiperOption" class="teasers__slider swiper">
          <div class="swiper-wrapper">
            <div
              v-for="(slide, index) in slides"
              v-bind:key="index"
              class="swiper-slide"
            >
              <div class="teasers__slide">
                <img :src="slide.img" alt="" />
                <div class="teasers__slide-content">
                  <div class="teasers__slide-header" v-html="slide.title"></div>
                  <div class="teasers__slide-text">
                    {{ slide.text }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { directive } from "vue-awesome-swiper";

export default {
  name: "TeaserSlider",
  directives: {
    swiper: directive,
  },
  data: function () {
    return {
      slides: [
        {
          img: require("@/assets/img/teasers/teasers1.png"),
          title: "Салон красоты <span> “BeautyGirl” </span>",
          text: "Предоставьте ваши заботы НАМ!",
        },
        {
          img: require("@/assets/img/teasers/teasers1.png"),
          title: "Салон красоты \n <span>“BeautyGirl test”</span>",
          text: "Предоставьте ваши заботы НАМ!  test",
        },
      ],
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 10,
        centeredSlides: true,
        loop: true,
        navigation: {
          nextEl: ".teasers-swiper-button-next",
          prevEl: ".teasers-swiper-button-prev",
        },
      },
    };
  },
};
</script>

<style lang="scss">
@import "teasers";

.slider-nav {
  display: flex;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  position: inherit;
  width: 37px;
  height: 15px;
  background: url(~@/assets/img/icon/slider-arrow-left.svg) no-repeat;
  margin: 0;
  &:after {
    display: none;
  }
}
.swiper-button-next {
  margin-left: 10px;
  background: url(~@/assets/img/icon/slider-arrow-right.svg) no-repeat;
}
</style>
