.teasers-page__content:not(:last-child) {
  .teasers-page__content-inner {
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(29, 39, 74, 0.2);
  }
}

.teasers-page__text {
  p {
    font-weight: 200;
    font-size: 24px;
    line-height: 34px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 1199px) {
  .teasers-page__text p {
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 991px) {
  .teasers-page__text p {
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 575px) {
  .teasers-page__text p {
    font-size: 16px;
    line-height: 20px;
  }
}
