.toastify {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
}
.toastify.error {
  background: #e54d42;
  border-left: 4px solid #C0251A;
}

.toastify.warn {
  background: #ffb648;
  border-left: 4px solid #FFA114;
}

.toastify.success {
  background: #68cd86;
  border-left: 4px solid #3FC064;
}

.toastify.info {
  background: #4db2ec;
  border-left: 4px solid #2598db;
}
