<template>
  <def-layout>
    <div class="about site-content main-content">
      <div class="container">
        <div class="site-content__header">
          <div class="site-content__title">О нас</div>
        </div>
        <div class="about__content">
          <p>
            Безусловно, консультация с широким активом играет важную роль в
            формировании поэтапного и последовательного развития общества.
            Приятно, граждане, наблюдать, как явные признаки победы
            институционализации объявлены нарушающими общечеловеческие нормы
            этики и морали.
          </p>

          <p>
            Задача организации, в особенности же высокотехнологичная концепция
            общественного уклада способствует повышению качества как
            самодостаточных, так и внешне зависимых концептуальных решений.
          </p>

          <p>
            Безусловно, консультация с широким активом играет важную роль в
            формировании поэтапного и последовательного развития общества.
            Приятно, граждане, наблюдать, как явные признаки победы
            институционализации объявлены нарушающими общечеловеческие нормы
            этики и морали.
          </p>

          <p>
            Задача организации, в особенности же высокотехнологичная концепция
            общественного уклада способствует повышению качества как
            самодостаточных, так и внешне зависимых концептуальных решений.
          </p>
        </div>
      </div>
    </div>
  </def-layout>
</template>

<script>
import DefLayout from "@/layouts/Default/Default";

export default {
  name: "About",
  components: { DefLayout },
};
</script>

<style lang="scss" scoped>
.about__content {
  p {
    font-size: 24px;
    line-height: 34px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 991px) {
  .about__content {
    p {
      font-size: 20px;
      line-height: 30px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 767px) {
  .about__content {
    p {
      font-size: 18px;
      line-height: 20px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
</style>
