<template>
  <main>
    <router-view />
    <ReviewModal />
    <OrderModal />
    <DecideYourself />
    <MapModal />
    <MapOrderModal />
    <CreditCartModal />
    <PushModal />
    <MessageModal />
    <CheckoutModal />
    <DeceptionModal />
    <CancelModal />
    <PostponeModal />
    <PaymentSuccessModal />
    <PaymentModal />
    <AcceptCookies />
    <AvatarModal />
    <AuthModal />
    <RegistrationUserModal />
    <RecoveryPasswordModal />
  </main>
</template>

<script>
export default {
  components: {
    CreditCartModal: () => import("@/components/Modals/CreditCartModal"),
    ReviewModal: () => import("@/components/Modals/ReviewModal"),
    DeceptionModal: () => import("@/components/Modals/DeceptionModal"),
    OrderModal: () => import("@/components/Modals/OrderModal/OrderModal.vue"),
    MapModal: () => import("@/components/Modals/MapModal"),
    MapOrderModal: () => import("@/components/Modals/MapOrderModal"),
    PushModal: () => import("@/components/Modals/PushModal.vue"),
    MessageModal: () => import("@/components/Modals/MessageModal.vue"),
    CheckoutModal: () => import("@/components/Modals/CheckoutModal.vue"),
    PaymentSuccessModal: () =>
      import("@/components/Modals/PaymentSuccessModal.vue"),
    DecideYourself: () => import("@/components/Modals/DecideYourself"),
    AcceptCookies: () => import("@/components/Modals/AcceptCookies"),
    CancelModal: () => import("./components/Modals/CancelModal.vue"),
    PostponeModal: () => import("./components/Modals/PostponeModal.vue"),
    PaymentModal: () =>
      import("./components/Modals/PaymentModal/PaymentModal.vue"),
    AvatarModal: () =>
      import("./components/Modals/AvatarModal/AvatarModal.vue"),
    AuthModal: () =>
      import("./components/Modals/AuthModal/AuthModal.vue"),
    RegistrationUserModal: () =>
      import("./components/Modals/RegistrationModal/RegistrationUserModal.vue"),
    RecoveryPasswordModal: () =>
      import("./components/Modals/RecoveryPasswordModal/RecoveryPasswordModal.vue"),
  },

  computed: {
    meta() {
      return [
        { charset: "utf-8" },
        {
          name: "viewport",
          content: "width=device-width, user-scalable=n",
        },
      ];
    },
  },
  watch: {
    $route: {
      handler: (to) => {
        document.title =
          to.meta.title ||
          process.env.VUE_APP_DEF_TITLE ||
          "Site by webdevep.ru";
      },
      immediate: true,
    },
  },
  mounted() {
    this.loadJivo();
  },
  methods:{
    loadJivo() {
      const jivoScript = document.createElement("script")
      jivoScript.setAttribute("src", "https://code.jivo.ru/widget/gHcX8DgN1H")
      document.head.appendChild(jivoScript);
    },
  },
};
</script>
