.all-chats__block {
  @media(max-width: 991px) {
    display: none;
    &.active {
      display: block;
    }
  }
  & + .all-chats__block {
    margin-top: 50px;
    @media (max-width: 991px) {
      margin: 0;
    }
  }
  @media (max-width: 991px) {
    .profile-page__top-title {
      display: none;
    }
  }
}



.all-chats__action {
  display: inline-block;
  @media (max-width: 991px) {
    width: 155px;
    position: initial;
  }
  @media (max-width: 349px) {
    width: 100%;
  }
  & + .all-chats__action {
    margin-top: 15px;
    @media (min-width: 349px) {
      margin-left: 15px;
    }
  }
}

/*Сортировка*/
.all-chats__action-sort {
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  background: $white;
  box-shadow: 0px 0px 4.3096px rgba(0, 0, 0, 0.13);
  border-radius: 4.3096px;
  padding: 5px 17px;
  @media (max-width: 991px) {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
  }
  &.show {
    box-shadow: 0px 0px 4.3096px rgba(0, 0, 0, 0.13) !important;
    border: 1px solid $blue;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(~@/assets/img/icon/sort-icon-new.svg) no-repeat;
    background-size: 14px;
    margin-left: 5px;
    vertical-align: middle;
  }
}
.all-action__sort-menu {
  width: 230px;
  border: 1px solid rgba(97, 130, 247, 0.3);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.16);
  padding: 0;
  margin-top: 10px !important;
  @media (max-width: 991px) {
    width: 100%;
    right: 0 !important;
    left: auto !important;
    transform: none !important;
    top: 100% !important;
  }
  .sort-menu__item {
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(29, 39, 74, 0.1);
    }
    &:hover {
      color: $blue;
      transition: 0.5s;
    }
  }
}


/*Фильтр*/
.all-chats__action-filter {
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  background: $white;
  box-shadow: 0px 0px 4.3096px rgba(0, 0, 0, 0.13);
  border-radius: 4.3096px;
  padding: 5px 13px;
  @media (max-width: 991px) {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
  }
  &.show {
    background: rgba(29, 39, 74, 0.05);
    box-shadow: 0px 0px 4.3096px rgba(0, 0, 0, 0.13);
    &:after {
      background: url(~@/assets/img/icon/banner-filter-remove.svg) no-repeat;
      background-size: 13px;
      opacity: 0.8;
    }
  }
  &:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(~@/assets/img/icon/filter-icon-new.svg) no-repeat;
    background-size: 14px;
    margin-left: 5px;
    vertical-align: middle;
  }
}
.all-action__filter-menu {
  width: 630px;
  padding: 30px 25px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.16);
  margin-top: 10px !important;
  @media (max-width: 991px) {
    width: 100%;
    right: 0 !important;
    left: auto !important;
    transform: none !important;
    top: 100% !important;
  }
}
.filter-menu {
  &__search-block {
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    background: $white;
    padding: 0;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.16);
    width: 100%;
  }
  &__search-name {
    padding: 10px;
    .user-chat__line-btn {
      display: none;
    }
    .user-chat__line {
      margin: 0 !important;
      padding: 10px !important;
    }
  }
  &__search-default {
    .custom-input__label {
      padding: 15px;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(29, 39, 74, 0.1);
      }
    }
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
    .input-with-arrow {
      position: relative;
      height: 39px;
      &:after {
        position: absolute;
        top: 50%;
        margin-top: -5px;
        transform: rotate(90deg);
        right: 15px;
        content: '';
        display: inline-block;
        width: 10px;
        height: 16px;
        background: url(~@/assets/img/icon/arrow-specialist.svg) no-repeat;
        transition: 0.5s;
      }
      &.opened {
        &:after {
          transform: rotate(270deg);
          transition: 0.5s;
          margin-top: -9px;
        }
      }
    }
  }
  &__footer {
    max-width: 160px;
    &-btn {
      width: 100%;
      background: $blue;
      border-radius: 50px;
      color: $white;
      font-weight: 600;
      font-size: 18px;
      padding: 10px;
    }
  }

}

/*Tab menu for mobile*/
.all-chats__nav {
  display: none;
  box-shadow: 0px 0px 5px rgba(21, 29, 54, 0.15);
  border-radius: 52px;
  background: $white;
  padding: 1px;
  @media (max-width: 991px) {
    display: flex;
    margin-bottom: 20px;
  }
  &-item {
    max-width: 50%;
    flex: 0 0 50%;
    opacity: 0.5;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    &.active {
      border-radius: 52px;
      background: $blue;
      opacity: 1;
      font-weight: 500;
      color: $white;
    }
  }
}

@media (max-width: 991px) {
  .all-chats__actions {
    width: 100%;
    text-align: right;
    position: relative;
  }
}

.user-chat__line {
  background: $white;
  border-radius: 9px;
  padding: 13px 10px;
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &-status {
    display: inline-block;
    width: 15px;
    height: 15px;
    flex: 0 0 15px;
    border-radius: 50%;
    margin-right: 15px;
    &.online {
      background: #51FF35;
      opacity: 0.7;
    }
    &.offline {
      background: #FF3535;
      opacity: 0.7;
    }
    &.pending {
      background: #BEBEBE;
      opacity: 0.7;
    }
  }

  &-avatar {
    width: 37px;
    height: 37px;
    flex: 0 0 37px;
    margin-right: 15px;
    border-radius: 50%;
    img {
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &-top {
    flex-wrap: wrap;
  }
  &-name {
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
  }
  &-mess {

    opacity: 0.5;
  }
  &-profile {
    margin-top: 2px;
    font-size: 12px;
    line-height: 14px;
  }

  &-btn {
    font-weight: 500;
    padding: 5px 20px;
    @media (max-width: 991px) {
      display: none;
    }
  }
}
