.profile-page {
  &__header {
    margin-bottom: 15px;
  }
  &__top-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    flex: 1;
    flex-wrap: wrap;
    span {
      display: inline-block;
      font-size: 19px;
      opacity: 0.5;
      font-weight: 400;
      margin-left: 5px;
    }
  }
}


.profile-chat {
  @media (max-width: 991px) {
    margin-bottom: 0;
  }

  &__header-btn {
    background: $white;
    border-radius: 9px;
    border: 0;
    display: flex;
    align-items: center;
    padding: 10px 15px 15px 15px;
    @media (max-width: 575px) {
      width: 100%;
      justify-content: space-between;
      background: $white;
    }
    &:after {
      display: none;
    }
    &:before {
      display: inline-block;
      margin-right: 5px;
      margin-left: 0;
      content: "";
      border-top: 10px solid $black;
      border-right: 6px solid transparent;
      border-bottom: 0;
      border-left: 6px solid transparent;
      border-radius: 3px;
      margin-right: 20px;
      transition: 0.5s;
    }
    &.show {
      box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.12) !important;
      border-radius: 9px 9px 0 0;
      &:before {
        transform: rotate(180deg);
        transition: 0.5s;
      }
    }
  }
  &__header-menu {
    width: 100%;
    padding: 0;
    border: 0;
    margin-top: -2px !important;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.12);
    border-radius: 0 0 9px 9px;
    li {
      padding: 10px;
      text-align: center;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(29, 39, 74, 0.1);
      }
      &:first-child {
        border-top: 1px solid rgba(29,39,74,.1);
      }
    }
    .dropdown-item {
      padding: 0;
      font-weight: 600;
      font-size: 16px;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        background: none;
        color: $blue;
        transition: 0.5s;
      }
    }
  }

  &__header-left {
    text-align: right;
    margin-right: 10px;
  }
  &__header-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 2px;
  }
  &__header-subtitle {
    font-size: 12px;
    line-height: 14px;
  }
  &__header-avatar {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__header-status {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-left: 5px;
    &.online {
      background: #51FF35;
      opacity: 0.7;
    }
    &.offline {
      background: #FF3535;
      opacity: 0.7;
    }
  }
}

.chat-section {
  position: relative;
  overflow: hidden;
  height: 650px;
  border-radius: 18px;
  background: rgba(29, 39, 74, 0.1);
  padding: 35px 35px 25px;
  @media (max-width: 575px) {
    padding: 20px;
  }

  &__offline {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align: center;
    background-color: #000;
    color: $white;
    opacity: 0.5;

    &.slide-enter-active,
    &.slide-leave-active {
      transition: all 333ms ease-out;
    }

    &.slide-enter,
    &.slide-leave-to {
      transform: translateY(-35px);
      opacity: 0;
    }
  }

  .chat-block {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
    &__content {
      flex: 1;

      &-system {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        &-text {
          font-size: 14px;
          line-height: 13px;
        }
      }
    }
    &__photo {
      margin-right: 15px;

      &.no-photo {
        margin: 0;
      }

      &.no-photo .chat-block__time {
        margin: 0;
      }
    }
    &__avatar {
      width: 50px;
      height: 50px;

      border-radius: 50%;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    &__time {
      font-size: 12px;
      line-height: 13px;
      margin-top: 8px;
      text-align: center;

      &.system {
        margin-top: 0;
        margin-right: 8px;
        font-size: 14px;
      }
    }
    &__content-message {
      display: flex;
      align-items: flex-start;
    }
    &__content-text {
      padding: 15px 25px;
      border-radius: 22px;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      max-width: 40%;
      color: $white;
      opacity: 0.8;
      word-break: break-all;
      @media (max-width: 991px) {
        max-width: 60%;
      }
      @media (max-width: 575px) {
        max-width: 95%;
      }
    }

    &.out {
      .chat-block__content-text {
        background: $white;
        color: $black;
        margin: 0 0 0 auto;
      }
      .chat-block__photo {
        margin: 0 0 0 15px;
      }
    }
    &.in {
      .chat-block__content-text {
        background: $black;
        color: $white;
      }
    }
    &__content-message + .chat-block__content-message {
      margin-top: 15px !important;
    }
    &__content-day {
      text-align: center;
    }
    &.slide-enter-active,
    &.slide-leave-active {
      transition: all 333ms ease;
    }
    &.slide-enter.in,
    &.slide-leave-to.in {
      transform: translateX(-100%);
      opacity: 0;
    }
    &.slide-enter.out,
    &.slide-leave-to.out {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  &__reply {
    background: $white;
    border-radius: 34.3297px;
    padding: 12px 35px;
    &::placeholder {
      color: $black;
    }
  }
  .add-file__block {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 24px;
    height: 22px;
    background: url(~@/assets/img/icon/profile-icon/clip.svg) no-repeat;
    overflow: hidden;
    input {
      opacity: 0;
    }
  }
  &__btn-send {
    width: 50px;
    flex: 0 0 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    margin-left: 15px;
    transition: 0.5s;
    background: $black url(~@/assets/img/icon/profile-icon/chat-send.svg) no-repeat center;
    &:hover:not(:disabled) {
      transition: 0.5s;
      box-shadow: 0px 0px 10px rgba(29, 39, 74, 0.5) !important;
    }
    &:disabled {
      cursor: no-drop;
    }
  }
  &__mess-block {
    width: calc(100% - 65px);
  }

  &__bottom {
    padding-top: 15px;
  }
  &__blocks {
    height: calc(100% - 65px);

    &.full-height {
      height: 100%;
    }
  }
}

.back-to-chatList {
  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
  border: 0;
  background: $white;
  border-radius: 65px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 18px;
  line-height: 20px;
  height: 40px;
  transition: 0.5s;
  &:before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 16px;
    background: url(~@/assets/img/icon/chat-back.svg) no-repeat;
    margin-right: 10px;
    vertical-align: -2px;
  }
  &:hover {
    transition: 0.5s;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
  }
}


@media (max-width: 575px) {
  .profile-chat {
    .profile-page__header-inner {
      display: block !important;
    }
    .profile-page__top-title {
      margin-bottom: 15px;
    }

  }
}
