<template>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
    <div class="specialists-inner__block">
      <div class="specialists-inner__block-inner">
        <router-link
          :to="`/specialist/${specialist.userId}`"
          class="specialists-inner__block-link d-block"
        >
          <div class="specialists-inner__block-img">
            <img :src="specialist.cover" />
          </div>
          <div class="specialists-inner__block-content">
            <div class="specialists-inner__block-name">
              {{ specialist.name }}
            </div>
            <div
              class="specialists-inner__block-rating d-flex align-items-baseline"
            >
              <div class="specialists-inner__block-ball">
                {{ specialist.rating }}
              </div>
              <div class="specialists-inner__block-reviews">
                {{ $tc("review.count", specialist.reviewsCount) }}
              </div>
            </div>
            <div class="specialists-inner__block-footer">
              <template v-if="specialist.minPriceWithDiscount">
                <span class="specialists-inner__block-price old">
                  от {{ specialist.minPrice }} Р
                </span>
                <span class="specialists-inner__block-price new">
                  От {{ specialist.minPriceWithDiscount }} Р
                </span>
              </template>
              <span v-else class="specialists-inner__block-price new">
                От {{ specialist.minPrice }} Р
              </span>
              <span class="specialists-inner__block-note text-grey">
                ({{ specialist.jobTitle }})
              </span>
            </div>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    specialist: { type: Object, required: true },
  },
};
</script>
