<template>
  <div class="accordion-item">
    <div class="accordion-header" id="headingOneOne">
      <button
        class="accordion-button"
        :class="{ collapsed: isCollapsed }"
        type="button"
        @click="toggleCollapse"
      >
        <div class="accordion-header__inner">
          <slot name="toggle" />
        </div>
      </button>
    </div>

    <div v-if="!isCollapsed" class="accordion-body">
      <slot name="content" />
    </div>
  </div>
</template>

<script>
export default {
  name: "CollapsingView",

  props: {
    show: { type: Boolean, default: false },
  },

  data() {
    return {
      isCollapsed: true,
    };
  },

  watch: {
    show: {
      immediate: true,
      handler(val) {
        if (val) {
          this.$emit("show");
        } else {
          this.$emit("hide");
        }
        this.isCollapsed = !val;
      },
    },
  },

  methods: {
    toggleCollapse() {
      if (this.isCollapsed) {
        this.$emit("show");
      } else {
        this.$emit("hide");
      }
      this.isCollapsed = !this.isCollapsed;
    },
  },
};
</script>
