<template>
  <ul class="nav nav-tabs salon-page__tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        :class="{ active: value === SALON_TABS.services }"
        type="button"
        role="tab"
        aria-controls="salon-page__services"
        aria-selected="true"
        @click="changeTab(SALON_TABS.services)"
      >
        Услуги
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        :class="{ active: value === SALON_TABS.specialists }"
        type="button"
        role="tab"
        aria-controls="salon-page__specialists"
        aria-selected="false"
        @click="changeTab(SALON_TABS.specialists)"
      >
        Специалисты
      </button>
    </li>
  </ul>
</template>

<script>
import { SALON_TABS } from "../constants";

export default {
  name: "SalonTabs",

  props: {
    value: { type: String, required: true },
  },

  computed: {
    SALON_TABS: () => SALON_TABS,
  },

  methods: {
    changeTab(tab) {
      this.$emit("input", tab);
    },
  },
};
</script>
