<template>
  <div class="salon-page__header">
    <div class="container">
      <div
        class="
          salon-page__header-inner
          d-flex
          align-items-center
          justify-content-between
        "
      >
        <div class="salon-page__header-left d-flex align-items-center">
          <div class="salon-page__header-logo">
            <img :src="salon.logo" alt="" />
          </div>

          <h1 class="salon-page__header-name">{{ salon.name }}</h1>
          <div v-if="salon.hasOffer" class="salon-page__header-checked">
            <img src="~@/assets/img/shop/shop-checked-long.svg" alt="" />
          </div>
        </div>
        <div class="salon-page__header-right d-flex">
          <div
            class="
              salon-page__header-action
              d-flex
              align-items-center
              add-to-favorite
            "
            :class="{ active: isFavorite }"
            @click="toggleFavorite"
          >
            <span class="favorite-icon"></span>
            <span class="specialist-block__action-text"
              >Добавить в избранное</span
            >
          </div>

          <div
            class="
              salon-page__header-action salon-page__share
              d-flex
              align-items-center
            "
            @click="shareLink"
          >
            <span class="share-icon"></span>
            <span class="specialist-block__action-text">Поделиться</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { salonModule } from "@/store";
import { copyToClipboard } from "@/helpers/copy-to-clipboard";

export default {
  name: "SalonHeader",

  computed: {
    salon() {
      return salonModule.salon;
    },

    isFavorite() {
      return salonModule.isFavorite;
    },
  },

  methods: {
    toggleFavorite: salonModule.toggleFavorite,

    shareLink() {
      copyToClipboard(location.href);
      this.$doNoty.success("Ссылка успешно скопирована!");
    },
  },
};
</script>

<style lang="scss" scoped>
.salon-page {
  &__share {
    cursor: pointer;
  }
}
</style>
