<template>
  <div class="salon-page__about">
    <div class="salon-page__about-title">О салоне</div>
    <div class="salon-page__about-content" :class="{ show: !isCollapsed }">
      <div class="salon-page__about-text">
        <div v-html="salon.description || 'Нет информации'" />
      </div>

      <div
        v-if="salon.description && salon.description.length > 200"
        class="salon-page__about-more"
        :class="{ show: !isCollapsed }"
      >
        <span
          v-if="isCollapsed"
          class="salon-page__about-moreHide"
          @click="isCollapsed = false"
        >
          Читать далее
        </span>

        <span
          v-else
          class="salon-page__about-moreShow"
          @click="isCollapsed = true"
        >
          Скрыть
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { salonModule } from "@/store";

export default {
  name: "SalonDescription",

  data() {
    return {
      isCollapsed: true,
    };
  },

  computed: {
    salon() {
      return salonModule.salon;
    },
  },
};
</script>

<style lang="scss" scoped>
.salon-page {
  &__about-text {
    white-space: pre-line;
  }
}
</style>
