<template>
  <div
    class="reviews-blocks__inner"
    :class="{
      'reviews-blocks__inner--hide-arrows': isHideArrows
    }"
  >
    <div class="our-slider__header">
      <h2 class="our-slider__title">Отзывы</h2>

      <div class="reviews-blocks__header-right d-flex align-items-center">
        <div v-if="reviews.length" class="slider-nav">
          <div class="reviews-swiper-button-prev swiper-button swiper-button-prev"></div>
          <div class="reviews-swiper-button-next swiper-button swiper-button-next"></div>
        </div>
      </div>
    </div>

    <template v-if="reviews.length">
      <div
        ref="swiper"
        v-swiper="swiperOptions"
        class="reviews-blocks__slider swiper"
      >
        <div class="swiper-wrapper">
          <ReviewCard
            v-for="review in reviews"
            :key="review.id"
            class="swiper-slide"
            :review="review"
          />
        </div>
      </div>

      <div class="reviews-blocks__footer text-center" v-if="false">
        <a
          class="btn btn-border see-all-reviews"
          role="tooltip"
          data-microtip-position="bottom-center"
          data-microtip-size="large"
          aria-label="В разработке"
        >
          Просмотреть еще
        </a>
      </div>
    </template>

    <p v-else class="salon-reviews__stub">У данного салона пока нет отзывов</p>
  </div>
</template>

<script>
import { directive as swiper } from "vue-awesome-swiper";
import ReviewCard from "./ReviewCard.vue";
import { salonModule } from "@/store";

export default {
  name: "SalonReviews",
  components: { ReviewCard },
  directives: { swiper },

  data() {
    return {
      swiperOptions: {
        slidesPerView: 3,
        spaceBetween: 30,
        shortSwipes: false,
        navigation: {
          nextEl: '.reviews-swiper-button-next',
          prevEl: '.reviews-swiper-button-prev',
          clickable: true,
        },
        breakpoints: {
          0: { slidesPerView: 1, spaceBetween: 15 },
          767: { slidesPerView: 2 },
          992: { slidesPerView: 3 },
        },
      },
    };
  },

  computed: {
    reviews() {
      return salonModule.reviews;
    },
    isHideArrows() {
      const innerWidth = window.innerWidth;

      const [, breakpoint] = Object.entries(this.swiperOptions.breakpoints)
        .sort(() => -1)
        .find(([width]) => window.innerWidth >= width) || [];

      return this.reviews.length <= breakpoint.slidesPerView;
    },
  },
};
</script>

<style lang="scss">
@import "../styles/salon-reviews";
</style>

<style lang="scss" scoped>
.reviews-blocks__slider .swiper-wrapper {
  align-items: flex-start;
}

.salon-reviews {
  &__stub {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
  }
}
</style>
