<template>
  <div aria-labelledby="salon-page__specialists-tab">
    <div v-if="selectedCategory" class="salon-page__search-block">
      <div class="salon-page__search-blockInner">
        <div class="salon-page__search-back">
          <div class="salon-page__search-backText" @click="$router.go(-1)">
            Вернуться к поиску
          </div>
        </div>

        <div class="salon-page__search-filters">
          <div class="salon-page__search-filter">
            <div class="salon-page__search-filterText">
              Показаны специалисты по категории {{ selectedCategory.title }}
            </div>

            <div
              class="salon-page__search-filterRemove"
              @click="removeCategoryId"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="categories.length" class="accordion salon-page__accordion">
      <TabView
        @show="loadCategorySpecialists(openedCategory($event).id, true)"
        :show="Boolean(selectedCategory)"
      >
        <template #toggle="{ activeTabIndex, toggleTab }">
          <div
            v-for="(category, categoryIndex) in categories"
            :key="categoryIndex"
            @click="toggleTab(categoryIndex)"
            class="tab__item"
            :class="{
              opened: activeTabIndex === categoryIndex,
            }"
          >
            <div class="tab__item-icon">
              <img :src="category.image" alt="" />
            </div>

            <div class="tab__item-content">
              <div class="tab__item-title">
                {{ category.title }}
              </div>
              <div
                v-if="category.minPriceWithDiscountFormatted"
                class="tab__item-price"
              >
                От {{ category.minPriceWithDiscountFormatted }}
              </div>
              <div v-else class="tab__item-price">
                От {{ category.minPriceFormatted }}
              </div>
            </div>

            <div class="tab__arrow">
              <img src="@/assets/img/icon/arrow-down.svg" />
            </div>
          </div>
        </template>

        <template #content="{ activeTabIndex }">
          <div v-if="openedCategory(activeTabIndex)" class="tab__body">
            <div class="row">
              <SpecialistCard
                v-for="specialist in categorySpecialists[
                  openedCategory(activeTabIndex).id
                ]"
                :key="specialist.id"
                class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6"
                :specialist="specialist"
                :category-id="openedCategory(activeTabIndex).id"
                @book-click="
                  setOrder(specialist, openedCategory(activeTabIndex).id)
                "
              />
            </div>
            <SalonTabSkeleton
              v-if="isCategoryLoading(openedCategory(activeTabIndex).id)"
            />
            <div
              v-if="!isCategoryLoading(openedCategory(activeTabIndex).id)"
              class="salon-page__load"
            >
              <button
                v-if="isCategoryHasMore(openedCategory(activeTabIndex).id)"
                @click="
                  loadCategorySpecialists(openedCategory(activeTabIndex).id)
                "
                class="btn btn-black salon-page__load-btn"
              >
                Показать еще
              </button>
            </div>
          </div>
        </template>
      </TabView>
    </div>

    <p v-else class="salon-specialists__stub">У салона пока нет специалистов</p>
  </div>
</template>

<script>
import TabView from "./TabView.vue";
import SpecialistCard from "./SpecialistCard.vue";
import SalonTabSkeleton from "@/components/Skeleton/SalonTabSkeleton";

import { orderModule, salonModule } from "@/store";

export default {
  name: "SalonSpecialists",
  components: {
    TabView,
    SpecialistCard,
    SalonTabSkeleton,
  },

  computed: {
    salon() {
      return salonModule.salon;
    },

    categories() {
      return salonModule.categories;
    },

    specialistsData() {
      return salonModule.specialistsData;
    },

    isCategoryLoading() {
      return (categoryId) => {
        const specialistItem = this.specialistsData.find(
          (item) => item.categoryId === categoryId
        );
        return specialistItem.isLoading;
      };
    },

    isCategoryHasMore() {
      return (categoryId) => {
        const specialistItem = this.specialistsData.find(
          (item) => item.categoryId === categoryId
        );
        return specialistItem.canLoadMore;
      };
    },

    categorySpecialists() {
      return salonModule.salonSpecialistsServices;
    },

    selectedCategory() {
      return this.categories.find(
        (item) => item.id === Number(salonModule.categoryId)
      );
    },

    filteredCategories() {
      return this.selectedCategory ? [this.selectedCategory] : this.categories;
    },

    openedCategory() {
      return (index) => this.categories[index] || null;
    },
  },

  created() {
    const specialistId = this.$route.query.specialist_id;
    const categoryId = this.$route.query.category_id;

    if (!specialistId) return;

    const specialist = salonModule.specialists.find(
      (item) => item.id === Number(specialistId)
    );
    if (!specialist) return;

    this.setOrder(specialist, Number(categoryId));
    this.$router.replace({ query: {} });
  },

  methods: {
    removeCategoryId() {
      salonModule.setCategoryId("");
    },

    setOrder(specialist, categoryId) {
      orderModule.setOrder({
        salon: salonModule.salon,
        specialists: salonModule.specialists,
        specialistId: specialist.id,
        categoryId,
      });

      this.$bvModal.show("order-modal");
    },

    loadCategorySpecialists(categoryId, isInit = false) {
      const specialistItem = this.specialistsData.find(
        (item) => item.categoryId === categoryId
      );
      if (!isInit || !specialistItem?.items?.length) {
        salonModule.loadCategorySpecialists(categoryId);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.salon-specialists__stub {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
}
</style>
