<template>
  <div class="salon-page__photo">
    <template v-if="images.length">
      <div class="shop-item__labels">
        <button
          type="button"
          class="best-price-label"
          role="tooltip"
          data-microtip-position="top"
          data-microtip-size="medium"
          aria-label="Решай сам"
          v-if="false"
        />

        <button
          type="button"
          class="best-price-label promo"
          role="tooltip"
          data-microtip-position="top-right"
          data-microtip-size="medium"
          aria-label="Акция"
          v-if="false"
        />

        <button
          v-if="salon.isConfirmed"
          type="button"
          class="shop-item__checked"
          role="tooltip"
          data-microtip-position="top-right"
          data-microtip-size="medium"
          aria-label="Провереный салон"
        />
      </div>

      <div ref="bigSwiper" class="salon-page__photo-big swiper">
        <div class="swiper-wrapper">
          <div
            v-for="(image, i) in images"
            :key="i"
            class="swiper-slide"
            @click="lightboxIndex = i"
          >
            <img :src="image" />
          </div>
        </div>
      </div>

      <div ref="smallSwiper" class="swiper salon-page__photo-small">
        <div class="swiper-wrapper">
          <div v-for="(image, i) in images" :key="i" class="swiper-slide">
            <img :src="image" />
          </div>
        </div>
      </div>
    </template>

    <div v-else>
      <img src="~@/assets/img/no-image.png" />
    </div>

    <CoolLightBox
      :items="images"
      :index="lightboxIndex"
      effect="fade"
      @close="lightboxIndex = null"
    >
    </CoolLightBox>
  </div>
</template>

<script>
import Swiper from "swiper";
import { salonModule } from "@/store";

export default {
  name: "SalonGallery",

  data() {
    return {
      lightboxIndex: null,
    };
  },

  computed: {
    salon() {
      return salonModule.salon;
    },

    images() {
      let images = [];
      if (this.salon.cover) {
        images.push(this.salon.cover);
      }
      images = images.concat(salonModule.images.map((item) => item.name));
      return images;
    },
  },

  mounted() {
    const smallSwiper = new Swiper(this.$refs.smallSwiper, {
      slidesPerView: 4,
      spaceBetween: 10,
      slideToClickedSlide: true,
      preloadImages: false,
      shortSwipes: false,
      treshold: 2,
      watchSlidesProgress: true,
    });

    const bigSwiper = new Swiper(this.$refs.bigSwiper, {
      slidesPerView: 1,
      spaceBetween: 10,
      preloadImages: false,
      shortSwipes: false,
      thumbs: {
        swiper: smallSwiper,
      },
    });
  },
};
</script>

<style lang="scss">
.cool-lightbox__slide__img img {
  width: auto;
}
</style>

<style lang="scss" scoped>
.salon-page__photo {
  position: relative;
}

.shop-item__labels {
  position: absolute;
  left: 15px;
  top: -3px;
  z-index: 2;

  .shop-item__checked,
  .best-price-label {
    position: initial;
  }

  .best-price-label {
    border: 0;
    padding: 0;

    &.promo {
      margin-left: 5px;
    }
  }

  .shop-item__checked {
    margin-left: 5px;
  }
}

.swiper-slide {
  cursor: pointer;
}
</style>
