<template>
  <div aria-labelledby="salon-page__services-tab">
    <div v-if="categories.length" class="accordion salon-page__accordion">
      <TabView @show="loadCategoryServices(openedCategory($event).id, true)">
        <template #toggle="{ activeTabIndex, toggleTab }">
          <div
            v-for="(category, categoryIndex) in categories"
            :key="categoryIndex"
            @click="toggleTab(categoryIndex)"
            class="tab__item"
            :class="{
              opened: activeTabIndex === categoryIndex,
            }"
          >
            <div class="tab__item-icon">
              <img :src="category.image" alt="" />
            </div>

            <div class="tab__item-content">
              <div class="tab__item-title">
                {{ category.title }}
              </div>
              <div
                v-if="category.minPriceWithDiscountFormatted"
                class="tab__item-price"
              >
                От {{ category.minPriceWithDiscountFormatted }}
              </div>
              <div v-else class="tab__item-price">
                От {{ category.minPriceFormatted }}
              </div>
            </div>

            <div class="tab__arrow">
              <img src="@/assets/img/icon/arrow-down.svg" />
            </div>
          </div>
        </template>

        <template #content="{ activeTabIndex }">
          <div v-if="openedCategory(activeTabIndex)" class="tab__body">
            <div class="row">
              <ServiceCard
                v-for="(service, serviceIndex) in categoryServices[
                  openedCategory(activeTabIndex).id
                ]"
                :key="serviceIndex"
                :service="service"
                @book-click="setOrder(service)"
              />
            </div>
            <SalonTabSkeleton
              v-if="isCategoryLoading(openedCategory(activeTabIndex).id)"
            />
            <div
              v-if="!isCategoryLoading(openedCategory(activeTabIndex).id)"
              class="salon-page__load"
            >
              <button
                v-if="isCategoryHasMore(openedCategory(activeTabIndex).id)"
                @click="loadCategoryServices(openedCategory(activeTabIndex).id)"
                class="btn btn-black salon-page__load-btn"
              >
                Показать еще
              </button>
            </div>
          </div>
        </template>
      </TabView>
    </div>

    <p v-else class="salon-services__stub">
      У салона пока нет предоставляемых услуг
    </p>
  </div>
</template>

<script>
import TabView from "./TabView.vue";
import ServiceCard from "./ServiceCard.vue";
import SalonTabSkeleton from "@/components/Skeleton/SalonTabSkeleton";

import { orderModule, salonModule } from "@/store";

export default {
  name: "SalonServices",
  components: {
    TabView,
    ServiceCard,
    SalonTabSkeleton,
  },

  computed: {
    salon() {
      return salonModule.salon;
    },

    categories() {
      return salonModule.categories;
    },

    servicesData() {
      return salonModule.servicesData;
    },

    isCategoryLoading() {
      return (categoryId) => {
        const serviceItem = this.servicesData.find(
          (item) => item.categoryId === categoryId
        );
        return serviceItem.isLoading;
      };
    },

    isCategoryHasMore() {
      return (categoryId) => {
        const serviceItem = this.servicesData.find(
          (item) => item.categoryId === categoryId
        );
        return serviceItem.canLoadMore;
      };
    },

    categoryServices() {
      return salonModule.salonCategoriesServices;
    },

    openedCategory() {
      return (index) => this.categories[index] || null;
    },
  },

  created() {
    const serviceId = this.$route.query.service_id;
    if (!serviceId) return;

    const service = salonModule.salonServices.find(
      (item) => item.serviceId === Number(serviceId)
    );
    if (!service) return;

    this.setOrder(service);
    this.$router.replace({ query: {} });
  },

  methods: {
    setOrder(service) {
      orderModule.setOrder({
        salon: salonModule.salon,
        specialists: salonModule.specialists,
        serviceId: service.serviceId,
        serviceTitle: service.title,
        categoryId: service.categoryId,
      });
      if (!orderModule.order.serviceId) return;

      this.$bvModal.show("order-modal");
    },

    loadCategoryServices(categoryId, isInit = false) {
      const serviceItem = this.servicesData.find(
        (item) => item.categoryId === categoryId
      );
      if (!isInit || !serviceItem?.items?.length) {
        salonModule.loadCategoryServices(categoryId);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.salon-services__stub {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
}
</style>
