<template>
  <div class="salon-page__info">
    <div class="salon-page__info-rating d-flex">
      <div class="salon-page__rating-icon"></div>
      <div class="salon-page__rating-content">
        <p class="salon-page__rating-ball">
          {{ salon.rating }}
        </p>

        <p class="salon-page__rating-reviews">
          {{ $tc("review.count", salon.reviewsCount) }}
        </p>
      </div>
    </div>

    <div class="salon-page__location-items">
      <div
        v-if="salon.address !== '–'"
        class="salon-page__location-item address d-flex"
      >
        <i class="fas fa-map-marker-alt"></i>
        <div class="salon-page__location-content">
          <p class="salon-page__location-title">
            {{ salon.name }}
          </p>

          <p class="salon-page__location-address">
            {{ salon.address }}
          </p>
        </div>
      </div>

      <div v-if="salon.metro" class="salon-page__location-item metro d-flex">
        <i class="metro-icon"></i>

        <div class="salon-page__location-content">
          <p class="salon-page__location-title">Метро</p>

          <p class="salon-page__location-address">
            {{ salon.metro }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { salonModule } from "@/store";

export default {
  name: "SalonSummary",

  computed: {
    salon() {
      return salonModule.salon;
    },
  },
};
</script>
