<template>
  <div class="similar-offers__block">
    <div class="similar-offers__block-inner">
      <router-link :to="salonLink" class="similar-offers__block-top">
        <img
          :src="salon.images[0] || require('@/assets/img/no-image.png')"
          alt=""
        />

        <div class="similar-offers__block-logo">
          <img :src="salon.logo" alt="" />
        </div>
      </router-link>

      <div class="similar-offers__block-content">
        <div class="similar-offers__content-top">
          <div
            class="
              similar-offers__info
              d-flex
              align-items-center
              justify-content-between
            "
          >
            <router-link :to="salonLink" class="similar-offers__block-name">
              {{ salon.name }}
            </router-link>

            <div class="similar-offers__block-rating d-flex">
              <router-link
                :to="`${salonLink}#reviews`"
                class="similar-offers__block-reviews"
              >
                {{ $tc("review.count", salon.reviewsCount) }}
              </router-link>
            </div>
          </div>
        </div>

        <div class="similar-offers__content-bottom">
          <div class="salon-page__location d-flex">
            <i class="fas fa-map-marker-alt"></i>
            <div class="salon-page__location-content">
              <div class="salon-page__location-address">
                {{ salon.address }}
              </div>
            </div>
          </div>

          <div
            class="salon-page__metro d-flex align-items-center"
            v-if="salon.metro"
          >
            <i class="metro-icon"></i>
            {{ salon.metro }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Salon } from "@/models/Salon";
import { composeSalonLink } from "@/helpers/links";

export default {
  name: "SimilarSalonCard",

  props: {
    salon: { type: Salon, required: true },
  },

  computed: {
    salonLink() {
      return composeSalonLink(this.salon);
    },
  },
};
</script>

<style lang="scss" scoped>
.similar-offers {
  &__block-service {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }
}

.similar-offers__block-top {
  height: 360px;

  & > img {
    height: 360px;
    object-fit: cover;
    border-radius: 20px;
  }
}

.similar-offers__block-logo {
  width: 32px;
  height: 32px;

  img {
    border-radius: 50%;
  }
}
.similar-offers__block-reviews {
  color: inherit;
  display: inline-block;
}
</style>
