<template>
  <div v-if="similarSalons.length" class="similar-offers">
    <div class="container">
      <div class="similar-offers__inner">
        <div class="our-slider__header">
          <div class="our-slider__title">Похожие предложения</div>
          <div v-if="similarSalons.length > 3" class="slider-nav">
            <div class="offers-swiper-button-prev swiper-button-prev"></div>
            <div class="offers-swiper-button-next swiper-button-next"></div>
          </div>
        </div>

        <div
          class="similar-offers__blocks swiper our-slider"
          v-swiper="{
            slidesPerView: 3,
            spaceBetween: 30,
            shortSwipes: false,
            navigation: {
              nextEl: '.offers-swiper-button-next',
              prevEl: '.offers-swiper-button-prev',
              clickable: true,
            },
            breakpoints: {
              0: { slidesPerView: 1.2, spaceBetween: 15 },
              767: { slidesPerView: 2 },
              992: { slidesPerView: 3 },
            },
          }"
        >
          <div class="swiper-wrapper">
            <SimilarSalonCard
              v-for="salon in similarSalons"
              :key="salon.id"
              class="swiper-slide"
              :salon="salon"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { directive as swiper } from "vue-awesome-swiper";
import SimilarSalonCard from "./SimilarSalonCard.vue";
import { salonModule } from "@/store";

export default {
  name: "SimilarSalons",
  components: { SimilarSalonCard },
  directives: { swiper },

  computed: {
    similarSalons() {
      return salonModule.similarSalons;
    },
  },
};
</script>

<style lang="scss">
@import "../styles/similar-salons";
</style>
