<template>
  <router-link
    :to="`/specialist/${specialist.userId}`"
    class="specialists-inner__block"
    :class="{
      'specialists-inner__block--selected': selected,
      'specialists-inner__block--small': isSmall,
    }"
  >
    <div class="specialists-inner__block-inner">
      <a class="specialists-inner__block-link d-block" @click="$emit('click')">
        <div class="specialists-inner__block-img">
          <img :src="specialist.cover" alt="" />
        </div>

        <div class="specialists-inner__block-content">
          <div class="specialists-inner__block-name">
            {{ specialist.name }}
          </div>

          <div
            class="specialists-inner__block-rating d-flex align-items-baseline"
          >
            <div class="specialists-inner__block-ball">
              {{ specialist.rating }}
            </div>

            <div class="specialists-inner__block-reviews">
              {{ $tc("review.count", specialist.reviewsCount) }}
            </div>
          </div>

          <div class="specialists-inner__block-footer">
            <template v-if="specialist.minPriceWithDiscount">
              <span class="specialists-inner__block-price old">
                от {{ $fm(specialist.minPrice) }}
              </span>

              <span class="specialists-inner__block-price new">
                От {{ $fm(specialist.minPriceWithDiscount) }}
              </span>
            </template>
            <span v-else class="specialists-inner__block-price new">
              От {{ $fm(specialist.minPrice) }}
            </span>

            <span class="specialists-inner__block-note text-grey">
              ({{ specialist.jobTitle }})
            </span>
          </div>
        </div>
      </a>

      <button
        v-if="!hideBooling"
        type="button"
        class="btn specialists-inner__block-btn btn-border"
        @click.prevent="$emit('book-click')"
      >
        Забронировать
      </button>
    </div>
  </router-link>
</template>

<script>
import { Specialist } from "@/models/Specialist";

export default {
  name: "SpecialistCard",

  props: {
    specialist: { type: Specialist, required: true },
    categoryId: { type: Number, required: true },
    hideBooling: { type: Boolean, default: false },
    selected: { type: Boolean, default: false },
    isSmall: { type: Boolean, default: false },
  },
};
</script>

<style lang="scss" scoped>
.swiper-slide .specialists-inner__block {
  width: 100%;
}
.specialists-inner__block {
  padding: 15px;
  margin: 0;
  height: 100%;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: rgba($black, 0.1);
    transition: 0.5s;

    .specialists-inner__block-btn {
      background: $white;
      color: $black;
      border: 1px solid transparent;
    }
  }

  &--selected,
  &--selected:hover {
    background: rgba(97, 130, 247, 0.3);
  }

  &-link {
    text-decoration: none;
    color: $black;
    cursor: pointer;
  }

  &-img {
    margin-bottom: 15px;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }

    img {
      border-radius: 3px;
    }
  }

  &-name {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1;
      margin-bottom: 5px;
    }
  }

  &-ball {
    color: $orange;
    letter-spacing: -0.025em;
    font-weight: 600;
    font-size: 18px;
    margin-right: 10px;

    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 17px;
    }
  }

  &-reviews {
    letter-spacing: 0.01em;
    opacity: 0.5;

    @media (max-width: 767px) {
      font-size: 10px;
      line-height: 15px;
    }
  }

  &-rating {
    margin-bottom: 10px;

    @media (max-width: 767px) {
      margin-bottom: 5px;
    }
  }

  &-price {
    font-size: 16px;
    font-weight: 500;

    &.old {
      text-decoration: line-through;
      opacity: 0.5;
      font-size: 14px;
    }

    @media (max-width: 767px) {
      font-size: 11px;
      line-height: 11px;
    }
  }

  &-note {
    font-size: 16px;
    opacity: 0.5;
    margin-left: 4px;

    @media (max-width: 767px) {
      font-size: 11px;
      line-height: 11px;
    }
  }

  &-btn {
    margin-top: 25px;
    border-radius: 47px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;

    @media (max-width: 767px) {
      font-size: 13px;
      margin-top: 15px;
    }
  }
}
.specialists-inner__block--small {
  .specialists-inner__block-inner {
    position: relative;
  }
  .specialists-inner__block-img {
    max-width: 75px;
    max-height: 75px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 8px;
    img {
      object-fit: cover;
    }
  }
  .specialists-inner__block-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .specialists-inner__block-name {
    order: 2;
    margin-bottom: 5px;
  }
  .specialists-inner__block-footer {
    order: 1;
    margin-bottom: 5px;
  }
  .specialists-inner__block-rating {
    width: fit-content;
    margin: 0 auto;
    order: 3;
  }
  .order-modal__specialist-busy {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    height: 100%;
    width: 100%;
  }
  .specialist-busy__text {
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color: $white, $alpha: 0.85);
    border-radius: 12px;
    color: #1d274a;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding: 0 5px;
  }
}

@media (max-width: 767px) {
  .specialists-inner__block {
    &-footer {
      line-height: 1;
    }
  }
}
</style>
