<template>
  <div class="tab">
    <div class="tab__content">
      <slot
        name="toggle"
        :activeTabIndex="activeTabIndex"
        :toggleTab="toggleTab"
      />
    </div>

    <slot
      v-if="activeTabIndex !== -1"
      name="content"
      :activeTabIndex="activeTabIndex"
    />
  </div>
</template>

<script>
export default {
  name: "TabView",

  data() {
    return {
      activeTabIndex: -1,
      toggleTab: function () {},
    };
  },

  created() {
    this.toggleTab = this.toggleTabFn;
    this.toggleTabFn(0);
  },

  methods: {
    toggleTabFn(index) {
      this.$emit("hide", this.activeTabIndex);
      if (this.activeTabIndex === index) {
        this.activeTabIndex = -1;
      } else {
        this.activeTabIndex = index;
        this.$emit("show", this.activeTabIndex);
      }
    },
  },
};
</script>

<style lang="scss">
.tab__content {
  display: flex;
  max-width: 100%;
  padding: 25px 0;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    height: 4px;
    background-color: rgba($black, 0.1);
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    height: 100%;
    background-color: $black;
  }
}
.tab__body {
  padding: 48px 0 0;
}
.tab__item {
  display: flex;
  align-items: center;
  margin-right: 55px;
  cursor: pointer;
  &.opened {
    .tab__arrow {
      transform: rotate(180deg);
    }
  }
  &:last-child {
    margin-right: 0;
  }
}
.tab__item-icon {
  min-width: 90px;
  min-height: 90px;
  width: 90px;
  height: 90px;
  padding: 18px;
  background-color: rgba($black, 0.05);
  border-radius: 50%;
  margin-right: 24px;
  @media (max-width: $tablet) {
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    padding: 8px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.tab__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133.19%;
  @media (max-width: $tablet) {
    font-size: 16px;
  }
}
.tab__item-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 108%;
  color: rgba($black, 0.5);
  margin-top: 15px;
  @media (max-width: $tablet) {
    font-size: 14px;
    margin-top: 8px;
  }
}
.tab__arrow {
  margin-left: 40px;
  font-size: 0;
  line-height: 0;
  width: 24px;
  height: 12px;
  min-width: 24px;
  min-height: 12px;
}
</style>
