.last-visit {
    .site-content__header {
        margin-bottom: 32px;
    }
    &__header {
        font-size: 18px;
        margin-bottom: 18px;
        &-text {
            font-weight: 300;
            margin-bottom: 12px;
            letter-spacing: 0.01em;
        }
        &-salons {
            font-weight: 500;
            letter-spacing: 0.01em;
        }
    }

    &__block {
        margin: 15px 0;
        height: calc(100% - 30px);
    }
    &__block-inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $black;
    }
    &__block-img {
        margin-bottom: 15px;
        height: 288px;
        img {
            border-radius: 7px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__block-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    &__block-name {
        color: $black;
        text-decoration: none;
        flex: 1;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 15px;
        @media (max-width: 765px) {
            font-size: 15px;
            font-weight: 600;
        }
    }
    &__block-service {
        font-weight: 500;
        font-size: 18px;
        opacity: 0.5;
        @media (max-width: 765px) {
            font-size: 14px;
        }
    }

    &__footer {
        margin-top: 15px;
    }
    &__btn {
        background: $white;
        border-radius: 43px;
        font-size: 18px;
        font-weight: 600;
        padding: 15px 25px;
    }
}
