.reviews-send {
  &__block {
    padding: 25px;
    background: $white;
    border-radius: 7px;
    margin-bottom: 10px;
    @media (max-width: $mobile) {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.short {
      .reviews-send__text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        transition: 0.5s;
      }
    }
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
    margin-right: 10px;
    a {
      color: $black;
    }
  }
  &__logo {
    width: 25px;
    flex: 0 0 25px;
    height: 25px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__rating {
    font-weight: 600;
    font-size: 21px;
    color: $orange;
    margin-left: 10px;
    @media (max-width: $mobile) {
      margin-left: 0;
    }
  }
  &__text {
    transition: 0.5s;
  }
  &__bottom {
    margin-top: 15px;
  }
  &__text-footer {

    &.open {
      .reviews-send__more.show {
        display: none;
      }
      .reviews-send__more.hide {
        display: block;
      }
    }
  }
  &__more {
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: $black;
      transition: 0.5s;
    }
    &.hide {
      display: none;
    }
  }
}


@media (max-width: 575px) {
  .reviews-send {
    &__block {
      &.short {
        .reviews-send__text {
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
          transition: 0.5s;
        }
      }
    }
    &__header {
      flex-direction: column;
      align-items: flex-start !important;
    }
    &__left {
      width: 100%;
      margin-bottom: 10px;
    }
    &__right {
      width: 100%;
    }
    &__bottom {
      margin-top: 25px;
    }
  }
}
