<template>
  <div>
    <Header />

    <div class="profile-page site-content main-content">
      <div class="profile__header">
        <div class="container">
          <div
            v-if="!isMobileMenuShown"
            class="profile__header-back"
            @click="isMobileMenuShown = true"
          >
            <div class="profile__header-text">Личный кабинет</div>
          </div>
        </div>
      </div>


      <div class="profile-blocks">
        <div class="container">
          <div class="row justify-content-between">
            <div
              class="col-xl-auto col-lg-4 order-xl-1 order-lg-1 order-md-2 order-sm-2 order-2"
              @scroll="handleScrollMenu"
            >
              <div
                ref="menu"
                class="profile-menu"
                :class="{ show: isMobileMenuShown }"
              >
                <ProfileMenu />
              </div>
            </div>
            <div
              class="need-hide col-xl-auto col-lg-8 order-xl-2 order-lg-2 order-md-1 order-sm-1 order-1"
              :class="{ hide: isMobileMenuShown }"
            >
              <slot />
            </div>
          </div>
        </div>
      </div>
    </div>

    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Common/Header/Header";
import Footer from "@/components/Common/Footer/Footer";
import ProfileMenu from "@/components/Sidebars/ProfileMenu/ProfileMenu";

export default {
  name: "Account",
  components: {
    ProfileMenu,
    Header,
    Footer,
  },

  data() {
    return {
      isMobileMenuShown: false,
      scrollPrev: 0,
    };
  },

  created() {
    window.addEventListener("scroll", this.handleScrollMenu);
    if (this.$route.query.showProfileMenu) {
      this.isMobileMenuShown = true;
    }
  },

  mounted() {
    this.setupScrollMenu();
  },

  destroyed() {
    window.removeEventListener("scroll", this.handleScrollFilter);
  },

  methods: {
    setupScrollMenu() {
      const p_b = this.$refs.menu;
      const w_h = window.innerHeight;
      if (p_b.offsetHeight > w_h) {
        p_b.classList.add("custom-scroll");
      }
      p_b.style.height =
        w_h < p_b.offsetHeight ? `${w_h}px` : `${p_b.offsetHeight}px`;
    },

    handleScrollMenu() {
      const block = this.$refs.menu;
      if (!block) return;
      const scrolled = window.scrollY;

      if (scrolled > 150 && scrolled > this.scrollPrev) {
        block.classList.add("sticked");
      } else if (scrolled < 150) {
        block.classList.remove("sticked");
      }
      this.scrollPrev = scrolled;
    },
  },
};
</script>

<style lang="scss">
@import "profile";
.need-hide.hide {
  display: none;
}
</style>
