.profile-page {
  background: $lightgrey2;
  padding-top: 188px;
  @media(max-width: 991px) {
    padding-top: 0;
  }
  &__header {
    margin-bottom: 15px;
    &-inner {
      @media (max-width: $tabletL) {
        margin: 20px 0;
      }
    }
  }
  &__title-mobile {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08;
    margin: 20px 0;
    &.hide {
      display: none;
    }
    @media (min-width: $mobile+1) {
      display: none;
    }
  }
  &__top-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    span {
      font-size: 19px;
      opacity: 0.5;
      font-weight: 400;
      margin-left: 5px;
    }
  }
  .container {
    max-width: 1216px;
  }
}

.profile {
  &__header {
    display: none;
    .container {
      padding: 0;
    }
    &-text {
      font-weight: 600;
      font-size: 18px;
      color: $black;
      opacity: 0.3;
      &:before {
        content: '';
        display: inline-block;
        width: 35px;
        height: 20px;
        margin-right: 15px;
        vertical-align: middle;
        background: url(~@/assets/img/icon/long-arrow.svg) no-repeat;
      }
    }
    &-back {
      background: rgba(29, 39, 74, 0.05);
      padding: 15px;
      border-radius: 0px 0px 6px 6px;
    }
  }
}

.profile-info {
  margin-left: 20px;
  @media (min-width: $desktop+1) {
    width: 770px;
  }
  @media (min-width: $desktopL+1) {
    width: 780px;
  }
  @media (max-width: $tabletL) {
    margin: 0;
    &.hide {
      display: none;
    }
  }
  &__line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px 36px;
    min-height: 130px;
    background: $white;
    border-radius: 7px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    @media (max-width: $mobile) {
      padding: 20px 15px 20px 25px;
    }
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @media (max-width: $mobile) {
        align-items: flex-start;
      }
    }
    &-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 20px;
    }
    &-body {
      position: relative;
      padding-right: 16px;
      input {
        max-width: 190px;
        width: 100%;
        &.not-active,
        &.active {
          border: 0;
          padding: 0;
          font-size: 16px;
          color: $black;
          cursor: default;
          transition: 0.5s;
        }
        &.active {
          border-bottom: 1px solid rgba(29, 39, 74, 0.1);
          transition: 0.5s;
          cursor: text;
        }
      }
      .profile-info__change {
        margin-left: auto;
      }
    }
    &-errors {
      font-size: 10px;
      font-weight: 400;
      color: red;
      flex-basis: 100%;
      position: absolute;
    }
    .avatar-block {
      width: 90px;
      height: 90px;
      flex: 0 0 90px;
    }
  }
  &__change {
    position: relative;
    border: 1px solid rgba(29, 39, 74, 0.3);
    background-color: $white;
    border-radius: 7px;
    font-weight: 500;
    padding: 10px 25px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    &:disabled {
      pointer-events: none;
    }
    &:hover {
      background: $black;
      border: 1px solid $black;
      color: $white;
      transition: 0.5s;
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: right;
      opacity: 0;
      cursor: pointer;
    }
  }
  &__confirm {
    padding-top: 35px;
    width: 100%;
  }
}

.avatar-block {
  width: 72px;
  flex: 0 0 72px;
  height: 72px;
  border-radius: 50%;
  img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__default {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(29, 39, 74, 0.1);
    border-radius: 50%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.profile-confirm {
  border-radius: 25px;
  background-color: rgba($black, 0.04);
  padding: 24px 32px 20px;
  display: grid;
  grid-gap: 10px 32px;
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
    "title hint"
    "input button"
    ". timer"
  ;
  @media (max-width: 1199px) {
    padding: 20px 24px;
    grid-gap: 10px 24px;
  }
  @media (max-width: 767px) {
    grid-template-columns: unset;
    grid-template-areas: unset;
    grid-gap: 0;
    padding: 20px 8px;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.21;
    grid-area: title;
    @media (max-width: 767px) {
      font-weight: 500;
      font-size: 15px;
      text-align: center;
    }
  }
  &__input {
    background-color: $white;
    border-radius: 76px;
    padding: 10px 42px;
    height: fit-content;
    grid-area: input;
    .vue-pincode-input {
      width: 26px;
      font-size: 18px;
      color: black;
      border: 0;
      border-bottom: 1px solid #1b1918;
      outline: 0;
      text-align: center;
      box-shadow: none;
      border-radius: 0;
      padding: 5px 0;
      margin: 0 15px;
    }
    @media (max-width: 1199px) {
      padding: 10px 12px;
      .vue-pincode-input {
        margin: 0 10px;
      }
    }
    @media (max-width: 767px) {
      margin: 20px 0;
      width: 100%;
      display: flex;
      justify-content: center;
      max-width: 280px;
      .vue-pincode-input {
        margin: 0 6px;
      }
    }
  }
  &__text {
    font-weight: 300;
    font-size: 13px;
    line-height: 1.08;
    justify-self: center;
    text-align: center;
  }
  &__hint {
    grid-area: hint;
    align-self: end;
  }
  &__button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    border-radius: 25px;
    padding: 14px;
    max-width: 190px;
    width: 100%;
    cursor: pointer;
    grid-area: button;
    justify-self: center;
    align-self: center;
    @media (max-width: 1199px) {
      padding: 14px 20px;
    }
    @media (max-width: 767px) {
      margin: 10px 0;
    }
  }
  &__timer {
    grid-area: timer;
    align-self: start;
  }
  &__title,
  &__input,
  &__button,
  &__text {
    @media (max-width: 767px) {
      justify-self: center;
      align-self: start;
      grid-row: span 1;
      grid-column: span 1;
    }
  }
}

@media (max-width: 991px) {
  .profile__header {
    display: block;
  }
}
