<template>
  <div class="teasers-page__content">
    <div class="container">
      <div class="teasers-page__content-inner">
        <div class="teasers__media">
          <div class="media-section">
            <img src="@/assets/img/teasers/media-block.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Advertisement",
};
</script>

<style scoped></style>
