.timer {
  text-decoration: none;
  &__inner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $orange;
    border: 3px solid rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.5s;
    @media (max-width: 767px) {
      width: 40px;
      height: 40px;
    }
    &:hover {
      box-shadow: 0px 0px 6px 1px rgb(237 209 207);
    }
  }
  &__text {
    font-weight: 600;
    line-height: 78px;
    font-size: 18px;
    color: $lightgrey2;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 38px;
    }
  }
}
