<template>
  <div class="teasers-page__content">
    <div class="container">
      <div class="teasers-page__content-inner">
        <div
          class="
            site-content__header
            d-flex
            align-items-center
            justify-content-between
          "
        >
          <div class="site-content__title">Промоакции</div>
          <div class="slider-nav">
            <div class="promosale-swiper-button-prev swiper-button-prev"></div>
            <div class="promosale-swiper-button-next swiper-button-next"></div>
          </div>
        </div>

        <div v-swiper="swiperOption" class="promosale__slider swiper">
          <div class="swiper-wrapper">
            <div
              v-for="(slide, index) in slides"
              v-bind:key="index"
              class="swiper-slide"
            >
              <div class="promosale__slide">
                <img :src="slide.img" alt="" />
                <div class="promosale__slide-content">
                  <div
                    class="promosale__slide-title"
                    v-html="slide.title"
                  ></div>
                  <div class="promosale__slide-data">
                    Только с
                    <span>{{ slide.date }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { directive } from "vue-awesome-swiper";

export default {
  name: "PromoactionSlider",
  directives: {
    swiper: directive,
  },
  data: function () {
    return {
      slides: [
        {
          img: require("@/assets/img/promosale/promo1.png"),
          title:
            'Успей на\n <span class="text-orange big text-uppercase">огромные</span>\n <span class="big">скидки</span>',
          date: "11.05.2021",
        },
        {
          img: require("@/assets/img/promosale/promo2.png"),
          title:
            'Успей на\n <span class="text-purple big text-uppercase">огромные</span>\n <span class="big">скидки</span>',
          date: "11.05.2021",
        },
        {
          img: require("@/assets/img/promosale/promo2.png"),
          title:
            'Успей на\n <span class="text-orange big text-uppercase">огромные</span>\n <span class="big">скидки</span>',
          date: "11.05.2021",
        },
      ],
      swiperOption: {
        slidesPerView: 2,
        spaceBetween: 35,
        loop: true,
        navigation: {
          nextEl: ".promosale-swiper-button-next",
          prevEl: ".promosale-swiper-button-prev",
          clickable: true,
        },
        breakpoints: {
          0: { slidesPerView: 1 },
          992: { slidesPerView: 2 },
        },
      },
    };
  },
};
</script>

<style lang="scss">
@import "teasers";

.slider-nav {
  display: flex;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  position: inherit;
  width: 37px;
  height: 15px;
  background: url(~@/assets/img/icon/slider-arrow-left.svg) no-repeat;
  margin: 0;
  &:after {
    display: none;
  }
}
.swiper-button-next {
  margin-left: 10px;
  background: url(~@/assets/img/icon/slider-arrow-right.svg) no-repeat;
}
</style>
