.teasers-page__content:not(:last-child) {
  .teasers-page__content-inner {
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(29, 39, 74, 0.2);
  }
}

.teasers__slide {
  position: relative;
  &-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
    height: 100%;
    padding: 50px 40px;
    background: url(~@/assets/img/teasers/bg.svg) no-repeat;
    border-radius: 7px 0 0 7px;
  }
  &-header {
    max-width: 290px;
    font-size: 40px;
    line-height: 47px;
    color: $white;
    font-weight: 400;
    margin-bottom: 40px;
    span {
      display: block;
      color: #864400;
    }
  }
  &-text {
    font-weight: 600;
    font-size: 50px;
    font-style: italic;
    line-height: 69px;
    color: $white;
    opacity: 0.95;
  }
  img {
    border-radius: 7px;
  }
}

.promosale__slide {
  position: relative;
  &-content {
    position: absolute;
    width: 200px;
    top: 50%;
    transform: translateY(-50%);
    right: 35px;
  }
  &-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    color: #675c51;
    margin-bottom: 30px;
    .big {
      display: block;
      font-size: 34px;
      line-height: 32px;
    }
  }
  &-data {
    font-size: 21px;
    line-height: 26px;
    color: #675c51;
    span {
      display: block;
    }
  }
}

.teasers-page__text {
  p {
    font-weight: 200;
    font-size: 24px;
    line-height: 34px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 1199px) {
  .teasers__slide {
    &-content {
      width: 460px;
      background-size: contain;
    }
    &-text {
      font-size: 30px;
      line-height: 45px;
    }
  }
  .teasers-page__text p {
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .promosale__slide {
    &-content {
      right: 15px;
      width: 160px;
    }
    &-title {
      font-size: 23px;
      line-height: 22px;
      .big {
        font-size: 25px;
        line-height: 22px;
      }
    }
    &-data {
      font-size: 18px;
      line-height: 20px;
    }
  }
}

@media (max-width: 991px) {
  .teasers__slide {
    &-content {
      padding: 25px;
      width: 335px;
    }
    &-header {
      max-width: initial;
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 10px;
    }
    &-text {
      font-size: 25px;
      line-height: 28px;
    }
  }
  .teasers-page__text p {
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 767px) {
  .teasers__slide {
    &-content {
      padding: 25px;
      width: 250px;
    }
    &-header {
      max-width: initial;
      font-size: 23px;
      line-height: 25px;
      margin-bottom: 10px;
    }
    &-text {
      font-size: 23px;
      line-height: 28px;
    }
  }
  .promosale__slide {
    &-content {
      right: 15px;
      width: 160px;
    }
    &-title {
      font-size: 23px;
      line-height: 22px;
      .big {
        font-size: 25px;
        line-height: 22px;
      }
    }
    &-data {
      font-size: 18px;
      line-height: 20px;
    }
  }
}

@media (max-width: 575px) {
  .teasers__slide {
    &-content {
      background-size: unset;
      padding: 15px;
    }
    &-text {
      font-size: 20px;
      line-height: 25px;
    }
  }
  .teasers-page__text p {
    font-size: 16px;
    line-height: 20px;
  }

  .promosale__slide {
    &-content {
      right: 10px;
      width: 120px;
    }
    &-title {
      font-size: 19px;
      line-height: 20px;
      margin-bottom: 10px;
      .big {
        font-size: 20px;
      }
    }
    &-data {
      font-size: 16px;
      line-height: 17px;
    }
  }
  .teasers-page__content:not(:last-child) .teasers-page__content-inner {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
