<template>
  <auth>
    <div class="auth__content">
      <div v-if="isLoading" class="loader">
        <div class="loader__content">
          <semipolar-spinner
            :animation-duration="2000"
            :size="50"
            style="
              position: absolute;
              left: calc(50% - 25px);
              top: calc(50% - 25px);
            "
          />
        </div>
      </div>
      <div class="bg__white border__rad auth__container">
        <AuthHeader :headerText="$t('auth.loginOn')" />

        <AuthForm
          @recoveryPassword="$router.push('recovery-password')"
          @changeLoading="isLoading = $event"
          @onLogin="onLogin"
        />

        <AuthFooter />
      </div>
    </div>
  </auth>
</template>

<script>
import Auth from "@/layouts/Auth/Auth";
import { validationMixin } from "vuelidate";
import { getCrmRedirectUrl } from "@/helpers/links";

import { SemipolarSpinner } from "epic-spinners";

// Vuex
import { accountModule } from "@/store";

const { required } = require("vuelidate/lib/validators");

export default {
  name: "AuthMain",
  mixins: [validationMixin],
  validations: {
    inputField: {
      required,
    },
    inputPassword: {
      required,
    },
  },

  components: {
    AuthHeader: () => import("@/components/Auth/AuthHeader/AuthHeader"),
    AuthFooter: () => import("@/components/Auth/AuthFooter/AuthFooter"),
    AuthForm: () => import("@/components/Auth/AuthForm/AuthForm"),
    Auth,
    SemipolarSpinner,
  },

  data() {
    return {
      isLoading: false,
    };
  },

  computed: {
    loginRedirectRoute() {
      if (this.$route.query.redirectUrl) return this.$route.query.redirectUrl;

      if (!accountModule.isAdmin) {
        return process.env.VUE_APP_HOME_REDIRECT_URL || { name: "Home" };
      }

      return getCrmRedirectUrl();
    },
  },

  methods: {
    async onLogin() {
      if (
        String(this.loginRedirectRoute).startsWith("/crm") ||
        String(this.loginRedirectRoute).startsWith("http")
      ) {
        location.href = this.loginRedirectRoute;
      } else {
        await this.$router.push(this.loginRedirectRoute);
      }
    },
  },
};
</script>
