<template>
  <account>
    <div class="profile-info">
      <div class="profile-page__header">
        <div class="profile-page__title-mobile profile-page__header-inner">
          <div class="profile-page__top-title d-flex">
            Транзакции
            <span v-if="transactions.length">
              (На сумму {{ $fm(totalAmount) }})
            </span>
          </div>
        </div>
      </div>

      <div class="transaction__body">
        <div class="transaction__body-inner">
          <p v-if="!transactions.length && isLoadingHappen" class="transaction__not-found">
            Вы пока не осуществляли транзакций
          </p>

          <TransactionsTable v-else />
        </div>
      </div>
      <button
        v-if="isShowLoadNext"
        @click="loadNextTransactions"
        class="transaction__more-btn"
      >
        Показать еще
      </button>
      <p
        v-if="transactions.length && !isShowLoadNext"
        class="transaction__not-found"
      >
        Больше нет транзакций
      </p>
    </div>
  </account>
</template>

<script>
import Account from "@/layouts/Account/Account.vue";
import TransactionsTable from "./components/TransactionsTable.vue";

import { transactionsModule } from "./store/transactions-module";

export default {
  name: "Transactions",
  components: {
    Account,
    TransactionsTable,
  },

  data: () => ({
    isLoadingHappen: false,
  }),

  computed: {
    isLoading() {
      return transactionsModule.isLoading;
    },

    transactions() {
      return transactionsModule.transactions;
    },

    totalAmount() {
      return transactionsModule.transactionsAmount;
    },

    isShowLoadNext() {
      return transactionsModule.canLoadMore;
    },
  },

  async created() {
    await transactionsModule.loadTransactions();
    this.isLoadingHappen = true;
  },

  methods: {
    async loadNextTransactions() {
      await transactionsModule.loadTransactions(true);
    },
  },
};
</script>

<style lang="scss">
@import "styles/transactions";

.transaction {
  &__not-found {
    text-align: center;
    width: 100%;
    margin: 40px auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}
</style>
