.blog__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 36px;
  @media (max-width: $tabletL) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }
  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
}
.blog__item {
  &.wide {
    grid-column: span 3;
    @media (max-width: $tabletL) {
      grid-column: span 2;
    }
    @media (max-width: $tablet) {
      grid-column: span 1;
    }
  }
}
.blog__btn {
  font-weight: 500;
  font-size: 15px;
  line-height: 133.19%;
  background-color: rgba($black, 0.05);
  margin-top: auto;
  border-radius: 3px;
  padding: 15px 36px;
  width: fit-content;
  @media (max-width: $tablet) {
    border-radius: 37px;
    width: 100%;
  }
  &:hover {
    background-color: rgba($black, 0.1);
  }
}
.blog__control {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  @media (max-width: $tablet) {
    margin-top: 40px;
  }
}
.blog__pagination {
  margin-bottom: 0;
  li {
    &:first-child,
    &:last-child {
      display: none;
    }
  }
  .page-item {
    border: 0;
    margin-right: 16px;
    &.active .page-link {
      background-color: $black;
      color: $white;
    }
    &[role="separator"] {
      @media (max-width: $tablet) {
        display: block !important;
      }
      .page-link {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .page-link {
    font-weight: 500;
    font-size: 19px;
    line-height: 129.5%;
    padding: 7px 14px;
    color: $black;
    background-color: rgba($black, 0.05);
    border: 0;
    border-radius: 3px;
    @media (max-width: $tablet) {
      font-size: 16px;
      padding: 6px 12px;
    }
  }
}
