<template>
  <def-layout>
    <BlogSkeleton v-if="isBlogsLoading" />
    <div v-else class="site-content main-content blog-page">
      <div class="header-page">
        <div class="container">
          <div class="header-page__title">Блог</div>
        </div>
      </div>

      <div class="container">
        <div class="blog__content">
          <div
            v-for="(article, articleIndex) of blogs"
            :key="articleIndex"
            :class="{
              wide: articleIndex === 0,
            }"
            class="blog__item"
          >
            <Article
              :article="article"
              :is-wide="articleIndex === 0"
            ></Article>
          </div>
        </div>
        <div
          v-if="totalPages > 1"
          class="blog__control"
        >
          <b-pagination
            v-model="page"
            hide-goto-end-buttons
            :total-rows="totalPages"
            :per-page="1"
            last-number
            first-number
            class="blog__pagination"
          ></b-pagination>
        </div>
      </div>
    </div>
  </def-layout>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const blogStore = createNamespacedHelpers("Blog");
// components
import DefLayout from "@/layouts/Default/Default";
import Article from "./components/Article.vue";
import BlogSkeleton from "@/components/Skeleton/BlogSkeleton.vue";

export default {
  name: "Blog",
  components: {
    DefLayout,
    Article,
    BlogSkeleton,
  },

  computed: {
    ...blogStore.mapGetters(["blogs", "currentPage", "totalPages", "isBlogsLoading"]),
    page: {
      get() {
        return this.currentPage;
      },
      set(page) {
        this.getBlogs(page);
      },
    },
  },

  async created() {
    await this.getBlogs();
  },

  methods: {
    ...blogStore.mapActions(["getBlogs"]),
  },
};
</script>

<style lang="scss">
@import "blog";
</style>
