<template>
  <def-layout>
    <SpriteSpecialist />
    <SpecialistSkeleton v-if="isSpecialistLoading" />
    <div v-else class="specialist-one site-content main-content">
      <div class="container">
        <div class="specialist-one__content">
          <SpecialistHeader class="specialist-one__header" />
          <div class="specialist-one__photo">
            <div class="specialist-block__photo">
              <img :src="specialist.avatarSrc" alt="" />
            </div>
          </div>
          <SpecialistGallery class="specialist-one__gallery" />
          <div class="specialist-one__data">
            <SpecialistSummary />
            <SpecialistCategories />
          </div>
        </div>
      </div>
    </div>
  </def-layout>
</template>

<script>
import DefLayout from "@/layouts/Default/Default";

import SpriteSpecialist from "@/components/Sprites/SpriteSpecialist";
import SpecialistSkeleton from "@/components/Skeleton/SpecialistSkeleton";

import SpecialistHeader from "./components/SpecialistHeader";
import SpecialistSummary from "./components/SpecialistSummary";
import SpecialistGallery from "./components/SpecialistGallery";
import SpecialistCategories from "./components/SpecialistCategories";

import { createNamespacedHelpers } from "vuex";

const specialistStore = createNamespacedHelpers("Specialist");

export default {
  name: "SpecialistOne",
  components: {
    DefLayout,

    SpriteSpecialist,
    SpecialistSkeleton,

    SpecialistHeader,
    SpecialistSummary,
    SpecialistGallery,
    SpecialistCategories,
  },
  computed: {
    ...specialistStore.mapState([
      "isSpecialistLoading",
      "isSpecialistPortfolioLoading",
    ]),
    ...specialistStore.mapGetters(["specialist", "salons", "gallery"]),
  },
  async created() {
    await this.getSpecialist(this.$route.params.id);
    await this.getSpecialistPortfolio();
  },
  methods: specialistStore.mapActions([
    "getSpecialist",
    "getSpecialistPortfolio",
  ]),
};
</script>

<style lang="scss">
@import "specialist-one";
</style>
