.specialist-one {
  &__header {
    grid-area: header;
  }
  &__photo {
    grid-area: photo;
  }
  &__gallery {
    grid-area: gallery;
  }
  &__data {
    grid-area: data;
  }
}
.specialist-one__content {
  display: grid;
  grid-template-columns: 42% auto;
  grid-template-areas:
    "header header"
    "photo data"
    "gallery .";
  grid-gap: 35px 75px;
  @media(max-width: 991px) {
    grid-template-columns: 100%;
    grid-template-areas:
      "photo"
      "header"
      "data"
      "gallery";
    grid-gap: 15px;
  }
}
.specialist-block {
  &__header {
    &-inner {
      padding: 20px 0;
      border-top: 1px solid rgba(29, 39, 74, 0.1);
      border-bottom: 1px solid rgba(29, 39, 74, 0.1);
      @media(max-width: 991px) {
        padding: 15px 0;
        display: flex;
        flex-wrap: wrap;
        border-top: 0;
      }
      .chat-icon {
        display: inline-block;
        width: 45px;
        height: 45px;
        margin-right: 15px;
        -webkit-box-shadow: 0 2px 10px rgba(24,33,62,.2);
        box-shadow: 0 2px 10px rgba(24,33,62,.2);
        border-radius: 50%;
        background: url(~@/assets/img/icon/chat-icon-black.svg) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-size: 25px;
        background-position: center center;
        flex-shrink: 0;
      }
      .favorite-icon {
        width: 45px;
        height: 45px;
        margin-right: 15px;
        margin-left: 0;
        background: url(~@/assets/img/icon/favorite.svg) no-repeat;
        background-position: center top 14px !important;
        background-size: 19px;
        @media(max-width: 991px) {
          margin: 0 15px 0 0;
        }
      }
    }
  }

  &__portfolio {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &-header {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 10px;
    }
    &-all {
      border-radius: 27px;
      font-weight: 500;
      font-size: 16px;
    }
    .location-icon {
      display: inline-block;
      width: 17px;
      height: 26px;
      margin-right: 10px;
      background: url(~@/assets/img/icon/location-full-black.svg) no-repeat;
    }
    .portfolio-icon {
      display: inline-block;
      width: 20px;
      height: 18px;
      margin-right: 10px;
      background: url(~@/assets/img/icon/portfolio-icon.svg) no-repeat;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 34px;
    line-height: 37px;
    @media(max-width: 991px) {
      display: block;
      width: 100%;
      padding-bottom: 15px;
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 24px;
      line-height: 26px;
      border-bottom: 1px solid rgba(29, 39, 74, 0.1);
    }
  }

  &-subtitle {
    font-family: $baseFont;
    font-size: 21px;
    line-height: 23px;
    span {
      opacity: 0.5;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }
  }

  &__action {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      color: $blue;
    }
  }

  &__info {
    flex: 1;
    margin-bottom: 50px;
    @media(max-width: 991px) {
      margin-bottom: 15px;
    }
  }

  &__info-line {
    @media(max-width: 991px)  {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 12px;
    }
    &:not(:last-child) {
      margin-bottom: 25px;
      @media(max-width: 991px) {
        margin-bottom: 12px;
      }
    }
  }

  &__info-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 10px;
    opacity: 0.4;
    @media(max-width: 991px) {
      font-size: 18px;
      line-height: 19px;
      font-weight: 500;
    }
  }

  &__info-text {
    font-size: 18px;
    letter-spacing: 0.01em;
    @media(max-width: 991px) {
      font-size: 14px;
      line-height: 15px;
      letter-spacing: 0.01em;
    }
  }

  &__rating-inner {
    @media(max-width: 991px) {
      order: 2;
      margin-bottom: 10px;
    }
  }

  &__rating-ball {
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
    font-size: 35.25px;
    line-height: 37px;
    color: $orange;
    @media(max-width: 991px) {
      font-size: 22px;
    }
  }

  &__rating-reviews {
    display: inline-block;
    letter-spacing: 0.01em;
    opacity: 0.5;
    font-size: 16px;
    @media(max-width: 991px) {
      font-size: 14px;
    }
  }

  &__services-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 20px;
    @media(max-width: 991px) {
      font-size: 21px;
      line-height: 23px;
    }
  }

  &__services  {
    @media(max-width: 991px) {
      order: 6;
      margin-bottom: 30px;
    }
  }

  &__services-item {
    cursor: pointer;

    overflow: hidden;
    &:first-child {
      border-top: 1px solid rgba(29, 39, 74, 0.1);
    }
    .slide__item.active {
      .specialist-block__services-icon {
        margin-right: 20px;
      }
      .specialist-block__services-next {
        display: none;
      }
      .specialist-block__services-back {
        display: inline-block;
      }
    }
  }

  &__services-header {
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid rgba(29, 39, 74, 0.1);
    &:hover {
      color: $blue;
      transition: 0.3s;
      .specialist-block__services-subtitle {
        font-weight: 500;
        .price {
          opacity: 1;
        }
        .old {
          text-decoration: line-through;
          opacity: 0.5;
        }
      }
      .specialist-block__services-next,
      .specialist-block__services-back {
        svg {
          fill: $blue;
          transition: 0.3s;
        }
      }
    }
  }

  &__services-icon {
    width: 56px;
    height: 56px;
    padding: 10px;
    border-radius: 50%;
    background: rgba(29, 39, 74, 0.05);
    margin-right: 70px;
    @media(max-width: 991px) {
      width: 40px;
      height: 40px;
      padding: 5px;
      margin-right: 10px;
    }
  }

  &__services-subtitle {
    font-size: 21px;
    line-height: 28px;
    flex: 1;
    margin-right: 50px;
    @media(max-width: 991px) {
      font-size: 16px;
      line-height: 20px;
    }
    .price {
      font-weight: 500;
      font-size: 16px;
      opacity: 0.5;
      margin-left: 15px;
      &.old {
        font-size: 14px;
        text-decoration: line-through;
      }
      @media(max-width: 991px) {
        font-size: 14px;
      }
    }
  }

  &__services-back,
  &__services-back svg,
  &__services-next,
  &__services-next svg {
    width: 9px;
    height: 16px;
    vertical-align: top;
    svg {
      fill: $black;
    }
  }

  &__services-back {
    display: none;
    transform: rotate(180deg);
    margin-right: 15px;
  }

  &__services-next {
    position: absolute;
    right: 20px;
  }

  &__services-content {
    & > .row {
      padding-top: 15px;
    }
  }

  &-portfolio {
    .specialist__block-gellary img {
      border-radius: 7px;
    }
  }

  &__gallery {
    .cool-lightbox__slide__img img {
      object-fit: contain;
    }
  }
}

@media(max-width: 767px) {
  .specialist-block {
    &__favorite,
    &__share {
      .specialist-block__action-text {
        display: none;
      }
      .favorite-icon,
      .share-icon {
        margin: 0;
      }
    }
    &__chat {
      padding: 10px 20px;
      border: 1px solid rgba(29, 39, 74, 0.3);
      border-radius: 36px;
      font-size: 14px;
      .chat-icon {
        box-shadow: none;
        width: 25px;
        height: 25px;
        background-size: 23px;
        margin-right: 5px;
      }
    }

    &__services-content {
      & > .row {
        padding-top: 20px;
      }
      .populat-service__block {
        .best-price-label {
          width: 21px;
          height: 34px;
          background-size: contain;
        }
        &-img {
          margin-bottom: 10px;
        }
      }
      .populat-service__blocks-footer {
        margin-top: 35px;
        .btn-see-all {
          width: 100%;
          font-size: 15px;
          padding: 10px;
        }
      }
    }
  }
}


@media (max-width: 575px) {
  .specialist-block {
    &__gellary.portfolio,
    &__gellary.insta {
      margin-right: -12px;
    }
  }
}
