<template>
  <div>
    <Header />
    <slot />
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Common/Header/Header";
import Footer from "@/components/Common/Footer/Footer";

export default {
  components: {
    Header,
    Footer,
  },
  name: "Default",
};
</script>

<style lang="scss"></style>
