<template>
  <div
    :class="{
      slide__item: 1,
      active: isShow,
    }"
  >
    <div @click="toggleSlide" class="slide__header">
      <div class="slide__header-inner">
        <slot name="toggle" />
      </div>
    </div>

    <transition name="slide">
      <div
        v-show="isShow"
        :class="{
          slide__content: 1,
          'slide-in': isShow,
          'slide-out': !isShow,
        }"
      >
        <slot name="content" />
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "SlideView",
  props: {
    show: { type: Boolean, default: false },
  },

  data() {
    return {
      isShow: false,
    };
  },

  watch: {
    show: {
      immediate: true,
      handler(val) {
        this.isShow = val;
      },
    },
  },

  methods: {
    toggleSlide() {
      this.isShow = !this.isShow;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../styles/slide-view";
</style>
