<template>
  <div class="col-xl-6 col-lg-6 col-md-6 col-6">
    <div class="populat-service__block">
      <div class="populat-service__block-inner">
        <div class="populat-service__block-header">
          <span class="shop-favorite"></span>
          <span v-if="service.isBestPrice" class="best-price-label"></span>
          <div class="populat-service__block-img">
            <img :src="service.cover" />
          </div>
        </div>
        <div class="populat-service__block-footer">
          <div
            class="populat-service__rating d-flex align-items-center justify-content-between"
          >
            <div class="populat-service__rating-left d-flex align-items-center">
              <span class="populat-service__rating-value">
                {{ service.rating }}
              </span>
              <div class="populat-service__rating-reviews">
                {{ $tc("review.count", service.reviewsCount) }}
              </div>
            </div>

            <div class="populat-service__rating-right">
              <span class="promo-time-procedure">
                <span>{{ $gd(service.duration) }}</span>
              </span>
            </div>
          </div>
          <a href="#" class="populat-service__name">
            {{ service.serviceTitle }}
          </a>
          <div class="populat-service__prices d-flex">
            <template v-if="service.priceWithDiscount">
              <div class="populat-service__price old">
                от {{ service.price }}руб.
              </div>
              <div class="populat-service__price new">
                от {{ service.priceWithDiscount }} руб.
              </div>
            </template>
            <div v-else class="populat-service__price new">
              от {{ service.price }} руб.
            </div>
          </div>
          <button
            class="btn populat-service__block-btn btn-border"
            @click="$emit('book-click')"
          >
            Забронировать
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { favoritesModule } from "@/store";

import { createNamespacedHelpers } from "vuex";

const specialistStore = createNamespacedHelpers("Specialist");

export default {
  name: "SpecialistServiceCard",

  props: {
    serviceId: { type: Number, required: true },
    specialistId: { type: Number, required: true },
  },

  data: () => ({
    isFavorite: false,
  }),

  computed: {
    ...specialistStore.mapGetters(["services"]),
    service() {
      return (
        this.services.find(
          (item) => item.specialistService.id === this.serviceId
        ).specialistService || {}
      );
    },
  },

  created() {
    this.isFavorite = favoritesModule.favoriteServices.includes(
      this.service.serviceId
    );
  },

  methods: {
    toggleFavorite() {
      this.isFavorite = !this.isFavorite;
      favoritesModule.setFavoriteService({
        serviceId: this.service.serviceId,
        specialistId: this.specialistId,
        isFavorite: this.isFavorite,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../styles/specialists-service-card";
</style>
