<template>
  <div class="specialist-block__header">
    <div
      class="
        specialist-block__header-inner
        d-flex
        align-items-center
        justify-content-between
      "
    >
      <div class="specialist-block__title">
        Специалист {{ specialist.name }}
      </div>
      <div
        class="
          specialist-block__actions
          d-flex
          align-items-center
          justify-content-between
        "
      >
        <div
          class="
          specialist-block__action
          specialist-block__chat
          d-flex
          align-items-center
          "
          @click="startChat"
        >
          <i class="chat-icon"></i>
          <span class="specialist-block__action-text">
            {{ $i18n.t("chat.start_chat") }}
          </span>
        </div>
        <div
          :class="{ active: isFavorite }"
          @click="toggleFavoriteSpecialist"
          class="
            specialist-block__action specialist-block__favorite
            add-to-favorite
          "
        >
          <span class="favorite-icon"></span>
          <span class="specialist-block__action-text">
            Добавить в избранное
          </span>
        </div>
        <div
          @click="shareLink"
          class="
            specialist-block__action specialist-block__share
            d-flex
            align-items-center
          "
        >
          <span class="share-icon"></span>
          <span class="specialist-block__action-text">Поделиться</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import { chatsModule } from "@/views/User/modules/Chat/store/chats-module";

import { copyToClipboard } from "@/helpers/copy-to-clipboard";

const specialistStore = createNamespacedHelpers("Specialist");

export default {
  name: "SpecialistHeader",

  data() {
    return {
      newChatId: null,
    };
  },

  computed: {
    ...specialistStore.mapGetters(["specialist", "isFavorite"]),
    chats() {
      return chatsModule._chats;
    },
    isNewChatReady() {
      return this.chats.findIndex((chat) => chat.id === this.newChatId) > -1;
    },
  },

  methods: {
    ...specialistStore.mapActions(["toggleFavoriteSpecialist"]),
    shareLink() {
      copyToClipboard(location.href);
      this.$doNoty.success("Ссылка успешно скопирована!");
    },
    startChat() {
      chatsModule
        .startChat(this.specialist.userId)
        .then((chatId) => (this.newChatId = chatId))
        .catch((ex) => this.$doNoty.error(ex));
    },
  },

  watch: {
    isNewChatReady(value) {
      if (value) this.$router.push(`/user/chat/${this.newChatId}`);
    },
  },
};
</script>
