<template>
  <div class="work-place__block">
    <router-link :to="`/${item.slug}`" class="work-place__link d-block">
      <div class="work-place__header">
        <img :src="item.images[0]" alt="" />
      </div>
      <div class="work-place__content">
        <div class="work-place__name d-flex align-items-center">
          <div class="work-place__logo">
            <img :src="item.logo" alt="" />
          </div>
          <div class="work-place__title">{{ item.name }}</div>
        </div>
        <div class="work-place__address">{{ item.address }}</div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  props: {
    item: { type: Object, required: true },
  },
};
</script>

<style lang="scss">
@import "../styles/work-place";
</style>
