<template>
  <div class="specialist-block__services">
    <div class="specialist-block__services-title">Услуги</div>
    <div class="specialist-block__services-items">
      <div
        v-for="category of specialistCategories"
        :key="category.id"
        class="specialist-block__services-item"
      >
        <SlideView>
          <template #toggle>
            <div
              class="specialist-block__services-header d-flex align-items-center position-relative"
            >
              <div class="specialist-block__services-icon">
                <img
                  :src="category.icon || require('@/assets/img/no-image.png')"
                />
              </div>
              <span class="specialist-block__services-back">
                <svg>
                  <use xlink:href="#arrow_specialist"></use>
                </svg>
              </span>
              <div class="specialist-block__services-subtitle">
                {{ category.title }}
                <template
                  v-if="getSpecialistCategoryMinPriceWithDiscount(category.id)"
                >
                  <span class="price old">
                    От
                    {{ getSpecialistCategoryMinPrice(category.id) }} ₽
                  </span>
                  <span class="price">
                    От
                    {{ getSpecialistCategoryMinPriceWithDiscount(category.id) }}
                    ₽
                  </span>
                </template>
                <span v-else class="price">
                  От {{ getSpecialistCategoryMinPrice(category.id) }} ₽
                </span>
              </div>
              <span class="specialist-block__services-next">
                <svg>
                  <use xlink:href="#arrow_specialist"></use>
                </svg>
              </span>
            </div>
          </template>
          <template #content>
            <div class="specialist-block__services-content">
              <div class="row">
                <SpecialistServiceCard
                  v-for="service in categoryServices[category.id]"
                  :key="service.id"
                  :service-id="service.specialistService.id"
                  :specialist-id="specialist.id"
                  @book-click="setOrder(service)"
                />
              </div>
            </div>
          </template>
        </SlideView>
      </div>
    </div>
  </div>
</template>

<script>
import SlideView from "./SlideView.vue";
import SpecialistServiceCard from "./SpecialistServiceCard.vue";

import { orderModule } from "@/store";

import { createNamespacedHelpers } from "vuex";

const specialistStore = createNamespacedHelpers("Specialist");

export default {
  name: "SpecialistCategories",
  components: {
    SlideView,
    SpecialistServiceCard,
  },
  computed: {
    ...specialistStore.mapGetters([
      "specialist",
      "specialistCategories",
      "getSpecialistCategoryMinPrice",
      "getSpecialistCategoryMinPriceWithDiscount",
      "services",
    ]),
    categoryServices() {
      return this.specialistCategories.reduce((acc, category) => {
        acc[category.id] = this.services.filter(
          (item) => item.specialistService.categoryId === category.id
        );
        return acc;
      }, {});
    },
  },

  methods: {
    setOrder(service) {
      orderModule.setOrder({
        salon: service.salon,
        serviceId: service.specialistService.serviceId,
        serviceTitle: service.specialistService.serviceTitle,
        categoryId: service.specialistService.categoryId,
        specialistId: this.specialist.id,
      });
      if (!orderModule.order.serviceId) return;

      this.$bvModal.show("order-modal");
    },
  },
};
</script>

<style lang="scss" scoped>
.populat-service__block-btn {
  margin-top: 25px;
  border-radius: 47px;
  font-size: 18px;
  font-weight: 500;

  @media (max-width: 767px) {
    font-size: 13px;
    margin-top: 15px;
  }
}
</style>
