<template>
  <div class="specialist-block__gallery">
    <div class="specialist-block__portfolio">
      <div class="specialist-block__portfolio-header d-flex">
        <i class="location-icon"></i>
        Места предоставления услуг
      </div>
      <SpecialistOneSlider
        type="work-place"
        :isLoading="isSpecialistGalleryLoading"
      >
        <div v-for="salon in salons" :key="salon.id" class="swiper-slide">
          <SpecialistWorkPlace :item="salon" />
        </div>
      </SpecialistOneSlider>
    </div>
    <div class="specialist-block__portfolio">
      <div class="specialist-block__portfolio-header d-flex">
        <i class="portfolio-icon"></i>
        Портфолио
      </div>
      <SpecialistOneSlider
        type="portfolio"
        :isLoading="isSpecialistGalleryLoading"
      >
        <div v-for="image in gallery" :key="image.id" class="swiper-slide">
          <div class="gellary-item">
            <img :src="image.name" alt="" />
          </div>
        </div>
      </SpecialistOneSlider>
    </div>
    <button
      @click="lightboxIndex = 0"
      class="btn btn-border w-100 specialist-block__portfolio-all"
    >
      Смотреть все портфолио
    </button>
    <CoolLightBox
      ref="box"
      :items="images"
      :index="lightboxIndex"
      thumbsPosition="bottom"
      effect="fade"
      @on-open="showThumbs"
      @close="lightboxIndex = null"
    >
    </CoolLightBox>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";

import SpecialistOneSlider from "@/components/Sliders/PortfolioSlider/PortfolioSlider";
import SpecialistWorkPlace from "./SpecialistWorkPlace.vue";

const specialistStore = createNamespacedHelpers("Specialist");

export default {
  name: "SpecialistGallery",
  components: {
    SpecialistOneSlider,
    SpecialistWorkPlace,
  },
  computed: {
    ...specialistStore.mapState(["isSpecialistGalleryLoading"]),
    ...specialistStore.mapGetters(["specialist", "salons", "gallery"]),

    images() {
      return this.gallery.map((item) => item.name);
    },
  },
  data() {
    return {
      lightboxIndex: null,
    };
  },
  methods: {
    showThumbs() {
      this.$refs.box.showThumbs = true;
    },
  },
};
</script>
