<template>
  <div class="specialist-block__info">
    <div class="specialist-block__info-line">
      <div class="specialist-block__info-title">Специализация</div>
      <div class="specialist-block__info-text">{{ specialist.jobTitle }}</div>
    </div>
    <div class="specialist-block__info-line">
      <div class="specialist-block__info-title">Стаж</div>
      <div class="specialist-block__info-text">
        {{ $tc("years.count", specialist.workExp) }}
      </div>
    </div>
    <div class="specialist-block__info-line">
      <div class="specialist-block__info-title">О себе</div>
      <div v-html="specialist.description" class="specialist-block__info-text"></div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";

const specialistStore = createNamespacedHelpers("Specialist");

export default {
  name: "SpecialistSummary",

  computed: specialistStore.mapGetters(["specialist"]),
};
</script>
