<template>
  <div class="profile-info__line">
    <div class="profile-info__line-inner d-flex align-items-center">
      <div class="profile__load-avatar avatar-block">
        <div class="avatar-block__default">
          <img :src="avatar" alt="avatar" />
        </div>
      </div>

      <div
        @click="$bvModal.show('avatar-modal')"
        class="load-avatar__btn profile-info__change"
      >
        Изменить
      </div>
    </div>
  </div>
</template>

<script>
import { accountModule } from "@/store";

export default {
  name: "AvatarView",

  computed: {
    avatar() {
      return accountModule.avatar;
    },
  },
};
</script>
