<template>
  <div class="profile-confirm">
    <div class="profile-confirm__title">
      <slot name="title" :isFirstSend="isFirstSend">
        Введите 6-ти значный код
      </slot>
    </div>
    <PincodeInput
      v-model="pinCode"
      placeholder="0"
      :length="6"
      :autofocus="false"
      :class="{ error: $v.pinCode.$error }"
      @input="setPin"
      class="profile-confirm__input"
    />

    <div v-if="$v.pinCode.$error" class="errors">
      <p class="error__text" v-if="!$v.pinCode.required">
        {{ $t("auth.requiredToFill") }}
      </p>
      <p class="error__text" v-if="!$v.pinCode.numeric">
        {{ $t("auth.onlyNumber") }}
      </p>
      <p class="error__text" v-if="!$v.pinCode.minLength">
        {{ $t("auth.pinLength") }}
      </p>
    </div>

    <div
      v-if="!isFirstSend"
      class="profile-confirm__text profile-confirm__hint"
    >Не пришло оповещение?</div>
    <button
      :disabled="rep_send.isRunning"
      @click="sendRepeat"
      class="btn btn-black profile-confirm__button"
    >
      {{ isFirstSend ? $t("auth.sendCode") : $t("auth.sendCodeAgain") }}
    </button>
    <div class="profile-confirm__text profile-confirm__timer">{{ prettyTime }}</div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import PincodeInput from "vue-pincode-input";
import { validationMixin } from "vuelidate";
import {
  required,
  numeric,
  minLength,
} from "vuelidate/lib/validators";

export default {
  props: {
    form: { type: Object, required: true },
    isError: { type: Boolean, default: false },
  },

  components: {
    PincodeInput,
  },

  validations: {
    pinCode: {
      required,
      numeric,
      minLength: minLength(6),
    },
  },
  mixins: [validationMixin],

  data: () => ({
    pinCode: "",
    isFirstSend: true,
    rep_send: {
      isRunning: false,
      minute: 1,
      second: 0,
      time: 0,
      timer: null,
    },
  }),

  computed: {
    prettyTime() {
      let time = this.rep_send.time / 60;
      let minutes = parseInt(time);
      let secondes = Math.round((time - minutes) * 60);
      if (minutes < 10) {
        minutes = `0${minutes}`;
      }
      if (secondes < 10) {
        secondes = `0${secondes}`;
      }
      return minutes + ":" + secondes;
    },
  },

  mounted() {
    this.setTime();
  },

  methods: {
    ...mapActions("Auth", ["sendConfirmCode"]),

    setPin() {
      this.$emit("setPin", this.pinCode);
    },

    sendRepeat() {
      if (this.rep_send.isRunning || this.isError)
        return;
      this.startTimer();
      this.sendCode();
      this.pinCode = "";
      this.isFirstSend = false;
    },

    sendCode() {
      if (!this.isError) {
        this.sendConfirmCode(this.form);
      }
    },

    startTimer() {
      this.rep_send.isRunning = true;
      if (!this.rep_send.timer) {
        this.rep_send.timer = setInterval(() => {
          if (this.rep_send.time > 0) {
            this.rep_send.time--;
          } else {
            clearInterval(this.rep_send.timer);
            if (this.rep_send.time == 0) {
              this.rep_send.isRunning = false;
            }
            this.rep_send.isRunning = false;
            this.setTime();
          }
        }, 1000);
      }
    },

    setTime() {
      this.rep_send.time = this.rep_send.minute * 60 + this.rep_send.second;
    },
  },
};
</script>
