<template>
  <div class="profile-info__line">
    <div class="profile-info__line-inner">
      <div class="profile-info__line-body">
        <div class="profile-info__line-title">Email</div>
        <input
          ref="email"
          v-model="email"
          type="email"
          name="email"
          :class="[isActive ? 'active' : 'not-active']"
          :readonly="!isActive"
          @input="checkEmail"
        />

        <div v-if="$v.email.$error" class="profile-info__line-errors">
          <template v-if="!$v.email.required">
            {{ $t("auth.requiredToFill") }}
          </template>
          <template v-else>
            {{ $t("auth.phoneEmail") }}
          </template>
        </div>
      </div>
      <button
        v-if="!isActive"
        class="profile-info__change"
        @click="onChangeClick"
      >
        Изменить
      </button>
      <button
        v-else
        @click="changeEmail"
        class="profile-info__change"
      >
        Сохранить
      </button>
    </div>
    <div
      v-if="isShowConfirm"
      class="profile-info__confirm"
    >
      <ConfirmCode
        :is-error.sync="$v.email.$error"
        :form="{email}"
        @setPin="emailConfirmCode=$event"
      >
        <template #title="{ isFirstSend }">
          <span v-if="isFirstSend">
            Код будет отправлен на ваш e-mail
          </span>
          <span v-else>
            Введите 6-ти значный код, <br>отправленный вам на ваш e-mail
          </span>
        </template>
      </ConfirmCode>
    </div>
  </div>
</template>

<script>
import { accountModule } from "@/store";
import ConfirmCode from "./ConfirmCode.vue";

import { validationMixin } from "vuelidate";
const {
  required,
  email,
} = require("vuelidate/lib/validators");

export default {
  name: "EmailView",

  components: {
    ConfirmCode,
  },

  validations: {
    email: {
      required,
      email,
    },
  },
  mixins: [validationMixin],

  data: () => ({
    isActive: false,
    email: "",
    emailConfirmCode: "",
  }),

  computed: {
    isNewEmail() {
      return accountModule.email !== this.email;
    },
    isValidEmail() {
      return this.$v.email.required && !this.$v.email.$error;
    },
    isShowConfirm() {
      return this.isActive && this.isNewEmail && this.isValidEmail;
    },
  },

  created() {
    this.email = accountModule.email;
  },

  methods: {
    checkEmail() {
      this.$v.$touch();
    },

    async onChangeClick() {
      this.isActive = true;
      this.$refs.email.focus();
    },

    async changeEmail() {
      if (!this.$v.email.$error) {
        accountModule.updateLogin({
          email: this.email,
          emailConfirmCode: this.emailConfirmCode,
        });
      }
    },
  },
};
</script>
