<template>
  <div class="profile-info__line">
    <div class="profile-info__line-inner">
      <div class="profile-info__line-body">
        <div class="profile-info__line-title">Имя</div>
        <input
          ref="name"
          v-model="name"
          type="text"
          name="name"
          :class="[isActive ? 'active' : 'not-active']"
          :readonly="!isActive"
        />
      </div>
      <div class="profile-info__change" @click="onChangeClick">
        {{ isActive ? "Сохранить" : "Изменить" }}
      </div>
    </div>
  </div>
</template>

<script>
import { accountModule } from "@/store";

export default {
  name: "NameView",

  data: () => ({
    isActive: false,
    name: "",
  }),

  created() {
    this.name = accountModule.fullName;
  },

  methods: {
    async onChangeClick() {
      if (!this.isActive) {
        this.isActive = true;
        this.$refs.name.focus();
        return;
      }

      this.isActive = false;
      const [firstName, lastName] = this.name.split(" ");
      await accountModule.updateUserInfo({
        params: { firstName, lastName },
      });
    },
  },
};
</script>
