<template>
  <div class="profile-info__line">
    <div class="profile-info__line-inner">
      <div class="profile-info__line-body">
        <div class="profile-info__line-title">Телефон</div>
        <input
          ref="phone"
          v-model="phone"
          type="phone"
          name="phone"
          :class="[isActive ? 'active' : 'not-active']"
          :readonly="!isActive"
          @input="checkPhone"
        />


        <div v-if="$v.phone.$error" class="profile-info__line-errors">
          <template v-if="!$v.phone.required">
            {{ $t("auth.requiredToFill") }}
          </template>
          <template v-else>
            {{ $t("auth.phoneWrong") }}
          </template>
        </div>
      </div>
      <button
        v-if="!isActive"
        class="profile-info__change"
        @click="onChangeClick"
      >
        Изменить
      </button>
      <button
        v-else
        @click="changePhone"
        class="profile-info__change"
      >
        Сохранить
      </button>
    </div>
    <div
      v-if="isShowConfirm"
      class="profile-info__confirm"
    >
      <ConfirmCode
        :is-error.sync="$v.phone.$error"
        :form="{phone}"
        @setPin="phoneConfirmCode=$event"
      >
        <template #title="{ isFirstSend }">
          <span v-if="isFirstSend">
            Код будет отправлен на ваш телефон
          </span>
          <span v-else>
            Введите 6-ти значный код, <br>отправленный вам на ваш телефон
          </span>
        </template>
      </ConfirmCode>
    </div>
  </div>
</template>

<script>
import { accountModule } from "@/store";
import ConfirmCode from "./ConfirmCode.vue";

import { validationMixin } from "vuelidate";
const {
  required,
} = require("vuelidate/lib/validators");

export default {
  name: "PhoneView",

  components: {
    ConfirmCode,
  },

  validations: {
    phone: {
      required,
      isTelephone: (value) => /^\+?\d{11,20}$/.test(value),
    },
  },
  mixins: [validationMixin],

  data: () => ({
    isActive: false,
    phone: "",
    phoneConfirmCode: "",
  }),

  computed: {
    isNewPhone() {
      return accountModule.phone !== this.phone;
    },
    isValidPhone() {
      return this.$v.phone.required && !this.$v.phone.$error;
    },
    isShowConfirm() {
      return this.isActive && this.isNewPhone && this.isValidPhone ;
    },
  },

  created() {
    this.phone = accountModule.phone;
  },

  methods: {
    checkPhone() {
      this.$v.$touch();
    },

    async onChangeClick() {
      this.isActive = true;
      this.$refs.phone.focus();
    },

    async changePhone() {
      if (!this.$v.phone.$error) {
        accountModule.updateLogin({
          phone: this.phone,
          phoneConfirmCode: this.phoneConfirmCode,
        });
      }
    },
  },
};
</script>
