.promosale__blocks {
  .promosale__slide {
    position: relative;
    height: calc(100% - 30px);
    margin: 15px 0;
    &-inner {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    &-header {
      position: relative;
      margin-bottom: 20px;
    }
    .shop-favorite {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 40px;
      height: 40px;
      background-size: 18px;
      background-position: top 12px center;
    }
    &-content {
      position: absolute;
      width: 130px;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }
    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 19px;
      color: #675C51;
      margin-bottom: 30px;
      font-weight: 700;
      .big {
        display: block;
        font-size: 20px;
        line-height: 20px;
      }
    }
    &-data {
      font-size: 14px;
      line-height: 17px;
      color: #675C51;
      text-align: center;
      // padding-left: 40px;
      span {
        display: block;
      }
    }

    .promosale__slide-footer {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    /*.star-blur {
        width: 21px;
        height: 20px;
        margin-right: 5px;
        background: url(../img/icon/star-blue.svg) no-repeat;
        opacity: 0.5;
    }*/
    .promosale__slide-raitingValue {
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      margin-right: 10px;
      color: orange;
    }
    .promosale__slide-raitingReviews {
      display: inline-block;
      font-weight: 500;
      font-size: 16px;
      opacity: 0.5;
    }
    .promosale__slide-raiting  {
      margin-bottom: 20px;
    }
    .promo-time-procedure {
      span {
        font-weight: 500;
        font-size: 16px;
        opacity: 0.5;
      }
      &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 5px;
        background: url(~@/assets/img/icon/time-slot.svg) no-repeat;
      }
    }
    .promosale__slide-name {
      flex: 1;
      display: block;
      font-size: 17px;
      color: #000;
      text-decoration: none;
      letter-spacing: 0.01em;
      margin-bottom: 20px;
      &:hover {
        color: blue;
      }
    }
    &-price {
      &.new {
        font-weight: bold;
        font-size: 18px;
      }
      &.old {
        margin-left: 30px;
        text-decoration-line: line-through;
        font-weight: 500;
        font-size: 16px;
        opacity: 0.5;
      }
    }
  }

  &-footer {
    margin-top: 70px;
    .btn-see-all {
      display: inline-block;
      padding: 20px 45px;
      border-radius: 41px;
      font-weight: 600;
      font-size: 18px;
    }
  }
}

.best-price-label {
  position: absolute;
  top: -3px;
  left: 15px;
  display: inline-block;
  width: 27px;
  height: 40px;
  background: url(~@/assets/img/icon/best-price.svg) no-repeat;

  &.promo {
    background: url(~@/assets/img/icon/promo.svg) no-repeat;
  }
}

@media (max-width: 1399px) {
  .promosale__blocks {
    .promosale__slide {
      .shop-favorite {
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-size: 16px;
        background-position: top 8px center;
      }
      &-title {
        font-size: 16px;
        .big {
          font-size: 18px;
          line-height: 18px;
        }
      }
      &-content {
        right: 0;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .promosale__blocks {
    .promosale__slide {
      &-title {
        font-size: 13px;
        .big {
          font-size: 15px;
          line-height: 15px;
        }
      }
      &-content {
        right: 0;
        width: 100px;
      }
      &-data {
        font-size: 13px;
      }
      &-name {
        font-size: 15px;
      }
      &-price {
        &.new {
          font-size: 14px;
        }
        &.old {
          font-size: 13px;
          margin-left: 15px;
        }
      }
    }
  }


}


@media (max-width: 767px) {
  .promosale__blocks {
    .promosale__slide {
      &-header {
        margin-bottom: 10px;
      }
      &-content {
        right: 10px;
        width: 70px;
      }
      &-title {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 10px;
        .big {
          font-size: 12px;
          line-height: 12px;
        }
      }
      &-data {
        font-size: 12px;
        line-height: 15px;
      }
      /*.star-blur {
          width: 16px;
          height: 16px;
          background-size: 16px;
      }*/
      .promosale__slide-raiting {
        margin-bottom: 10px;
      }
      .promosale__slide-raitingValue {
        font-size: 13px;
        margin-right: 5px;
      }
      .promosale__slide-raitingReviews {
        font-size: 10px;
      }
      .promo-time-procedure {
        &:before {
          width: 13px;
          height: 13px;
          background-size: contain;
        }
        span {
          font-size: 11px;
        }
      }
      .promosale__slide-name {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
      }
      .promosale__slide-price {
        &.new {
          font-size: 12px;
        }
        &.old {
          font-size: 10px;
          margin-left: 15px;
        }
      }
    }
    &-footer {
      margin-top: 35px;
      .btn-see-all {
        width: 100%;
        font-size: 15px;
        padding: 10px;
      }
    }
  }

}

@media (max-width: 575px) {
  .promosale__blocks {
    .promosale__slide {
      /*&-content {
          right: 10px;
          width: 120px;
      }*/
      /*&-title {
          font-size: 19px;
          line-height: 20px;
          margin-bottom: 10px;
          .big {
              font-size: 20px;
          }
      }
      &-data {
          font-size: 16px;
          line-height: 17px;
      }*/
      &-content {
        margin-top: 15px;
      }
      .shop-favorite {
        width: 25px;
        height: 25px;
        background-size: 13px;
      }
    }
  }

}
