.banner {
  position: relative;
  &__inner {
    padding: 244px 0 202px;
    background: #e7eae9 url(~@/assets/img/banner.png) right center/contain no-repeat ;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0.55;
    }
    @media (max-width: 1500px) {
      background-position: 109% center;
    }
    @media (max-width: $tabletL) {
      padding: 55px 0 125px;
    }
    @media (max-width: $mobile) {
      background-position: center bottom;
    }
  }
  &__content {
    position: relative;
    z-index: 2;
    @media (max-width: $mobile) {
      z-index: 11;
    }
  }
  &__title {
    max-width: 750px;
    color: $white;
    letter-spacing: -0.015em;
    text-align: center;
    font-weight: 500;
    font-size: 46px;
    line-height: 60px;
    margin: 0 auto 24px
  }

  &__filter {
    max-width: 800px;
    margin: 0 auto;

    &-inner {
      position: relative;
    }
    &-blocks {
      position: relative;
      display: flex;
      flex: 1;
      background: $white;
      box-shadow: 0px 3.32308px 6.64615px rgba(0, 0, 0, 0.25);
      border-radius: 100px;
      padding: 0 35px 0 20px;
      margin-bottom: 29px;
      z-index: 2;
    }
    &-blockInner {
      input {
        border: 0;
        padding: 25px 0;
        font-size: 14px;
        font-weight: 500;
        color: $black;
        opacity: 0.5;
        line-height: 25px;
        height: 100%;
        cursor: pointer;
      }
    }
    &-block {
      padding: 0 20px;
      max-width: 33.333333%;
      flex: 0 0 33.333333%;

      &.opened {
        background-color: rgba($black, 0.1);
      }
      &:not(:last-child) {
        border-right: 1px solid rgba(155, 146, 139, 1);
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      .banner__filter-label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        &.Star:before {
          content: '';
          display: inline-block;
          width: 25px;
          height: 25px;
          vertical-align: middle;
          background: url(~@/assets/img/icon/banner-filter-icon.svg) no-repeat;
          background-size: contain;
        }
        &.calendar:before {
          display: inline-block;
          content: '';
          width: 25px;
          height: 25px;
          vertical-align: middle;
          background: url(~@/assets/img/icon/banner-filter-icon2.svg) no-repeat;
        }
        &.house:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 25px;
          height: 25px;
          background: url(~@/assets/img/icon/banner-filter-icon3.svg) no-repeat;
          background-position: center center;
        }
      }
      &.salon,
      &.service {
        .banner__filter-blockInner {
          position: relative;
          padding-left: 35px;
          height: 100%;
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            display: inline-block;
            width: 16px;
            height: 9px;
            background: url(~@/assets/img/icon/select-arrow.svg) no-repeat;
            cursor: pointer;
          }
        }
      }
      &.datatime {
        &.active {
          background: rgba(29, 39, 74, 0.1);
        }
        .filter-time__block {
          position: relative;
          padding-left: 35px;
          .filter-time__input {
            border: 0;
            width: 100%;
            height: 100%;
            font-size: 14px;
            font-weight: 500;
            color: $black;
            opacity: 0.5;
            line-height: 26px;
            padding: 28px 0;
            background: transparent;
            cursor: pointer;
          }
        }
      }
    }
    &-btn {
      width: 100%;
      border-radius: 91.5385px;
      border: 0;
      letter-spacing: 0.025em;
      font-weight: 500;
      font-size: 23px;
      line-height: 23px;
      padding: 21px;
      filter: unset;
      &:hover {
        background: $black;
        color: $white;
      }
    }
    &-input {
      width: 100%;
      border: 0;
    }
    &-footer {
      max-width: 240px;
      margin: 0 auto;
    }
  }
  &__filter.mobile {
    display: none;
    .banner__filter-block {
      border-right: 1px solid rgba(155,146,139,.2);
    }
  }
}

.banner-filter__dropdown {
  display: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;

  &--active {
    display: block;
  }

  &-content {
    background: $white;
    border-radius: 2px 2px 15px 15px;
    padding-top: 60px;
    margin-top: -30px;
    padding-bottom: 30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  }

  /*FIRST block*/

  &-title,
  &-close {
    display: none;
  }
  &-close {
    position: absolute;
    top: 33px;
    right: 40px;
    width: 14px;
    height: 14px;
    background: url(~@/assets/img/icon/modal-local-close.svg) no-repeat;
    cursor: pointer;
  }
  &-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 35px;
    text-align: center;
  }
  &-search {
    box-shadow: 0 3.32308px 6.64615px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    .banner__filter-label.Star,
    .banner__filter-label.house {
      left: 15px;
    }
  }
  &-input {
    padding: 25px 85px 25px 50px;
    width: 100%;
    border-radius: 100px;
    border: 0;
  }
  &-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    width: 40px;
    height: 40px;
    background: $black url(~@/assets/img/icon/banner-filter-btn.svg) no-repeat;
    background: $black url(~@/assets/img/icon/banner-filter-btnWhite.svg) no-repeat;
    background-position: center center;
    border: 0;
    border-radius: 50%;
    padding: 0;
    transition: 0.5s;
    &:hover {
      // background: rgba(29, 39, 74, 1) url(~@/assets/img/icon/banner-filter-btnWhite.svg) no-repeat;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
      background-position: center center;
    }
  }
  &-block.first {
    padding: 0 50px;
    max-height: 154px;
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
      border-radius: 20px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
      background-color: $black;
    }
  }

  &-loader {
    position: relative;
    height: 120px;

    &-spinner {
      position: absolute;
      left: calc(50% - 25px);
      top: calc(50% - 25px);
      z-index: 50;
    }
  }

  .first-block {
    &__title {
      font-weight: 500;
      font-size: 15px;
      opacity: 0.5;
      margin-bottom: 20px;
    }
    &__items {
      margin-top: -10px;
    }
    &__item {
      position: relative;
      padding: 10px 0;
      &:hover {
        color: $blue;
      }
      &:not(:last-child) {
        border-bottom: 1px solid rgba(29, 39, 74, 0.1);
      }
    }
    &__item-name {
      width: calc(100% - 30px);
      font-weight: 500;
      font-size: 13px;
      cursor: pointer;
    }
    &__item-remove {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      display: inline-block;
      width: 8px;
      height: 8px;
      background: url(~@/assets/img/icon/banner-filter-remove.svg) no-repeat;
      cursor: pointer;
    }
    &__tegs {
      margin: -5px;
    }
    &__teg {
      display: inline-block;
      padding: 5px;
      cursor: pointer;

      &:hover {
        .first-block__teg-name {
          background: rgba(29, 39, 74, 0.08);
          transition: 0.5s;
        }
      }
      &-name {
        border-radius: 52px;
        background: rgba(29, 39, 74, 0.05);
        padding: 5px 10px;
        font-weight: 500;
        font-size: 13px;
        transition: 0.5s;
      }
    }
    &__teg-icon {
      display: inline-block;
      width: 17px;
      margin-right: 5px;
      img {
        vertical-align: middle;
      }
    }
  }

  /*------------------*/
  &-items {
    height: 170px;
    &.custom-scroll {
      .banner-filter__dropdown-item {
        margin-right: 40px;
      }
    }
  }
  &-item {
    padding: 10px 10px 10px 15px;
    cursor: pointer;
    &:hover {
      color: $blue;
      mark {
        color: $blue;
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid rgba(29, 39, 75, 0.1);
    }
    mark {
      font-weight: 500;
      background: none;
      color: $black;
    }
    span {
      opacity: 0.5;
    }
  }
  &-itemIcon {
    display: inline-block;
    width: 19px;
    margin-right: 10px;
    img {
      vertical-align: middle;
    }
  }
}

.banner-filter__dropdown.salon {
  .banner-filter__dropdown-block.second {
    padding: 0 50px;
  }
  .banner-filter__dropdown-items {
    height: auto;
    margin-bottom: 25px;
  }
  .banner-filter__dropdown-item {
    padding: 10px 0;
  }
  .custom-input__text {
    font-weight: 500;
    display: block;
    padding: 0 35px 0 0;
    width: 100%;
    &:before,
    &:after {
      right: 0;
      left: auto;
    }
  }
  .banner-filter__salon-location {
    display: none;
    &Inner {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 25px;
      background: rgba(97, 130, 247, 0.03);
      border-top: 1px solid rgba(97, 130, 247, 0.1);
      border-bottom: 1px solid rgba(97, 130, 247, 0.1);
      color: $blue;
      font-weight: 500;
      font-size: 13px;
      &:before {
        content: '';
        display: inline-block;
        width: 22px;
        height: 28px;
        background: url(~@/assets/img/icon/location-blue.svg) no-repeat;
        background-position: center;
        margin-right: 10px;
      }
    }
  }
}

.banner-filter__datetimepicker,
.banner-filter__dropdown.datatime {
  top: 36px;
  left: 0;
  width: 100%;
  padding: 36px + 34px 30px 55px 80px;
  background: $white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
  border-radius: 0 0 15px 15px;
  border: 0;
  z-index: 1;

  @media (max-width: $tabletL) {
    top: 0;
    padding: 40px 30px;
    border-radius: 5px;
    z-index: 3;
    .banner-filter__datepicker {
      margin: 0 25px 0 0;
    }
    .banner-filter__timepicker {
      width: 385px;
    }
    .banner-filter__time-slot {
      width: 80px !important;
    }
  }
  @media (max-width: $tablet) {
    .banner-filter__datepicker {
      margin: 0 auto;
      display: flex;
      width: 100%;


      .mx-datepicker-main {
        float: none;
        margin: 0 auto 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(29, 39, 74, 0.1);
      }
    }

    .banner-filter__timepicker {
      float: none;
      margin: 15px auto;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(29, 39, 74, 0.1);
      overflow-y: auto;
    }

    .banner-filter__time-slots {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  @media (max-width: $mobile) {
    position: fixed;
    top: 55px;
    height: calc(100% - 118px);
    width: 100%;
    padding: 0 0 65px;
    border-radius: 0;
    overflow-y: scroll;
    z-index: 1;

    .banner-filter__timepicker {
      width: 100%;
    }

    .banner-filter__time-slots {
      width: 100%;
      height: 100% !important;

      .banner-filter__time-slot {
        width: 80px;
        height: 35px;
      }
    }
  }
  .banner-filter__dropdown-title  {
    display: block;
  }
  .banner-filter__datepicker {
    margin: 0 70px 0 0;
    width: 224px;
    float: left;
  }
  .mx-datepicker-popup {
    position: unset !important;
    box-shadow: none;
    border: none;
  }
  .mx-input-wrapper {
    display: none;
  }
  .mx-btn-current-month {
    float: none;
    width: 100px!important;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
  }
  .mx-table-month td {
    text-transform: capitalize;
  }
  .mx-btn {
    color: $black;

    &:hover {
      color: $blue;
    }
  }
  .xdsoft_monthpicker .xdsoft_prev,
  .xdsoft_monthpicker .xdsoft_next {
    position: absolute;
    top: 0;
  }
  .xdsoft_monthpicker .xdsoft_prev {
    left: 50px;
  }
  .xdsoft_monthpicker .xdsoft_next {
    right: 50px;
  }
  .banner-filter__datetimepicker  {
    .mx-calendar {
      padding: 0;
    }

    .mx-calendar-content td,
    .mx-calendar-content th {
      background: none;
      border: 0;
      font-family: $baseFont !important;
      font-size: 14px;
      font-weight: 500;
    }
    .mx-calendar-content th {
      text-transform: uppercase;
      color: $black;
      opacity: 0.5;
      height: 30px;
    }
    .mx-calendar-content td {
      text-align: center;
      color: $black;
      div {
        padding: 5px 0;
      }
      &.active {
        box-shadow: none;
        color: $blue;
        font-weight: 600;
      }
      &.not-current-month {
        opacity: 0.5;
        cursor: default;
      }
      &:hover {
        background: none !important;
        color: $blue !important;
      }
    }
    .mx-calendar {
      .mx-btn-icon-double-left,
      .mx-btn-icon-double-right {
        display: none;
      }
    }
  }
  .banner-filter__timepicker {
    margin: 0;
    width: 390px;
    float: left;
    text-align: center;

    .calendar-time__title {
      font-weight: 600;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      margin-bottom: 5px;
    }

    .banner-filter__time-slots {
      height: 220px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(97, 130, 247, 0.2);
        border-radius: 15px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $blue;
        outline: none;
        border-radius: 7px;
      }
    }

    .banner-filter__time-slot {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 88px;
      height: 45px;
      background: #F4F4F6;
      border-radius: 2px;
      margin: 3px;
      border: 0;
      color: $black;
      font-size: 14px;
      font-family: $baseFont;
      font-weight: 400;
      cursor: pointer;

      &:hover {
        background: #DFE6FD;
        color: $black;
        border: 1px solid $blue;
      }

      &_active {
        background: $blue !important;
        color: $white !important;
        font-weight: 500;
      }
    }
  }
}

.calendar-close-clone {
  display: none;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 89px;
  right: 40px;
  z-index: 999;
}

.service-select,
.salon-select {
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: $tabletL) {
  .banner {
    &__title {
      font-weight: 500;
      font-size: 26px;
      line-height: 33px;
      margin-bottom: 30px;
    }
    &__filter-blocks {
      flex-wrap: wrap;
      border: 0;
      box-shadow: none;
      background: transparent;
      margin-bottom: 25px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      padding: 5px 15px;
      background: $white;
    }
    &__filter-blockInner {
      input,
      .filter-time__input {
        padding: 15px 0 !important;
      }
    }
    &__filter-block {
      padding: 0;
      max-width: 100%;
      flex: 0 0 100%;
      box-shadow: none;
      border-radius: 0;
      background: $white;
      &:first-child {
        border-radius: 5px 5px 0 0;
      }
      &:last-child {
        border-radius: 0 0 5px 5px;
      }
      &:not(:last-child) {
        border-right: 0;
        border-bottom: 1px solid rgba(29, 39, 74, 0.05);
      }
      &.service,
      &.salon {
        .banner__filter-blockInner:after {
          display: none;
        }
      }
      /*&.middle {
          background: transparent;
          box-shadow: none;
          padding: 0;
          margin-bottom: 0;
          .banner__filter-blockInner {
              flex-wrap: wrap;
          }
          .filter-time__block,
          .filter-data__block {
              width: 100%;
              padding: 15px;
              padding-left: 115px;
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
              border-radius: 82.3245px;
              background: $white;
              margin-bottom: 7px;
              .banner__filter-label {
                  left: 15px;
                  min-width: 88px;
                  &:before {
                      margin-right: 5px;
                  }
              }
          }
          .banner__filter-blockInner {
              padding-left: 0;
          }
      }*/
      /*.banner__filter-label {
          font-size: 14px !important;
          padding-right: 7px;
          margin-right: 10px;
          border-right: 1px solid rgba(29, 39, 75, 0.1);
          min-width: 88px;
          span {
              opacity: 0.5;
          }
      }*/
      /*.banner__filter-blockInner {
          padding-left: 100px;
          &.service {
              .banner__filter-label {
                  &:before {
                      width: 29px;
                      height: 29px;
                      background-size: 29px;
                      margin-right: 5px;
                  }
              }
          }
      }*/
    }
    /*&__filter-block:nth-child(2) {
        max-width: 100%;
        flex: 0 0 100%;
    }*/
    &__filter-footer {
      max-width: 100%;
    }
    &__filter-btn {
      font-size: 18px;
      padding: 16px;
      background: $black;
      font-weight: 500;
      &:after {
        display: none;
      }
    }
  }

  .banner-filter__dropdown {
    &-search,
    &-content {
      border-radius: 5px;
    }
  }
}

@media (max-width: $mobile) {
  body.banner-filter-open {
    overflow: hidden;
  }
  .banner {
    &__filter-blocks {
      position: initial;
    }
    &-filter__dropdown {
      position: fixed;
      width: 100%;
      height: 100%;
      padding: 55px 0 65px;
      z-index: 1;

      &-close {
        display: inline-block;
        z-index: 999;
      }
      &-inner {
        position: relative;
        height: 100%;
        background: $white;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
      }
      &-content {
        padding: 0;
        margin: 0;

        border-radius: 0;
        box-shadow: none;
        overflow: hidden;
        overflow-y: scroll;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
      &-title {
        display: block;
        text-align: center;
        padding-top: 30px;
      }
      &-search {
        box-shadow: none;
        margin-bottom: 15px;
        .banner__filter-label  {
          display: none;
        }
      }
      &-input {
        background: rgba(29, 39, 74, 0.05);
        border-radius: 100px;
        padding: 15px 30px;

      }
      &-btn {
        display: none;
      }
      &-items {
        flex-grow: 1;
        height: 100%;
      }
      &-block {
        &.second,
        &.first {
          max-height: 100%;
          flex-grow: 1;
          padding: 0;
          .row {
            max-width: 100%;
          }
        }
      }
    }
    &__filter-block {
      &.service {
        .banner-filter__dropdown {
          &-content {
            height: calc(100% - 165px);
          }
          &-block {
            &.first {
              padding: 0;
            }
            .first-block.last-search {
              margin-bottom: 35px;
            }
            &.second {
              height: 100%;
              .banner-filter__dropdown-items {
                height: 100%;
              }
            }
          }
        }
      }
      &.salon {
        .banner-filter__dropdown {
          &-content {
            height: calc(100% - 235px);
          }
          &-block {
            &.first,
            &.second {
              padding: 0;
            }
            .first-block.last-search {
              margin-bottom: 35px;
            }
            /*&.second {
                height: 100%;
                .banner-filter__dropdown-items {
                    height: 100%;
                }
            }*/
          }
        }
        .banner-filter__salon-location {
          display: block;
          margin: 0 -15px;
        }
        .first-block__items {
          margin-top: 0;
        }
      }
    }
  }
  .calendar-close-clone {
    &.show {
      display: inline-block;
    }
  }
}
