<template>
  <auth>
    <div class="auth__content">
      <div v-if="isLoading" class="loader">
        <semipolar-spinner
          :animation-duration="2000"
          :size="50"
          style="
            position: absolute;
            left: calc(50% - 25px);
            top: calc(50% - 25px);
          "
        />
      </div>
      <div
        class="
          container
          col-lg-8 col-md-10 col-sm-10
          bg__white
          border__rad
          align-items-center
        "
      >
        <div
          class="
            row
            flex-column
            justify-content-center
            align-items-center
            pad_40
          "
        >
          <header class="auth__header mb-5">
            <h1 class="auth__title">
              {{ $t("auth.recoveryPass") }}
              <router-link :to="{ name: 'Home' }" class="service__name">
                <img src="@/assets/img/logo-black.svg" />
              </router-link>
            </h1>
          </header>

          <RecoveryPasswordForm
            @changeLoading="isLoading = $event"
            @onRecovery="$router.push('login')"
          />

          <AuthFooter />
        </div>
      </div>
    </div>
  </auth>
</template>

<script>
import Auth from "@/layouts/Auth/Auth";
import AuthFooter from "@/components/Auth/AuthFooter/AuthFooter";
import RecoveryPasswordForm from "@/components/RecoveryPassword/RecoveryPasswordForm/RecoveryPasswordForm";
import { SemipolarSpinner } from "epic-spinners";

export default {
  name: "RecoveryPassword",

  components: {
    Auth,
    AuthFooter,
    RecoveryPasswordForm,
    SemipolarSpinner,
  },

  data() {
    return {
      isLoading: false,
    };
  },
};
</script>
