<template>
  <svg style="display: none">
    <symbol id="arrow_specialist" width="9" height="16" viewBox="0 0 9 16">
      <path
        d="M7 7C6.44772 7 6 7.44772 6 8C6 8.55228 6.44772 9 7 9V7ZM8.20711 8.70711C8.59763 8.31658 8.59763 7.68342 8.20711 7.29289L1.84315 0.928932C1.45262 0.538408 0.819457 0.538408 0.428932 0.928932C0.0384078 1.31946 0.0384078 1.95262 0.428932 2.34315L6.08579 8L0.428932 13.6569C0.0384078 14.0474 0.0384078 14.6805 0.428932 15.0711C0.819457 15.4616 1.45262 15.4616 1.84315 15.0711L8.20711 8.70711ZM7 9H7.5V7H7V9Z"
      />
    </symbol>
  </svg>
</template>

<script>
export default {
  name: "SpriteSpecialist",
};
</script>
