<template>
  <div
    class="article"
    :class="{
      wide: isWide,
    }"
  >
    <router-link :to="`/blog/${article.id}`" class="article__img">
      <img :src="article.image" />
    </router-link>
    <div class="article__content">
      <div class="article__tags">
        <div
          v-for="(tag, tagIndex) of article.tags"
          :key="tagIndex"
          class="article__tag"
          :style="getTagTheme()"
        >
          {{ tag }}
        </div>
      </div>
      <router-link :to="`/blog/${article.id}`" class="article__title">
        {{ article.title }}
      </router-link>
      <div
        v-if="isWide"
        v-html="article.description"
        class="article__description"
      ></div>
      <div class="article__date">
        {{ $fd(article.date) }}
      </div>
      <router-link
        v-if="isWide"
        :to="`/blog/${article.id}`"
        class="btn blog__btn"
      >
        Читать далее
      </router-link>
    </div>
  </div>
</template>

<script>
import { getTagTheme } from "../blog-helper.js";

export default {
  name: "Article",
  props: {
    isWide: { type: Boolean, default: false },
    article: { type: Object, required: true },
  },

  computed: {
    getTagTheme() {
      return getTagTheme;
    },
  },
};
</script>

<style lang="scss">
@import "../styles/article";
</style>
