#registration-user-modal,
#registration-clinic-modal {
  @import "~@/layouts/Auth/auth.scss";
  .modal-dialog {
    max-width: 550px;
  }

  .modal-content {
    padding: 38px 38px 25px;
  }

  .modal-header {
    border-bottom: 1px solid rgba(#2a284d, 0.1);
    padding: 0 0 15px;
  }

  .modal-body {
    position: static;
    padding: 27px 0 0;
  }

  .auth__main {
    padding: 0;
  }

  .registration__group {
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .errors {
    justify-content: center;
    bottom: -4px;
  }

  .auth__footer {
    align-items: flex-start;
  }
}
.registration-modal__title {
  font-size: 0;
  line-height: 0;
  span {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    vertical-align: middle;
  }
  img {
    display: inline-block;
    height: 16px;
    width: auto;
    vertical-align: middle;
    margin-left: 6px;
  }
}
.registration-modal__close {
  position: relative;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: $lightgrey2;
  border: 0;
  outline: 0;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(~@/assets/img/icon/close-strong.svg) center no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.2s;
  }
  &:hover {
    &:after {
      opacity: 0.8;
    }
  }
}
.registration-modal {
  background-color: $white;
  min-height: 600px;
}
.registration-modal__loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 3;
}
