<template>
  <div class="auth__bg"></div>
</template>

<script>
export default {
  name: "AuthBackground",
};
</script>

<style lang="scss" scoped>
.auth__bg {
  min-width: 450px;
  max-width: 830px;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-grow: 4.5;

  background: url("~@/assets/img/auth/beautiful-spa-composition.jpg") no-repeat
    center;
  background-size: cover;

  @media (max-width: 968px) {
    min-width: auto;
    flex-grow: 3.5;
    width: 35%;
    background-position: left;
  }

  @media (max-width: 767px) {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
</style>
