<template>
  <account>
    <div class="profile-info">
      <div class="profile-page__header">
        <div class="profile-page__title-mobile profile-page__header-inner">
          <div class="profile-page__top-title d-flex">Отправленные отзывы</div>
        </div>
      </div>

      <div class="reviews-send">
        <div class="reviews-send__inner">
          <template v-if="isLoading">
            <SemipolarSpinner
              class="reviews-send__spinner"
              :animation-duration="2000"
              :size="50"
            />
          </template>

          <template v-else-if="reviews.length">
            <ReviewCard
              v-for="review in reviews"
              :key="review.id"
              :review="review"
            />
          </template>

          <p v-else class="reviews-send__not-found">
            Вы ещё не оставили ни одного отзыва
          </p>
        </div>
      </div>
    </div>
  </account>
</template>

<script>
import Account from "@/layouts/Account/Account";
import { SemipolarSpinner } from "epic-spinners";
import ReviewCard from "./components/ReviewCard.vue";
import { reviewsModule } from "./store/reviews-module";

export default {
  name: "Reviews",
  components: {
    Account,
    SemipolarSpinner,
    ReviewCard,
  },

  computed: {
    reviews() {
      return reviewsModule.reviews;
    },

    isLoading() {
      return reviewsModule.isLoading;
    },
  },

  async created() {
    await reviewsModule.loadReviews();
  },
};
</script>

<style lang="scss">
@import "styles/reviews";

.reviews-send {
  &__not-found {
    text-align: center;
    width: 100%;
    margin: 60px auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }

  &__spinner {
    margin: 100px auto;
    display: grid;
    place-items: center;
  }
}
</style>
