<template>
  <div class="reviews-send__block" :class="{ short: isCollapsed }">
    <div class="reviews-send__block-inner">
      <div
        class="
          reviews-send__header
          d-flex
          align-items-center
          justify-content-between
          mb-3
        "
      >
        <div class="reviews-send__left d-flex align-items-center">
          <div class="reviews-send__title">
            Ваш отзыв на

            <router-link
              :to="{
                name: 'Salon',
                params: { id: review.salon.id },
              }"
              class="text-underline"
            >
              {{ review.salon.name }}
            </router-link>
          </div>

          <div class="reviews-send__logo">
            <img :src="review.salon.logo" alt="" />
          </div>
        </div>

        <div class="reviews-send__right d-flex align-items-center">
          <div class="reviews-send__rating">
            {{ review.rating }}
          </div>
        </div>
      </div>

      <div class="reviews-send__body">
        <div class="reviews-send__content">
          <div ref="reviewText" class="reviews-send__text">
            {{ review.text }}
          </div>

          <div
            v-if="!isFullText"
            class="
              reviews-send__bottom
              d-flex
              align-items-center
              justify-content-between
              flex-wrap
            "
          >
            <div class="reviews-send__text-footer">
              <div
                v-if="isCollapsed"
                class="reviews-send__more show"
                @click="isCollapsed = false"
              >
                Читать далее
              </div>

              <div
                v-else
                class="reviews-send__more show"
                @click="isCollapsed = true"
              >
                Скрыть
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Review } from "@/models/Review";

export default {
  name: "ReviewCard",
  props: {
    review: { type: Review, required: true },
  },

  data() {
    return {
      isCollapsed: true,
      isFullText: false,
    };
  },

  mounted() {
    const reviewText = this.$refs.reviewText;
    this.isFullText = reviewText.scrollHeight <= reviewText.offsetHeight;
  },
};
</script>
