<template>
  <header class="auth__header">
    <h1 class="auth__title">
      <span>{{ headerText }}</span>
      <router-link :to="{ name: 'Home' }" class="service__name">
        <img src="@/assets/img/logo-black.svg" />
      </router-link>
    </h1>
  </header>
</template>

<script>
export default {
  name: "AuthHeader",
  props: {
    headerText: String,
  },
};
</script>
