<template>
  <table class="transaction-table">
    <thead class="transaction-table__header">
      <tr>
        <th class="transaction-table__header-title">
          Салон <span v-if="0" class="transaction-sort-icon"></span>
        </th>

        <th class="transaction-table__header-title">
          Услуга <span v-if="0" class="transaction-sort-icon"></span>
        </th>

        <th class="transaction-table__header-title">
          Цена <span v-if="0" class="transaction-sort-icon"></span>
        </th>

        <th class="transaction-table__header-title">
          Кешбэк <span v-if="0" class="transaction-sort-icon"></span>
        </th>

        <th class="transaction-table__header-title">
          Дата <span v-if="0" class="transaction-sort-icon"></span>
        </th>
      </tr>
    </thead>

    <tbody class="transaction-table__body">
      <tr v-for="transaction in transactions" :key="transaction.payment_id">
        <td class="transaction-table__body-text">
          <InlineSkeleton
            v-if="!transaction.salonName && isOrdersLoading"
            :width="isMobile ? 60 : 80"
            :height="isMobile ? 14 : 20"
          />
          <template v-else>{{ transaction.salonName || "–" }}</template>
        </td>

        <td class="transaction-table__body-text">
          <InlineSkeleton
            v-if="!transaction.serviceName && isOrdersLoading"
            :width="isMobile ? 60 : 80"
            :height="isMobile ? 14 : 20"
          />
          <template v-else>{{ transaction.serviceName || "–" }}</template>
        </td>

        <td class="transaction-table__body-text">
          {{ $fm(transaction.amount) }}
        </td>

        <td class="transaction-table__body-text">
          {{ $fm(transaction.cashback) }}
        </td>

        <td class="transaction-table__body-text">
          {{ $fd(transaction.createdAt) || "-" }}
        </td>
      </tr>
      <template v-if="isLoading">
        <TransactionSkeleton v-for="i in 8" :key="i" />
      </template>
    </tbody>
  </table>
</template>

<script>
import { transactionsModule } from "../store/transactions-module";
import TransactionSkeleton from "@/components/Skeleton/TransactionSkeleton.vue";
import InlineSkeleton from "@/components/Skeleton/InlineSkeleton";

const SORT_ORDERS = {
  asc: "asc",
  desc: "desc",
};

export default {
  name: "TransactionsTable",

  components: {
    InlineSkeleton,
    TransactionSkeleton,
  },

  data() {
    return {
      sort: {
        field: "createdAt",
        order: SORT_ORDERS.desc,
      },
      isMobile: window.innerWidth < 768,
    };
  },

  computed: {
    transactions() {
      return transactionsModule.transactions;
    },

    isLoading() {
      return transactionsModule.isLoading;
    },

    isOrdersLoading() {
      return transactionsModule.isOrdersLoading;
    },
  },
};
</script>
