<template>
  <div class="status-about">
    <div class="container" id="status">
      <div
        class="
          status-about__top
          d-flex
          align-items-center
          justify-content-between
        "
      >
        <div class="status-about__left">
          <div class="status-about__title">
            Ваш статус:
            <span>{{ $t(`statuses.${currentStatus}`) }}</span>
            <i class="quality-icon"></i>
          </div>

          <div class="status-about__text">
            Потраченная сумма:
            <span>{{ $fm(spentAmount) }}</span>
          </div>
        </div>

        <div class="status-about__right">
          <div class="status-about__right-inner d-flex align-items-center">
            <i class="steps-icon"></i>
            <div class="status-about__steps-text">
              До следующего уровня
              <span>{{ $fm(nextStatusAmount - spentAmount) }}</span>
            </div>
          </div>
        </div>
      </div>

      <StatusSteps />
    </div>
  </div>
</template>

<script>
import StatusSteps from "./StatusSteps.vue";
import { accountModule } from "@/store";

export default {
  name: "CurrentStatus",
  components: { StatusSteps },

  computed: {
    currentStatus() {
      return accountModule.status;
    },

    spentAmount() {
      return accountModule.spentAmount;
    },

    nextStatusAmount() {
      return accountModule.nextCashbackLevel.amount;
    },
  },
};
</script>
