<template>
  <div class="status-step">
    <div class="row">
      <div
        v-for="(status, i) in statuses"
        :key="i"
        class="col-xl-3 col-lg-3 col-md-6 col-sm-7 col-11"
      >
        <div
          class="status-step__block"
          :class="{ active: currentStatusIndex >= i }"
          :style="{ background: `url(${status.image})` }"
        >
          <div class="status-step__block-inner">
            <div class="status-step__top">
              <div class="status-step__number">{{ i + 1 }}</div>
            </div>

            <div class="status-step__text">
              {{ $t(`statuses.${status.name}`) }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="status-line">
      <div class="status-line__inner">
        <div
          class="status-line__done"
          :style="{ width: `${(spentAmount / nextStatusAmount) * 100}%` }"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
import { accountModule } from "@/store";
import { STATUS_IMAGES_MAP } from "@/constants/user-statuses";

export default {
  name: "StatusSteps",

  computed: {
    currentStatus() {
      return accountModule.status;
    },

    spentAmount() {
      return accountModule.spentAmount;
    },

    nextStatusAmount() {
      return accountModule.nextCashbackLevel.amount;
    },

    statuses() {
      return accountModule.cashbackLevels.map((item) => ({
        name: item.title,
        image: STATUS_IMAGES_MAP[item.title],
      }));
    },

    currentStatusIndex() {
      return accountModule.cashbackLevels.indexOf(
        accountModule.currentCashbackLevel
      );
    },
  },
};
</script>
