<template>
  <div class="status-banner">
    <div class="status-banner__inner">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div
            class="
              col-xl-4 col-lg-5 col-md-6
              order-xl-1 order-lg-1 order-md-1 order-sm-2 order-2
            "
          >
            <div class="status-banner__content">
              <div class="status-banner__title">
                Получайте бонусы и экономьте на заказах!
              </div>

              <div class="status-banner__text">
                И нет сомнений, что акционеры крупнейших компаний объявлены
                нарушающими общечеловеческие нормы этики и морали.
              </div>

              <div class="status-banner__content-footer">
                <router-link
                  :to="{ name: 'Search', query: { special: true } }"
                  class="status-banner__link btn btn-white d-block"
                >
                  Акции
                </router-link>
              </div>
            </div>
          </div>

          <div
            class="
              col-xl-4 col-lg-5 col-md-6
              order-xl-2 order-lg-2 order-md-2 order-sm-1 order-1
            "
          >
            <div class="status-banner__image">
              <img src="~@/assets/img/status/status-banner__img.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "StatusBanner",
};
</script>
