<template>
  <div class="status-privileges">
    <div class="status__actions now">
      <div class="container">
        <template v-if="false">
          <div class="status__actions-title">
            <span class="status__actions-title-name">
              Доступные привелегии
            </span>

            <span class="status__actions-icon">
              <img src="~@/assets/img/status/crown.svg" alt="" />
            </span>
          </div>

          <div class="status__actions-blocks">
            <div class="row">
              <div
                v-for="(chunk, i) in currentPriviledges"
                :key="i"
                class="col-xl-6 col-lg-6"
              >
                <div
                  v-for="(privilege, j) in chunk"
                  :key="j"
                  class="status__actions-block"
                >
                  <div class="actions-block__inner">
                    <div class="actions-block__text">
                      {{ privilege }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>

        <div class="status__actions-bottom">
          Бонус для вашего статуса «{{ $t(`statuses.${status}`) }}»:
          <span class="text-blue">{{ cashback }}% кэшбек</span>
        </div>
      </div>
    </div>

    <div v-if="nextStatus" class="status__actions">
      <div v-if="false" class="container">
        <div class="status__actions-title" id="features">
          Привелегии следующего уровня
          <span class="status__actions-icon">
            <img src="~@/assets/img/status/crown-blue.svg" alt="" />
          </span>
        </div>

        <div class="status__actions-blocks">
          <div class="row">
            <div
              v-for="(chunk, i) in nextPriviledges"
              :key="i"
              class="col-xl-6"
            >
              <div
                v-for="(privilege, j) in chunk"
                :key="j"
                class="status__actions-block"
              >
                <div class="actions-block__inner">
                  <div class="actions-block__text">
                    {{ privilege }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { chunk } from "lodash";
import { accountModule } from "@/store";

export default {
  name: "StatusPrivileges",

  computed: {
    cashback() {
      return accountModule.currentCashbackLevel.cashback * 100;
    },

    status() {
      return accountModule.status;
    },

    nextStatus() {
      return accountModule.nextCashbackLevel.title;
    },

    currentPriviledges() {
      return chunk(
        [
          "Возможность отмены брони",
          "Возможность отмены брони",
          "Возможность отмены брони",
          "Возможность отмены брони",
          "Возможность отмены брони",
          "Возможность отмены брони",
        ],
        3
      );
    },

    nextPriviledges() {
      return chunk(
        [
          "Решай сам",
          "Решай сам",
          "Решай сам",
          "Решай сам",
          "Решай сам",
          "Решай сам",
        ],
        3
      );
    },
  },
};
</script>
