<template>
  <div class="dropdown">
    <button
      class="btn order-modal__pay-btn dropdown-toggle"
      :class="{ show: isOpen, warn: selectedOption.warn }"
      type="button"
      v-if="selectedOption"
      @click="isOpen = !isOpen"
    >
      <span class="order-modal__pay-icon">
        <img :src="selectedOption.icon" alt="credit-card" />
      </span>

      {{ selectedOption.label }}
    </button>

    <ul
      class="dropdown-menu order-modal__pay-menu"
      :class="{ show: isOpen }"
      aria-labelledby="order-modal__paydropdown"
    >
      <div
        v-for="option in paymentTypeOptions"
        :key="option.value"
        class="order-modal__pay-item"
        @click="selectOption(option)"
      >
        <span class="order-modal__pay-icon">
          <img :src="option.icon" alt="credit-card" />
        </span>

        <div class="order-modal__pay-name">{{ option.label }}</div>
      </div>
    </ul>
  </div>
</template>

<script>
import { orderModule, paymentModule } from "@/store";
import { PAYMENT_TYPES } from "@/store/modules/order-module";

export default {
  name: "PaymentTypeSelect",

  props: {
    book: Boolean,
  },
  data() {
    return {
      isOpen: false,
    };
  },

  computed: {
    paymentTypeOptions() {
      const savedCards = this.savedCards.map((item) => ({
        value: item.payment_id,
        label:
          item.title || `${item.card_type} ${item.first6} **** ${item.last4}`,
        icon: require("@/assets/img/icon/credit-card.svg"),
        primary: item.primary,
      }));
      if (this.book) {
        return [
          !this.savedCards.length && {
            value: PAYMENT_TYPES.save,
            warn: true,
            label: "У вас нет сохраненной карты, пожалуйста привяжите",
            icon: require("@/assets/img/icon/credit-card.svg"),
          },
          ...savedCards,
        ].filter(Boolean);
      }
      return [
        {
          value: PAYMENT_TYPES.save,
          label: "С сохранением карты",
          icon: require("@/assets/img/icon/credit-card.svg"),
        },
        {
          value: PAYMENT_TYPES.noSave,
          label: "Без сохранения карты",
          icon: require("@/assets/img/icon/credit-card.svg"),
        },
        ...savedCards,
      ];
    },

    selectedOption() {
      return this.paymentTypeOptions.find(
        (item) => item.value === orderModule.order.paymentType
      );
    },

    savedCards() {
      return paymentModule.savedCards;
    },
  },

  created() {
    paymentModule.loadSavedCards();
  },

  methods: {
    selectOption(option) {
      orderModule.updateOrder({ paymentType: option.value });
      this.isOpen = false;
    },
  },
  watch: {
    paymentTypeOptions(options) {
      if (this.paymentTypeOptions.length) {
        const primaryCard = options.find((item) => item.primary);
        this.selectOption(primaryCard || options[0]);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
#salon-page__order-modal .order-modal {
  &__pay-btn {
    &::after {
      transition: transform 250ms ease;
    }
    &.warn {
      color: $red;
    }
    &.show {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}
</style>
