<template>
  <form @submit.prevent>
    <div class="registration__group">
      <label for="email" class="auth__label" ref="email">{{
        $t("auth.enterMailOrPhone")
      }}</label>
      <div class="send__message--field">
        <div
          class="reg__field--block"
          :class="{ error: $v.loginField.$error }"
        >
          <input
            type="email"
            id="email"
            v-model="loginField"
            name="email"
            @input="setTelephone()"
            class="reg__field"
            autocomplete="off"
          />
          <span v-if="hasStringNumber" class="choose__region">
            <button
              type="button"
              @click="clickOpenPopup"
              class="active__region"
            >
              <span class="region">
                <country-flag
                  :country="activeRegion.region"
                  rounded
                  size="normal"
                />
              </span>
              <svg class="region__arrow">
                <use xlink:href="#arrow_down"></use>
              </svg>
            </button>
          </span>
        </div>
        <div
          class="message__block"
          :class="{
            'message__block--active': showCodeWindow && loginField.length,
          }"
        >
          <div class="message__code--block">
            <h3 class="message__code--title">
              {{ $t("auth.acceptEmail") }}
            </h3>
            <div
              class="message__code--input"
              :class="{ error: $v.pinCode.$error }"
            >
              <PincodeInput
                v-model="pinCode"
                placeholder="0"
                :length="6"
              />
            </div>
            <div v-if="$v.pinCode.$error" class="errors">
              <p class="error__text" v-if="!$v.pinCode.required">
                {{ $t("auth.requiredToFill") }}
              </p>
              <p class="error__text" v-if="!$v.pinCode.numeric">
                {{ $t("auth.onlyNumber") }}
              </p>
              <p class="error__text" v-if="!$v.pinCode.minLength">
                {{ $t("auth.pinLength") }}
              </p>
            </div>
          </div>

          <div class="message__send--block">
            <h5 class="message__send--title" v-if="!isFirstSend">
              Не пришло оповещение?
            </h5>
            <button
              type="button"
              @click="sendRepeat"
              :disabled="rep_send.isRunning === true"
              class="message__send--btn"
            >
              {{
                isFirstSend
                  ? $t("auth.sendCode")
                  : $t("auth.sendCodeAgain")
              }}
            </button>
            <div class="message__send--timer">
              {{ prettyTime }}
            </div>
          </div>
        </div>
      </div>
      <div v-if="$v.$invalid && $v.loginField.$error" class="errors">
        <p class="error__text" v-if="!$v.loginField.required">
          {{ $t("auth.requiredToFill") }}
        </p>
        <span v-if="$v.loginField.required">
          <p
            class="error__text"
            v-if="!$v.loginField.email && !hasStringNumber"
          >
            {{ $t("auth.phoneEmail") }}
          </p>
          <p
            class="error__text"
            v-if="!$v.loginField.numeric && hasStringNumber"
          >
            {{ $t("auth.phoneWrong") }}
          </p>
          <p
            class="error__text"
            v-if="!$v.loginField.maxLength && hasStringNumber"
          >
            {{ $t("auth.phoneWrong") }}
          </p>
        </span>
      </div>
    </div>

    <div v-if="showPassField" class="w-100">
      <div class="registration__group">
        <label for="password" class="auth__label" ref="password">{{
          $t("auth.password")
        }}</label>
        <div
          class="reg__field--block"
          :class="{ error: $v.reg_form.password.$error }"
        >
          <input
            type="password"
            name="password"
            v-model="reg_form.password"
            id="password"
            class="reg__field"
            autocomplete="off"
          />
        </div>
        <div
          v-if="$v.$invalid && $v.reg_form.password.$error"
          class="errors"
        >
          <p class="error__text" v-if="!$v.reg_form.password.required">
            {{ $t("auth.requiredToFill") }}
          </p>
        </div>
      </div>

      <div class="registration__group">
        <label
          for="rep_password"
          class="auth__label"
          ref="rep_password"
          >{{ $t("auth.repeatPassword") }}</label
        >
        <div
          class="reg__field--block"
          :class="{ error: $v.reg_form.rep_password.$error }"
        >
          <input
            type="password"
            name="rep_password"
            v-model="reg_form.rep_password"
            id="rep_password"
            class="reg__field"
            autocomplete="off"
          />
        </div>
        <div
          v-if="$v.$invalid && $v.reg_form.rep_password.$error"
          class="errors"
        >
          <p
            class="error__text"
            v-if="!$v.reg_form.rep_password.required"
          >
            {{ $t("auth.requiredToFill") }}
          </p>
          <p
            class="error__text"
            v-if="!$v.reg_form.rep_password.sameAsPassword"
          >
            {{ $t("auth.passwordsNotSame") }}
          </p>
        </div>
      </div>
    </div>
    <div class="auth__footer-btn">
      <button
        type="button"
        class="auth__button w_100-468 mt-4"
        @click="handleForm()"
      >
        {{ $t("auth.recoveryBtn") }}
      </button>
    </div>

  </form>
</template>


<script>
import CountryFlag from "vue-country-flag";
import { mapGetters, mapActions } from "vuex";
import { validationMixin } from "vuelidate";
import PincodeInput from "vue-pincode-input";

const {
  required,
  numeric,
  maxLength,
  email,
  minLength,
  sameAs,
} = require("vuelidate/lib/validators");
const sendConfirmTime = 60 * 1;


export default {
  name: "RecoveryPasswordForm",

  components: {
    CountryFlag,
    PincodeInput,
  },
  mixins: [validationMixin],

  validations() {
    if (this.hasStringNumber) {
      return {
        loginField: {
          required,
          numeric,
          maxLength: maxLength(20),
        },
        pinCode: {
          required,
          numeric,
          minLength: minLength(6),
        },
        reg_form: {
          password: {
            required,
          },
          rep_password: {
            required,
            sameAsPassword: sameAs("password"),
          },
        },
      };
    } else {
      return {
        loginField: {
          required,
          email,
        },
        pinCode: {
          required,
          numeric,
          minLength: minLength(6),
        },
        reg_form: {
          password: {
            required,
          },
          rep_password: {
            required,
            sameAsPassword: sameAs("password"),
          },
        },
      };
    }
  },

  data() {
    return {
      showCodeWindow: false,
      loginField: "",
      isFirstSend: true,

      pinCode: "",
      rep_send: {
        isRunning: false,
        minute: 1,
        second: 0,
        time: 0,
        timer: null,
      },
      reg_form: {
        name: "",
        surname: "",
        email: "",
        telephone: "",
        password: "",
        rep_password: "",
      },
    };
  },

  computed: {
    ...mapGetters({
      activeRegion: "Popup/activeRegion",
      regions: "Popup/regions",
    }),
    hasStringNumber() {
      return /^\+?([0-9]*)\d*$/.test(this.loginField);
    },
    showPassField() {
      return this.pinCode.length === 6 ? true : false;
    },
    prettyTime() {
      let time = this.rep_send.time / 60;
      let minutes = parseInt(time);
      let secondes = Math.round((time - minutes) * 60);
      if (minutes < 10) {
        minutes = `0${minutes}`;
      }
      if (secondes < 10) {
        secondes = `0${secondes}`;
      }
      return minutes + ":" + secondes;
    },
  },

  mounted() {
    this.setTime();
  },

  methods: {
    ...mapActions("Auth", ["sendConfirmCode", "resetPassword"]),

    startTimer() {
      this.rep_send.isRunning = true;
      if (!this.rep_send.timer) {
        this.rep_send.timer = setInterval(() => {
          if (this.rep_send.time > 0) {
            this.rep_send.time--;
          } else {
            clearInterval(this.rep_send.timer);
            if (this.rep_send.time === 0) {
              this.rep_send.isRunning = false;
            }
            this.rep_send.isRunning = false;
            this.setTime();
          }
        }, 1000);
      }
    },
    setTime() {
      this.rep_send.time = this.rep_send.minute * 60 + this.rep_send.second;
    },
    sendCode() {
      if (!this.$v.loginField.$error) {
        if (!this.hasStringNumber) {
          this.sendConfirmCode({
            email: this.loginField,
          });
        } else {
          this.sendConfirmCode({
            phone: this.loginField,
          });
        }
      }
    },
    sendRepeat() {
      if (this.rep_send.isRunning === false) {
        this.$store.commit("RegistrationClinic/sendTelephone", this.telephone);
        this.startTimer(sendConfirmTime);
        this.sendCode();
        this.pinCode = "";
      }
      this.isFirstSend = false;
    },
    setTelephone() {
      this.$v.$touch();
      this.showCodeWindow = !!(
        !this.$v.loginField.$error && this.loginField.length
      );
    },
    handleForm() {
      if (!this.showPassField) return false;
      this.$v.$touch();
      this.$emit("changeLoading", false);
      if (this.$v.$invalid) {
        return;
      } else {
        this.$emit("changeLoading", true);
        if (!this.hasStringNumber) {
          this.resetPassword({
            email: this.loginField,
            code: this.pinCode,
            password: this.reg_form.password,
          }).then((response) => {
            if (response.data.ok) {
              this.$emit("onRecovery");
            }
            this.$emit("changeLoading", false);
          });
        } else {
          this.resetPassword({
            phone: this.loginField,
            code: this.pinCode,
            password: this.reg_form.password,
          }).then((response) => {
            if (response.data.ok) {
              this.$emit("onRecovery");
            }
            this.$emit("changeLoading", false);
          });
        }
      }
    },
    clickOpenPopup() {
      this.activePopup = true;
    },
  },
};
</script>
