.search-filter {
  /*&__content.custom-scroll {
    .search-filter__blocks {
      margin-right: 10px;
    }
  }*/
  &__title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 24px;
  }
  &__block {
    padding: 20px 0 12px;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(29, 39, 75, 0.10);
    }
    &:first-child {
      border-top: 1px solid rgba(29, 39, 75, 0.10);
    }
    &.rating {
      .custom-input__label {
        margin-bottom: 9px;
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
    &.price {
      padding-bottom: 37px;
      .slider-tooltip {
        font-weight: 500;
        font-size: 14px;
        line-height: 108%;
        color: $black;
      }
    }
  }
  &__block-title {
    font-size: 16px;
    line-height: 17px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__search {
    position: relative;
    &-loading {
      margin: auto;
    }
    &-input {
      position: relative;
      z-index: 2;
      width: 100%;
      border: 1px solid rgba(29, 39, 75, 0.2);
      border-radius: 40px;
      padding: 5px 60px 5px 25px;
      height: 48px;
    }
    &-btn,
    .mx-icon-clear {
      z-index: 2;
    }
    &-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 25px;
      border: 0;
      padding: 0;
      width: 24px;
      height: 24px;
      background: url(~@/assets/img/icon/search-small.svg) no-repeat;
    }
    &-dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 200px;
      background-color: $white;
      overflow-y: auto;
      z-index: 1;
      box-shadow: 0px 2px 10px rgba(29, 39, 74, 0.15);
      border: 1px solid rgba(29, 39, 75, 0.2);
      display: grid;
      gap: 5px;

      margin-top: -24px;
      padding: 40px 0 10px;
      border-radius: 2px 2px 15px 15px;

      &-item {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding: 5px 10px;

        &:hover {
          color: $blue;
        }

        &--empty {
          pointer-events: none;
        }

        &-icon {
          width: 24px;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  &__block-content {
    .custom-input__label:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  .raitin-stars {
    .fa-star {
      width: 21px;
      height: 22px;
      color: $black;
      opacity: 0.2;
    }
  }
  .custom-input__input:checked + .custom-input__text .fa-star {
    color: $blue;
    opacity: 1;
  }
  .custom-input__input:checked + .custom-input__text {
    font-weight: 500;
  }

  .custom-input__text-checkbox {
    width: 100%;
  }

  &__block-line {
    padding: 12px 0;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(29,39,75,.1);
    }
    &:last-child {
      padding-bottom: 0;
    }
  }

  &__long-link {
    margin: 0 -5px;
  }

  .search-filter__data {
    position: relative;
    &:after {
      content: unset;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 25px;
      display: inline-block;
      width: 25px;
      height: 25px;
      background: url(~@/assets/img/icon/calendar.svg) no-repeat;
    }
    &-input {
      width: 100%;
      height: 48px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.08;
      text-align: center;
      border: 1px solid rgba(29, 39, 75, 0.2);
      border-radius: 40px;
      padding: 5px 60px 5px 25px;
    }
  }


  .irs-min,
  .irs-max {
    display: none;
  }
  .irs--round .irs-bar {
    height: 2px;
    background: $black;
    top: 15px;
  }
  .irs--round .irs-line {
    height: 2px;
    top: 15px;
  }
  .irs--round .irs-handle {
    top: 5px;
    border: 4px solid $blue;
    box-shadow: none;
  }
  .irs-from,
  .irs-to {
    background: transparent;
    color: $blue;
    line-height: 15px;
    font-weight: 400;
    padding: 0;
    top: 35px;
    &:before {
      display: none;
    }
    &:after {
      border: 0;
      content: 'P.';
      margin-left: 3px;
    }
  }
  .irs-single {
    background: transparent;
    color: $blue;
    padding: 0;
    top: 35px;
    &:before {
      display: none;
    }
  }
}

.search-filter__close {
  display: none;
  background: rgba(29,39,74,.05);
  padding: 15px;
  border-radius: 0 0 6px 6px;
  &-text {
    font-weight: 600;
    font-size: 18px;
    color: $black;
    opacity: .3;
    &:before {
      content: '';
      display: inline-block;
      width: 35px;
      height: 20px;
      margin-right: 15px;
      vertical-align: middle;
      background: url(~@/assets/img/icon/long-arrow.svg) no-repeat;
    }
  }
}

@media (max-width: 991px) {
  body.filter-open {
    overflow: hidden;
  }
  .search-filter {
    background: $white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    margin: 0;
    z-index: 9;
    transform: translateX(-100%);
    transition: 0.5s;
    overflow: hidden;
    z-index: 999;
    padding: 0;
    &.active {
      transform: translateX(0);
      transition: 0.5s;
    }
    &__inner {
      padding-bottom: 40px;
      height: 100%;
      overflow: hidden;
    }
    &__close {
      display: block;
    }
    &__content {
      height: calc(100% - 200px);
      overflow-y: scroll;
      overflow-x: hidden;
    }

    &__block.rating {
      .custom-input__label {
        display: flex !important;
        &:not(:last-child) {
          margin-right: 0;
        }

      }
    }
  }
}
