<template>
  <account>
    <div class="profile-info">
      <div class="profile-page__title-mobile profile-page__header-inner">
        <div class="profile-page__top-title d-flex">Личный кабинет</div>
      </div>
      <form @submit.prevent class="profile-info__form">
        <AvatarView />
        <NameView />
        <EmailView />
        <PhoneView />
      </form>
    </div>
  </account>
</template>

<script>
import Account from "@/layouts/Account/Account";
import AvatarView from "./components/AvatarView.vue";
import NameView from "./components/NameView.vue";
import EmailView from "./components/EmailView.vue";
import PhoneView from "./components/PhoneView.vue";

export default {
  name: "Profile",
  components: {
    Account,
    AvatarView,
    NameView,
    EmailView,
    PhoneView,
  },
};
</script>
