.profile-menu {
  &.sticked {
    position: sticky;
    top: 94px;
  }
  @media (min-width: 1200px) {
    width: 300px;
  }
  @media (min-width: 1400px) {
    width: 355px;
  }
  @media (max-width: 991px) {
    position: relative;
    z-index: 1;
    display: none;
    height: fit-content!important;
    &.show {
      display: block;
    }
    &.custom-scroll {
      overflow-y: visible;
    }
  }
  @media (max-width: $mobile) {
    padding-top: 22px;

  }
  &__items {
    //box-shadow: 0px 0px 5px rgba(29, 39, 74, 0.2);
    border-radius: 11px;
    background: $white;
  }
  &__item {
    position: relative;
    padding: 15px 20px 15px 10px;
    margin-left: 10px;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(29, 39, 74, 0.1);
    }
    &:before {
      position: absolute;
      left: -10px;
      top: 0;
      content: '';
      display: inline-block;
      width: 10px;
      height: 100%;
      background: $black;
      opacity: 0;
      transition: 0.5s;
    }
    &.active:before {
      opacity: 1;
      transition: 0.5s;
    }
    &:nth-child(1):before {
      border-radius: 4.5px 0px 0px 0px;
    }
    &:last-child:before {
      border-radius: 0px 0px 0px 4.5px;
    }
  }

  &__header-right {
    margin-left: 15px;
  }
  &__header-title {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 10px;
  }
  .status-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $blue2;
    margin-bottom: 5px;
    .fa-star {
      width: 9px;
    }
  }
  .profile-status__line-inner {
    position: relative;
    width: 100%;
    height: 4px;
    background: rgba($blue2, 0.3);
    border-radius: 34px;
  }
  .profile-status__line-done {
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    background: $blue2;
    border-radius: 34px 0 0 34px;
  }
  &__link {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 20px;
    color: $black;
    text-decoration: none;
    cursor: pointer;
  }
  &__icon {
    display: inline-block;
    margin-right: 20px;
    img {
      width: 28px;
      height: 30px;
    }
  }

  &__types {
    display: flex;
    box-shadow: 0px 0px 5px rgba(29, 39, 74, 0.2);
    border-radius: 52px;
    padding: 2px;
    margin-top: 40px;
  }
  &__type {
    width: 50%;
    flex: 0 0 50%;
    font-size: 16px;
    opacity: 0.5;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    &.active {
      background: $blue;
      border-radius: 52px;
      color: $white;
      opacity: 1;
      font-weight: 500;
    }
  }
}

.avatar-block {
  width: 72px;
  flex: 0 0 72px;
  height: 72px;
  border-radius: 50%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__default {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(29, 39, 74, 0.1);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
