<template>
  <div class="profile-menu__inner">
    <div class="profile-menu__items">
      <router-link
        :to="{ name: 'Profile' }"
        class="profile-menu__header profile-menu__item"
        :class="[
          'profile-menu__header profile-menu__item',
          { active: $route.name === 'Profile' },
        ]"
        tag="div"
        style="cursor: pointer"
      >
        <div class="profile-menu__header-content d-flex align-items-center">
          <div class="profile-menu__avatar">
            <div class="profile-menu__avatar-inner avatar-block">
              <div class="avatar-block__default">
                <img :src="avatar" alt="" />
              </div>
            </div>
          </div>

          <div class="profile-menu__header-right">
            <div class="profile-menu__header-title">
              {{ userName }}
            </div>

            <router-link
              style="text-decoration: none"
              class="profile-menu__header-status"
              :to="{ name: 'Status' }"
            >
              <div class="status-title">
                Статус {{ statusLevel }}-го уровня
                <i class="fas fa-star"></i>
              </div>
              <div class="profile-status__line">
                <div class="profile-status__line-inner">
                  <div
                    class="profile-status__line-done"
                    :style="{
                      width: `${(spentAmount / nextStatusAmount) * 100}%`,
                    }"
                  ></div>
                </div>
              </div>
            </router-link>
          </div>
        </div>
      </router-link>

      <div
        class="profile-menu__item"
        :class="{ active: $route.name === 'Orders' }"
      >
        <router-link :to="{ name: 'Orders' }" class="profile-menu__link">
          <i class="profile-menu__icon">
            <img
              src="@/assets/img/icon/profile-icon/shopping-cart.svg"
              alt=""
            />
          </i>
          Бронирования
        </router-link>
      </div>

      <div
        class="profile-menu__item"
        :class="{ active: $route.name === 'InternalAccount' }"
      >
        <router-link
          :to="{ name: 'InternalAccount' }"
          class="profile-menu__link"
        >
          <i class="profile-menu__icon">
            <img src="@/assets/img/icon/profile-icon/bank-cart.svg" alt="" />
          </i>
          Бонусы
        </router-link>
      </div>

      <div
        class="profile-menu__item"
        :class="{ active: $route.name === 'Transactions' }"
      >
        <router-link
          :to="{ name: 'Transactions' }"
          tag="a"
          class="profile-menu__link"
        >
          <i class="profile-menu__icon">
            <img src="@/assets/img/icon/profile-icon/transaction.svg" alt="" />
          </i>
          Транзакции
        </router-link>
      </div>

      <div
        class="profile-menu__item"
        :class="{ active: $route.name === 'Reviews' }"
      >
        <router-link
          :to="{ name: 'Reviews' }"
          tag="a"
          class="profile-menu__link"
        >
          <i class="profile-menu__icon">
            <img src="@/assets/img/icon/profile-icon/feedback.svg" alt="" />
          </i>
          Отправленные отзывы
        </router-link>
      </div>

      <div
        class="profile-menu__item"
        :class="{
          active:
            $route.name === 'ProfileChats' || $route.name === 'ProfileChat',
        }"
      >
        <router-link :to="{ name: 'ProfileChats' }" class="profile-menu__link">
          <i class="profile-menu__icon">
            <img src="@/assets/img/icon/profile-icon/chat.svg" alt="" />
          </i>
          Чат
        </router-link>
      </div>

      <div
        class="profile-menu__item"
        :class="{ active: $route.name === 'ReferralSystem' }"
      >
        <router-link
          :to="{ name: 'ReferralSystem' }"
          class="profile-menu__link"
        >
          <i class="profile-menu__icon">
            <img src="@/assets/img/icon/profile-icon/link.svg" alt="" />
          </i>
          Реферальная система
        </router-link>
      </div>

      <div
        class="profile-menu__item"
        :class="{ active: $route.name === 'FavoritePage' }"
      >
        <router-link :to="{ name: 'FavoritePage' }" class="profile-menu__link">
          <i class="profile-menu__icon">
            <img src="@/assets/img/icon/profile-icon/heart.svg" alt="" />
          </i>
          Избранное
        </router-link>
      </div>

      <div
        class="profile-menu__item"
        :class="{ active: $route.name === 'NotesTab' }"
      >
        <router-link :to="{ name: 'Notes' }" class="profile-menu__link">
          <i class="profile-menu__icon">
            <img src="@/assets/img/icon/profile-icon/alarm.svg" alt="" />
          </i>
          Уведомления
        </router-link>
      </div>

      <div v-if="isAdmin || isSpecialist" class="profile-menu__item">
        <a :href="crmLink" class="profile-menu__link">
          <i class="profile-menu__icon">
            <img src="@/assets/img/icon/profile-icon/crm.png" alt="" />
          </i>
          Перейти в CRM
        </a>
      </div>

      <div class="profile-menu__item">
        <a class="profile-menu__link" @click="signOut">
          <i class="profile-menu__icon">
            <img src="@/assets/img/icon/login-black.svg" alt="" />
          </i>
          Выйти
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { logout } from "@/helpers/tokens";
import { accountModule } from "@/store";

export default {
  name: "profileMenu",

  computed: {
    avatar() {
      return accountModule.avatar;
    },

    userName() {
      return accountModule.fullName;
    },

    spentAmount() {
      return accountModule.spentAmount;
    },

    nextStatusAmount() {
      return accountModule.nextCashbackLevel.amount;
    },

    statusLevel() {
      return (
        accountModule.cashbackLevels.indexOf(
          accountModule.currentCashbackLevel
        ) + 1
      );
    },

    isAdmin() {
      return accountModule.isAdmin;
    },

    isSpecialist() {
      return accountModule.isSpecialist;
    },

    crmLink() {
      return accountModule.crmLink;
    },
  },

  methods: {
    signOut() {
      logout();
      this.$router.push({ name: "Home" });
    },
  },
};
</script>

<style lang="scss">
@import "profile-menu-client";

.profile-menu__link::before {
  position: absolute;
  left: -10px;
  top: 0;
  content: "";
  display: inline-block;
  width: 10px;
  height: 100%;
  background: $blue;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
</style>
