.salon-page {
  .add-to-favorite.active .favorite-icon {
    background-position: center top 13px !important;
  }
  &__header {
    margin-bottom: 35px;
  }
  &__header-inner {
    padding: 20px 0;
    border-top: 1px solid rgba(24, 33, 62, 0.2);
    border-bottom: 1px solid rgba(24, 33, 62, 0.2);
  }
  &__header-left {
    max-width: 950px;
  }
  &__header-logo {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    margin-right: 15px;
    img {
      border-radius: 100%;
    }
  }
  &__header-name {
    font-size: 34px;
    line-height: 36px;
    font-weight: 600;
    margin-right: 25px;
  }
  &__header-action {
    &:not(:last-child) {
      margin-right: 25px;
    }
    .specialist-block__action-text {
      font-size: 18px;
      font-weight: 500;
    }
    .favorite-icon {
      margin: 0 15px 0 0;
      min-width: 45px;
      min-height: 45px;
      background: url(~@/assets/img/icon/favorite.svg) no-repeat;
      background-position: center top 13px;
      background-size: 20px;
    }

  }
  &__header-add {
    font-size: 21px;
    line-height: 23px;
    font-weight: 300;

    .notes-icon {
      margin: 0 0 0 15px;
    }
  }

  &__blocks {
    margin-bottom: 40px;
  }

  &__blocks-inner {
    border-bottom: 1px solid rgba($black, 0.2);
    padding-bottom: 40px;
  }

  .shop-item__checked {
    display: inline-block;
    width: 27px;
    height: 40px;
    background: url(~@/assets/img/shop/shop-checked.svg) no-repeat;
    border: 0;
    padding: 0;
    cursor: pointer;
  }
  &__photo-big {
    margin-bottom: 25px;
    border-radius: 8px;
    height: 450px;
    @media (max-width: 460px) {
      height: 350px;
    }
    img {
      border-radius: 8px;
      height: 100%;
      object-fit: cover;
    }
  }
  &__photo-small {
    .swiper-slide {
      border-radius: 8px;
      opacity: 0.5;
      height: 115px;
      @media (max-width: 767px) {
        height: 100px;
      }
      @media (max-width: 460px) {
        height: 80px;
      }
      &.swiper-slide-thumb-active {
        opacity: 1;
      }
    }

    img {
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  &__block-details {
    padding-left: 70px;
  }
  &__map {
    margin-bottom: 25px;
    width: 100%;
    height: 200px;
  }

  &__info {
    display: flex;
    margin-bottom: 30px;
  }
  &__info-rating {
    margin-right: 25px;
  }
  &__rating-icon {
    width: 25px;
    height: 25px;
    background: url(~@/assets/img/icon/star-orange.svg) no-repeat;
  }
  &__rating-content {
    margin-left: 10px;
  }
  &__rating-ball {
    letter-spacing: -0.025em;
    color: $orange;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 5px;
  }
  &__rating-reviews {
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
  }
  &__location-items {
    display: flex;
  }
  &__location-item  {
    .fa-map-marker-alt {
      width: 16px;
      height: 21px;
      color: $black;
    }
    & + .salon-page__location-item {
      margin-left: 25px;
    }
    .metro-icon {
      width: 26px;
      height: 17px;
      background-size: contain;
    }
  }
  &__location-content {
    margin-left: 10px;
  }
  &__location-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
  }
  &__location-address {
    font-weight: 300;
    font-size: 16px;
  }

  .our-slider__more-info {
    width: auto;
    border-radius: 7px;
    font-size: 14px;
    padding: 10px 20px;
  }

  &__about {
    margin-bottom: 50px;
  }
  &__about-content {
    &.show {
      .salon-page__about-text {
        max-height: initial;
        transition: max-height 0.6s ease-in-out;
      }
    }
  }
  &__about-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 15px;
  }
  &__about-text {
    max-height: 105px;
    transition: max-height 0.6s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;
    p {
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 0.01em;
    }
  }
  &__about-more {
    padding-top: 15px;
    cursor: pointer;
    &:hover {
      color: $blue;
    }
    &.show {
      .salon-page__about-moreShow {
        display: block;
      }
      .salon-page__about-moreHide {
        display: none;
      }
    }
    span {
      font-weight: 500;
      font-size: 16px;
    }
    .salon-page__about-moreShow {
      display: none;
    }
  }

  &__tabs {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    border-radius: 47px;
    background: rgba(29, 39, 74, 0.05);
    padding: 3px 5px;
    .nav-item {
      width: 50%;
    }
    .nav-link,
    .nav-link.active {
      margin-bottom: 0;
      border: 0;
      padding: 14px;
      background: transparent;
      width: 100%;
    }
    .nav-link {
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      color: $black;
      opacity: 0.5;
      transition: 0.5s;
      &:hover {
        opacity: 1;
        transition: 0.5s;
      }
      &.active {
        font-weight: 600;
        background: $black;
        border-radius: 47px;
        color: $white;
        opacity: 1;
        transition: 0.5s;
        &:hover {
          opacity: 0.7;
          transition: 0.5s;
        }
      }
    }

  }
  &__tab-content {
    padding-top: 40px;
  }

  &__accordion {
    .accordion-item {
      border: 0;
      padding: 10px 0;
      border-bottom: 1px solid rgba(29, 39, 74, 0.1);
      &:hover {
        .accordion-header__content-title {
          color: $blue
        }

      }
    }
    .accordion-button {
      display: block;
      background: none;
      color: $black;
      padding: 0;
      box-shadow: none;
      &:after {
        display: none;
      }
      .accordion-header__content {
        &:after {
          transform: rotate(270deg);
        }
      }
      &.collapsed {
        .accordion-header__content {
          &:after {
            transform: rotate(90deg);
            transition: 0.5s;
          }
        }
      }
    }
    .accordion-header {
      &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__content {
        position: relative;
        &:after {
          position: absolute;
          top: 50%;
          margin-top: -10px;
          right: -40px;
          content: '';
          display: inline-block;
          width: 15px;
          height: 19px;
          background: url(~@/assets/img/icon/arrow-right.svg) no-repeat;
          background-size: contain;

          transition: 0.5s;
        }

        &-title {
          font-weight: 600;
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 5px;
        }
        &-price {
          font-weight: 500;
          font-size: 18px;
          opacity: 0.5;
        }
      }
    }
    &-icon {
      width: 70px;
      height: 70px;
      border-radius: 100px;
      background: rgba(29, 39, 74, 0.05);
      padding: 15px;
      margin-right: 40px;
    }
    .accordion-body {
      padding: 0;
      padding: 40px 0 30px;
    }
  }
}
.salon-page__load {
  margin-top: 48px;
  text-align: center;
}
.salon-page__load-btn {
  max-width: 600px;
  width: 100%;
  margin: auto;

  border-radius: 47px;
  font-size: 20px;
  font-weight: 500;
  color: $black;
  text-align: center;
  padding: 20px;
  background-color: rgba($black, 0.1);
  &:hover {
    background-color: $black;

  }
}
.salon-page__search {
  &-block {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(29,39,74,.1);
  }
  &-blockInner {
    display: flex;
    align-items: center;
  }
  &-back {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: $blue;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 18px;
      background: url(~@/assets/img/icon/arrow-specialist.svg) no-repeat;
      transform: rotate(180deg);
      background-size: contain;
    }
  }
  &-backText {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-left: 15px;
  }
  &-filters {
    flex: 1;
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid rgba(29, 39, 74, 0.1);
  }
  &-filter {
    display: inline-block;
    border-radius: 47px;
    background: rgba($black, 0.05);
    padding: 17px 35px;
    margin: 3px 0;
    & + .salon-page__search-filter {
      margin-left: 10px;
    }
  }
  &-filterText {
    display: inline;
    font-weight: 500;
    font-size: 18px;
    color: $black;
  }
  &-filterRemove {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background: url(~@/assets/img/icon/remove.svg) no-repeat;
  }
}

.modal-map__btn {
  border: 0;
  padding: 0;
  border-radius: 7px;
  width: 100%;
  img,
  iframe {
    border-radius: 7px;
  }
}


.block-details__actions {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(24,33,62,.2);
}
.block-details__action {
  max-width: 48%;
  flex: 0 0 48%;
  border-radius: 7px;
  text-align: center;
  font-size: 16px;
  padding: 10px 5px;
  &.btn-blueBorder {
    &:hover {
      background: $white;
      transition: 0.5s;
      -webkit-box-shadow: 0px 5px 10px 2px rgba(29, 39, 75, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(29, 39, 75, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(29, 39, 75, 0.2);
      color: $blue;
    }
  }
}


@media(max-width: 1199px) {
  .salon-page__block-details {
    padding-left: 0px;
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .salon-page {
    .shop-item__labels {
      display: block;
      z-index: 9;
    }
    &__header-checked {
      display: none;
    }
    &__header-action {
      .specialist-block__action-text {
        display: none;
      }
      .share-icon,
      .favorite-icon {
        margin-right: 0;

      }
    }
    &__header-name {
      font-size: 24px;
      line-height: 26px;
    }

    .salon-page__search {
      &-backText {
        font-weight: 500;
        font-size: 17px;
      }
      &-filter {
        padding: 10px 25px;
      }
      &-filterText {
        font-size: 12px;
        line-height: 15px;
      }
      &-filterRemove {
        width: 8px;
        height: 8px;
        background-size: 8px;
      }
    }
  }
}

@media(max-width: 767px) {
  .salon-page {
    &__blocks {
      margin-bottom: 20px;
    }
    &__blocks-inner {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    &__info {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid rgba(29, 39, 74, 0.2);
    }
    &__info-rating {
      margin: 0;
    }
    &__rating-icon {
      display: none;
    }
    &__rating-ball {
      text-align: right;
    }
    &__rating-reviews {
      text-decoration: none;
    }
    &__location-items {
      flex-direction: column;
    }
    &__location-item {
      & + .salon-page__location-item {
        margin: 15px 0 0;
      }
      &.metro {
        .salon-page__location-title {
          display: none;
        }
      }
    }
    .salon-page__search {
      &-block {
        padding-bottom: 15px;
      }
      &-blockInner {
        flex-direction: column;
      }
      &-back {
        width: 100%;
        margin-bottom: 15px;
      }
      &-filters {
        width: 100%;
        border: 0;
        padding: 0;
        margin: 0;
      }
    }
    &__tab-content {
      padding-top: 20px;
    }
    &__accordion {
      .tab__item-title {
        white-space: nowrap;
      }
      .accordion-header__inner {
        justify-content: flex-start;
      }
      .accordion-body {
        padding: 10px 0 30px;
      }
      &-icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        padding: 7px;
      }
      .accordion-header__content {
        display: flex;
        flex: 1;
        position: relative;
        &:after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 15px;
        }
        &-title {
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          margin: 0 10px 0 0;
        }
        &-price {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .salon-page {
    &__header {
      margin-bottom: 16px;
    }
    &__header-logo {
      width: 35px;
      min-width: 35px;
      height: 35px;
      border: 2px solid $black;
    }


    &__photo {
      position: relative;
    }
    &__photo-big {
      margin-bottom: 10px;
    }

    &__block-details {
      margin-top: 15px;
    }

    &__about {
      margin-bottom: 40px;
    }
    &__about-content {
      &.show {
        .salon-page__about-text {
          display: block;
          -webkit-line-clamp: none;
          -webkit-box-orient: vertical;
        }
      }
    }
    &__about-text {
      max-height: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    &__tabs {
      .nav-link {
        font-size: 13px;
      }
    }
  }
}
