.populat-service__block {
  padding: 15px;
  border-radius: 12px;
  transition: 0.5s;
  margin: 0;
  height: 100%;

  &--small.populat-service__block {
    padding: 7px;
    cursor: pointer;
    .populat-service__block-img {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto 8px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .populat-service__name {
      font-weight: 500;
      font-size: 12px;
      line-height: 13px;
      text-align: center;
      margin-bottom: 5px;
      flex-grow: 0;
      &:hover {
        color: $black;
      }
    }
    .populat-service__prices {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .populat-service__price,
    .populat-service__price.old,
    .populat-service__price.new {
      font-size: 11px;
      margin-bottom: 0;
      &:last-child {
        margin-left: 4px;
      }
    }
    .populat-service__rating {
      flex-direction: column;
      margin-bottom: 0;
      order: 3;
      .promo-time-procedure {
        span {
          font-size: 12px;
        }
        &:before {
          width: 12px;
          height: 12px;
          background-size: contain;
        }
      }
    }
    .populat-service__rating-value {
      font-size: 13px;
      line-height: 1;
    }
    .populat-service__rating-reviews {
      font-size: 11px;
      letter-spacing: 0.01em;
      line-height: 1;
    }
  }

  &--selected,
  &:hover {
    background: rgba($black, 0.1);
    transition: 0.5s;

    .populat-service__block-btn {
      background: $white;
      color: $black;
      border: 1px solid transparent;
    }
  }

  &-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-header {
    position: relative;
  }

  &-icons {
    position: absolute;
    left: 15px;
    top: -6px;
    @media (max-width: $tablet) {
      left: 8px;
    }
  }
  &-icon {
    margin-right: 9px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-gender {
    font-size: 0;
    line-height: 0;
    width: 26px;
    height: 40px;
    @media (max-width: $tablet) {
      width: 21px;
      height: 32px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  &-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 7px;
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }

    img {
      border-radius: 7px;
    }
  }

  .best-price-label {
    border: 0;
    padding: 0;
    position: absolute;
  }

  .shop-favorite {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    border: 0;
    background: $white url(~@/assets/img/icon/favorite.svg) no-repeat;
    transition: 0.5s;
    background-size: 18px;
    background-position: center;

    @media (max-width: $tablet) {
      top: 8px;
      right: 8px;
      width: 25px;
      height: 25px;
      background-size: 13px;
    }

    &.active {
      background: $white url(~@/assets/img/icon/favorite-color.svg) no-repeat;
      transition: 0.5s;
      background-size: 18px;
      background-position: top 12px center;
    }
  }

  .populat-service__rating {
    margin-bottom: 20px;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  .populat-service__rating-value {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    margin-right: 10px;
    color: $orange;

    @media (max-width: 767px) {
      font-size: 13px;
      margin-right: 5px;
    }
  }

  .populat-service__rating-reviews {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.5;

    @media (max-width: 767px) {
      font-size: 10px;
    }
  }

  .promo-time-procedure {
    span {
      font-weight: 500;
      font-size: 16px;
      opacity: 0.5;

      @media (max-width: 767px) {
        font-size: 11px;
      }
    }

    &:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 5px;
      background: url(~@/assets/img/icon/time-slot.svg) no-repeat;

      @media (max-width: 767px) {
        width: 13px;
        height: 13px;
        background-size: contain;
      }
    }
  }

  .populat-service__name {
    flex: 1;
    display: block;
    font-size: 17px;
    color: $black;
    text-decoration: none;
    letter-spacing: 0.01em;
    margin-bottom: 20px;

    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 15px;
    }

    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  .populat-service__price {
    &.new {
      font-weight: bold;
      font-size: 18px;

      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 14px;
      }

      @media (max-width: 767px) {
        font-size: 12px;
      }
    }

    &.old {
      margin-left: 0;
      text-decoration-line: line-through;
      font-weight: 500;
      font-size: 16px;
      opacity: 0.5;
      margin-bottom: 5px;

      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 13px;
        margin-left: 15px;
      }

      @media (max-width: 767px) {
        font-size: 10px;
        margin-left: 15px;
        margin-bottom: 0;
      }
    }
  }

  &-btn {
    margin-top: 25px;
    border-radius: 47px;
    font-size: 18px;
    font-weight: 500;

    @media (max-width: 767px) {
      font-size: 13px;
      margin-top: 15px;
    }
  }
}

@media (max-width: 767px) {
  .populat-service__block {
    .best-price-label {
      width: 21px;
      height: 34px;
      background-size: contain;
    }

    .populat-service__prices {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
