.similar-offers {
  &__blocks {
    padding: 5px;
  }
  .swiper-wrapper {
    align-items: stretch;
  }
  &__block {
    height: auto;
  }
  &__block-inner {
    height: 100%;
    border-radius: 19px;
    box-shadow: 0px 0px 5px rgba(21, 29, 54, 0.15);
  }
  &__block-top {
    position: relative;
    display: block;
  }
  &__block-logo {
    position: absolute;
    bottom: 15px;
    left: 25px;
    border-radius: 50px;
  }
  &__content-top,
  &__content-bottom {
    padding: 20px 15px 20px 30px;
    @media (max-width: 575px) {
      padding: 15px 10px;
    }
  }
  &__content-top {
    border-bottom: 1px solid rgba(24, 33, 62, 0.2);
  }
  &__block-name {
    display: block;
    font-family: $baseFont;
    font-size: 22px;
    line-height: 30px;
    font-weight: 800;
    text-decoration: none;
    color: $black;
    @media (max-width: 575px) {
      font-size: 18px;
    }
  }
  &__info {
    margin-bottom: 5px;
  }
  &__block-service {
    font-family: $baseFont;
    font-size: 13px;
    line-height: 17px;
    opacity: 0.5;
  }
  .rating-star.full {
    width: 17px;
    height: 17px;
    background-size: contain;
  }
  .rating-star.half {
    height: 17px;
  }
  &__block-reviews {
    font-family: $baseFont;
    font-size: 12px;
    line-height: 16px;
    text-decoration: underline;
    margin-left: 10px;
  }
  .salon-page__location-address,
  .salon-page__metro {
    font-family: $baseFont;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    line-height: 19px;
    max-width: 220px;
  }
  .salon-page__location {
    margin-bottom: 10px;
  }
  .fa-map-marker-alt {
    width: 19px;
    height: 19px;
  }
  .metro-icon  {
    width: 21px;
    height: 13px;
    margin-right: 10px;
    background-position: center center;
  }
}

@media (max-width: 575px) {
  .similar-offers {
    .slider-nav {
      display: none;
    }
  }
}
