<template>
  <div class="profile-chat__body">
    <div class="chat-section">
      <transition name="slide" :duration="333">
        <div v-if="!isOnline" class="chat-section__offline">
          {{ $i18n.t("chat.offline") }}
        </div>
      </transition>
      <div
        ref="messagesBody"
        class="chat-section__blocks custom-scroll"
        :class="{ 'full-height': isClosed }"
      >
        <transition-group
          tag="div"
          name="slide"
          :duration="333"
          class="chat-section__blocks-inner"
        >
          <div
            v-for="(block, bidx) in messageBlocks"
            :key="bidx"
            class="chat-block"
            :class="{
              in: block.isOutgoing === false,
              out: block.isOutgoing,
              'mt-auto': bidx === 0,
            }"
          >
            <div
              class="chat-block__inner d-flex"
              :class="{ 'justify-content-end': block.isOutgoing }"
            >
              <div class="chat-block__content">
                <div v-if="block.isDay" class="chat-block__content-day">
                  {{ block.date }}
                </div>
                <div
                  v-else-if="block.isSystem"
                  class="chat-block__content-system"
                >
                  <span class="chat-block__time system">{{ block.time }}</span>
                  <span class="chat-block__content-system-text">
                    {{ block.text }}
                  </span>
                </div>
                <div
                  v-else
                  v-for="(message, midx) in block.messages"
                  :key="midx"
                  class="chat-block__content-message"
                  :class="{ system: block.isSystem }"
                >
                  <div
                    class="chat-block__content-text"
                    :class="{
                      'order-1': block.isOutgoing,
                      'order-2': block.isOutgoing === false,
                    }"
                  >
                    {{ message.text }}
                  </div>
                  <div
                    class="chat-block__photo"
                    :class="{
                      'order-2': block.isOutgoing,
                      'order-1': !block.isOutgoing,
                      'no-photo': block.isSystem,
                    }"
                  >
                    <div v-if="!block.isSystem" class="chat-block__avatar">
                      <img :src="block.avatarSrc" alt="" />
                    </div>
                    <div class="chat-block__time">{{ message.time }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </transition-group>
      </div>

      <div v-if="!isClosed" class="chat-section__bottom">
        <SendMessageForm @send-message="scrollToChatBottom" />
      </div>
    </div>
  </div>
</template>

<script>
import { accountModule } from "@/store";
import { chatsModule } from "../store/chats-module";
import SendMessageForm from "./SendMessageForm.vue";
import { format, formatTime } from "@/helpers/date";

export default {
  name: "ChatMessages",
  components: { SendMessageForm },

  computed: {
    isOnline() {
      return chatsModule.online;
    },
    isClosed() {
      return chatsModule.chat.isClosed;
    },
    messages() {
      return chatsModule.messages;
    },
    messageBlocks() {
      return this.messages.reduce((acc, item, i, arr) => {
        const previousMessage = arr[i - 1];
        const time = formatTime(item.createdAt);
        const currentDay =
          item.createdAt.getFullYear() +
          item.createdAt.getMonth() +
          item.createdAt.getDay();
        const previousDay = previousMessage
          ? previousMessage.createdAt.getFullYear() +
            previousMessage.createdAt.getMonth() +
            previousMessage.createdAt.getDay()
          : currentDay;
        const isNewDay = i === 0 || currentDay > previousDay;
        const showYear =
          item.createdAt.getFullYear() < new Date().getFullYear();

        if (isNewDay) {
          const date = format(item.createdAt, {
            day: "2-digit",
            month: "long",
            year: showYear ? "numeric" : undefined,
          });

          acc.push({
            isDay: true,
            date,
          });
        }

        if (item.isSystem) {
          acc.push({
            isSystem: true,
            text: this.$i18n.t(`chat.${item.text}`, {
              user: chatsModule.chat.specialistName,
            }),
            time,
          });
          return acc;
        }

        /* if (
          previousMessage !== undefined &&
          previousMessage.messages !== undefined &&
          previousMessage.userId === item.userId
        ) {
          console.log("block found");
          acc[acc.length - 1].messages.push({
            text: item.text,
            time,
          });
          return acc;
        } */

        acc.push({
          userId: item.userId,
          isOutgoing: item.isOutbound,
          avatarSrc: item.isOutbound
            ? accountModule.avatar
            : chatsModule.chat.specialistAvatar,
          messages: [{ text: item.text, time }],
        });
        return acc;
      }, []);
    },
  },

  methods: {
    scrollToChatBottom() {
      const body = this.$refs.messagesBody;
      body.scrollTo(0, body.scrollHeight);
    },
  },

  mounted() {
    this.$nextTick(() => {
      this.scrollToChatBottom();
    });
  },

  watch: {
    messages() {
      this.$nextTick(() => {
        this.scrollToChatBottom();
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.chat-section {
  &__blocks-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
</style>
