<template>
  <form
    class="dropdown all-chats__action"
    v-click-outside="() => (isOpened = false)"
    @submit.prevent="submitFilters"
  >
    <button
      class="btn all-chats__action-filter"
      :class="{ show: isOpened }"
      type="button"
      aria-expanded="false"
      @click="toggleFilters"
    >
      Фильтр
    </button>

    <div
      class="dropdown-menu all-action__filter-menu dropdown-menu-end"
      :class="{ show: isOpened }"
    >
      <div
        class="filter-menu__item"
        v-click-outside="() => (isNameOpened = false)"
      >
        <div class="filter-menu__item-block">
          <label class="form-label">Имя</label>
          <input
            v-model="name"
            type="text"
            class="form-control input-keyup"
            @focus="isNameOpened = true"
          />
        </div>

        <div
          v-show="isNameOpened"
          class="filter-menu__search-block filter-menu__search-name"
        >
          <template v-if="!name"> Начните писать для поиска </template>

          <template v-else-if="!filteredChats.length">
            Чаты не найдены
          </template>

          <template v-else>
            <ChatCard
              v-for="chat in filteredChats"
              :key="chat.id"
              :chat="chat"
              no-link
              @click="selectName(chat)"
            />
          </template>
        </div>
      </div>

      <div
        class="filter-menu__item"
        v-click-outside="() => (isJobOpened = false)"
        @click="isJobOpened = !isJobOpened"
      >
        <div class="filter-menu__item-block">
          <label for="exampleInputEmail1" class="form-label"> Професия </label>
          <span
            class="form-control input-with-arrow"
            :class="{ opened: isJobOpened }"
          >
            {{ jobs.join(", ") }}
          </span>
        </div>

        <div
          v-show="isJobOpened"
          class="filter-menu__search-block filter-menu__search-default"
        >
          <label v-for="job in chatJobs" :key="job" class="custom-input__label">
            <input
              :value="job"
              :checked="jobs.includes(job)"
              type="checkbox"
              class="custom-input__input"
              name="prof"
              @change="toggleJob(job)"
            />
            <span class="custom-input__text">{{ job }}</span>
          </label>
        </div>
      </div>

      <div class="filter-menu__footer">
        <button
          type="button"
          class="filter-menu__footer-btn btn btn-blue"
          @click="submitFilters"
        >
          Найти
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import ClickOutside from "vue-click-outside";
import ChatCard from "./ChatCard.vue";

import { uniq } from "lodash";

export default {
  name: "ChatsFilter",
  directives: { ClickOutside },
  components: { ChatCard },

  props: {
    value: { type: Object, required: true },
    chats: { type: Array, required: true },
  },

  data() {
    return {
      isOpened: false,
      isNameOpened: false,
      isJobOpened: false,
      name: "",
      jobs: [],
    };
  },

  computed: {
    chatJobs() {
      return uniq(this.chats.map((chat) => chat.specialistJobTitle));
    },

    filteredChats() {
      const search = this.name.toLowerCase();
      return this.chats.filter((item) =>
        item.specialistName.toLowerCase().startsWith(search)
      );
    },
  },

  methods: {
    toggleFilters() {
      this.isOpened = !this.isOpened;
      this.name = this.value.name;
      this.jobs = this.value.jobs.slice(0);
    },

    selectName(chat) {
      this.isNameOpened = false;
      this.name = chat.specialistName;
    },

    toggleJob(job) {
      const jobIndex = this.jobs.findIndex((item) => item === job);
      if (jobIndex !== -1) {
        this.jobs.splice(jobIndex, 1);
      } else {
        this.jobs.push(job);
      }
    },

    submitFilters() {
      this.$emit("input", {
        name: this.name,
        jobs: this.jobs,
      });
      this.isOpened = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.all-action__filter-menu {
  top: calc(100% + 2px);
  right: 0;
}
</style>
