<template>
  <component
    :is="noLink ? 'div' : 'router-link'"
    :to="{ name: 'ProfileChat', params: { id: chat.id } }"
    class="user-chat__line d-flex align-items-center justify-content-between"
    @click="$emit('click')"
  >
    <div class="user-chat__line-left d-flex align-items-center">
      <span
        class="user-chat__line-status"
        :class="{
          online: !chat.isPending && chat.isOnline,
          offline: !chat.isPending && !chat.isOnline,
          pending: chat.isPending,
        }"
      />

      <div class="user-chat__line-content d-flex align-items-center">
        <div class="user-chat__line-avatar">
          <img :src="chat.specialistAvatar" alt="" />
        </div>

        <div class="user-chat__line-info">
          <div class="user-chat__line-top d-flex align-items-center">
            <div class="user-chat__line-name">
              {{ chat.specialistName }}
            </div>

            <div v-if="chat.totalMessagesCount" class="user-chat__line-mess">
              {{ chat.totalMessagesCount }} сообщений
            </div>
          </div>

          <div class="user-chat__line-profile">
            {{ chat.specialistJobTitle }}
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="user-chat__line-btn btn btn-lightblue">
      Перейти
    </button>
  </component>
</template>

<script>
import { Chat } from "@/models/Chat";

export default {
  name: "ChatCard",

  props: {
    chat: { type: Chat, required: true },
    noLink: { type: Boolean, default: false },
  },
};
</script>

<style lang="scss" scoped>
.user-chat__line {
  color: inherit;
  text-decoration: none;
}
</style>
