<template>
  <div
    class="dropdown all-chats__action"
    v-click-outside="() => (isOpened = false)"
  >
    <button
      class="btn all-chats__action-sort"
      :class="{ show: isOpened }"
      type="button"
      aria-expanded="false"
      @click="isOpened = !isOpened"
    >
      Сортировка
    </button>

    <div
      class="dropdown-menu all-action__sort-menu dropdown-menu-end"
      :class="{ show: isOpened }"
    >
      <div
        v-for="option in sortOptions"
        :key="option.value"
        class="sort-menu__item"
        :class="{ active: option.value === value }"
        @click="selectOption(option)"
      >
        {{ option.label }}
      </div>
    </div>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
import { CHAT_SORTS } from "../constants";

export default {
  name: "ChatsSort",
  directives: { ClickOutside },

  props: {
    value: { type: String, required: true },
  },

  data() {
    return {
      isOpened: false,
    };
  },

  computed: {
    sortOptions() {
      return [
        { value: CHAT_SORTS.online, label: "Те, кто в онлайне" },
        { value: CHAT_SORTS.nameAsc, label: "По имени: от А до Я" },
        { value: CHAT_SORTS.nameDesc, label: "По имени: от Я до А" },
      ];
    },
  },

  methods: {
    selectOption(option) {
      this.isOpened = false;
      this.$emit("input", option.value);
    },
  },
};
</script>

<style lang="scss" scoped>
.all-action__sort-menu {
  top: calc(100% + 2px);
  right: 0;
}

.sort-menu__item {
  &.active {
    color: $blue;
  }
}
</style>
