<template>
  <div class="dropdown" v-click-outside="() => (isOpened = false)">
    <button
      class="profile-chat__header-btn dropdown-toggle"
      :class="{ show: isOpened }"
      type="button"
      @click="isOpened = !isOpened"
    >
      <div class="profile-chat__header-content d-flex">
        <div class="profile-chat__header-left">
          <div class="profile-chat__header-title">
            {{ chat.specialistName }}
          </div>

          <div class="profile-chat__header-subtitle">
            {{ chat.specialistJobTitle }}
          </div>
        </div>

        <div class="profile-chat__header-right">
          <div class="profile-chat__header-avatar">
            <img :src="chat.specialistAvatar" alt="" />
          </div>
        </div>

        <div
          class="profile-chat__header-status"
          :class="{
            online: chat.isOnline,
            offline: !chat.isOnline,
          }"
        />
      </div>
    </button>

    <ul
      class="dropdown-menu profile-chat__header-menu dropdown-menu-end"
      :class="{ show: isOpened }"
    >
      <li><div class="dropdown-item" @click="leaveChat">Удалить</div></li>
      <!--<li><div class="dropdown-item">Очистить</div></li>
      <li><div class="dropdown-item">Отменить</div></li>-->
    </ul>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
import { chatsModule } from "../store/chats-module";

export default {
  name: "ChatActions",
  directives: { ClickOutside },

  data() {
    return {
      isOpened: false,
    };
  },

  computed: {
    chat() {
      return chatsModule.chat;
    },
  },

  methods: {
    leaveChat() {
      chatsModule
        .leaveChat(this.chat.id)
        .then(this.$router.push("/user/chat"))
        .catch((ex) => this.$doNoty.error(ex));
    },
  },
};
</script>
