<template>
  <form class="chat-section__bottom-inner d-flex" @submit.prevent="sendMessage">
    <div class="chat-section__mess-block position-relative">
      <input
        ref="input"
        v-model="message"
        type="text"
        class="chat-section__reply form-control mr-20"
        placeholder="Напишите сообщение"
      />
    </div>

    <button
      type="submit"
      class="chat-section__btn-send"
      :disabled="isButtonDisbled"
    />
  </form>
</template>

<script>
import { chatsModule } from "../store/chats-module";
export default {
  name: "SendMessageForm",

  data() {
    return {
      message: "",
      isMessageSending: false,
    };
  },

  computed: {
    isButtonDisbled() {
      return !this.message || this.isMessageSending;
    },
  },

  mounted() {
    this.$refs.input.focus();
  },

  methods: {
    sendMessage() {
      if (!this.message) return;

      this.isMessageSending = true;
      chatsModule
        .sendMessage(this.message)
        .then(() => {
          this.message = "";
          this.$emit("send-message");
        })
        .catch((ex) => {
          console.log("Cannot send a message", ex);
        })
        .finally(() => {
          this.isMessageSending = false;
        });
    },
  },
};
</script>
