
.reviews-blocks__btn {
  margin-right: 15px;
  width: auto;
  padding: 10px 20px;
  font-size: 14px;
  white-space: nowrap;
  line-height: 23px;
  font-weight: 500;
}
.reviews-blocks__slider  {
  padding: 5px;
  &.open-block {
    .swiper-wrapper {
      align-items: baseline;
    }
  }

}
.reviews-blocks__inner {
  padding-bottom: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid rgba(24, 33, 62, 0.2);
  &--hide-arrows .swiper-button {
    display: none;
  }
  @media (max-width: 575px) {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.reviews-blocks__footer {
  margin-top: 70px;
  .see-all-reviews {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 41px;
  }
}
.reviews-block {
  height: 100%;
  &.short {
    .reviews-block__text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      transition: 0.5s;
    }
  }
  &__inner {
    height: 100%;
    border: none;
    // border-radius: 7px;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    padding: 25px 25px 35px;
  }
  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__photo {
    width: 100px;
    border-radius: 50%;
    margin-right: 25px;
    img {
      border-radius: 50%;
    }
  }
  &__name {
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  &__rating {
    display: flex;
    align-items: center;
  }
  .rating-block__value {
    font-size: 21px;
    line-height: 28px;
    opacity: 1;
    margin: 0;
    font-weight: 600;
    color: orange;
  }
  &__text {
    font-size: 16px;
    line-height: 23px;
  }
  &__salon {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    a {
      color: #000;
    }
    &-logo {
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      margin-left: 10px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &__footer-buttons {
    margin-top: 20px;
    &.open {
      .reviews-block__footer-button {
        &.show {
          display: block;
        }
        &.hide {
          display: none;
        }
      }
    }
    .reviews-block__footer-button {
      display: block;
      color: blue;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
      &.show {
        display: none;
      }
    }
  }

}

.rating-stars {
  display: flex;
  .rating-star:not(:last-child) {
    margin-right: 3px;
  }
  .rating-star.full {
    width: 21px;
    height: 21px;
    background: url(~@/assets/img/icon/star-full.svg) no-repeat;
  }
  .rating-star.half {
    height: 21px;
    width: 9px;
    background: url(~@/assets/img/icon/star-half.svg) no-repeat;
  }
}
.reviews-blocks__slider {
  .swiper-slide {
    height: auto;
  }
}

@media(max-width: 767px) {
  .reviews-blocks__btn {
    width: 150px;
    font-size: 14px;
    margin-right: 15px;
    padding: 10px 15px;
  }
  .reviews-blocks__footer {
    margin-top: 35px;
    .see-all-reviews {
      display: block;
      font-weight: 600;
      font-size: 15px;
      padding: 10px;
    }
  }
}



@media (max-width: 575px) {
  .reviews-blocks__footer-inner {
    .text-black {
      max-width: 155px;
    }

  }
  .reviews-blocks {
    &__header-right {
      flex-direction: column-reverse;
      .reviews-blocks__btn {
        display: none;
      }
    }
    .reviews-blocks__btn {
      margin: 0;
    }
    .our-slider__header {
      align-items: flex-start;
    }
    .slider-nav {
      padding-top: 8px;
      margin-bottom: 15px;
      width: 100%;
      justify-content: flex-end;
    }
    &__footer {
      .reviews-blocks__btn {
        margin: 0 15px 0 0;
      }
    }
  }
}


.reviews-blocks__btn {
  margin-right: 15px;
  width: auto;
  padding: 10px 20px;
  font-size: 14px;
  white-space: nowrap;
  line-height: 23px;
  font-weight: 500;
}
.reviews-blocks__slider  {
  padding: 5px;
  &.open-block {
    .swiper-wrapper {
      align-items: baseline;
    }
  }
}
.reviews-blocks__footer {
  margin-top: 70px;
  .see-all-reviews {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 41px;
  }
}
.reviews-block {
  height: 100%;
  &.short {
    max-height: 334px;

    .reviews-block__text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      transition: 0.5s;
    }
  }
  &__inner {
    height: 100%;
    border: none;
    // border-radius: 7px;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    padding: 25px 25px 35px;
  }
  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__photo {
    width: 100px;
    border-radius: 50%;
    margin-right: 25px;
    img {
      border-radius: 50%;
    }
  }
  &__name {
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  &__rating {
    display: flex;
    align-items: center;
  }
  .rating-block__value {
    font-size: 21px;
    line-height: 28px;
    opacity: 1;
    margin: 0;
    font-weight: 600;
    color: orange;
  }
  &__text {
    font-size: 16px;
    line-height: 23px;
  }
  &__salon {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    a {
      color: $black;
    }
    &-logo {
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      margin-left: 10px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &__footer-buttons {
    margin-top: 20px;
    &.open {
      .reviews-block__footer-button {
        &.show {
          display: block;
        }
        &.hide {
          display: none;
        }
      }
    }
    .reviews-block__footer-button {
      display: block;
      color: $blue;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
      &.show {
        display: none;
      }
    }
  }

}

.rating-stars {
  display: flex;
  .rating-star:not(:last-child) {
    margin-right: 3px;
  }
  .rating-star.full {
    width: 21px;
    height: 21px;
    background: url(~@/assets/img/icon/star-full.svg) no-repeat;
  }
  .rating-star.half {
    height: 21px;
    width: 9px;
    background: url(~@/assets/img/icon/star-half.svg) no-repeat;
  }
}
.reviews-blocks__slider {
  .swiper-slide {
    height: auto;
  }
}

@media(max-width: 767px) {
  .reviews-blocks__btn {
    width: 150px;
    font-size: 14px;
    margin-right: 15px;
    padding: 10px 15px;
  }
  .reviews-blocks__footer {
    margin-top: 35px;
    .see-all-reviews {
      display: block;
      font-weight: 600;
      font-size: 15px;
      padding: 10px;
    }
  }
}



@media (max-width: 575px) {
  .reviews-blocks__footer-inner {
    .text-black {
      max-width: 155px;
    }

  }
  .reviews-blocks {
    &__header-right {
      flex-direction: column-reverse;
      .reviews-blocks__btn {
        display: none;
      }
    }
    .reviews-blocks__btn {
      margin: 0;
    }
    .our-slider__header {
      align-items: flex-start;
    }
    .slider-nav {
      padding-top: 8px;
      margin-bottom: 15px;
      width: 100%;
      justify-content: flex-end;
    }
    &__footer {
      .reviews-blocks__btn {
        margin: 0 15px 0 0;
      }
    }
  }

}

.our-slider__title {
  font-size: 34px;
  line-height: 36px;
  font-weight: 600;
}

.our-slider__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px
;
}
