<template>
  <div class="reviews-blocks__inner container">
    <div class="our-slider__header">
      <h2 class="site-content__title">Отзывы</h2>

      <div class="reviews-blocks__header-right d-flex align-items-center">
        <div v-if="reviews.length" class="slider-nav">
          <div class="reviews-swiper-button-prev swiper-button-prev"></div>
          <div class="reviews-swiper-button-next swiper-button-next"></div>
        </div>
      </div>
    </div>

    <template v-if="isLoading">
      <SemipolarSpinner
        class="reviews__spinner"
        :animation-duration="2000"
        :size="50"
      />
    </template>

    <template v-else-if="reviews.length">
      <div
        class="reviews-blocks__slider swiper"
        v-swiper="{
          slidesPerView: 3,
          spaceBetween: 30,
          shortSwipes: false,
          navigation: {
            nextEl: '.reviews-swiper-button-next',
            prevEl: '.reviews-swiper-button-prev',
            clickable: true,
          },
          breakpoints: {
            0: { slidesPerView: 1, spaceBetween: 15 },
            767: { slidesPerView: 2 },
            992: { slidesPerView: 3 },
          },
        }"
      >
        <div class="swiper-wrapper">
          <ReviewsCard
            v-for="review in reviews"
            :key="review.id"
            class="swiper-slide"
            :review="review"
          />
        </div>
      </div>
    </template>

    <p v-else class="reviews__stub">Пока нет отзывов</p>
  </div>
</template>

<script>
import { directive as swiper } from "vue-awesome-swiper";

import { SemipolarSpinner } from "epic-spinners";
import ReviewsCard from "../../ReviewsCard/ReviewsCard";
import { mainApi } from "@/services/api/main-api";
import { Review } from "@/models/Review";

export default {
  name: "ReviewsSlider",
  directives: { swiper },
  components: {
    SemipolarSpinner,
    ReviewsCard,
  },

  data() {
    return {
      reviews: [],
      isLoading: false,
    };
  },

  async created() {
    this.isLoading = true;
    try {
      const { data } = await mainApi.getReviews({ random: 1, limit: 15 });
      this.reviews = data.data.map((item) => new Review(item));
    } catch (err) {
      this.$doNoty.error(err);
    } finally {
      this.isLoading = false;
    }
  },
};
</script>

<style lang="scss">
@import "reviews-slider";
</style>

<style lang="scss" scoped>
.reviews-blocks__slider .swiper-wrapper {
  align-items: flex-start;
}

.reviews {
  &__stub {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
  }
}

.reviews__spinner {
  margin: 100px auto;
  display: grid;
  place-items: center;
}
</style>
