<template>
  <def-layout>
    <div class="services-page site-content main-content">
      <div class="services-variants teasers-page__content">
        <div class="container">
          <div class="teasers-page__content-inner">
            <div class="row g-0">
              <div
                class="col-xl-auto col-lg-6 flex-grow-1"
                :style="{ height: `${servicesHeight}px` }"
              >
                <div class="services-variants__left">
                  <div class="header-page">
                    <div class="container">
                      <div
                        class="
                          d-flex
                          align-items-center
                          justify-content-between
                        "
                      >
                        <div class="header-page__title">Услуги</div>
                        <div class="services-variants__title-small">
                          Поиск по услугам и категориям
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="services-variants__search">
                    <div class="services-variants__search-inner">
                      <input
                        v-model="search"
                        type="text"
                        class="services-variants__search-input"
                        placeholder="Поиск по услугам и категориям"
                        @input="searchServices"
                      />
                    </div>
                  </div>

                  <div class="services-variants__items">
                    <div v-if="isLoading" class="services-variants__spinner">
                      <SemipolarSpinner
                        :animation-duration="2000"
                        :size="50"
                      />
                    </div>

                    <p
                      v-else-if="!services.length"
                      class="services-variants__stub"
                    >
                      Услуги не найдены
                    </p>

                    <div
                      v-else
                      class="services-variants__items-inner custom-scroll"
                    >
                      <ServiceVariantItem
                        v-for="(service, serviceIndex) in services"
                        :key="serviceIndex"
                        :service="service"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div ref="right" class="col-xl-auto col-lg-6">
                <div class="services-variants__right">
                  <div
                    v-if="filteredCategories.length"
                    class="services-variants__block"
                  >
                    <div class="services-variants__block-title">Категории</div>
                    <div class="services-variants__block-items">
                      <button
                        v-for="category in filteredCategories"
                        :key="category.id"
                        @click="toggleFilter('selectedCategories', category.id)"
                        :class="{active: selectedCategories.includes(category.id)}"
                        class="btn services-variants__block-link"
                      >
                        {{ category.title }}
                      </button>
                    </div>
                  </div>

                  <div v-if="bodyParts.length" class="services-variants__block">
                    <div class="services-variants__block-title">Зоны тела</div>
                    <div class="services-variants__block-items">
                      <button
                        v-for="bodyPart in bodyParts"
                        :key="bodyPart.id"
                        @click="toggleFilter('selectedBodyParts', bodyPart.id)"
                        :class="{active: selectedBodyParts.includes(bodyPart.id)}"
                        class="btn services-variants__block-link"
                      >
                        {{ bodyPart.title }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="teasers-page__content">
        <div class="container">
          <div class="teasers-page__content-inner">
            <div class="site-content__header">
              <div class="site-content__title">Услуги</div>
            </div>
            <div class="media-section">
              <img src="@/assets/img/teasers/media-block.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <HitsSlider />
    </div>
  </def-layout>
</template>

<script>
import { SemipolarSpinner } from "epic-spinners";
import DefLayout from "@/layouts/Default/Default";
import HitsSlider from "@/components/Sliders/HitsSlider/HitsSlider";
import ServiceVariantItem from "./components/ServiceVariantItem.vue";

import { createNamespacedHelpers } from "vuex";
import { mainApi } from "@/services/api/main-api";
import { Service } from "@/models/Service";
import { SearchService } from "@/models/SearchService";
import { Salon } from "@/models/Salon";

import debounce from "lodash/debounce";

const searchStore = createNamespacedHelpers("Search");

export default {
  name: "Services",
  components: {
    SemipolarSpinner,
    DefLayout,
    HitsSlider,
    ServiceVariantItem,
  },

  data: () => ({
    isLoading: false,
    search: "",
    services: [],
    searchDebounced: null,
    servicesHeight: 385,

    selectedCategories: [],
    selectedBodyParts: [],
  }),

  computed: {
    ...searchStore.mapGetters(["serviceCategories", "bodyParts"]),

    filteredCategories() {
      return this.serviceCategories.filter((item) => item.isActive);
    },
  },

  created() {
    this.searchDebounced = debounce(this.loadServices, 500);
    this.loadServices();
    this.loadBodyParts();
  },

  methods: {
    ...searchStore.mapActions(["getBodyParts"]),

    async loadBodyParts() {
      await this.getBodyParts();
      await this.$nextTick();

      this.servicesHeight = Math.max(this.$refs.right.offsetHeight, 385);
    },

    async loadServices() {
      this.isLoading = true;
      try {
        const { data } = await mainApi.searchServices({
          service: this.search || undefined,
          category_id: this.selectedCategories.length
            ? this.selectedCategories
            : undefined,
          body_part_id: this.selectedBodyParts.length
            ? this.selectedBodyParts
            : undefined,
        });
        this.services = data.services.map((item) => ({
          ...new SearchService(item),
          salon: new Salon(item.salon),
        }));
      } catch (error) {
        this.$doNoty.error(error);
      } finally {
        this.isLoading = false;
      }
    },

    searchServices() {
      this.isLoading = true;
      this.searchDebounced();
    },

    toggleFilter(code, id) {
      const index = this[code].findIndex((item) => item === id);

      if (!~index) {
        this[code].push(id);
      } else {
        this[code].splice(index, 1);
      }
      this.loadServices();
    },
  },
};
</script>

<style lang="scss" scoped>
@import "services";

.services-variants__left {
  height: inherit;
  display: grid;
  grid-template-rows: auto auto minmax(0, 1fr);
}

.services-variants__items-inner {
  max-height: 100%;
  height: 100%;
}

.services-variants__spinner,
.services-variants__stub {
  width: 556px;
  margin: 100px auto;
  display: grid;
  place-items: center;

  @media (max-width: 1200px) {
    width: 468px;
  }

  @media (max-width: 556px) {
    width: 100%;
  }
}
</style>
