.services-variants {
  &__right {
    padding-top: 48px;
  }

  &__search {
    margin-bottom: 10px;
    &-inner {
      position: relative;
      &:after {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 25px;
        height: 25px;
        background: url(~@/assets/img/icon/search-black.svg) no-repeat;
      }
    }
    &-input {
      border-radius: 7px;
      border: 1px solid rgba(29, 39, 74, 0.5);
      width: 100%;
      padding: 10px 50px 10px 25px;
      height: 70px;
    }
  }
  &__rating-content {
    text-align: right;
  }
  &__rating-title {
    font-weight: 600;
  }
  &__rating-value {
    font-size: 12px;
    line-height: 16px;
    text-decoration: underline;
  }
  &__rating-ball {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: $blue;
    margin-left: 5px;
    letter-spacing: -0.065em;
    font-size: 16px;
    font-weight: 600;
    color: $white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
  }

  &__block + .services-variants__block {
    margin-top: 35px;
  }
  &__block-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  &__block-items {
    margin: 0 -5px;
  }
  &__block-link {
    display: inline-block;
    margin: 5px;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 1;
    color: $black;
    text-decoration: none;
    border-radius: 7px;
    background: rgba(29, 39, 74, 0.05);
    transition: 0.5s;
    &.active,
    &:hover {
      color: $black;
      background: rgba(29, 39, 74, 0.08);
    }
  }
}

@media (min-width: 1200px) {
  .services-variants {
    &__left {
      max-width: 560px;
    }
    &__right {
      max-width: 540px;
      padding-left: 50px;
    }
  }
}

@media (min-width: 1400px) {
  .services-variants {
    &__left {
      max-width: 560px;
    }
    &__right {
      max-width: 660px;
      padding-left: 110px;
    }
  }
}



@media (max-width: 1199px) {
  .services-variants {
    &__right {
      padding-left: 20px;
    }

    &__block-link {
      font-size: 16px;
      padding: 10px 15px;
    }
  }
}

@media (max-width: 991px) {
  .services-variants {
    &__search-input {
      height: 50px;
    }
    &__title-small {
      display: none;
    }

    &__right {
      padding: 0;
      margin-top: 25px;
    }
    &__block-title {
      font-size: 24px;
      line-height: 25px;
    }
  }
}

@media (max-width: 575px) {
  .services-variants {
    &__photo {
      max-width: 60px;
      flex: 0 0 60px;
    }
    &__name {
      font-size: 18px;
    }
    &__service-name {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 5px;
    }
    &__rating-title {
      display: none;
    }
    &__item-right {
      padding: 5px 10px;
    }
    &__rating-ball {
      order: 1;
    }
    &__rating-content {
      order: 2;
    }
    &__block-link {
      font-weight: 500;
      font-size: 14px;
    }
  }
}
