<template>
  <svg style="display: none">
    <symbol id="procedure" width="30" height="30" viewBox="0 0 30 30">
      <g>
        <path
          d="M0.1 15C0.1 6.95769 6.97041 0.1 15 0.1C23.0415 0.1 29.9 6.9686 29.9 15C29.9 23.0423 23.0296 29.9 15 29.9C6.9585 29.9 0.1 23.0314 0.1 15ZM1.07187 15C1.07187 22.5508 7.44917 28.9281 15 28.9281C22.5508 28.9281 28.9281 22.5508 28.9281 15C28.9281 7.44917 22.5508 1.07187 15 1.07187C7.44917 1.07187 1.07187 7.44917 1.07187 15Z"
          stroke="white"
          stroke-width="0.2"
        />
        <path
          d="M12.5797 14.2188H12.1602C11.9983 14.2188 11.8672 14.0876 11.8672 13.9258C11.8672 13.764 11.9983 13.6328 12.1602 13.6328H12.5797C12.7415 13.6328 12.8727 13.764 12.8727 13.9258C12.8727 14.0876 12.7415 14.2188 12.5797 14.2188Z"
        />
        <path
          d="M12.7227 15.5741C12.6477 15.5741 12.5727 15.5455 12.5155 15.4882C12.4011 15.3738 12.4011 15.1883 12.5155 15.0739L12.8122 14.7772C12.9267 14.6628 13.1121 14.6628 13.2266 14.7772C13.341 14.8916 13.341 15.0772 13.2266 15.1915L12.9299 15.4882C12.8727 15.5455 12.7977 15.5741 12.7227 15.5741Z"
        />
        <path
          d="M13.0194 13.16C12.9444 13.16 12.8694 13.1314 12.8122 13.0742L12.5155 12.7775C12.4011 12.6631 12.4011 12.4775 12.5155 12.3632C12.63 12.2487 12.8154 12.2487 12.9299 12.3632L13.2266 12.6599C13.341 12.7743 13.341 12.9598 13.2266 13.0742C13.1693 13.1314 13.0944 13.16 13.0194 13.16Z"
        />
        <path
          d="M24.5272 19.947H21.7764C21.0706 19.947 20.4963 19.3727 20.4963 18.6669C20.4963 17.9611 21.0705 17.3868 21.7764 17.3868H24.1265C25.1554 17.3868 25.9925 16.5497 25.9925 15.5208C25.9925 14.4918 25.1554 13.6547 24.1265 13.6547H24.0394C24.0312 13.0869 23.5671 12.6274 22.9974 12.6274H19.6012C19.4015 12.6274 19.2257 12.7302 19.123 12.8854H18.3503C17.8778 12.8854 17.4781 13.2018 17.3513 13.6337H16.4833C16.546 13.2395 16.5547 12.8385 16.5555 12.3534C17.0643 11.5025 17.2784 10.5769 17.1571 9.73765C17.0292 8.85299 16.5519 8.10275 15.7734 7.55924C15.7369 7.04316 15.5398 6.56106 15.2099 6.18783C15.1068 6.07122 14.9921 5.96817 14.8681 5.87879C14.77 5.17117 14.3367 4.60758 13.6357 4.28182C12.5476 3.77621 11.0421 3.96423 9.9745 4.73908C8.84822 5.55651 8.32455 6.88233 8.4941 8.47855C8.28127 8.95581 8.14802 9.46533 8.1038 9.98317C8.03563 10.7811 8.17072 11.5716 8.50421 12.3338C8.50507 13.0648 8.52351 13.5987 8.7086 14.1999C8.75622 14.3546 8.92021 14.4413 9.07483 14.3937C9.22945 14.3461 9.31625 14.1822 9.26863 14.0275C9.1064 13.5005 9.09081 13.0286 9.09015 12.3287C9.67284 10.8889 10.986 9.99696 12.5299 9.99696C14.0737 9.99696 15.3868 10.8889 15.9695 12.3287C15.9691 12.8411 15.9607 13.2405 15.8875 13.6337H13.991C13.8292 13.6337 13.698 13.7648 13.698 13.9266C13.698 14.0885 13.8292 14.2196 13.991 14.2196H15.7266C15.6636 14.3925 15.5842 14.5734 15.4844 14.7703C14.9303 15.8609 13.3931 17.0082 12.5456 16.9628C12.535 16.9622 12.5244 16.9623 12.5138 16.9628C11.778 17.0026 10.4826 16.1317 9.79425 15.135C9.70229 15.0019 9.51986 14.9685 9.38669 15.0604C9.25352 15.1524 9.22011 15.3349 9.31211 15.468C9.6478 15.9541 10.139 16.45 10.676 16.836L10.6759 17.5318C10.6759 17.5318 10.1836 17.6576 9.9459 17.7233C8.39093 18.1527 6.25225 18.9413 6.14115 20.7962L6.01071 23.3555C6.00133 23.5059 6.00758 23.6967 6.14064 23.8383C6.27447 23.9807 6.46296 23.9999 6.62969 23.9999H18.4112C18.5777 23.9999 18.7659 23.9808 18.8999 23.8388C19.0323 23.6984 19.0407 23.5163 19.0315 23.3588L18.9007 20.7933C18.7848 18.8756 16.4968 18.0984 14.9338 17.6792C14.7566 17.6317 14.366 17.5317 14.366 17.5317V16.8465C15.061 16.3508 15.6865 15.666 16.0069 15.0355C16.1574 14.7388 16.2664 14.4732 16.3458 14.2195H17.3513C17.4781 14.6515 17.8778 14.9678 18.3503 14.9678H19.0982C19.1955 15.1457 19.3845 15.2667 19.6012 15.2667H22.9974C23.5671 15.2667 24.0312 14.8078 24.0394 14.2405H24.1265C24.8322 14.2405 25.4065 14.8148 25.4065 15.5206C25.4065 16.2264 24.8323 16.8007 24.1265 16.8007H21.7764C20.7474 16.8007 19.9103 17.6378 19.9103 18.6667C19.9103 19.6957 20.7474 20.5328 21.7764 20.5328H24.5272C25.012 20.5328 25.4065 20.9267 25.4065 21.411V23.7069C25.4065 23.8687 25.5376 23.9999 25.6995 23.9999C25.8613 23.9999 25.9925 23.8687 25.9925 23.7069V21.411C25.9925 20.6038 25.3351 19.947 24.5272 19.947ZM14.776 18.2435C16.2425 18.6348 18.2232 19.2979 18.3156 20.8261L18.4464 23.3909C18.4469 23.3991 18.4472 23.4066 18.4474 23.4135C18.4368 23.4139 18.4248 23.4141 18.4112 23.4141H17.0039V21.7233C17.0039 21.4433 16.7761 21.2156 16.4961 21.2156H13.1442C12.9824 21.2156 12.8512 21.3467 12.8512 21.5085C12.8512 21.6703 12.9824 21.8015 13.1442 21.8015H16.4179V23.414H8.62297V21.8015H11.8989C12.0607 21.8015 12.1919 21.6703 12.1919 21.5085C12.1919 21.3467 12.0607 21.2156 11.8989 21.2156H8.54472C8.26475 21.2156 8.037 21.4433 8.037 21.7233V23.4141H6.62965C6.61641 23.4141 6.60473 23.4139 6.59441 23.4136C6.59473 23.4061 6.59516 23.3978 6.5957 23.3888L6.72618 20.8287C6.81259 19.386 8.57707 18.7138 10.0081 18.3137C10.2722 18.2398 10.8386 18.0951 10.8386 18.0951C11.207 18.0014 11.262 17.7334 11.262 17.582V17.2009C11.6733 17.4173 12.0883 17.5502 12.4625 17.5502C12.4851 17.5502 12.5733 17.5501 12.5954 17.5501C12.9626 17.5501 13.372 17.421 13.78 17.2086V17.582C13.78 17.7337 13.835 18.0022 14.2028 18.0949C14.2028 18.095 14.6056 18.198 14.776 18.2435ZM10.3187 5.21336C11.2221 4.55762 12.4847 4.39308 13.3888 4.81326C13.6678 4.94296 13.9912 5.16824 14.169 5.55037C13.9985 5.50541 13.8201 5.47963 13.636 5.47521C12.6071 5.45084 11.6546 5.65581 10.8067 6.08458C10.1179 6.43289 9.52224 6.92452 9.06682 7.51733C9.15644 6.54504 9.58529 5.74562 10.3187 5.21336ZM13.3992 9.49588C13.1186 9.44033 12.8281 9.41107 12.5299 9.41107C12.5298 9.41107 12.53 9.41107 12.5298 9.41107C10.9618 9.41107 9.59982 10.2051 8.83373 11.5237C8.59754 10.6936 8.61938 9.84293 8.89361 9.05304C9.88172 8.11849 11.7451 7.74476 13.0835 8.22159C13.2359 8.27589 13.4035 8.19639 13.4578 8.04392C13.5121 7.89149 13.4326 7.7239 13.2802 7.6696C12.1033 7.25028 10.619 7.39138 9.46814 7.95895C10.3752 6.70919 11.8767 6.01939 13.6221 6.06103C14.6459 6.08544 15.1874 6.91381 15.1935 7.72003C15.1901 8.33054 14.9797 8.84502 14.6009 9.16887C14.2792 9.44396 13.8642 9.55619 13.3992 9.49588ZM16.2813 11.6222C15.8689 10.8693 15.267 10.2788 14.543 9.89828C14.7002 9.82375 14.8476 9.72902 14.9818 9.61421C15.3687 9.28341 15.6247 8.81701 15.7279 8.26932C16.6658 9.10433 16.8705 10.3451 16.2813 11.6222ZM19.0281 14.3821H18.3503C18.0992 14.3821 17.895 14.1778 17.895 13.9267C17.895 13.6757 18.0992 13.4714 18.3503 13.4714H19.0281V14.3821ZM21.6771 14.6809H19.6141V13.2134H21.6771V14.6809ZM23.4538 14.2256C23.4538 14.4767 23.249 14.6809 22.9973 14.6809H22.263V13.2134H22.9973C23.249 13.2134 23.4538 13.4182 23.4538 13.6699V14.2256Z"
        />
      </g>
    </symbol>

    <symbol id="hospital" width="30" height="30" viewBox="0 0 30 30">
      <g>
        <path
          d="M0.1 15C0.1 6.95769 6.97041 0.1 15 0.1C23.0415 0.1 29.9 6.9686 29.9 15C29.9 23.0423 23.0296 29.9 15 29.9C6.9585 29.9 0.1 23.0314 0.1 15ZM1.07187 15C1.07187 22.5508 7.44917 28.9281 15 28.9281C22.5508 28.9281 28.9281 22.5508 28.9281 15C28.9281 7.44917 22.5508 1.07187 15 1.07187C7.44917 1.07187 1.07187 7.44917 1.07187 15Z"
          stroke="white"
          stroke-width="0.2"
        />
        <path
          d="M17.8297 12.0703V12.1703H17.9297H22.0312C22.2996 12.1703 22.5172 12.3879 22.5172 12.6562V17.3438C22.5172 17.6121 22.2996 17.8297 22.0312 17.8297H17.9297H17.8297V17.9297V22.0312C17.8297 22.2996 17.6121 22.5172 17.3438 22.5172H12.6562C12.3879 22.5172 12.1703 22.2996 12.1703 22.0312V17.9297V17.8297H12.0703H7.96875C7.70042 17.8297 7.48281 17.6121 7.48281 17.3438V12.6562C7.48281 12.3879 7.70042 12.1703 7.96875 12.1703H12.0703H12.1703V12.0703V7.96875C12.1703 7.70042 12.3879 7.48281 12.6562 7.48281H17.3438C17.6121 7.48281 17.8297 7.70042 17.8297 7.96875V12.0703ZM21.4453 16.8578H21.5453V16.7578V13.2422V13.1422H21.4453H17.3438C17.0754 13.1422 16.8578 12.9246 16.8578 12.6562V8.55469V8.45469H16.7578H13.2422H13.1422V8.55469V12.6562C13.1422 12.9246 12.9246 13.1422 12.6562 13.1422H8.55469H8.45469V13.2422V16.7578V16.8578H8.55469H12.6562C12.9246 16.8578 13.1422 17.0754 13.1422 17.3438V21.4453V21.5453H13.2422H16.7578H16.8578V21.4453V17.3438C16.8578 17.0754 17.0754 16.8578 17.3438 16.8578H21.4453Z"
          stroke="white"
          stroke-width="0.2"
        />
      </g>
    </symbol>

    <symbol id="profile" width="30" height="30" viewBox="0 0 30 30">
      <g>
        <path
          d="M30 15C30 6.70992 23.2912 0 15 0C6.70998 0 0 6.70875 0 15C0 23.0775 6.4592 29.8673 14.7592 29.9971C14.9002 30.0034 15.2064 29.9975 15.2123 29.9974C15.2148 29.9975 15.2252 29.9973 15.228 29.9972C23.4162 29.876 30 23.2034 30 15ZM15 0.878906C22.8043 0.878906 29.1211 7.19461 29.1211 15C29.1211 18.2536 28.0273 21.3387 26.0151 23.8371C25.9801 22.2625 24.9591 20.8946 23.4512 20.4171L20.6082 19.517C20.4473 19.3793 20.4896 19.4386 17.8723 18.1418V16.9238C19.0134 16.1136 19.8036 14.8345 19.9489 13.3597C20.4908 13.2679 20.9047 12.7951 20.9047 12.2276C20.9047 11.3858 20.9047 8.6185 20.9047 7.75506C20.9047 6.77027 20.1036 5.96912 19.1188 5.96912H19.0734C19.065 5.96912 19.0581 5.96227 19.0581 5.95383C19.0581 4.96904 18.257 4.16789 17.2722 4.16789H12.6321C10.6809 4.16789 9.09363 5.7552 9.09363 7.70631C9.09363 7.949 9.29039 8.14576 9.53309 8.14576C9.77578 8.14576 9.97254 7.949 9.97254 7.70631C9.97254 6.23982 11.1656 5.0468 12.6321 5.0468H17.2722C17.7724 5.0468 18.1792 5.45367 18.1792 5.95383C18.1792 6.44689 18.5804 6.84803 19.0734 6.84803H19.1188C19.6189 6.84803 20.0258 7.2549 20.0258 7.75506V10.256H19.5349C19.2605 10.256 19.0373 10.0328 19.0373 9.7585V9.24574C19.0373 8.27109 18.0858 7.5835 17.1605 7.88936C15.7673 8.34984 14.2326 8.34996 12.8375 7.88912C11.9121 7.5835 10.9609 8.27109 10.9609 9.24557V9.7585C10.9609 10.0328 10.7377 10.256 10.4634 10.256H9.97248V9.73728C9.97248 9.49459 9.77572 9.29783 9.53303 9.29783C9.29033 9.29783 9.09357 9.49459 9.09357 9.73728V12.2276C9.09357 12.7952 9.50748 13.2679 10.0494 13.3598C10.1946 14.8347 10.9849 16.1137 12.1259 16.9239V18.1424C9.51398 19.4366 9.5485 19.3821 9.39047 19.5176L6.54885 20.4172C5.04094 20.8947 4.01994 22.2626 3.98496 23.8372C1.97268 21.3387 0.878906 18.2536 0.878906 15C0.878906 7.19566 7.19461 0.878906 15 0.878906ZM9.96176 22.9148L10.3033 22.5739C10.6598 22.2181 10.7441 21.6782 10.5132 21.2306L9.97137 20.18L11.7471 19.3076C11.5581 20.098 11.5643 20.9666 11.6553 21.7807C11.6554 21.7813 11.6555 21.782 11.6555 21.7826C11.8828 23.8124 12.7114 26.1148 13.5394 27.9814C12.1758 26.6092 10.3534 24.5906 9.89443 23.1913C9.8625 23.0941 9.88834 22.9881 9.96176 22.9148ZM9.97242 11.1349H10.4634C11.2223 11.1349 11.8397 10.5174 11.8397 9.75844V9.24551C11.8397 8.87221 12.2034 8.60537 12.5636 8.7242C14.1347 9.24316 15.8652 9.2431 17.4363 8.72385C17.7923 8.60625 18.1584 8.87063 18.1584 9.24574V9.7585C18.1584 10.5175 18.7759 11.1349 19.5349 11.1349H20.0258V12.2276C20.0258 12.3762 19.9049 12.497 19.7563 12.497C19.4028 12.497 19.1083 12.7745 19.086 13.1288C18.9504 15.2789 17.1553 16.9631 14.9991 16.9631C12.843 16.9631 11.0479 15.2789 10.9123 13.1288C10.8899 12.7746 10.5954 12.497 10.2419 12.497C10.0933 12.497 9.97248 12.3762 9.97248 12.2276V11.1349H9.97242ZM14.9996 29.0206C14.7144 28.4486 14.3293 27.6338 13.9441 26.6882L14.6658 23.8499H15.3342L16.0553 26.6873C15.6694 27.6348 15.2839 28.4505 14.9996 29.0206ZM14.4219 21.1712C14.1732 21.3789 13.6629 21.8051 13.264 22.1383C13.1808 22.2079 13.0615 22.2074 12.9792 22.1398L12.5147 21.5655C12.4379 20.7952 12.4455 19.9436 12.6861 19.2144L14.4219 21.1712ZM13.1207 23.0701C13.2327 23.0701 13.3447 23.052 13.4529 23.0177L13.8446 23.5128L13.4021 25.2534C13.1486 24.5226 12.9201 23.7606 12.7521 23.0053C12.8711 23.0477 12.9956 23.0701 13.1207 23.0701ZM15.4557 22.9711H14.5368L14.1792 22.5192L15.0478 21.7935L15.8336 22.4654L15.4557 22.9711ZM16.7515 22.0939L15.6698 21.169L17.3181 19.2305C17.553 19.9546 17.5598 20.7935 17.486 21.5479L17.0369 22.0982C16.9536 22.1654 16.8342 22.1646 16.7515 22.0939ZM14.9991 17.842C15.7063 17.842 16.3812 17.6922 16.9934 17.423V18.2555L15.0441 20.548L13.0048 18.2491V17.4229C13.617 17.6922 14.2919 17.842 14.9991 17.842ZM16.5974 25.2521L16.1535 23.5055L16.5526 22.9713C16.6645 23.0084 16.7806 23.0277 16.8969 23.0277C17.0183 23.0277 17.1392 23.0064 17.2552 22.9663C17.0875 23.7299 16.8577 24.5016 16.5974 25.2521ZM4.86211 24.8286V23.9205C4.86211 22.6959 5.64656 21.6247 6.81404 21.2551L9.15691 20.5134C9.18035 20.5681 9.15627 20.5153 9.73207 21.6335C9.78685 21.7397 9.76688 21.8677 9.68238 21.952L9.34084 22.2929C9.03129 22.6018 8.92336 23.0511 9.0593 23.4653C9.62021 25.1752 11.8269 27.5429 13.3413 29.0246C10.1258 28.6506 7.15793 27.1948 4.86211 24.8286ZM16.6577 29.0246C17.4744 28.2257 18.4981 27.1642 19.3533 26.0892C19.5044 25.8992 19.4729 25.6228 19.2829 25.4716C19.0929 25.3206 18.8166 25.3521 18.6654 25.542C17.9753 26.4095 17.1686 27.2712 16.4578 27.9854C17.2883 26.1139 18.12 23.8038 18.3452 21.7677C18.3452 21.7669 18.3454 21.7662 18.3454 21.7655C18.4346 20.9568 18.4399 20.0956 18.252 19.3077L20.0277 20.1801L19.4859 21.2306C19.255 21.6783 19.3393 22.2182 19.6958 22.5741L20.0373 22.9149C20.1107 22.9882 20.1365 23.0941 20.1046 23.1914C20.0358 23.4013 19.931 23.637 19.7933 23.8921C19.6779 24.1056 19.7575 24.3722 19.971 24.4876C20.1846 24.6029 20.4512 24.5233 20.5665 24.3098C20.7291 24.0088 20.8547 23.7247 20.9398 23.4653C21.0756 23.0511 20.9678 22.6018 20.6582 22.2928L20.3167 21.952C20.2322 21.8676 20.2123 21.7396 20.267 21.6335C20.8386 20.5234 20.8191 20.5672 20.8423 20.5131L23.1859 21.2551C24.3534 21.6247 25.1378 22.6959 25.1378 23.9205V24.8286C22.8472 27.1896 19.8812 28.6501 16.6577 29.0246Z"
        />
      </g>
    </symbol>

    <symbol id="footer_check" width="30" height="30" viewBox="0 0 30 30">
      <g>
        <path
          d="M15 0C6.71571 0 0 6.71571 0 15C0 23.2843 6.71571 30 15 30C23.2843 30 30 23.2843 30 15C29.9904 6.7197 23.2803 0.00961693 15 0ZM15 29.0323C7.2502 29.0323 0.967742 22.7498 0.967742 15C0.967742 7.2502 7.2502 0.967742 15 0.967742C22.7498 0.967742 29.0323 7.2502 29.0323 15C29.0237 22.7463 22.7463 29.0237 15 29.0323Z"
        />
        <path
          d="M22.4009 9.57722L12.5817 19.3964L7.60126 14.4159C7.40904 14.2302 7.10275 14.2356 6.91707 14.4278C6.73598 14.6153 6.73598 14.9126 6.91707 15.1001L12.2396 20.4227C12.4286 20.6116 12.7349 20.6116 12.9238 20.4227L23.0851 10.2614C23.2708 10.0692 23.2655 9.76291 23.0733 9.57722C22.8857 9.39613 22.5884 9.39613 22.4009 9.57722Z"
        />
      </g>
    </symbol>

    <symbol id="user_footer" width="30" height="30" viewBox="0 0 30 30">
      <g>
        <path
          d="M15 0C6.729 0 0 6.729 0 15C0 18.6225 1.291 21.949 3.437 24.544C3.4425 24.5515 3.443 24.561 3.449 24.568C4.9985 26.4365 6.9445 27.869 9.113 28.7945C9.138 28.805 9.1625 28.8165 9.1875 28.827C9.363 28.901 9.5405 28.9695 9.7185 29.0365C9.7885 29.063 9.8585 29.09 9.9295 29.1155C10.083 29.1705 10.2375 29.2225 10.393 29.2725C10.4925 29.3045 10.592 29.336 10.6925 29.366C10.83 29.407 10.968 29.4465 11.107 29.484C11.229 29.517 11.352 29.5475 11.475 29.577C11.5995 29.607 11.7245 29.637 11.85 29.6635C11.99 29.6935 12.1315 29.72 12.2735 29.746C12.3875 29.767 12.501 29.789 12.616 29.8075C12.7735 29.833 12.932 29.853 13.091 29.8735C13.1935 29.8865 13.2955 29.9015 13.3985 29.9125C13.5785 29.9315 13.76 29.945 13.942 29.9575C14.0265 29.9635 14.1105 29.9725 14.1955 29.977C14.461 29.992 14.7295 30 15 30C15.2705 30 15.539 29.992 15.8055 29.978C15.8905 29.9735 15.9745 29.9645 16.059 29.9585C16.241 29.9455 16.4225 29.9325 16.6025 29.9135C16.7055 29.9025 16.8075 29.8875 16.91 29.8745C17.069 29.854 17.2275 29.834 17.385 29.8085C17.4995 29.79 17.6135 29.768 17.7275 29.747C17.869 29.721 18.0105 29.6945 18.151 29.6645C18.2765 29.6375 18.401 29.608 18.526 29.578C18.649 29.548 18.772 29.5175 18.894 29.485C19.033 29.448 19.171 29.408 19.3085 29.367C19.409 29.337 19.5085 29.3055 19.608 29.2735C19.7635 29.2235 19.918 29.1715 20.0715 29.1165C20.142 29.091 20.212 29.064 20.2825 29.0375C20.461 28.9705 20.638 28.9015 20.8135 28.828C20.8385 28.8175 20.863 28.806 20.888 28.7955C23.056 27.87 25.0025 26.4375 26.552 24.569C26.558 24.562 26.5585 24.552 26.564 24.545C28.709 21.949 30 18.6225 30 15C30 6.729 23.271 0 15 0ZM21.0785 27.61C21.071 27.6135 21.064 27.6175 21.0565 27.621C20.878 27.707 20.6965 27.788 20.5135 27.867C20.472 27.8845 20.431 27.9025 20.3895 27.92C20.2295 27.987 20.0675 28.0505 19.9045 28.1115C19.8365 28.137 19.7685 28.162 19.7 28.186C19.5555 28.2375 19.4105 28.287 19.264 28.334C19.173 28.363 19.0815 28.3905 18.99 28.4175C18.86 28.4565 18.7295 28.494 18.5975 28.529C18.4865 28.5585 18.3745 28.5855 18.2625 28.612C18.145 28.64 18.028 28.6685 17.9095 28.6935C17.78 28.721 17.6495 28.7445 17.5195 28.768C17.414 28.7875 17.309 28.808 17.2025 28.825C17.056 28.848 16.908 28.8665 16.7605 28.885C16.667 28.897 16.574 28.911 16.4795 28.921C16.311 28.939 16.141 28.9505 15.9715 28.9625C15.896 28.9675 15.821 28.976 15.7445 28.98C15.497 28.993 15.249 29 15 29C14.751 29 14.503 28.993 14.256 28.98C14.18 28.976 14.105 28.968 14.029 28.9625C13.859 28.951 13.6895 28.939 13.521 28.921C13.4265 28.911 13.3335 28.897 13.24 28.885C13.0925 28.8665 12.9445 28.848 12.798 28.825C12.6915 28.808 12.5865 28.7875 12.481 28.768C12.3505 28.7445 12.22 28.7205 12.091 28.6935C11.9725 28.6685 11.855 28.64 11.738 28.612C11.626 28.585 11.514 28.5585 11.403 28.529C11.2715 28.494 11.1405 28.456 11.0105 28.4175C10.919 28.3905 10.8275 28.363 10.7365 28.334C10.59 28.287 10.4445 28.2375 10.3005 28.186C10.232 28.1615 10.164 28.1365 10.096 28.1115C9.933 28.0505 9.771 27.987 9.611 27.92C9.5695 27.903 9.529 27.885 9.4875 27.8675C9.3045 27.789 9.123 27.7075 8.944 27.6215C8.9365 27.618 8.9295 27.6145 8.922 27.6105C7.1775 26.7665 5.6365 25.5685 4.386 24.1135C5.3525 20.5545 8.0885 17.6855 11.6085 16.544C11.678 16.5865 11.7505 16.6245 11.822 16.6645C11.864 16.688 11.9055 16.713 11.948 16.7355C12.097 16.8145 12.248 16.8885 12.4025 16.955C12.521 17.007 12.6435 17.051 12.7655 17.096C12.7895 17.1045 12.8135 17.114 12.8375 17.1225C13.5155 17.3625 14.241 17.5 15 17.5C15.759 17.5 16.4845 17.3625 17.162 17.1225C17.186 17.114 17.21 17.1045 17.234 17.096C17.356 17.051 17.4785 17.007 17.597 16.955C17.7515 16.8885 17.9025 16.8145 18.0515 16.7355C18.094 16.7125 18.1355 16.688 18.1775 16.6645C18.249 16.6245 18.322 16.5865 18.392 16.5435C21.912 17.6855 24.6475 20.5545 25.6145 24.113C24.364 25.5675 22.823 26.7655 21.0785 27.61ZM9.5 11C9.5 7.9675 11.9675 5.5 15 5.5C18.0325 5.5 20.5 7.9675 20.5 11C20.5 12.929 19.4995 14.6265 17.992 15.6085C17.795 15.7365 17.59 15.851 17.3795 15.951C17.3545 15.963 17.33 15.9755 17.305 15.987C15.857 16.6455 14.143 16.6455 12.695 15.987C12.67 15.9755 12.645 15.963 12.6205 15.951C12.4095 15.851 12.205 15.7365 12.008 15.6085C10.5005 14.6265 9.5 12.929 9.5 11ZM26.3645 23.1615C25.231 19.8145 22.645 17.1095 19.341 15.8245C20.6625 14.634 21.5 12.915 21.5 11C21.5 7.416 18.584 4.5 15 4.5C11.416 4.5 8.5 7.416 8.5 11C8.5 12.915 9.3375 14.634 10.6595 15.8245C7.3555 17.11 4.7695 19.8145 3.636 23.1615C1.9795 20.862 1 18.044 1 15C1 7.2805 7.2805 1 15 1C22.7195 1 29 7.2805 29 15C29 18.044 28.0205 20.862 26.3645 23.1615Z"
          fill="#1B1918"
        />
      </g>
    </symbol>
  </svg>
</template>

<script>
export default {
  name: "AuthFooterSprite",
};
</script>

<style scoped></style>
