.footer {
  background-color: $grey4;
  padding: 138px 0 135px;
  @media (max-width: $desktop) {
    padding: 60px 0 80px;
  }
}
.footer__logo {
  max-width: 180px;
  width: 100%;
  font-size: 0;
  line-height: 0;
  margin-bottom: 2px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  @media (max-width: $desktop) {
    flex-wrap: wrap;
  }
}
.footer__left {
  margin-right: 20px;
  @media (max-width: $desktop) {
    flex-basis: 100%;
    flex-grow: 1;
    margin-bottom: 24px;
  }
}
.footer__description {
  display: inline-block;
  font-weight: 200;
  font-size: 10px;
  line-height: 1.3;
  color: $white;
  padding-top: 7px;
  margin-bottom: 12px;
}
.footer__subscription-form {
  flex-shrink: 0;
}
.footer__subscription-form-inner {
  display: flex;
  @media (max-width: $desktopL) {
    flex-wrap: wrap;
  }
}
.footer__subscription-input {
  border: 0;
  border-bottom: 1px solid transparent;
  background: transparent;
  font-size: 15px;
  color: $white;
  opacity: 0.5;
  font-weight: 400;
  margin-right: 13px;
  border-bottom: 1px solid $white;
  padding: 0;
  min-width: 172px;
  flex-shrink: 0;
  &:focus {
    opacity: 1;
  }
  &::placeholder {
    color: $white;
  }
  @media (max-width: $desktopL) {
    width: 100%;
    margin: 0 0 20px;
  }
}
.footer__subscription-btn {
  border: 0;
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 14px;
  color: $white;
  &:hover {
    opacity: 0.7;
  }
  @media (max-width: $desktopL) {
    width: 100%;
  }
}
.footer__subscription-text {
  font-weight: 300;
  font-size: 11px;
  line-height: 1.3;
  color: $white;
  margin-top: 7px;
  max-width: 280px;
}
.footer__block {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
  @media (max-width: $tabletL) {
    margin-bottom: 24px;
  }
}
.footer__block-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: $white;
  margin-bottom: 16px;
}
.footer__menu {
  @media (max-width: $desktop) {
    flex-grow: 1;
  }
  .footer__block-title {
    @media (max-width: $tablet) {
      display: none;
    }
  }
}
.footer__menu-inner {
  display: flex;
  justify-content: space-between;
}
.footer__menu-inner-part {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  @media (max-width: $desktopL) {
    margin-right: 20px;
  }
  &:last-child {
    margin-right: 0;
  }
}
.footer__menu-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  opacity: 0.5;
  color: $white;
  text-decoration: none;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    opacity: 1;
    color: $white;
  }
}
.footer__social-inner {
  font-size: 0;
  line-height: 0;
}
.footer__social-link {
  display: inline-block;
  opacity: 0.55;
  font-size: 0;
  line-height: 0;
  margin-right: 7px;
  margin-bottom: 6px;
  &:last-child {
    margin-right: 0;
  }
  img {
    width: 35px;
    height: 35px;
  }
  &:hover {
    opacity: 1;
  }
}
.footer__add-object {
  font-weight: 400;
  font-size: 14px;
  line-height: 174.19%;
  background-color: rgba($white, 0.05);
  color: $white;
  padding: 6px 34px;
  margin-top: 15px;
  border-radius: 46px;
  outline: none;
  border: 0;
  transition: background 0.3s;
  vertical-align: middle;
  white-space: nowrap;
  &:hover {
    background-color: rgba($white, 0.2);
  }
  svg {
    vertical-align: middle;
    margin-right: 9px;
    width: 18px !important;
    height: 18px;
  }
}
.footer__payment-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 180px;
  width: fit-content;
  @media (max-width: $desktop) {
    max-width: unset;
  }
}
.footer__payment-item {
  margin-right: 16px;
  margin-bottom: 24px;
}
.footer__author {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
  color: $white;
  opacity: 0.5;
  margin-top: 14px;
}
