<template>
  <div>
    <footer class="footer">
      <div class="container">
        <div class="footer__inner">
          <div class="footer__content">
            <div class="footer__left">
              <div class="footer__logo">
                <img src="@/assets/img/logo-white.svg" />
              </div>
              <span class="footer__description">
                Система бронирования косметических услуг
              </span>
              <form @submit.prevent class="footer__subscription-form">
                <div class="footer__subscription-form-inner">
                  <input
                    type="email"
                    class="footer__subscription-input"
                    placeholder="Ваш email"
                  />
                  <button class="btn footer__subscription-btn">
                    Подписаться
                  </button>
                </div>
                <div class="footer__subscription-text">
                  Подписываясь на новости вы даете согласие на обработку
                  персональных данных
                </div>
              </form>
            </div>
            <div class="footer__block footer__menu">
              <div class="footer__menu-inner">
                <div
                  v-for="(menuColumn, menuColumnIndex) of menu"
                  :key="menuColumnIndex"
                  class="footer__menu-inner-part"
                >
                  <router-link
                    v-for="(menuItem, menuItemIndex) of menuColumn"
                    :key="menuItemIndex"
                    :to="menuItem.to"
                    class="footer__menu-item"
                  >
                    {{ menuItem.title }}
                  </router-link>
                </div>
              </div>
            </div>
            <div class="footer__block footer__social">
              <div class="footer__block-title">Способ связи</div>
              <div class="footer__social-inner">
                <a
                  v-for="(link, linkIndex) of socials"
                  :key="linkIndex"
                  :href="link.link"
                  target="_blank"
                  class="footer__social-link"
                >
                  <img :src="link.icon" />
                </a>
              </div>
              <router-link
                v-if="!isAdmin"
                tag="button"
                :to="{ name: 'RegistrationClinic' }"
                class="footer__add-object"
              >
                <i class="fas fa-plus"></i>
                Добавить свой объект
              </router-link>
            </div>
            <div class="footer__block footer__payment">
              <div class="footer__block-title">Способы оплаты</div>
              <div class="footer__payment-inner">
                <div
                  v-for="(payment, paymentIndex) of payments"
                  :key="paymentIndex"
                  class="footer__payment-item"
                >
                  <img :src="payment" />
                </div>
              </div>
            </div>
          </div>
          <div class="footer__author">
            © {{ currentYear }} WEBBERU. All rights reserved
          </div>
        </div>
      </div>
    </footer>

    <FooterMenu />
    <FooterAside />
  </div>
</template>

<script>
import { accountModule } from "@/store";

import FooterAside from "./FooterAside";
import FooterMenu from "./FooterMenu";

export default {
  name: "Footer",
  components: {
    FooterMenu,
    FooterAside,
  },
  data() {
    return {
      showWebdevepCopiryte: process.env.NODE_ENV !== "production",
      menu: [
        [
          {
            to: { name: "Profile" },
            title: "Личный кабинет",
          },
          {
            to: { name: "Blog" },
            title: "Медиа",
          },
          {
            to: { name: "Tarrifs" },
            title: "Решай сам",
          },
          {
            to: { name: "Services" },
            title: "Услуги",
          },
          {
            to: { name: "About" },
            title: "О Проекте",
          },
        ],
        [
          {
            to: { name: "Terms" },
            title: "Пользовательское Соглашение",
          },
          {
            to: { name: "PublicOffer" },
            title: "Публичная Оферта",
          },
          {
            to: { name: "Contacts" },
            title: "Контакты",
          },
          {
            to: { name: "Tariff" },
            title: "Тарифы",
          },
        ],
      ],
      socials: [
        {
          link: "https://t.me/webberu",
          icon: require("@/assets/img/icon/telegram.svg"),
        },
        {
          link: "https://vk.com/public212836650",
          icon: require("@/assets/img/icon/vk.svg"),
        },
        {
          link: "https://instagram.com/webberu.ru?igshid=YmMyMTA2M2Y=",
          icon: require("@/assets/img/icon/instagram.svg"),
        },
        {
          link: "mailto:webberu@webberu.ru",
          icon: require("@/assets/img/icon/email.svg"),
        },
      ],
      payments: [
        require("@/assets/img/icon/visa.png"),
        require("@/assets/img/icon/master-card.png"),
        require("@/assets/img/icon/mir.png"),
      ],
    };
  },
  computed: {
    currentYear() {
      return new Date().getFullYear();
    },

    isAdmin() {
      return accountModule.isAdmin;
    },
  },
};
</script>

<style lang="scss">
@import "footer";
</style>
