.status-banner__inner {
  background: rgba($black, 0.1);
  padding-top: 160px;
  padding-bottom: 107px;
  margin: -62px 0 55px;
  border-radius: 0px 0px 130px 130px;
  .status-banner__title,
  .status-banner__text {
    color: $black;
  }
  .status-banner__text {
    font-weight: 500;
  }
  .status-banner__content-footer {
    max-width: 185px;
  }
  .status-banner__link {
    padding: 18px;
    font-size: 18px;
    font-weight: 600;
  }
  @media (max-width: $tabletL) {
    padding: 54px 15px 35px 15px;
    border-radius: 0px 0px 50px 50px;
    margin: -70px 0 35px;
  }
  @media (max-width: $mobile) {
    margin: -70px -12px 33px;
  }
}

.home-actions__block {
  margin: 15px 0;
  &-inner {
    border-radius: 7px;
    padding: 50px 40px;
    height: 380px;
    overflow: hidden;
    background-size: cover !important;

    &.bg-1 {
      background: url(~@/assets/img/home-actions1.png) no-repeat;
    }

    &.bg-2 {
      background: url(~@/assets/img/home-actions2.png) no-repeat;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &-header {
    max-width: 400px;
  }
  &-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 37px;
    color: $white;
  }
  &-text {
    font-size: 22px;
    line-height: 33px;
    color: $white;
    margin: 0;
  }
  &-footer {
    .btn + .btn {
      margin-left: 30px;
    }
  }
  .btn-add-service {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 41px;
    font-weight: 600;
    font-size: 18px;
    color: $black;
    padding: 18px 35px;
  }
  .btn-hide-service {
    padding: 10px 5px;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.7;
    transition: 0.5s;
    color: $white;
    @media (max-width: $tablet) {
      display: none;

    }
    &:hover {
      color: $white;
      opacity: 1;
      transition: 0.5s;
    }
  }
}

@media (max-width: $tablet) {
  .status-banner__content-footer {
    .status-banner__link  {
      padding: 10px;
      background: rgba(29,39,75, 1);
    }
  }

  .home-actions {
    &__block {
      margin: 0 0 15px;
    }
    &__block-inner {
      padding: 18px 24px;
      min-height: 175px;
      height: auto;
      background-size: cover !important;
    }
    &__block-header {
      max-width: 270px;
      margin-bottom: 37px;
    }
    &__block-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 1;
      margin-bottom: 10px;
    }
    &__block-text {
      font-size: 12px;
      line-height: 17px;
    }
    &__block-footer .btn + .btn {
      margin-left: auto;
    }
    .btn-add-service {
      padding: 10px 25px;
      font-size: 12px;
    }
    .btn-hide-service {
      font-size: 12px;
    }
  }
}

.status-banner {
  background: rgba(145, 97, 247, 0.7);
  border-radius: 0px 0px 130px 130px;
  margin-top: -35px;
  padding: 70px 0;
  margin-bottom: 65px;
  &__title {
    font-weight: 500;
    font-size: 34px;
    line-height: 116.5%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $white;
    margin-bottom: 15px;
  }
  &__text {
    font-size: 16px;
    line-height: 23px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $white;
    margin-bottom: 25px;
  }
  &__content-footer {
    max-width: 240px;
    .status-banner__link {
      border-radius: 57px;
    }
  }
}


.status-about {
  &__top {
    margin-bottom: 40px;
  }
  &__title,
  &__text {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    span {
      font-weight: 300;
      margin: 0 8px 0 5px;
    }
    margin-bottom: 15px;
  }
  &__text {
    margin-bottom: 0;
  }
  &__steps-text {
    font-size: 16px;
    line-height: 27px;
    max-width: 210px;
    margin-left: 10px;
    span {
      display: block;
      color: $blue;
      font-weight: 500;
    }
  }
}

.status-step {
  margin-bottom: 70px;
  &__block {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    text-align: center;
    padding: 35px;
    border-radius: 14px;
    opacity: 0.2;
    margin: 15px 0;
    height: calc(100% - 30px);
    &.active {
      opacity: 1;
    }
  }
  &__number {
    width: 135px;
    height: 135px;
    margin: 0 auto 25px;
    font-size: 85px;
    line-height: 132px;
    color: $white;
    background: url(~@/assets/img/status/status-number__bg.svg) no-repeat;
  }
  &__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    color: $white;
  }
}

.status-line {
  margin-top: 15px;
  &__inner {
    width: 100%;
    position: relative;
    background: rgba(97, 130, 247, 0.2);
    border-radius: 20px;
    height: 4px;
  }
  &__done {
    position: absolute;
    top: -1px;
    left: 0;
    height: 6px;
    background: $blue;
    border-radius: 20px;
  }
}

.status__actions {

  &.now {
    .status__actions-blocks {
      opacity: 1;
    }
    .status__actions-title {
      color: $black;
      svg {
        fill: $black;
      }
    }
    .actions-block__text {
      color: $black;
    }
    .actions-block__inner {
      border: 1px solid rgba(29, 39, 74, 0.5);
      &:after {
        background: $black;
      }
    }
  }
  & + .status__actions {
    margin-top: 100px;
  }
  &-blocks {
    opacity: 0.45;
  }
  &-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 20px;
    color: $blue;
  }
  &-icon {
    width: 46px;
    height: 46px;
    margin-left: 10px;
    svg {
      fill: $blue;
      width: 46px;
      height: 46px;
    }
  }

  &-block {
    padding: 15px 0;
  }
  .actions-block {
    &__inner {
      position: relative;
      border: 1px solid $blue;
      box-sizing: border-box;
      border-radius: 22px;
      padding: 33px 35px;
      &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        background: $blue;
        opacity: 0.2;
        border-radius: 50%;
      }
    }
    &__text {
      font-size: 21px;
      line-height: 23px;
      color: $blue;
      width: calc(100% - 50px);
    }
  }

  &-bottom {
    margin-top: 20px;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
  }
}


@media (max-width: 1199px) {
  .status-about__text,
  .status-about__title {
    font-size: 22px;
    line-height: 22px;
  }
  .status__actions-title {
    font-size: 29px;
    line-height: 30px;
  }
  .status__actions-bottom {
    font-size: 24px;
    line-height: 25px;
    margin-top: 10px;
  }
  .status__actions+.status__actions {
    margin-top: 50px;
  }
}

@media (max-width: $tablet) {
  .status-about__top {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
  .status-about__left {
    margin-bottom: 25px;
  }
  .status-banner__content {
    margin-top: 25px;
    text-align: center;
  }
  .status-banner__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .status-banner__text {
    margin-bottom: 24px;
  }
  .status-banner__content-footer {
    margin: 0 auto;
  }
  .status-banner__link {
    font-size: 18px;
    font-weight: 500;
  }
  .status-banner {
    padding: 20px 0 35px;
    margin-bottom: 30px;
  }
  .status-about__text, .status-about__title {
    font-size: 18px;
    line-height: 20px;
  }
  .status-about__title {
    margin-bottom: 20px;
  }
  .quality-icon {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }
  .status-about__left {
    margin-bottom: 20px;
  }
  .status-about__top {
    margin-bottom: 20px;
  }
  .status-step {
    margin-right: -12px;
    margin-bottom: 40px;
    .row {
      flex-wrap: nowrap;
      overflow-x: scroll;
      margin: 0 0 0-5px;
      & > * {
        padding: 0 5px;
      }
    }
  }
  .status-line {
    margin-right: 15px;
  }
  .status__actions {
    &-title {
      font-weight: 600;
      font-size: 23px;
      line-height: 26px;
    }
    &-icon {
      width: 30px;
      height: 30px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
    &-block {
      padding: 5px 0;
    }
    .actions-block__inner {
      padding: 15px 20px;
      border-radius: 7px;
      &:after {
        width: 12px;
        height: 12px;
      }
    }
    .actions-block__text {
      font-size: 16px;
      line-height: 17px;
    }
  }
  .status__actions-bottom {
    margin-top: 15px;
    font-size: 18px;
    line-height: 23px;
  }
  .status__actions+.status__actions {
    margin-top: 40px;
  }
}

@media (max-width: $mobile) {
  .status-banner {
    padding: 50px 0;
    border-radius: 0 0 50px 50px;
  }
}
