<template>
  <div class="teasers-page__content hit-services">
    <div class="container">
      <div class="teasers-page__content-inner">
        <div
          class="
            site-content__header
            d-flex
            align-items-center
            justify-content-between
          "
        >
          <div class="site-content__title">
            Популярные услуги
            <i class="fire-icon"></i>
          </div>
          <div class="slider-nav">
            <div class="hot-swiper-button-prev swiper-button-prev"></div>
            <div class="hot-swiper-button-next swiper-button-next"></div>
          </div>
        </div>

        <div v-swiper="swiperOption" class="hot-services__slider swiper">
          <div class="swiper-wrapper">
            <div
              v-for="(service, index) in services"
              v-bind:key="index"
              class="swiper-slide"
            >
              <div class="our-slider__block">
                <div class="our-slider__block-inner">
                  <div class="our-slider__block-img">
                    <img :src="service.cover" />
                  </div>
                  <div class="our-slider__block-content">
                    <div class="our-slider__name">{{ service.title }}</div>
                  </div>
                  <div
                    class="our-slider__block-footer d-flex align-items-center"
                  >
                    <button
                      @click="createOrder(service)"
                      class="our-slider__more-info btn btn-black"
                    >
                      Забронировать
                    </button>
                    <button
                      @click="chooseYourself(service)"
                      class="our-slider__more-buy black btn btn-border"
                    >
                      Купить дешевле
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { directive } from "vue-awesome-swiper";

import { SemipolarSpinner } from "epic-spinners";
import { SearchService } from "@/models/SearchService";
import { mainApi } from "@/services/api/main-api";
import { createNamespacedHelpers } from "vuex";
import { favoritesModule, orderModule } from "@/store";

const searchStore = createNamespacedHelpers("Search");

export default {
  name: "HitsSlider",
  directives: {
    swiper: directive,
  },
  components: {
    SemipolarSpinner,
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 3,
        spaceBetween: 30,
        loop: false,
        navigation: {
          nextEl: ".hot-swiper-button-next",
          prevEl: ".hot-swiper-button-prev",
          clickable: true,
        },
        breakpoints: {
          0: {
            slidesPerView: 1.5,
            spaceBetween: 15,
          },
          767: {
            slidesPerView: 2,
            spaceBetween: 15,
          },
          991: {
            slidesPerView: 3,
          },
          1400: {
            slidesPerView: 4,
          },
        },
      },
      isLoading: false,
      services: [],
    };
  },

  computed: {
    ...searchStore.mapGetters(["salonTypes"]),
  },

  async created() {
    this.isLoading = true;

    if (!this.salonTypes.length) {
      await this.getSalonTypes();
    }

    try {
      const { data } = await mainApi.searchServices({
        random: 1,
        limit: 4,
      });
      const { data: stats } = await mainApi.getReviewsStatistics({
        salon_service_id: data.services.map((item) => item.id),
      });

      this.services = data.services.map(
        (item) =>
          new SearchService({
            ...(stats.find((s) => s.id === item.id)?.statistic || {}),
            ...item,
          })
      );
    } catch (err) {
      this.$doNoty.error(err);
    } finally {
      this.isLoading = false;
    }
  },

  methods: {
    ...searchStore.mapActions(["getSalonTypes"]),

    createOrder(service) {
      orderModule.setOrder({
        serviceId: service.id,
        serviceTitle: service.title,
        categoryId: service.specialistService.categoryId,
        salon: service.salon,
        specialistId: service.specialistService.specialistId,
      });
      this.$bvModal.show("order-modal");
    },

    chooseYourself(service) {
      this.$bvModal.show("your-choice");
    },
  },
};
</script>

<style lang="scss">
@import "teasers";

.our-slider {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  &__title {
    font-size: 34px;
    line-height: 36px;
    font-weight: 600;
  }
  &__block-img {
    display: block;
    margin-bottom: 20px;
    border-radius: 7px;
    img {
      border-radius: 7px;
    }
  }
  &__block-content {
    display: block;
    color: $black;
    text-decoration: none;
    margin-bottom: 25px;
  }
  &__name {
    font-size: 16px;
    line-height: 17px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__service-name {
    font-size: 14px;
    line-height: 15px;
  }
  &__more-info {
    font-size: 13px;
    line-height: 18px;
    width: 100%;
    border-radius: 40px;
  }
}
.slider-nav {
  display: flex;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  position: inherit;
  width: 37px;
  height: 15px;
  background: url(~@/assets/img/icon/slider-arrow-left.svg) no-repeat;
  margin: 0;
  &:after {
    display: none;
  }
}
.swiper-button-next {
  margin-left: 10px;
  background: url(~@/assets/img/icon/slider-arrow-right.svg) no-repeat;
}
.our-slider__more-info,
.our-slider__more-buy  {
    width: 50%;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 400;
}
.our-slider__more-info {
    margin-right: 10px;
    line-height: 1.5;
    padding: 10px 15px;
}
</style>
