#salon-page__payment-modal {
  .modal-dialog-scrollable
  .modal-dialog-scrollable ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: #F5F5F5;
  }

  .modal-dialog-scrollable ::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
  }

  .modal-dialog-scrollable ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
    background-color: $black;
  }
  &.show {
    overflow-y: hidden !important;
    height: calc(100% - 60px);
  }
  .modal-dialog {
    max-width: 714px;
    margin-bottom: 60px;

    @media (max-width: 575px) {
      margin: 0;
    }
  }
  .modal-content {
    border-radius: 5px;
    border: 0;
  }
  .modal-body {
    padding: 25px 40px 40px;
    position: relative;

    @media (max-width: 700px) {
      padding: 20px 15px;
    }
  }
  .btn-close {
    z-index: 9;
    right: 30px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $lightgrey2 url(~@/assets/img/icon/remove-category.svg) no-repeat;
    background-size: 14px;
    background-position: center;
    &:hover {
      background: $lightgrey url(~@/assets/img/icon/remove-category.svg) no-repeat;
      background-position: center;
      background-size: 14px;
    }
    @media (max-width: 700px) {
      width: 25px;
      height: 25px;
    }
  }

  /*Шаг 1ю Шапка*/
  .payment-modal__step1-header {
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 700px) {
      margin-bottom: 15px;
    }
  }
  .payment-modal__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 5px;
    color: $blue;
    @media (max-width: 700px) {
      font-weight: 500;
      font-size: 21px;
      line-height: 28px;
      margin-bottom: 0;
    }
  }
  .modal-header__subtitle {
    font-weight: 500;
    font-size: 24px;
    opacity: 0.5;
    line-height: 32px;
    @media (max-width: 700px) {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
    }
  }
  .payment-modal__subtitle {
    text-align: center;
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 20px;

    @media (max-width: 700px)  {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  /*------------*/
  .payment-modal__step1-block {
    margin-bottom: 45px;
    @media (max-width: 700px) {
      margin-bottom: 30px;
    }
  }

  /*Блок специалисты*/
  .payment-modal__specialist-blockInner {
    max-height: 435px;
    padding-right: 10px;

    @media (max-width: 700px) {
      height: auto;
      overflow-y: hidden;
      padding: 0;
      margin-right: -15px;
    }

    &.custom-scroll {
      overflow-y: auto;
    }

    & > .row {
      margin: 0;

      @media (max-width: 700px) {
        flex-wrap: nowrap;
        overflow-x: scroll;
      }
    }
  }

  .specialists-inner__block {
    margin: 0;
    height: 100%;
    padding: 7px;
    border-radius: 12px;

    &-img {
      margin-bottom: 8px;
      img {
        border-radius: 1.87px 1.87px 0px 0px;
      }
    }
    &-name {
      font-weight: 500;
      font-size: 12px;
      line-height: 13px;
      margin-bottom: 5px;
    }
    &-rating,
    &-footer {
      line-height: 1;
    }
    &-ball {
      font-size: 13px;
      line-height: 1;
    }
    &-reviews {
      font-size: 11px;
      letter-spacing: 0.01em;
      line-height: 1;
    }
    &-price,
    &-note {
      font-size: 11px;
    }
  }

  /*----------*/

  /*Кнопка Далее*/
  .payment-modal__step1-btnNext {
    width: 100%;
    background: rgba(29, 39, 74, 0.1);
    border-radius: 63px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    border: 0;
    transition: 0.5s;
    &:hover:not(:disabled),
    &.active {
      background: rgba(29, 39, 74, 1);
      color: $white;
      transition: 0.5s;
    }
    @media (max-width: 700px) {
      font-size: 14px;
      padding: 10px;
    }
  }

  /*------Step 2------*/
  /*Шаг 2. Шапка*/
  .payment-modal__step2-header {
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    @media (max-width: 700px) {
      font-weight: 500;
      font-size: 21px;
    }
  }
  .payment-modal__step2-back {
    position: absolute;
    left: 0;
    width: 9px;
    height: 16px;
    background: url(~@/assets/img/icon/arrow-specialist.svg) no-repeat;
    transform: rotate(180deg);
    cursor: pointer;
    margin-top: 7px;
  }
  .payment-modal__step2-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $blue;
    @media (max-width: 700px) {
      font-weight: 500;
      font-size: 21px;
      line-height: 28px;
      margin-bottom: 0;
    }
  }

  /*----------*/

  /*Фото салона*/
  .payment-modal__salon-banner {
    height: 150px;
    position: relative;
    border-radius: 3px;
    margin-bottom: 15px;
    margin: 0 -40px;
    padding: 15px 40px 0;
    background: rgba(29,39,74,.05);
    @media (max-width: 700px) {
      margin: 0 -15px;
      padding: 5px 15px 0;
    }
    img {
      height: 100%;
      object-fit: cover;
      border-radius: 3px;
    }
    .payment-modal__salon-name {
      position: absolute;
      left: 40px;
      bottom: 0;
      padding: 5px 15px;
      background: $white;
      border-radius: 0px 3px;
      font-weight: 600;
      font-size: 16px;
      @media (max-width: 700px) {
        font-size: 12px;
        left: 15px;
      }
      .logo {
        width: 23px;
        margin-right: 10px;
      }
    }
  }


  /*Информация о заказе*/
  .payment-modal__order-info {
    margin: 0 -40px 25px;
    padding: 15px 40px 25px;
    border-radius: 10px;
    background: rgba(29, 39, 74, 0.05);
    @media (max-width: 700px) {
      margin: 0 -15px 20px;
      padding: 5px 15px 15px;
    }
  }
  .payment-modal__info-block {
    display: flex;
    background: $white;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 8px 0;
    height: calc(100% - 16px);
    @media (max-width: 700px) {
      padding: 13px 15px;
      margin: 6px 0;
      height: auto;
    }
    &.specialist,
    &.time {
      align-items: center;
      .payment-modal__info-icon {
        position: relative;
        top: -9px;
      }
    }
    &.specialist {
      @media (max-width: 700px) {
        padding: 5px 15px;
      }
    }
    .payment-modal__info-photo {
      width: 70px;
      height: 70px;
      margin-right: 15px;
      border-radius: 50%;
      @media (max-width: 700px) {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
    .payment-modal__info-title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 5px;
      @media (max-width: 700px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
      }
    }
    .payment-modal__info-text {
      font-weight: 500;
      font-size: 16px;
      opacity: 0.5;
      @media (max-width: 700px) {
        font-size: 13px;
        line-height: 17px;
      }
      .date {
        display: inline-block;
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid rgba(29, 39, 74, 0.1);
      }
    }
    .payment-modal__info-icon {
      width: 24px;
      margin-right: 10px;
      text-align: center;
    }
    &.service img {
      margin-top: -2px;
      width: 14px;
      margin: 0 auto;
    }
  }

  /*Блок Выберите цену*/
  .payment-modal__order-price {
    margin-bottom: 35px;
    &Title {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 15px;
      text-align: center;
      @media(max-width: 700px) {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
      }
    }
    .payment-modal__price-blocksInner {
      display: flex;
      margin: 0 -8px 30px;
      @media (max-width: 500px) {
        overflow: hidden;
        overflow-x: scroll;
      }
    }
    .payment-modal__price-block {
      max-width: 33.333333%;
      flex: 0 0 33.333333%;
      padding: 0 8px;
      @media (max-width: 500px) {
        width: 160px;
        width: 160px;
        max-width: 160px;
        flex: 0 0 160px;
      }
    }
    .type-pay__block {
      position: relative;
      height: 100%;
      border-radius: 7px;
      border: 1px solid rgba(29, 39, 74, 0.1);
      padding: 13px 13px 13px 25px;
      transition: 0.5s;
      cursor: pointer;
      @media (max-width: 575px) {
        padding: 10px 10px 10px 20px;
      }
      &.checked {
        background: $blue;
        border: 1px solid $blue;
        color: $white;
        transition: 0.5s;
        .type-pay__block-content {
          &:before {
            border: 2px solid rgba(255, 255, 255, 0.3);
          }
          &:after {
            background: $white;
          }
        }
      }
      input {
        display: none;
      }
      .type-pay__block-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:before {
          position: absolute;
          bottom: 15px;
          right: 13px;
          content: "";
          width: 20px;
          height: 20px;
          border: 2px solid rgba(29, 39, 74, 0.3);;
          border-radius: 50%;
        }
        &:after {
          position: absolute;
          bottom: 20px;
          right: 18px;
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: rgba(29, 39, 74, 0.05);
        }
        .type-pay__block-title {
          font-size: 12px;
          line-height: 16px;
          font-weight: 500;
          margin-bottom: 10px;
          @media (max-width: 575px) {
            font-size: 10px;
            line-height: 13px;
          }
        }
        .type-pay__block-footer {
          font-weight: 500;
          font-size: 21px;
          line-height: 28px;
          margin-right: 25px;
          @media (max-width: 575px) {
            font-size: 16px;
            line-height: 21px;
            letter-spacing: -0.02em;
          }
        }
      }
    }
    .payment-modal__price-footer {
      max-width: 320px;
      margin: 0 auto;
      @media (max-width: 575px) {
        max-width: 100%;
      }
      .payment-modal__price-btn {
        width: 100%;
        box-shadow: 0px 3px 17px rgba(97, 130, 247, 0.3);
        border-radius: 63px;
        font-weight: 500;
        font-size: 19px;
        @media (max-width: 575px) {
          font-size: 14px;
          padding: 7px;
        }
      }
    }

  }

  /*Блок Бонусы*/
  .payment-modal__bonus {
    margin-bottom: 30px;
    @media (max-width: 575px) {
      margin-bottom: 15px;
    }
    &-title {
      font-weight: 600;
      font-size: 21px;
      opacity: 0.3;
      margin-bottom: 20px;
      @media (max-width: 575px) {
        font-size: 16px;
      }
    }
    &-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 575px) {
        flex-direction: column-reverse;
        align-items: flex-end;
      }
    }
    &-actions {
      display: flex;
      background: #EFEFF0;
      border-radius: 14px;
      padding: 1px 3px;
      max-width: 350px;
      flex: 0 0 350px;
      @media (max-width: 575px) {
        max-width: 100%;
        flex: 0 0 100%;
        width: 100%;
        border-radius: 24px;
        padding: 2px 3px;
      }
      .payment-modal__bonus-label {
        width: 50%;
        cursor: pointer;
        input {
          display: none;
          &:checked + .payment-modal__bonus-text {
            background: $white;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
          }
        }
        .payment-modal__bonus-text {
          display: block;
          width: 100%;

          border-radius: 14px;
          font-weight: 600;
          font-size: 16px;
          padding: 10px;
          text-align: center;
          @media (max-width: 575px) {
            font-size: 14px;
            border-radius: 24px;
            padding: 7px;
          }
        }
      }
    }
    &-summa {
      font-weight: 500;
      font-size: 18px;
      opacity: 0.5;
      @media (max-width: 575px) {
        position: relative;
        top: -20px;
        max-width: 50%;
        flex: 0 0 50%;
        text-align: right;
        margin-top: -20px;
        font-size: 16px;
      }
    }
  }

  /*блок Итого*/
  .payment-modal__total {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(29, 39, 74, 0.1);
    &-title {
      font-weight: 600;
      font-size: 21px;
      color: $blue;
      @media (max-width: 575px) {
        font-size: 16px;
      }
    }
    &-summa {
      font-weight: 600;
      font-size: 21px;
      margin-bottom: 10px;
      text-align: right;
      color: $blue;
      @media (max-width: 575px) {
        font-size: 16px;
      }
    }
    .payment-modal__summa-cashback {
      font-weight: 500;
      font-size: 16px;
      @media (max-width: 575px) {
        font-size: 14px;
      }
      .payment-modal__tooltip {
        margin-left: 8px;
      }
    }
  }

  /*Блок согласие*/
  .block-agree {
    margin-bottom: 25px;
    @media (max-width: 575px) {
      margin-bottom: 15px;
    }
    &__text {
      font-size: 16px;
      @media (max-width: 575px) {
        font-size: 11px;
        line-height: 16px;
      }
      a {
        display: inline-block;
        font-weight: 500;
        color: $blue;
        text-decoration: underline;
      }
    }
    .checkbox-text:before {
      border-radius: 50%;
    }
  }

  /*кнопка Перейти к оплате*/
  .payment-modal__btn {
    width: 100%;
    border-radius: 63px;
    font-weight: 600;
    font-size: 20px;
    padding: 17px;
    @media (max-width: 575px) {
      font-weight: 600;
      font-size: 14px;
      padding: 15px;
    }
  }

  /*Тип оплаты*/
  .payment-modal__pay {
    margin-bottom: 30px;
    &-title {
      font-weight: 600;
      font-size: 21px;
      opacity: 0.3;
      margin-bottom: 20px;
      @media (max-width: 575px) {
        font-size: 16px;
      }
    }
    &-btn {
      display: flex;
      align-items: center;
      position: relative;
      border: 1px solid rgba(29, 39, 74, 0.5);
      border-radius: 7px;
      width: 100%;
      text-align: left;
      padding: 10px 25px;
      &.show {
        border-bottom: 1px solid transparent;
        border-radius: 7px 7px 0 0;
      }
      &:after {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &-menu {
      transform: none !important;
      top: 100% !important;
      width: 100%;
      padding: 0;
      border: 1px solid rgba(29, 39, 74, 0.5);
      border-radius: 0 0 7px 7px;
      margin-top: -2px !important;
    }
    &-item {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      &:hover {
        color: $blue;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #efeff0;
      }
    }
    &-icon {
      width: 40px;
      height: 20px;
      display: inline-block;
      margin-right: 15px;
      img {
        height: 100%;
      }
    }
    &-name {
      font-weight: 500;
    }
  }

  /*иконка знак вопроса*/
  .payment-modal__tooltip {
    width: 25px;
    height: 25px;
    border: 1px solid $black;
    border-radius: 50%;
    background: transparent;
  }
}


.tooltip {
  &.show {
    opacity: 1;
  }
  &-arrow {
    display: none !important;
  }
  &-inner {
    padding: 10px;
    background: $white;
    box-shadow: 0px 0px 5px rgba(21, 29, 54, 0.15);
    border-radius: 6px;
    font-size: 12px;
    line-height: 16px;
    color: $black;
  }
}
