<template>
  <def-layout>
   <div class="error-page site-content main-content">
    <div class="container">
        <div class="error-content">
            <div class="error-content__header">
                <i class="icon-404"></i>
            </div>
            <div class="error-content__desc">
                <div class="error-content__desc-number">404</div>
                Страница не найдена
            </div>
        </div>
    </div>
</div>
</def-layout>
</template>

<script>
import DefLayout from "@/layouts/Default/Default";

export default {
  name: "Page404",
  components: { DefLayout },
};
</script>

<style lang="scss">
.error-page {
    background: $grey4;
    padding-top: 297px;
    @media(max-width: 991px) {
        padding-top: 75px;
    }
}

.icon-404 {
  display: inline-block;
  width: 214px;
  height: 214px;
  background: url(../.././assets/img/icon/404-icon.svg) center no-repeat;

  @media (max-width: 575px) {
    width: 124px;
    height: 124px;
    background: url(../.././assets/img/icon/404-icon-small.svg) center no-repeat;
}
}

.error-content {
    text-align: center;
    &__header {
        width: 100%;
        margin: 0 auto 21px;
        @media (max-width: 575px) {
            width: 180px;
            margin-bottom: 14px;
        }
    }
    &__desc {
        font-size: 42px;
        letter-spacing: -0.02em;
        color: $white;
        @media (max-width: 767px) {
            font-size: 21px;
        }
        &-number {
            font-weight: bold;
            font-size: 245px;
            line-height: 1;
            margin-bottom: 40px;
            @media (max-width: 991px) {
                font-size: 135px;
                margin-bottom: 16px;
            }
        }
    }
}

</style>
