.services-variant {
  display: flex;
  box-shadow: 0px 0px 5px rgba(21, 29, 54, 0.15);
  border-radius: 11px;
  background: $white;
  color: #000;
  text-decoration: none;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  .shop-item__address,
  .shop-item__metro {
    font-size: 10px;
    line-height: 13px;
  }
  .shop-item__location {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .shop-item__location-content {
    margin-left: 10px;
  }
  .shop-item__address {
    display: flex;
    flex-wrap: wrap;
  }
}
.services-variant__photo {
  max-width: 85px;
  flex: 0 0 85px;
  border-radius: 11px 0px 0px 11px;
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 11px 0px 0px 11px;
  }
}
.services-variant__content {
  display: flex;
  padding: 10px 15px;
}
.services-variant__info {
  padding-right: 15px;
}
.services-variant__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;

}
.services-variant__service-name {
  font-size: 13px;
  line-height: 17px;
  opacity: 0.5;
  margin-bottom: 20px;
}
.services-variant__address {
  display: flex;
}

.shop-item__metro {
}
.services-variant__rating {
}
.services-variant__rating-content {
  text-align: right;
}
.services-variant__rating-title {
  font-weight: 600;
}
.services-variant__rating-value {
  font-size: 12px;
  line-height: 16px;
}
.services-variant__rating-ball {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: $orange;
  margin-left: 5px;
  letter-spacing: -0.065em;
  font-size: 16px;
  font-weight: 600;
  color: $white;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}
