.auth__hr {
  width: 100%;
  border-bottom: 1px solid rgba(27, 25, 24, 0.1);
}

.w-100 {
  width: 100%;
}

.relative {
  position: relative;
}

.text-left {
  text-align: left !important;
}

.bg__white {
  background: white;
}

.border__rad {
  border-radius: 8px;
}

.pad_40 {
  padding: 0 40px;

  @media (max-width: 468px) {
    padding: 0 15px;
  }
}

.auth__block .row {
  flex-wrap: nowrap;
  padding: 40px 30px;
  @media (min-width: 768px) {
    padding: 40px 10px;
  }
}

.error__text {
  color: $error-color;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.auth__label {
  color: $black;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.reg {
  &__field {
    width: 100%;
    padding: 0 30px;
    height: 50px;
    border: 1px solid rgba($black, 0.3);
    background: white;
    border-radius: 82px;
    outline: 0;
    font-size: 14px;
    color: black;
    font-weight: 300;
    letter-spacing: 0.025em;

    transition: box-shadow 0.3s linear;

    &:focus {
      outline: 0;
      box-shadow: 0 2px 10px 0 rgba($black, 0.3);
    }
  }
}

.registration__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  margin-bottom: 26px;
  &.half {
    width: calc(50% - 8px);
    align-items: flex-start;
    @media (max-width: $tablet) {
      width: 100%;
      align-items: center;
    }
  }
  @media (max-width: $tablet) {
    margin-bottom: 32px;
  }
}

.registration__password {
  width: 100%;
}

.reg__link {
  color: $black;
}

.error__field {
  border-color: $error-color;
}

.error__symbol {
  font-size: 30px;
  visibility: hidden;
  color: $error-color;
  font-weight: 400;
  position: absolute;
  top: 50%;
  right: -20px;

  transform: translateY(-50%);

  @media (max-width: 767px) {
    display: none;
  }
}

.error__symbol--active {
  visibility: visible;

  @media (max-width: 767px) {
    display: none;
  }
}

.auth__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba($black, 0.1);
  @media (max-width: $tablet) {
    padding-top: 40px;
  }
}

.auth__title {
  font-size: 32px;
  color: #1b1918;
  font-weight: 400;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;

  display: flex;
  align-items: center;

  span {
    white-space: nowrap;
  }

  @media (max-width: $tablet) {
    font-size: 30px;
  }
}

.service__name {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  margin: 0 12px;
  width: 214px;
  img {
    width: 100%;
  }
}

.auth__content {
  position: relative;
  min-height: auto;
  flex: 1;
  flex-grow: 5.5;
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: auto;

  @media (max-width: 968px) {
    flex-grow: 6.5;
    width: 65%;
  }
  @media (max-width: $tablet) {
    padding: 0px 0 20px;
  }

  @media (max-width: $tablet) {
    width: 100%;
    height: auto;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: $blue;
  }
  &::-webkit-scrollbar-track {
    background: rgba(192, 137, 96, 0.2);
    width: 8px;
    border-radius: 25px;
  }
}
.auth__container {
  max-width: 670px;
  width: 100%;
  margin: auto;
  padding: 80px 0 40px;
  @media (max-width: $desktopL) {
    max-width: 600px;
  }
  @media (max-width: $desktop) {
    max-width: 500px;
  }
}

.height_100 {
  height: 100%;
}

.reg__recaptcha {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth__main {
  width: 100%;
  padding: 26px 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @media (max-width: $tablet) {
    padding: 30px 30px 40px;
  }
}

.auth__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.reg__field--block.w-auto {
  width: auto;
}

.registration__group.disabled_flag {
  .auth__label {
    color: #bbbec9;
  }
  .reg__field {
    border-color: #bbbec9;
    color: #bbbec9;
  }
}

.reg__field--block {
  z-index: 2;
  &.error {
    position: relative;
    &::after {
      content: "*";
      display: block;
      width: 13px;
      height: 13px;
      position: absolute;
      right: -15px;
      bottom: 0;
      font-weight: 400;
      font-size: 40px;
      color: $error-color;
      @media (max-width: 767px) {
        display: none;
      }
    }
    .reg__field {
      border-color: $error-color;
    }
  }
}
.send__message--field {
  width: 100%;
  position: relative;
}

.reg__field--block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.errors {
  width: 100%;
  overflow: hidden;

  position: absolute;
  bottom: -9px;
  transform: translateY(100%);
  display: flex;
}

.error__text {
  color: $error-color;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding-right: 6px;
  &:last-child:after {
    content: unset;
  }
  &:after {
    content: " ;";
    position: absolute;
  }
  @media (max-width: 424px) {
    text-align: center;
  }
}

.error__symbol {
  font-size: 30px;
  visibility: hidden;
  color: $error-color;
  font-weight: 400;
  position: absolute;
  top: 50%;
  right: -20px;

  transform: translateY(-50%);

  @media (max-width: 767px) {
    display: none;
  }
}

.error__symbol--active {
  visibility: visible;

  @media (max-width: 767px) {
    display: none;
  }
}

// FOOTER

.register__link {
  font-size: 16px;
  color: $blue;
  font-weight: 400;
}

.auth__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  &--border {
    border-top: 1px solid rgba($black, 0.1);
  }
  &-btn {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    padding-top: 30px;
  }
}

.auth__button {
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 57px;
  padding: 10px 20px;
  min-width: 240px;
  font-size: 16px;
  font-weight: 500;
  height: 54px;
  color: white;
  background: $black;

  &:disabled {
    background: rgba($black, 0.1);
    color: rgba($black, 0.5);
    cursor: default;
  }

  @media (max-width: 468px) {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.auth__button--forgot {
  background: white;
  color: rgba(27, 25, 24, 0.3);
  border: 1px solid rgba(27, 25, 24, 0.3);
  padding: 10px 25px;

  @media (max-width: 468px) {
    margin-left: 0;
  }
}

.w_100-468 {
  @media (max-width: 468px) {
    width: 90%;
  }
}

.reg__checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.reg-checkbox {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &.invalid .reg--fake {
    border: 1px solid red;
    border-radius: 50%;
  }
}

.reg--real {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  font-size: 0;

  transform: translate(-50%, -50%);

  &:checked + .reg--fake {
    background: $black;
    border-color: $black;
  }

  &:checked + .reg--fake:before {
    width: 14px;
    height: 14px;
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("~@/assets/img/auth/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
  }
}

.reg__label {
  cursor: pointer;
  font-weight: 400;
  margin-left: 10px;
  display: flex;
  color: rgba(27, 25, 24, 0.5);
  font-size: 14px;
}

.reg--fake {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(27, 25, 24, 0.5);
  display: flex;
}

.message__block {
  width: 100%;
  padding: 0px 30px 0px 30px;
  background: rgba(27, 25, 24, 0.04);
  border-radius: 0 0 25px 25px;
  visibility: hidden;
  height: 0;

  transform: translateY(-17px);
  z-index: 1;

  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  transition: height 0.3s linear, padding 0.3s linear;
}
.message__block-content {
  display: flex;
  align-items: baseline;
  margin: auto;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.message__block--active {
  visibility: visible;
  height: auto;
  padding: 35px 20px 12px 20px;
}

.message__code--block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  .errors {
    bottom: 0;
  }
  @media (max-width: $desktopL) {
    margin-right: 20px;
  }
  @media (max-width: $tablet) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.message__code--input {
  width: 100%;
  padding: 0 31px;
  height: 50px;
  background: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.error {
    border: 1px solid $error-color;
  }
}

.message__code--title {
  font-size: 14px;
  color: rgba(27, 25, 24, 1);
  font-weight: 500;

  margin-bottom: 15px;
}

.message__send--block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet) {
    width: 100%;
  }
}

.message__send--title {
  font-weight: 400;
  font-size: 13px;
  color: rgba(27, 25, 24, 1);
  margin-bottom: 16px;
}

.message__send--timer {
  font-size: 13px;
  color: rgba(27, 25, 24, 1);
  font-weight: 400;
}

.message__send--btn {
  outline: 0;
  background: $black;
  padding: 11px 38px;
  border: 0;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  @media (max-width: $desktopL) {
    padding: 11px 30px;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    background: rgba($black, 0.1);
    color: rgba($black, 0.5);
    cursor: default;
  }
}

.code_item {
  width: 14%;
  font-size: 18px;
  color: black;

  border: 0;
  border-bottom: 1px solid #1b1918;
  outline: 0;
  text-align: center;

  &:focus {
    outline: 0;
  }
}

.choose__region {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  .flag {
    width: 44px !important;
    height: 39px !important;
    border-radius: 50% !important;
    background-position-x: 50% !important;
  }
}

.active__region {
  position: relative;
  width: 64px;
  height: 36px;
  background: rgba(27, 25, 24, 0.05);
  border: none;
  border-radius: 43px;

  margin-left: 20px;
  margin-right: 7px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:after {
    content: "";
    display: inline-block;
    margin-right: 4px;
    border-top: 4px solid $black;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 0;
  }
}

.region {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  border-radius: 50%;
}

.registration__group.disabled_flag {
  .auth__label {
    color: #bbbec9;
  }
  .reg__field {
    border-color: #bbbec9;
    color: #bbbec9;
  }
}

.vue-pincode-input {
  width: 25px;
  padding: 0!important;
  margin: 0!important;
  border: 0;
  border-radius: 0!important;
  border-bottom: 1px solid $black!important;
  box-shadow: none!important;
  margin-right: 15px!important;
  &:last-child {
    margin-right: 0!important;
  }
}

.loader {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}
.loader__content {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
}
