<template>
  <div class="page">
    <HeaderSprite />
    <FooterSprite />
    <Header :isAuth="isAuth" />
    <section class="auth__block">
      <SpriteAuth />
      <AuthBackground />
      <slot />
    </section>
  </div>
</template>

<script>
import HeaderSprite from "@/components/Common/Header/components/AuthHeaderSprite";
import FooterSprite from "@/components/Common/Footer/AuthFooterSprite";
import Header from "@/components/Common/Header/Header";
import SpriteAuth from "@/components/Auth/SpriteAuth/SpriteAuth";
import AuthBackground from "@/components/Auth/AuthBackground/AuthBackground";

export default {
  name: "Auth",
  components: {
    AuthBackground,
    SpriteAuth,
    Header,
    HeaderSprite,
    FooterSprite,
  },
  data: () => ({
    isAuth: true,
  }),
};
</script>

<style lang="scss">
@import "auth.scss";

.page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.auth__block {
  width: 100%;
  display: flex;
  height: 100%;
  min-height: 100%;
  position: relative;

  @media (max-width: 767px) {
    justify-content: center;
    align-items: center;
  }
}
</style>
