<template>
  <div class="registration__group">
    <label for="email" class="auth__label" ref="email">E-mail</label>
    <div class="send__message--field">
      <div class="reg__field--block" :class="{ error: $v.email.$error }">
        <input
          type="email"
          id="email"
          v-model="email"
          name="email"
          @blur="setEmail"
          @input="setEmail"
          class="reg__field"
          autocomplete="off"
        />
        <div v-if="$v.email.$error && !telephone" class="errors">
          <p class="error__text" v-if="!$v.email.required && !telephone">
            {{ $t("auth.oneOfThemFieldIsRequired") }}
          </p>
          <p class="error__text" v-else-if="!$v.email.email">
            {{ $t("auth.phoneEmail") }}
          </p>
        </div>
      </div>
      <div
        class="message__block"
        :class="{ 'message__block--active': showCodeWindow }"
      >
        <div class="message__block-content">
          <div class="message__code--block">
            <h3 class="message__code--title">{{ $t("auth.acceptEmail") }}</h3>
            <div
              class="message__code--input"
              :class="{ error: $v.pinCode.$error }"
            >
              <PincodeInput
                v-model="pinCode"
                placeholder="0"
                :length="6"
                @input="setEmailPin()"
              />
            </div>
            <div v-if="$v.pinCode.$error" class="errors">
              <p class="error__text" v-if="!$v.pinCode.required">
                {{ $t("auth.requiredToFill") }}
              </p>
              <p class="error__text" v-if="!$v.pinCode.numeric">
                {{ $t("auth.onlyNumber") }}
              </p>
              <p class="error__text" v-if="!$v.pinCode.minLength">
                {{ $t("auth.pinLength") }}
              </p>
            </div>
          </div>

          <div class="message__send--block">
            <h5 class="message__send--title">
              <template v-if="!isFirstSend">Не пришло оповещение?</template>
            </h5>
            <button
              type="button"
              @click="sendRepeat"
              :disabled="rep_send.isRunning === true"
              class="message__send--btn"
            >
              {{ isFirstSend ? $t("auth.sendCode") : $t("auth.sendCodeAgain") }}
            </button>
            <div class="message__send--timer">
              {{ prettyTime }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { validationMixin } from "vuelidate";
const {
  required,
  email,
  numeric,
  minLength,
  requiredIf,
} = require("vuelidate/lib/validators");
import PincodeInput from "vue-pincode-input";

export default {
  props: ["telephone"],
  name: "EmailField",
  components: {
    PincodeInput,
  },
  validations: {
    email: {
      required: requiredIf(function () {
        return this.telephone ? false : true;
      }),
      email,
    },
    pinCode: {
      required,
      numeric,
      minLength: minLength(6),
    },
  },
  mixins: [validationMixin],
  data() {
    return {
      isFirstSend: true,
      showCodeWindow: false,
      email: "",
      pinCode: "",
      rep_send: {
        isRunning: false,
        minute: 1,
        second: 0,
        time: 0,
        timer: null,
      },
    };
  },
  computed: {
    prettyTime() {
      let time = this.rep_send.time / 60;
      let minutes = parseInt(time);
      let secondes = Math.round((time - minutes) * 60);
      if (minutes < 10) {
        minutes = `0${minutes}`;
      }
      if (secondes < 10) {
        secondes = `0${secondes}`;
      }
      return minutes + ":" + secondes;
    },
  },
  created() {
    this.$eventHub.$on("emailCheck", this.emailCheck);
  },
  methods: {
    ...mapActions("Auth", ["sendConfirmCode"]),
    emailCheck() {
      this.$v.$touch();
    },
    setEmail() {
      this.$emit("setEmail", {
        val: this.email,
        hasError: this.$v.email.$error,
      });
      this.setEmailPin();
      this.$v.$touch();
      this.showCodeWindow = false;
      if (!this.$v.email.$error && this.email.length) {
        this.showCodeWindow = true;
      }
    },
    sendCode() {
      if (!this.$v.email.$error) {
        this.sendConfirmCode({
          email: this.email,
        });
      }
    },
    setEmailPin() {
      this.$emit("setEmailPin", {
        val: this.pinCode,
        hasError: this.$v.pinCode.$error,
      });
    },
    sendRepeat() {
      if (this.rep_send.isRunning === false) {
        this.$store.commit("RegistrationClinic/sendEmail", this.email);
        this.startTimer();
        this.sendCode();
        this.pinCode = "";
      }
      this.isFirstSend = false;
    },
    startTimer() {
      this.rep_send.isRunning = true;
      if (!this.rep_send.timer) {
        this.rep_send.timer = setInterval(() => {
          if (this.rep_send.time > 0) {
            this.rep_send.time--;
          } else {
            clearInterval(this.rep_send.timer);
            if (this.rep_send.time == 0) {
              this.rep_send.isRunning = false;
            }
            this.rep_send.isRunning = false;
            this.setTime();
          }
        }, 1000);
      }
    },
    setTime() {
      this.rep_send.time = this.rep_send.minute * 60 + this.rep_send.second;
    },
  },
  mounted() {
    this.setTime();
  },
};
</script>
