<template>
  <div class="registration__group">
    <label for="telephone" class="auth__label" ref="telephone">{{
      $t("auth.phone")
    }}</label>
    <div class="send__message--field">
      <div class="reg__field--block" :class="{ error: $v.telephone.$error }">
        <input
          type="tel"
          id="telephone"
          v-model="telephone"
          name="telephone"
          @blur="setTelephone"
          @input="setTelephone"
          class="reg__field"
          autocomplete="off"
        />
        <span class="choose__region">
          <button
            type="button"
            @click="clickOpenPopup()"
            class="active__region"
          >
            <span class="region">
              <country-flag
                :country="activeRegion.region"
                rounded
                size="normal"
              />
            </span>
          </button>
        </span>
      </div>
      <div v-if="$v.telephone.$error" class="errors">
        <p class="error__text" v-if="!$v.telephone.required">
          {{ $t("auth.requiredToFill") }}
        </p>
        <p class="error__text" v-else-if="!$v.telephone.numeric">
          {{ $t("auth.phoneWrong") }}
        </p>
        <p class="error__text" v-else>
          {{ $t("auth.phoneWrong") }}
        </p>
      </div>
      <AuthPopupRegion
        @change-country="onChangeCountry"
        :activePopup="activePopup"
      />

      <div
        class="message__block"
        :class="{ 'message__block--active': showCodeWindow }"
      >
        <div class="message__block-content">
          <div class="message__code--block">
            <h3 class="message__code--title">{{ $t("auth.acceptPhone") }}</h3>
            <div
              class="message__code--input"
              :class="{ error: $v.pinCode.$error }"
            >
              <PincodeInput
                v-model="pinCode"
                placeholder="0"
                :length="6"
                @input="setTelephonePin()"
              />
            </div>
            <div v-if="$v.pinCode.$error" class="errors">
              <p class="error__text" v-if="!$v.pinCode.required">
                {{ $t("auth.requiredToFill") }}
              </p>
              <p class="error__text" v-if="!$v.pinCode.numeric">
                {{ $t("auth.onlyNumber") }}
              </p>
              <p class="error__text" v-if="!$v.pinCode.minLength">
                {{ $t("auth.pinLength") }}
              </p>
            </div>
          </div>

          <div class="message__send--block">
            <h5 class="message__send--title">
              <template v-if="!isFirstSend">Не пришло оповещение?</template>
            </h5>
            <button
              type="button"
              @click="sendRepeat"
              :disabled="rep_send.isRunning === true"
              class="message__send--btn"
            >
              {{ isFirstSend ? $t("auth.sendCode") : $t("auth.sendCodeAgain") }}
            </button>
            <div class="message__send--timer">{{ rep_send.displayTime }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CountryFlag from "vue-country-flag";
import AuthPopupRegion from "@/components/Auth/AuthPopupRegion/AuthPopupRegion";
import { validationMixin } from "vuelidate";
import { mapGetters, mapActions } from "vuex";
const { required, numeric, minLength } = require("vuelidate/lib/validators");
import PincodeInput from "vue-pincode-input";

const sendConfirmTime = 60 * 1;

export default {
  name: "TelephoneField",
  components: {
    CountryFlag,
    AuthPopupRegion,
    PincodeInput,
  },
  validations: {
    telephone: {
      isTelephone: (value) => /^\+?\d{11,20}$/.test(value),
    },
    pinCode: {
      required,
      numeric,
      minLength: minLength(6),
    },
  },
  mixins: [validationMixin],
  data() {
    return {
      isFirstSend: true,

      showCodeWindow: false,
      activePopup: false,
      telephone: "+7",
      pinCode: "",
      rep_send: {
        isRunning: false,
        minute: 1,
        second: 0,
        time: 0,
        timer: null,
        displayTime: this.prettyTime(sendConfirmTime),
      },
    };
  },
  computed: {
    ...mapGetters({
      activeRegion: "Popup/activeRegion",
      regions: "Popup/regions",
    }),
    hasStringNumber() {
      return /^\+?([0-9]*)\d*$/.test(this.telephone);
    },
  },
  created() {
    this.$eventHub.$on("telephoneCheck", this.telephoneCheck);
  },
  methods: {
    ...mapActions("Auth", ["sendConfirmCode"]),
    telephoneCheck() {
      this.$v.$touch();
    },
    prettyTime(timeParam) {
      let time = timeParam / 60;
      let minutes = parseInt(time);
      let secondes = Math.round((time - minutes) * 60);
      if (minutes < 10) {
        minutes = `0${minutes}`;
      }
      if (secondes < 10) {
        secondes = `0${secondes}`;
      }
      return minutes + ":" + secondes;
    },

    onChangeCountry(country) {
      this.telephone = country.number;
      this.activePopup = false;
    },

    clickOpenPopup() {
      this.activePopup = true;
    },
    startTimer(duration) {
      this.rep_send.isRunning = true;
      let durationTemp = duration;
      this.rep_send.displayTime = this.prettyTime(durationTemp);
      const timerId = setInterval(() => {
        if (durationTemp > 0) {
          durationTemp--;
        } else {
          clearInterval(timerId);
          this.rep_send.isRunning = false;
        }
        this.rep_send.displayTime = this.prettyTime(durationTemp);
      }, 1000);
    },
    setTelephonePin() {
      this.$emit("setTelephonePin", {
        val: this.pinCode,
        hasError: this.$v.pinCode.$error,
      });
    },
    setTelephone() {
      this.$emit("setTelephone", {
        val: this.telephone.replace("+", ""),
        hasError: this.$v.telephone.$error,
      });
      this.setTelephonePin();
      this.$v.$touch();
      this.showCodeWindow = false;
      if (!this.$v.telephone.$error && this.telephone.length) {
        this.showCodeWindow = true;
      }
    },
    sendCode() {
      if (!this.$v.telephone.$error) {
        this.sendConfirmCode({
          phone: this.telephone,
        });
      }
    },
    sendRepeat() {
      if (this.rep_send.isRunning === false) {
        this.$store.commit("RegistrationClinic/sendTelephone", this.telephone);
        this.startTimer(sendConfirmTime);
        this.sendCode();
        this.pinCode = "";
      }
      this.isFirstSend = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.error_confirm {
  border: 1px solid #ff3f3f;
}
.send__message--field {
  width: 100%;
  position: relative;
}
</style>
