<template>
  <footer class="auth__footer">
    <!-- <div class="auth__footer-btn">
      <button
        type="button"
        class="auth__button w_100-468"
        :disabled="disabled"
        @click.prevent="clickCreate"
        v-show="buttonOne"
      >
        {{ buttonOne }}
      </button>
      <button
        type="button"
        class="auth__button auth__button--forgot"
        @click.prevent="goToRestorePass()"
        v-show="buttonTwo"
      >
        {{ buttonTwo }}
      </button>
    </div> -->
    <div>
      <router-link
        class="register__link"
        to="login"
        v-if="$route.name == 'RegistrationClinic' || $route.path == '/signup'"
        >{{ $t("auth.authLink") }}</router-link
      >
      <router-link
        v-else
        class="register__link"
        :to="{ name: 'RegistrationUser', query: $route.query }"
      >
        {{ $t("auth.registrationLink") }}
      </router-link>
    </div>
  </footer>
</template>

<script>
export default {
  name: "AuthFooter",
  props: {
    disabled: Boolean,
    buttonOne: String,
    buttonTwo: String,
  },
  emits: {
    sendForm: null,
  },
  methods: {
    clickCreate() {
      this.$emit("sendForm");
    },
    goToRestorePass() {
      this.$router.push("recovery-password");
    },
  },
};
</script>
