#avatar-modal {
  display: flex;
  .modal {
    display: block;
  }
  .modal-content {
    height: 100%;
    @media (max-width: 575px) {
      min-height: 100vh;
    }
  }
}
.avatar-modal {
  max-width: 820px;
  width: 100%;
  margin: auto;
  &.modal-dialog {
    @media (max-width: 575px) {
      margin-top: 0;
    }
  }
}
.avatar-modal__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 575px) {
    flex-direction: column;
    align-items: center;
  }
}
.avatar-modal__part {
  width: 380px;
  height: 380px;
  @media (max-width: 991px) {
    width: 320px;
    height: 320px;
  }
  @media (max-width: 767px) {
    width: 240px;
    height: 240px;
  }
  @media (max-width: 575px) {
    margin-bottom: 12px;
  }
  &.avatar-modal__result {
    @media (max-width: 575px) {
      width: 200px;
      height: 200px;
    }
  }
}
.avatar-modal__avatar-handler {
  border: 2px dashed $black;
  display: flex;
}
.avatar-modal__upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 18px;

  cursor: pointer;
  input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
.avatar-modal__result {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  img {
    max-width: 340px;
    max-height: 340px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.avatar-modal__cropper {
  max-width: inhetit;
  max-height: inhetit;
  margin: auto;
}
.avatar-modal__cropper-background {
  background-color: transparent;
}
.avatar-modal__buttons {
  margin: auto;
}
.avatar-modal__button {
  position: relative;
  display: inline-block;
  height: fit-content;
  border: 1px solid rgba(29, 39, 74, 0.3);
  border-radius: 7px;
  font-weight: 500;
  padding: 10px 25px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  margin: 20px auto 0;
  &:hover {
    background: $black;
    border: 1px solid $black;
    color: $white;
    transition: 0.5s;
  }
  &:last-child {
    margin-left: 16px;
  }
}
