.transaction {
  &__body {
    padding: 30px 0;
    background: $white;
    border-radius: 7px;
    margin-bottom: 30px;
  }
  &-table {
    width: 100%;
    th,
    td {
      width: 100px;
    }
    th:first-child,
    td:first-child {
      padding-left: 45px;
    }
    th:last-child,
    td:last-child {
      padding-right: 45px;
    }

    &__header {
      border-bottom: 1px solid rgba(29, 39, 74, 0.1);
    }

    &__header-title {
      font-weight: 500;
      font-size: 18px;
      padding: 0 0 15px;
      cursor: pointer;
      .transaction-sort-icon {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        flex: 0 0 30px;
        height: 30px;
        cursor: pointer;
        background: url(~@/assets/img/icon/profile-icon/sort-icon.svg) no-repeat;
        margin-left: 5px;
      }
    }

    &__body {
      margin-top: 35px;
      tr:not(:last-child) {
        border-bottom: 1px solid rgba(29, 39, 74, 0.1);
      }
    }
    &__body-text {
      font-weight: 300;
      font-size: 18px;
      padding: 20px 0;
    }
  }
  &__more-btn {
    max-width: 240px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    background: $black;
    border: 2px solid $black;
    color: $white;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    border-radius: 40px;
    transition: 0.5s;

    &:hover {
      background: transparent;
      transition: 0.5s;
      color: $black;
    }
  }
}

/*
@media (max-width: 1199px) {
    .transaction-table {
        width: 760px;
    }
}*/

@media (max-width: 767px) {
  .transaction {
    &-body {
      padding: 20px 0;
    }
    &-table {
      th:first-child,
      td:first-child {
        padding-left: 10px;
      }
      th:last-child,
      td:last-child {
        padding-right: 10px;
      }
      th,
      td {
        width: auto;
      }
    }
    &-table__header-title {
      font-size: 14px;
      line-height: 15px;
    }
    &-table__body-text {
      font-weight: 300;
      font-size: 12px;
      line-height: 13px;
    }
  }
  .transaction-table__header-title .transaction-sort-icon {
    display: none;
  }
}
