<template>
  <account>
    <div class="profile-info">
      <div class="profile-page__header">
        <div class="profile-page__header-inner">
          <div class="profile-page__top-title d-flex">Реферальная система</div>
        </div>
      </div>

      <div class="referal-system__body">
        <div class="referal-system__body-block">
          <div class="referal-system__title">
            Скопируйте эту ссылку и поделитесь ей
          </div>

          <div class="referal-system__blocks d-flex">
            <div class="referal-system__link">
              <div class="referal-system__link-text">{{ referralLink }}</div>
            </div>

            <button
              type="button"
              class="btn referal-system__copy-btn"
              @click="copyReferralLink"
            >
              Скопировать
            </button>
          </div>
        </div>

        <div class="referal-system__body-block">
          <div class="referal-system__title">
            Или поделитесь ссылкой на приложение
          </div>

          <button type="button" class="referal-system__share-btn">
            <span class="referal-system__share-text">Поделиться</span>
          </button>
        </div>

        <div class="referal-system__body-block">
          <div class="referal-system__body-text">
            <p>
              Первичный бонус — после первой транзакции, проведенной
              пользователем, который зарегистрировался по реферальной ссылке.
            </p>

            <p>
              Второй тип бонуса — если салон зарегистрирован по реферальной
              ссылке. Тогда производится выплата определенного процента от
              обората этого салона владельцу реферальной ссылки.
            </p>
          </div>
        </div>
      </div>
    </div>
  </account>
</template>

<script>
import Account from "@/layouts/Account/Account";
import { copyToClipboard } from "@/helpers/copy-to-clipboard";
import { accountModule } from "@/store";

export default {
  name: "ReferralSystem",
  components: { Account },

  computed: {
    referralLink() {
      return accountModule.referralLink;
    },
  },

  methods: {
    copyReferralLink() {
      copyToClipboard(this.referralLink);
      this.$doNoty.success("Ссылка успешно скопирована!");
    },
  },
};
</script>

<style lang="scss">
@import "referal-system";
</style>
