.referal-system {
  &__body {
    padding: 35px;
    background: $white;
    border-radius: 7px;
    &-block:not(:last-child) {
      margin-bottom: 60px;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 25px;
  }

  &__link {
    background: rgba($black, 0.05);
    padding: 25px 20px;
    border-radius: 10px;
    margin-right: 10px;
    overflow: hidden;
    max-width: 487px;
    &-text {
      font-weight: 500;
      font-size: 18px;
      color: $black;
      opacity: 0.8;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &__copy-btn {
    background: rgba($black, 0.15);
    color: $black;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 25px;
    border-radius: 10px;
    border: 0;
    transition: 0.5s;
    &:hover {
      background: rgba($black, 0.25);
      transition: 0.5s;
    }
  }

  &__share-btn {
    border: 1px solid rgba(29, 39, 74, 0.5);
    border-radius: 10px;
    padding: 20px 50px;
    background: transparent;
    &:hover {
      border: 1px solid $blue;
    }
  }
  &__share-text {
    font-weight: 600;
    font-size: 20px;
    &:after {
      content: "";
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-left: 10px;
      vertical-align: -7px;
      background: url(~@/assets/img/icon/profile-icon/share-arrow.svg)
        no-repeat;
    }
  }
  &__body-text {
    p {
      font-size: 16px;
      line-height: 22px;
      opacity: 0.5;
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: 991px) {
  .referal-system__blocks {
    flex-direction: column;
    .referal-system__link {
      margin: 0 0 15px;
      max-width: 100%;
      background: rgba(29, 39, 74, 0.05);
      &-text {
        color: $black;
      }
    }
  }

  .referal-system {
    &__body {
      padding: 20px;
      &-block:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    &__title {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 15px;
    }
    &__link {
      padding: 17px 20px;
      &-text {
        font-size: 12px;
      }
    }
    &__copy-btn {
      font-size: 16px;
      padding: 16px;
    }
    &__share-btn {
      padding: 20px 35px;
    }
    &__share-text {
      font-size: 16px;

      &:after {
        width: 24px;
        height: 24px;
        background-size: 24px;
        vertical-align: -6px;
      }
    }
  }
}
