.map-salon {
  &__items {
    @media(max-width: 991px) {
      overflow-y: scroll;
      height: 100%;
      padding: 5px 5px 150px;
    }
  }
  &__item {
    background: $white;
    color: $black;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgba(21, 29, 54, 0.15);
    border-radius: 19px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__item-inner {
    display: flex;
  }
  &__item-left {
    img {
      height: 100%;
      border-radius: 19px 0 0 19px;
    }
  }
  &__item-right {
    padding: 10px;
  }
  &__name {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    &-ball {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: $orange;
      margin-right: 10px;
      font-weight: 600;
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      color: $white;
    }
    &-reviews {
      font-size: 13px;
      line-height: 17px;
      color: inherit;
    }
  }
  &__location {
    display: flex;
    margin-bottom: 10px;
    &-address {
      font-size: 12px;
      line-height: 14px;
      margin-left: 10px;
      cursor: pointer;
    }
  }

}
