<template>
  <DefLayout>
    <div class="specialists-page site-content main-content">
      <div class="header-page">
        <div class="container">
          <skeleton-loader-vue
            v-if="isSpecialistsLoading && !specialists.length"
            type="rect"
            width="300px"
            height="32px"
            rounded
            animation="fade"
          ></skeleton-loader-vue>
          <div v-else class="header-page__title">
            {{ specialistsPageTitle }}
          </div>
        </div>
      </div>

      <div class="specialists-inner__blocks">
        <div class="container">
          <div class="row">
            <SpecialistCard
              v-for="specialist of specialists"
              :key="specialist.id"
              :specialist="specialist"
            />
          </div>
          <SpecialistInnerRowSkeleton
            v-if="isSpecialistsLoading || isNextSpecialistsLoading"
          />
          <button
            v-if="
              !isSpecialistsLoading &&
              !isNextSpecialistsLoading &&
              specialists.length &&
              specialists.length < specialistsCount
            "
            @click="getNextSpecialists($route.params.categoryId)"
            class="mt-4 specialists-inner__more"
          >
            Показать еще
          </button>
        </div>
      </div>
      <p
        v-if="!isSpecialistsLoading && !specialists.length"
        class="specialists-inner__not-found"
      >
        Ничего не найдено
      </p>
    </div>
  </DefLayout>
</template>

<script>
import DefLayout from "@/layouts/Default/Default";
import SpecialistInnerRowSkeleton from "@/components/Skeleton/SpecialistInnerRowSkeleton.vue";

import SpecialistCard from "./components/SpecialistCard.vue";

import { createNamespacedHelpers } from "vuex";

const specialistStore = createNamespacedHelpers("Specialist");

export default {
  name: "Specialists",
  components: {
    DefLayout,
    SpecialistInnerRowSkeleton,

    SpecialistCard,
  },
  computed: {
    ...specialistStore.mapState([
      "isSpecialistsLoading",
      "isNextSpecialistsLoading",
      "specialistsPageTitle",
      "specialistsCount",
    ]),
    ...specialistStore.mapGetters(["specialists"]),
  },
  async created() {
    await this.clearSpecialists();
    await this.getSpecialists(this.$route.params.categoryId);
  },
  methods: specialistStore.mapActions([
    "clearSpecialists",
    "getSpecialists",
    "getNextSpecialists",
  ]),
};
</script>

<style lang="scss">
@import "specialists-inner";

.specialists-inner__more {
  padding: 20px;
  background: $black;
  border: 2px solid $black;
  color: $white;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  border-radius: 40px;
  transition: 0.5s;
  &:hover {
    background: transparent;
    transition: 0.5s;
    color: $black;
  }
}
.specialists-inner__not-found {
  text-align: center;
  width: 100%;
  margin: 120px auto;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}
</style>
