.specialists-inner__block {
  margin: 15px 0;
  height: calc(100% - 30px);
  &-link {
    text-decoration: none;
    color: $black;
  }
  &-img {
    margin-bottom: 15px;
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
    img {
      border-radius: 3px;
    }
  }
  &-name {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1;
      margin-bottom: 5px;
    }
  }
  &-ball {
    color: $orange;
    letter-spacing: -0.025em;
    font-weight: 600;
    font-size: 18px;
    margin-right: 10px;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 17px;
    }
  }
  &-reviews {
    letter-spacing: 0.01em;
    opacity: 0.5;
    @media (max-width: 767px) {
      font-size: 10px;
      line-height: 15px;
    }
  }
  &-rating {
    margin-bottom: 10px;
    @media (max-width: 767px) {
      margin-bottom: 5px;
    }
  }
  &-price {
    font-size: 16px;
    font-weight: 500;
    &.old {
      font-size: 14px;
      text-decoration: line-through;
      opacity: 0.5;
      margin-right: 4px;
    }
    @media (max-width: 767px) {
      font-size: 11px;
      line-height: 11px;
    }
  }
  &-note {
    font-size: 16px;
    opacity: 0.5;
    margin-left: 4px;
    @media (max-width: 767px) {
      font-size: 11px;
      line-height: 11px;
    }
  }
}


@media (max-width: 767px) {
  .specialists-inner__block {
    &-footer {
      line-height: 1;
    }

  }
}
