<template>
  <account>
    <div class="profile-chat profile-info">
      <div class="profile-page__header">
        <div class="profile-page__header-inner d-flex justify-content-between">
          <router-link :to="{ name: 'ProfileChats' }">
            <button type="button" class="back-to-chatList">
              К списку чатов
            </button>
          </router-link>
          <skeleton-loader-vue
            v-if="!chatsLoaded"
            style="display: block"
            type="rect"
            :width="isMobile ? '100%' : '226px'"
            height="62px"
            rounded
            :radius="3"
            animation="fade"
          />
          <ChatActions v-else />
        </div>
      </div>

      <skeleton-loader-vue
        v-if="!chatsLoaded"
        style="display: block"
        type="rect"
        width="100%"
        height="650px"
        rounded
        :radius="18"
        animation="fade"
      />
      <ChatMessages v-else />
    </div>
  </account>
</template>

<script>
import Account from "@/layouts/Account/Account";
import ChatActions from "./components/ChatActions.vue";
import ChatMessages from "./components/ChatMessages.vue";

import { chatsModule } from "./store/chats-module";

export default {
  name: "ProfileChat",
  components: {
    Account,
    ChatActions,
    ChatMessages,
  },

  data() {
    return {
      isMobile: window.innerWidth < 768,
    };
  },

  computed: {
    chatsLoaded() {
      return chatsModule.chatsLoaded;
    },
    chat() {
      return chatsModule.chat;
    },
  },

  created() {
    chatsModule.openChat(this.$route.params.id);
  },

  mounted() {
    window.addEventListener("resize", this.onResize);
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.onResize);
  },

  methods: {
    onResize() {
      this.isMobile = window.innerWidth < 576;
    },
  },

  watch: {
    chat(c) {
      if (this.chatsLoaded && c.id === "undefined") {
        this.$router.push({ name: "NotFound" });
      }
    },
  },
};
</script>

<style lang="scss">
@import "styles/chat";
</style>
