<template>
  <account>
    <div class="profile-info all-chats__tabs">
      <div class="all-chats__nav">
        <div
          class="all-chats__nav-item"
          :class="{ active: activeTab === CHAT_TABS.list }"
          @click="activeTab = CHAT_TABS.list"
        >
          Список чатов
        </div>

        <div
          class="all-chats__nav-item"
          :class="{ active: activeTab === CHAT_TABS.add }"
          @click="activeTab = CHAT_TABS.add"
        >
          Добавить чат
        </div>
      </div>

      <div class="all-chats__blocks">
        <div
          class="all-chats__block all-chats__block-listChat"
          :class="{ active: activeTab === CHAT_TABS.list }"
        >
          <div class="profile-page__header">
            <div
              class="profile-page__header-inner d-flex"
              :class="'align-items-center justify-content-between'"
            >
              <div class="profile-page__top-title">Список чатов</div>

              <div class="all-chats__actions">
                <ChatsFilter v-model="listFilters" :chats="userChats" />
                <ChatsSort v-model="listSort" />
              </div>
            </div>
          </div>

          <skeleton-loader-vue
            v-if="!chatsLoaded"
            style="display: block"
            type="rect"
            width="100%"
            height="63px"
            rounded
            :radius="9"
            animation="fade"
          />
          <div v-else class="user-chat__lines">
            <ChatCard
              v-for="chat in filteredUserChats"
              :key="chat.id"
              :chat="chat"
            />

            <p v-if="!filteredUserChats.length" class="all-chats__not-found">
              Чаты не найдены
            </p>
          </div>
        </div>

        <div
          class="all-chats__block all-chats__block-addChat"
          :class="{ active: activeTab === CHAT_TABS.add }"
        >
          <div class="profile-page__header">
            <div
              class="profile-page__header-inner d-flex"
              :class="'align-items-center justify-content-between'"
            >
              <div class="profile-page__top-title">Добавить чат</div>

              <div class="all-chats__actions">
                <ChatsFilter v-model="addFilters" :chats="newChats" />
              </div>
            </div>
          </div>

          <skeleton-loader-vue
            v-if="!chatsLoaded"
            style="display: block"
            type="rect"
            width="100%"
            height="63px"
            rounded
            :radius="9"
            animation="fade"
          />
          <div class="user-chat__lines custom-scroll">
            <ChatCard
              v-for="chat in filteredNewChats"
              :key="chat.id"
              :chat="chat"
            />

            <p v-if="!filteredNewChats.length" class="all-chats__not-found">
              Чаты не найдены
            </p>
          </div>
        </div>
      </div>
    </div>
  </account>
</template>

<script>
import Account from "@/layouts/Account/Account.vue";
import ChatsFilter from "./components/ChatsFilter.vue";
import ChatsSort from "./components/ChatsSort.vue";
import ChatCard from "./components/ChatCard.vue";

import { chatsModule } from "./store/chats-module";
import { CHAT_SORTS } from "./constants";

const CHAT_TABS = {
  list: "list",
  add: "add",
};

export default {
  name: "ProfileChats",
  components: {
    Account,
    ChatsFilter,
    ChatsSort,
    ChatCard,
  },

  data() {
    return {
      activeTab: CHAT_TABS.list,
      listSort: "",
      listFilters: { name: "", jobs: [] },
      addFilters: { name: "", jobs: [] },
    };
  },

  computed: {
    chatsLoaded() {
      return chatsModule.chatsLoaded;
    },

    userChats() {
      return chatsModule.userChats;
    },

    filteredUserChats() {
      const chats = this.filterChats(this.userChats, this.listFilters);

      return chats.sort((a, b) => {
        switch (this.listSort) {
          case CHAT_SORTS.online:
            return a.isOnline ? -1 : 1;
          case CHAT_SORTS.nameAsc:
            return a.specialistName.localeCompare(b.specialistName);
          case CHAT_SORTS.nameDesc:
            return b.specialistName.localeCompare(a.specialistName);
          default:
            return 0;
        }
      });
    },

    newChats() {
      return chatsModule.newChats;
    },

    filteredNewChats() {
      return this.filterChats(this.newChats, this.addFilters);
    },

    CHAT_TABS: () => CHAT_TABS,
  },

  methods: {
    filterChats(chats, filters) {
      return chats.filter((item) => {
        const name = item.specialistName.toLowerCase();
        const isNameValid = name.startsWith(filters.name.toLowerCase());

        const job = item.specialistJobTitle;
        const jobs = filters.jobs;

        return jobs.length > 0
          ? isNameValid && jobs.includes(job)
          : isNameValid;
      });
    },
  },
};
</script>

<style lang="scss">
@import "styles/chats";

.all-chats__block-addChat .user-chat__lines {
  max-height: 360px;
}

.all-chats {
  &__not-found {
    text-align: center;
    width: 100%;
    margin: 60px auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}
</style>
