.home-page {
  padding-bottom: 100px;
  .reviews-blocks__inner {
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
  }
}

.home-page__section {
  margin-bottom: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(29, 39, 74, 0.2);
  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  @media (max-width: $tabletL) {
    margin-bottom: 35px;
    padding-bottom: 35px;
  }
}

.hit-services {
  .our-slider__more-info,
  .our-slider__more-buy {
    width: 50%;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 400;
  }
  .our-slider__more-info {
    margin-right: 10px;
    line-height: 1.5;
  }
}

.fire-icon {
  display: inline-block;
  vertical-align: middle;
  width: 37px;
  height: 37px;
  margin-left: 10px;
  background: url(~@/assets/img/icon/fire-icon.svg) no-repeat;
}

@media (max-width: $desktopL) {
  .our-plus__block {
    padding: 0 20px;
  }
}

@media (max-width: $desktop) {
  .our-plus__text {
    font-size: 14px;
    line-height: 15px;
  }
}

@media (max-width: $tabletL) {
  .home-page {
    padding-top: 0;
  }
  .our-plus {
    &__blocks {
      flex-wrap: wrap;
      border-radius: 25px;
      border: 0;
      box-shadow: 0px 0px 5px rgba(21, 29, 54, 0.15);
      padding: 30px 15px;
    }
    &__block {
      width: 50%;
      flex: 0 0 50%;
      border: 0 !important;
      padding: 7px 0;
    }
  }
}

@media (max-width: $mobile) {
  .home-page {
    .text-black {
      max-width: 155px;
    }
  }
  .hit-services {
    .our-slider__more-buy {
      font-size: 0;
      width: 20px;
      height: 20px;
      background: url(~@/assets/img/icon/question.svg) no-repeat;
      background-size: 20px;
      padding: 0;
      border: 0;
    }
    .our-slider__more-info {
      width: auto;
    }
  }
  .our-plus {
    .container {
      padding: 0;
    }
  }
}

.home-sale__section {
  margin-top: -110px;

  @media (max-width: $tabletL) {
    margin-top: -50px;
  }
}

.teasers-page__content {
  padding-bottom: 70px;
  margin-bottom: 70px;
  border-bottom: 1px solid rgba(29,39,74,.2);
  @media (max-width: $mobile) {
    margin-bottom: 35px;
    padding-bottom: 35px;
  }
}

.home-page {
  @media (max-width: $tabletL) {
    padding-top: 0;
  }
  .reviews-blocks__inner {
      padding-bottom: 0;
      margin-bottom: 0;
      border: 0;
  }
  .teasers-page__content:not(:last-child) {
      .teasers-page__content-inner {
          padding-bottom: 35px;
          margin-bottom: 35px;
          border-bottom: 1px solid rgba(29, 39, 74, 0.2);
          @media(max-width: $tablet) {
              padding-bottom: 35px;
              margin-bottom: 35px;
          }
      }
  }
}

.teasers-page__content:not(:last-child) {
  .teasers-page__content-inner {
      padding-bottom: 35px;
      margin-bottom: 35px;
      border-bottom: 1px solid rgba(29, 39, 74, 0.2);
      @media(max-width: $mobile) {
          padding-bottom: 20px;
          margin-bottom: 20px;
      }
  }
}
