.status-banner {
  background: rgba(145, 97, 247, 0.7);
  border-radius: 0px 0px 130px 130px;
  margin-top: -35px;
  padding: 70px 0;
  margin-bottom: 65px;
  @media (max-width: 767px) {
    padding: 20px 0 35px;
    margin-bottom: 30px;
  }
  @media (max-width: 575px) {
    padding: 50px 0;
    border-radius: 0 0 50px 50px;
  }
  &__title {
    font-weight: 500;
    font-size: 34px;
    line-height: 116.5%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $white;
    margin-bottom: 15px;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 20px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 23px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $white;
    margin-bottom: 25px;
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  &__content-footer {
    max-width: 240px;
    @media (max-width: 767px) {
      margin: 0 auto;
    }
    .status-banner__link {
      border-radius: 57px;
      @media (max-width: 767px)  {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}


.status-about {
  &__top {
    margin-bottom: 40px;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      margin-bottom: 20px;
    }
    
  }
  &__title,
  &__text {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    @media (max-width: 1199px)  {
      font-size: 22px;
      line-height: 22px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 20px;
    }
    span {
      font-weight: 300;
      margin: 0 8px 0 5px;
    }
    margin-bottom: 15px;
  }
  &__text {
    margin-bottom: 0;
  }
  &__steps-text {
    font-size: 16px;
    line-height: 27px;
    max-width: 210px;
    margin-left: 10px;
    span {
      display: block;
      color: $blue;
      font-weight: 500;
    }
  }
}

.status-step {
  margin-bottom: 70px;
  @media (max-width: 767px) {
    margin-right: -12px;
    margin-bottom: 40px;
  }
  &__block {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    text-align: center;
    padding: 35px;
    border-radius: 14px;
    opacity: 0.2;
    margin: 15px 0;
    height: calc(100% - 30px);
    &.active {
      opacity: 1;
    }
  }
  &__number {
    width: 135px;
    height: 135px;
    margin: 0 auto 25px;
    font-size: 85px;
    line-height: 132px;
    color: $white;
    background: url(~@/assets/img/status/status-number__bg.svg) no-repeat; 
  }
  &__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    color: $white;
  }
}

.status-line {
  margin-top: 15px;
  @media (max-width: 767px) {
    margin-right: 15px;
  }
  &__inner {
    width: 100%;
    position: relative;
    background: rgba(97, 130, 247, 0.2);
    border-radius: 20px;
    height: 4px;
  }
  &__done {
    position: absolute;
    top: -1px;
    left: 0;
    height: 6px;
    background: $blue;
    border-radius: 20px;
  }
}

.status__actions {
  
  &.now {
    .status__actions-blocks {
      opacity: 1;
    }
    .status__actions-title {
      color: $black;
      svg {
        fill: $black;
      }
    }
    .actions-block__text {
      color: $black;
    }
    .actions-block__inner {
      border: 1px solid rgba(29, 39, 74, 0.5);
      &:after {
        background: $black;
      }
    }
  }
  & + .status__actions {
    margin-top: 100px;
  }
  &-blocks {
    opacity: 0.45;
  }
  &-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 20px;
    color: $blue;
    @media (max-width: 1199px) {
      font-size: 29px;
      line-height: 30px;
    }
    @media (max-width: 767px) {
      font-weight: 600;
      font-size: 23px;
      line-height: 26px;
    }
  }
  &-icon {
    width: 46px;
    height: 46px;
    margin-left: 10px;
    @media (max-width: 767px)  {
      width: 30px;
      height: 30px;
    }
    svg {
      fill: $blue;
      width: 46px;
      height: 46px;
      @media (max-width: 767px)  {
        width: 30px;
        height: 30px;
      }
    }
  }

  &-block {
    padding: 15px 0;
    @media (max-width: 767px) {
      padding: 5px 0;
    }
  }
  .actions-block {
    &__inner {
      position: relative;
      border: 1px solid $blue;
      box-sizing: border-box;
      border-radius: 22px;
      padding: 33px 35px;
      @media (max-width: 767px) {
        padding: 15px 20px;
        border-radius: 7px;
      }
      &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        background: $blue;
        opacity: 0.2;
        border-radius: 50%;
        @media (max-width: 767px) {
          width: 12px;
          height: 12px;
        }
      }
    }
    &__text {
      font-size: 21px;
      line-height: 23px;
      color: $blue;
      width: calc(100% - 50px);
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 17px;
      }
    }
  }

  &-bottom {
    margin-top: 20px;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    @media (max-width: 1199px) {
      font-size: 24px;
      line-height: 25px;
      margin-top: 10px;
    }
    @media (max-width: 767px) {
      margin-top: 15px;
      font-size: 18px;
      line-height: 23px;
    }
  }
}


@media (max-width: 1199px) {
  .status__actions+.status__actions {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .status-banner__content {
    margin-top: 20px;
    text-align: center;
  }
  .status-about__title {
    margin-bottom: 20px;
  }
  .quality-icon {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }
  .status-about__left {
    margin-bottom: 20px;
  }
  .status-step {
    .row {
      flex-wrap: nowrap;
      overflow-x: scroll;
      margin: 0 0 0-5px;
      & > * {
        padding: 0 5px;
      }
    }
  }
}

