<template>
  <def-layout>
    <div class="status-page site-content main-content">
      <StatusBanner />

      <div class="status-about">
        <div class="container">
          <CurrentStatus />
          <StatusPrivileges />
        </div>
      </div>
    </div>
  </def-layout>
</template>

<script>
import DefLayout from "@/layouts/Default/Default";

import StatusBanner from "./components/StatusBanner.vue";
import CurrentStatus from "./components/CurrentStatus.vue";
import StatusPrivileges from "./components/StatusPrivileges.vue";

import { accountModule } from "@/store";

export default {
  name: "Status",
  components: {
    DefLayout,
    StatusBanner,
    CurrentStatus,
    StatusPrivileges,
  },

  computed: {
    currentStatus() {
      return accountModule.status;
    },
  },

  mounted() {
    document.title =
      this.$t("titles.status") +
      " - " +
      this.$t(`statuses.${this.currentStatus}`);
  },
};
</script>

<style lang="scss">
@import "status";
</style>
