.specialists-section {
  &:not(:last-child) {
    .specialists-section__inner {
      padding-bottom: 35px;
      margin-bottom: 35px;
      border-bottom: 1px solid rgba(29, 39, 74, 0.2);
    }
  }
  .our-slider__more-info {
    border-radius: 7px;
    width: auto;
  }
}
.specialists-block {
  margin: 10px 0;
  height: calc(100% - 20px);
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
    &:hover {
      .specialists-block__btn {
        box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.20);
        transition: 0.5s;
        &:hover {
          color: initial;
        }
      }
    }
  }
  &__img {
    border-radius: 7px;
    img {
      border-radius: 7px;
    }
  }
  &__title {
    font-size: 24px;
    position: absolute;
    top: 30px;
    left: 15px;
    z-index: 2;
    width: calc(100% - 30px);
    color: $black;
    @media (max-width: 767px) {
      position: initial;
      width: 100%;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      margin-top: 10px;
    }
  }
  &__btn {
    position: absolute;
    left: 15px;
    bottom: 25px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    color: $black;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17);
    transition: 0.5s;
    border-radius: 100px;
    padding: 10px 38px;
    cursor: pointer;
    background: $white;
    border: 0;
    @media (max-width: 767px)  {
      display: none;
    }
  }
}
