<template>
  <def-layout>
    <SpecialistsSkeleton v-if="isCategoriesLoading" />
    <div v-else class="specialists-page site-content main-content">
      <div class="header-page">
        <div class="container">
          <div class="header-page__title">Специалисты</div>
        </div>
      </div>

      <div class="specialists-blocks">
        <div class="container">
          <div class="row">
            <CategoryCard
              v-for="specialistCategory of categories"
              :key="specialistCategory.id"
              :category="specialistCategory"
            />
          </div>
        </div>
      </div>
    </div>
  </def-layout>
</template>

<script>
import DefLayout from "@/layouts/Default/Default.vue";
import SpecialistsSkeleton from "@/components/Skeleton/SpecialistsSkeleton.vue";

import CategoryCard from "./components/CategoryCard.vue";

import { createNamespacedHelpers } from "vuex";

const specialistStore = createNamespacedHelpers("Specialist");

export default {
  name: "Specialists",
  components: {
    DefLayout,
    SpecialistsSkeleton,

    CategoryCard,
  },
  computed: {
    ...specialistStore.mapState(["isCategoriesLoading"]),
    ...specialistStore.mapGetters(["categories"]),
  },
  async created() {
    await this.getSpecialistsCategories();
  },
  methods: specialistStore.mapActions(["getSpecialistsCategories"]),
};
</script>

<style lang="scss">
@import "specialists";
</style>
