.order-card {
  display: flex;
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 11px;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0;
  }
  @media (max-width: $tablet) {
    padding: 15px;
  }
}
.order-card__content {
  padding: 20px 25px;
  width: 100%;
  @media (max-width: $tablet) {
    padding: 0;
  }
}
.order-card__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
}
.order-card__header-left {
  padding-right: 10px;
  @media (max-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
}
.order-card__header-right {
  flex-shrink: 0;
}
.order-card__img {
  font-size: 0;
  line-height: 0;
  width: fit-content;
  @media (max-width: $tablet) {
    display: none;
    border-radius: 50%;
    overflow: hidden;
    order: 1;
  }
  &--mobile {
    display: none;
    @media (max-width: $tablet) {
      display: block;
    }
  }
  img {
    min-width: 176px;
    max-width: 176px;
    height: 100%;
    object-fit: cover;
    @media (max-width: $tablet) {
      min-width: 81px;
      max-width: 81px;
      min-height: 81px;
      max-height: 81px;
    }
  }
}
.order-card__name {
  @media (max-width: $tablet) {
    max-width: calc(100% - 81px);
  }
}
.order-card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 133.19%;
  @media (max-width: $tablet) {
    font-size: 18px;
    padding-right: 10px;
  }
}
.order-card__actions {
  display: flex;
  @media (max-width: $tablet) {
    display: none;
  }
  &--mobile {
    display: none;
    @media (max-width: $tablet) {
      display: flex;
    }
  }
}
.order-card__action {
  font-weight: 400;
  font-size: 14px;
  line-height: 108%;
  display: flex;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
  @media (max-width: $tablet) {
    margin-right: 14px;
  }
  &:last-child {
    margin-right: 0;
  }
  &.deception {
    &:before {
      content: '';
      display: inline-block;
      width: 17px;
      flex: 0 0 17px;
      height: 17px;
      background: url(~@/assets/img/icon/deception.svg) no-repeat;
      opacity: 0.5;
      margin-right: 5px;
      background-size: cover;
      background-position: center;
    }
  }
  &.time {
    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      flex: 0 0 20px;
      height: 17px;
      background: url(~@/assets/img/icon/time-icon.svg) no-repeat;
      margin-right: 5px;
      background-size: cover;
      background-position: center;
    }
  }
  &.cancel {
    &:before {
      content: '';
      display: inline-block;
      width: 14px;
      flex: 0 0 14px;
      height: 14px;
      background: url(~@/assets/img/icon/remove-category.svg) no-repeat;
      opacity: 0.5;
      margin-right: 5px;
      background-size: cover;
      background-position: center;
    }
  }
}


.order-card__rating {
  margin-top: 10px;
}
.order-block__rating {
}
.order-card__repeat {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 108%;
  background-color: rgba($black, 0.1);
  border: 0;
  border-radius: 7px;
  @media (max-width: $tablet) {
    display: none;
    margin-top: 12px;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    border-radius: 0;
  }
  &--mobile {
    display: none;
    @media (max-width: $tablet) {
      display: flex;
    }
  }
}
.order-card__body {
  margin-top: 20px;
}
.order-card__info {
  display: flex;
  background-color: rgba($black, 0.05);
  padding: 10px 10px 10px 30px;
  table {
    max-width: 340px;
    width: 100%;
  }
  th {
    font-weight: 500;
    font-size: 14px;
    line-height: 133.19%;
    color: rgba($black, 0.5);
    padding: 0 40px 5px 0;
    &:last-child {
      padding-right: 0;
    }
  }
  td {
    font-weight: 500;
    font-size: 12px;
    line-height: 133.19%;
    padding: 0 80px 0 0;
    &:last-child {
      padding-right: 0;
    }
  }
  &--vertical {
    background-color: transparent;
    padding: 0;
    margin-top: 14px;
    td {
      padding: 0 0 4px;
      &:first-child {
        font-weight: 500;
        font-size: 12px;
        line-height: 133.19%;
        color: rgba($black, 0.5);
        padding-right: 10px;
      }
      &:last-child {
        font-weight: 500;
        font-size: 12px;
        line-height: 133.19%;
      }
    }
  }
}
.order-card__booking {
  font-weight: 500;
  font-size: 14px;
  line-height: 108%;
  padding: 12px 20px;
  margin-left: auto;
  @media (max-width: $tablet) {
    margin-left: 0;
    border-radius: 0;
    width: 175px;
  }
  &--mobile {
    display: none;
    @media (max-width: $tablet) {
      display: block;
    }
  }
}
.order-card__review {
}
.order-card__review-button {
  padding: 6px 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 133.19%;
  color: rgba($black, 0.7);
  background-color: #fff;
  border: 1px solid rgba($black, 0.3);
  border-radius: 34px;
  transition: 0.5s;
  &:hover {
    color: rgba($black, 0.9);
    border-color: rgba($black, 0.9);
  }
  @media (max-width: $tablet) {
    width: 100%;
    padding: 10px;
  }
}
.order-card__review-text {
  border-radius: 4px;
  border: 1px solid rgba(29, 39, 74, 0.3);
  height: 90px;
  width: 100%;
  resize: none;
  padding: 5px 10px;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 10px;
}
.order-card__buttons {
  display: flex;

  justify-content: space-between;
  @media (max-width: $tablet) {
    display: none;
  }
  &--mobile {
    display: none;
    @media (max-width: $tablet) {
      display: flex;
    }
  }
}
.canceled-order {
  .order-card__info {
    @media (max-width: $tablet) {
      padding: 10px 15px;
    }
    th {
      @media (max-width: $tablet) {
        font-weight: 700;
        font-size: 14px;
        line-height: 133.19%;
        color: $black;
        padding: 0 20px 5px 0;
      }
    }
    td {
      @media (max-width: $tablet) {
        padding: 0 20px 0 0;
      }
    }
  }
}
.pending-order {
  .order-card__info--vertical {
    display: none;
  }
  @media (max-width: $tablet) {
    .order-card__img {
      img {
        min-width: 100px;
        max-width: 100px;
        min-height: 100px;
        max-height: 100px;
      }
    }
    .order-card__header-left {
      align-items: flex-start;
    }
    .order-card__header-name {
      display: flex;
      flex-direction: column;
      max-width: calc(100% - 100px);
    }
    .order-card__title {
      margin-bottom: 14px;
    }
    .order-card__info {
      display: none;
      &--vertical {
        display: block;
      }
    }
  }
}
.repeat-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: url(~@/assets/img/icon/repeat-black.svg) no-repeat;
  background-position: center;
  background-size: contain;
  @media (max-width: $tablet) {
    width: 20px;
    height: 20px;
  }
}

.orders-blocks.filter-open {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
  }
  filter: blur(6px);
}
.order-block__item-header-row {
  &.max-width-60p {
    max-width: 60%;
  }
}
.order-block__item-header-col {
  &.center {
  }
}
.order-block {
  &:not(:last-child) {
    margin-bottom: 50px;
  }

  &__items {
    margin-top: 25px;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
  .type-pay {
    justify-content: space-between;
    .type-pay__block {
      position: relative;
      width: 125px;
      min-height: 71px;
      border: 1px solid rgba(29, 39, 74, 0.1);
      border-radius: 4px;
      padding: 10px 15px 7px;
      cursor: pointer;
      &.checked {
        border: 1px solid rgba(29, 39, 74, 1);
      }
      input {
        display: none;
      }
      &-content:before {
        position: absolute;
        bottom: 7px;
        left: 15px;
        content: '';
        width: 18px;
        height: 18px;
        border: 1px solid rgba(29, 39, 74, 0.1);
        border-radius: 50%;
      }
      &-content:after {
        position: absolute;
        bottom: 11px;
        left: 19px;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $black;
        opacity: 0;
      }

      &-title {
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
        font-size: 13px;
        line-height: 14px;
        max-width: 50px;
      }
      &-icon {
        text-align: right;
        float: right;
        display: block;
      }
      &-bonus {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: $blue;
        margin-top: 10px;
        text-align: right;
      }
    }
    .type-pay__pay {
      font-weight: 500;
      font-size: 14px;
      line-height: 15px;
      padding: 14px 33px;
      margin-bottom: 10px;
    }
    .type-pay__cancel {
      padding: 0;
      text-align: center;
      width: 100%;
    }
  }
  .type-pay__block.checked .type-pay__block-content:after {
    opacity: 1;
  }
}

.order-filter__inner {
  border: 0;
  background: $white;
  box-shadow: 0px 2px 10px rgba(97, 130, 247, 0.2);
  border-radius: 11px;
  font-size: 14px;
  padding: 7px 15px;
  &.show {
    background: $blue;
    box-shadow: 0px 2px 10px rgba(97, 130, 247, 0.2);
    color: $white;
    .order-filter__icon {
      background: url(~@/assets/img/icon/filter-white.svg) no-repeat;
    }
  }
  .order-filter__icon {
    display: inline-block;
    vertical-align: -2px;
    width: 14px;
    height: 14px;
    margin-right: 3px;
    background: url(~@/assets/img/icon/filter-icon-color.svg) no-repeat;
  }
}
.order-filter__menu {
  background: $white;
  box-shadow: 0px 2px 10px rgba(97, 130, 247, 0.2);
  border-radius: 11px;
  padding: 25px 20px;
  border: 0;
  width: 300px;
  &-block {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    color: $black;
  }
  &-name {
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
    & + .order-filter__menu-name:before {
      content: '/';
      width: 6px;
      height: 15px;
      margin: 0 5px;
      columns: $black;
    }
  }
  &-search {
    position: relative;
    max-width: 240px;
    &:after {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(~@/assets/img/icon/search-black.svg) no-repeat;
      background-size: 16px;
    }
    input {
      width: 100%;
      border-radius: 64px;
      border: 0;
      background: rgba(29, 39, 74, 0.05);
      padding: 5px 30px 5px 15px;
      height: 30px;
      font-size: 12px;
    }
  }
}


@media (max-width: 767px) {
  .order-block {
    .type-pay {
      display: block !important;
      .type-pay__block {
        width: 100%;
      }
      .type-pay__block-icon {
        float: none;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
      }
      .type-pay__block-bonus {
        margin: 0 10px 0 0;
      }
      .type-pay__block-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &:before {
          bottom: auto;
          top: 50%;
          transform: translateY(-50%);
        }
        &:after {
          bottom: auto;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .type-pay__block-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        max-width: 250px;
      }
      .type-pay__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;
        padding: 15px 15px 15px 45px;
      }
      .type-pay__cancel {
        display: none;
      }
      .type-pay__pay {
        margin: 0;
        width: 100%;
        font-weight: 600;
        padding: 17px;
      }
    }
  }
  .order-block__order-btn {
    width: 100%;
    font-weight: 600;
    padding: 12px;
  }
  .order-block__items {
    margin-top: 0;
  }
  .order-block__review-block {
    display: none !important;
  }

  #review-modal {
    // .modal-content {
    //   border-radius: 30px 30px 0px 0px;
    //   border: 0;
    //   padding: 36px 15px 25px;
    // }
    // .modal-dialog {
    //   display: flex;
    //   align-items: flex-end;
    //   margin: 0 auto;
    //   transform: translate(0, 0);
    //   height: 100%;
    // }
    // .modal-header {
    //   padding: 0 15px;
    //   border: 0;
    //   margin-bottom: 20px;
    //   &__title {
    //     font-weight: 600;
    //     font-size: 24px;
    //   }
    // }
    // .btn-close {
    //   top: 45px;
    // }
    // .modal-body {
    //   padding: 0 15px;
    // }
    // .review-modal__star-big  {
    //   width: 100% !important;
    //   padding: 0;
    //   margin-bottom: 25px;

    //   .jq-ry-normal-group {
    //     svg:not(:last-child) {
    //       margin-right: 20px;
    //     }
    //   }
    // }
    // .review-modal__textarea {
    //   display: block;
    //   border-radius: 4px;
    //   height: 110px;
    //   width: 100%;
    //   resize: none;
    //   padding: 10px;
    //   border: 1px solid rgba(29, 39, 74, 0.3);
    //   margin-bottom: 20px;
    // }
    // .review-modal__btn {
    //   width: 100%;
    //   border-radius: 7px;
    //   border: 1px solid $black;
    //   background: $white;
    //   font-weight: 500;
    //   font-size: 16px;
    //   color: $black;
    //   padding: 12px;
    // }
  }
}

@media (max-width: 575px) {
  .profile-page__top-title {
    span {
      display: block;
    }
  }
  .profile-page__top-title {
    flex-direction: column;
  }
  #order-filter__menu {
    margin-top: 15px !important;
    width: 300px;
    z-index: 2;
  }
}
