.slide__content {
  position: relative;
  left: 100%;
  margin-left: auto;
  transition: all 0.5s linear;
  &.slide-out {
    animation: slide-out 0.5s forwards;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
  }
  &.slide-in {
    animation: slide-in 0.5s forwards;
    max-height: 100%;
    opacity: 1;
    visibility: visible;
  }
}
