.populat-service__block {
  padding: 15px;
  margin: 0;
  height: 100%;
  border-radius: 12px;
  transition: 0.5s;
  @media (max-width: 767px) {
    padding: 0;
    margin: 10px 0;
    height: calc(100% - 20px);
  }
  &:hover {
    background: rgba($black, 0.1);
    .populat-service__block-btn {
      background: $white;
      color: $black;
      border: 1px solid transparent;
    }
  }
  &-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &-header {
    position: relative;
  }
  &-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &-img {
    margin-bottom: 20px;
    border-radius: 7px;
    img {
      border-radius: 7px;
    }
  }
  &-btn {
    margin-top: 25px;
    border-radius: 47px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;

    @media (max-width: 767px) {
      font-size: 13px;
      margin-top: 15px;
    }
  }
  .shop-favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-size: 18px;
    background-position: top 12px center;
    @media (max-width: 767px) {
      top: 7px;
      right: 9px;
      width: 25px;
      height: 25px;
      background-position: center top 7px;
      background-size: 13px;
    }
  }
  .populat-service__rating {
    margin-bottom: 20px;
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }
  .populat-service__rating-value {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    margin-right: 10px;
    color: $orange;
    @media (max-width: 767px)  {
      font-size: 13px;
      margin-right: 5px;
    }
  }
  .populat-service__rating-reviews {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.5;
    @media (max-width: 767px) {
      font-size: 10px;
    }
  }
  .promo-time-procedure {
    span {
      font-weight: 500;
      font-size: 16px;
      opacity: 0.5;
      @media (max-width: 767px) {
        font-size: 11px;
      }
    }
    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 5px;
      background: url(~@/assets/img/icon/time-slot.svg) no-repeat;
      @media (max-width: 767px) {
        width: 13px;
        height: 13px;
        background-size: contain;
      }
    }
  }
  .populat-service__name {
    flex: 1;
    display: block;
    font-size: 17px;
    color: $black;
    text-decoration: none;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 10px;
    }
    &:hover {
      color: $blue;
    }
  }
  .populat-service__price {
    &.new {
      font-weight: bold;
      font-size: 18px;
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
    &.old {
      margin-right: 4px;
      text-decoration-line: line-through;
      font-weight: 500;
      font-size: 16px;
      opacity: 0.5;
      @media (max-width: 767px) {
        font-size: 10px;
        margin-left: 15px;
      }
    }
  }
}
