.work-place {
  &__link {
    color: $black;
    text-decoration: none;
  }
  &__header {
    margin-bottom: 15px;
    img {
      border-radius: 3px;
    }
  }
  &__name {
    margin-bottom: 5px;
  }
  &__logo {
    width: 20px;
    margin-right: 5px;
  }
  &__title {
    font-weight: 600;
  }
  &__address {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.5;
  }
}
