.favorite-item + .favorite-item {
  margin-top: 45px;
}
.favorite-block {
  .shop-item {
    box-shadow: none;
    border: 0;
    border-radius: 18px;
    overflow: hidden;
    background: $white;
    @media (max-width: $mobile) {
      box-shadow: 0px 0px 5px rgba(21, 29, 54, 0.15);
    }
    &:hover {
      border: 0;
    }
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .shop-item__left {
    max-width: 208px;
    @media (max-width: $tablet) {
      max-width: inherit;
    }
  }
  .shop-item__right {
    padding: 20px 25px;
    @media (max-width: $mobile) {
      padding: 12px 20px 25px;
    }
  }
  .shop-item__content-left {
    flex: 1;
    margin-right: 15px;
    @media (max-width: $mobile) {
      margin-right: 0;
    }
  }
  .shop-item__services {
    padding-top: 15px;
    margin-top: 10px;
    border-top: 1px solid rgba(29, 39, 74, 0.1);
    @media (max-width: $tablet) {
      border: 0;
    }
  }
  .shop-item__service {
    padding: 7px;
    background: rgba(29, 39, 74, 0.1);
    border-radius: 7px;
    margin:3px 10px 3px 0;

    &-inner {
      height: 30px;
      width: 30px;
    }
  }
  .shop-item__rating-title,
  .shop-item__rating-reviews {
    color: $grey2;
    font-size: 18px;
    font-weight: 400;
    @media (max-width: $mobile) {
      font-size: 14px;
      color: $grey;
      font-weight: 500;
    }
  }
  .shop-item__rating-reviews {
    font-weight: 300;
    font-size: 13px;
    @media (max-width: $mobile) {
      font-size: 12px;
      margin-left: 5px;
    }
  }
  .shop-item__rating-ball {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 10px;
    background: $orange;
    color: $white;
    text-align: center;
    line-height: 45px;
  }
  .shop-item__rating-left {
    text-align: right;
  }
  .shop-item__name {
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
  }

  @media (max-width: $tablet) {
    .shop-item__logo {
      display: none;
    }
  }
  @media (max-width: $mobile) {
    .shop-item__contact-address {
      display: flex;
      order: 3;
    }
    .shop-item__location {
      margin: 0 25px 0 0;
    }
    .shop-item__rating {
      order: 2;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-bottom: 5px;
    }
    .shop-item__rating-left {
      display: flex;
    }
  }

  &.clinic {
    .shop-item__rating-ball {
      @media (max-width: $mobile) {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        letter-spacing: -0.065em;
        margin: 0 5px 0 0;
      }
    }
    .shop-item__content {
      @media (max-width: $tablet) {
        flex-direction: column;
      }
    }
  }

  &.specialist {
    .specialist-item {
      background: $white;
      border-radius: 18px;
      overflow: hidden;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      @media (max-width: $mobile) {
        box-shadow: 0px 0px 5px rgba(21, 29, 54, 0.15);
      }
      @media (max-width: $tablet) {
        .shop-item__rating-left {
          display: none;
        }
      }
    }
    .shop-item__content {
      @media (max-width: $tablet) {
        align-items: center;
        margin-bottom: 20px;
      }
    }
    .shop-item__inner {
      height: 100%;
      max-height: 160px;
      @media (max-width: $tablet) {
        max-height: unset;
      }
    }
    .shop-item__name {
      font-size: 21px;
    }
    .specialist__block-chat {
      margin: auto 0 0;
      align-self: flex-start;
      border-radius: 36px;
      border: 1px solid rgba($black, 0.3);
      color: $black;
      padding: 9px 20px;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        border: 1px solid rgba($black, 1);
        transition: 0.5s;
      }
      @media (max-width: $tablet) {
        display: block;
        width: 100%;
        justify-content: center;
      }
    }
    .chat-icon {
      width: 26px;
      height: 26px;
      box-shadow: none;
      background: url(~@/assets/img/icon/chat-icon-black.svg) no-repeat;
      background-size: 24px;
      margin-right: 5px;
    }

    .shop-item__right {
      display: flex;
      flex-direction: column;
    }
  }

  &.services {
    .time-procedure {
      margin: 15px 0 30px;
      @media (max-width: $tablet) {
        margin-bottom: 15px;
      }
      span {
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        opacity: 0.5;
      }
      &:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 5px;
        background: url(~@/assets/img/icon/time-slot.svg) no-repeat;
      }
    }
    .services__block-chat {
      padding: 10px 70px;
      border-radius: 36px;
      border: 1px solid rgba(97, 130, 247, 0.3);
      @media (max-width: $tablet) {
        width: 100%;
        padding: 10px;
      }
    }

    .shop-item__left {
      img {
        border-radius: 7px;
      }
    }

    @media (max-width: $tablet) {
      .shop-item__rating-left {
        display: none;
      }
    }
  }
}
