<template>
  <div class="site-content main-content blog-page">
    <div class="header-page">
      <div class="container">
        <div class="header-page__title">Блог</div>
      </div>
    </div>

    <div class="container">
      <div class="blog__content">
        <div
          v-for="i in 10"
          :key="i"
          :class="{
            wide: i === 1,
          }"
          class="blog__item"
        >
          <div
            class="article"
            :class="{
              wide: i === 1,
            }"
          >
            <div class="article__img">
              <skeleton-loader-vue
                type="rect"
                width="100%"
                height="inherit"
                rounded
                animation="fade"
                style="height: 100%"
              ></skeleton-loader-vue>
            </div>
            <div class="article__content">
              <div class="article__tags">
                <div>
                  <skeleton-loader-vue
                    type="rect"
                    :width="isMobile ? '100%' : 80"
                    height="30"
                    rounded
                    animation="fade"
                    style="height: 100%; margin-right: 12px;"
                  ></skeleton-loader-vue>
                </div>
                <div>
                  <skeleton-loader-vue
                    type="rect"
                    :width="isMobile ? '100%' : 110"
                    height="30"
                    rounded
                    animation="fade"
                    style="height: 100%"
                  ></skeleton-loader-vue>
                </div>
              </div>
              <div class="article__title">
                <skeleton-loader-vue
                  type="rect"
                  :width="isMobile ? '100%' : 320"
                  height="28"
                  rounded
                  animation="fade"
                ></skeleton-loader-vue>
              </div>
              <div v-if="i === 1" class="article__description">
                <skeleton-loader-vue
                  type="rect"
                  width="100%"
                  height="80px"
                  rounded
                  animation="fade"
                ></skeleton-loader-vue>
              </div>
              <div class="article__date">
                <skeleton-loader-vue
                  type="rect"
                  :width="isMobile ? '100%' : '80px'"
                  height="20px"
                  rounded
                  animation="fade"
                ></skeleton-loader-vue>
              </div>
              <div v-if="i === 1" style="margin-top: auto;">
                <skeleton-loader-vue
                  type="rect"
                  :width="isMobile ? '100%' : '170px'"
                  height="50px"
                  animation="fade"
                ></skeleton-loader-vue>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BlogSkeleton",

  data: () => ({
    isMobile: window.innerWidth < 768,
  }),

  mounted() {
    window.addEventListener("resize", () => {
      this.isMobile = window.innerWidth < 768;
    });
  },
};
</script>
