<template>
  <div class="site-content main-content blog-inner">
    <div class="header-page container">
      <div class="header-page__title" style="width: 100%; height: 40px;">
        <skeleton-loader-vue
          type="rect"
          :width="isMobile ? '100%' : '80%'"
          height="100%"
          rounded
          animation="fade"
          style="height: 100%"
        ></skeleton-loader-vue>
      </div>
      <div class="blog-inner__tags">
        <div>
          <skeleton-loader-vue
            type="rect"
            :width="isMobile ? '100%' : 80"
            height="30"
            rounded
            animation="fade"
            style="height: 100%; margin-right: 12px;"
          ></skeleton-loader-vue>
        </div>
        <div>
          <skeleton-loader-vue
            type="rect"
            :width="isMobile ? '100%' : 110"
            height="30"
            rounded
            animation="fade"
            style="height: 100%"
          ></skeleton-loader-vue>
        </div>
      </div>
      <div class="blog-inner__img">
        <skeleton-loader-vue
          type="rect"
          width="100%"
          :height="isMobile ? '170px' : '320px'"
          rounded
          animation="fade"
          style="height: 100%"
        ></skeleton-loader-vue>
      </div>
    </div>

    <div class="container blog-inner__content">
      <skeleton-loader-vue
        type="rect"
        width="100%"
        :height="isMobile ? '18px' : '24px'"
        rounded
        animation="fade"
        style="margin-bottom: 24px;"
      ></skeleton-loader-vue>
      <skeleton-loader-vue
        type="rect"
        width="100%"
        :height="isMobile ? '18px' : '24px'"
        rounded
        animation="fade"
        style="margin-bottom: 24px;"
      ></skeleton-loader-vue>
      <skeleton-loader-vue
        type="rect"
        width="70%"
        :height="isMobile ? '18px' : '24px'"
        rounded
        animation="fade"
        style="margin-bottom: 24px;"
      ></skeleton-loader-vue>
    </div>

    <div class="blog-inner__footer container">
      <div class="blog-inner__date">
        <skeleton-loader-vue
          type="rect"
          width="100px"
          height="20px"
          rounded
          animation="fade"
          style="height: 100%"
        ></skeleton-loader-vue>
      </div>
      <div style="border-radius: 38px; overflow: hidden; width: fit-content;">
        <skeleton-loader-vue
          type="rect"
          :width="isMobile ? '100%' : '300px'"
          height="60px"
          rounded
          animation="fade"
        ></skeleton-loader-vue>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BlogInnerSkeleton",

  data: () => ({
    isMobile: window.innerWidth < 768,
  }),

  mounted() {
    window.addEventListener("resize", () => {
      this.isMobile = window.innerWidth < 768;
    });
  },
};
</script>
