<template>
  <div class="favorite-block shop-item">
    <div class="shop-item__inner">
      <div class="shop-item__left">
        <skeleton-loader-vue
          type="rect"
          :width="isMobile ? '100%' : 208"
          :height="'100%'"
          rounded
          :radius="18"
          animation="fade"
          style="height: 100%"
        />
      </div>

      <div class="shop-item__right">
        <div class="shop-item__content d-flex justify-content-between">
          <div class="shop-item__content-left">
            <div class="shop-item__logo">
              <skeleton-loader-vue
                type="circle"
                :width="30"
                :height="30"
                rounded
                :radius="18"
                animation="fade"
              />
            </div>

            <div class="shop-item__header" style="margin: 5px 0">
              <skeleton-loader-vue
                type="rect"
                :width="240"
                :height="28"
                rounded
                :radius="18"
                animation="fade"
              />
            </div>

            <div
              v-if="isMobile"
              class="shop-item__rating d-flex align-items-center"
            >
              <div class="shop-item__rating-left" style="margin-left: 10px">
                <skeleton-loader-vue
                  type="rect"
                  :width="180"
                  :height="24"
                  rounded
                  :radius="18"
                  animation="fade"
                />
              </div>

              <skeleton-loader-vue
                type="circle"
                :width="30"
                :height="30"
                rounded
                :radius="18"
                animation="fade"
              />
            </div>

            <div class="shop-item__contact-address">
              <div class="shop-item__location">
                <skeleton-loader-vue
                  type="rect"
                  :width="180"
                  :height="13"
                  rounded
                  :radius="18"
                  animation="fade"
                />
              </div>

              <div class="shop-item__metro">
                <skeleton-loader-vue
                  type="rect"
                  :width="120"
                  :height="13"
                  rounded
                  :radius="18"
                  animation="fade"
                />
              </div>
            </div>

            <div class="shop-item__services">
              <skeleton-loader-vue
                v-for="i in 4"
                :key="i"
                class="shop-item__service"
                type="rect"
                :width="40"
                :height="40"
                rounded
                animation="fade"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FavoriteLotCardSkeleton",

  data: () => ({
    isMobile: window.innerWidth < 768,
  }),

  mounted() {
    window.addEventListener("resize", () => {
      this.isMobile = window.innerWidth < 768;
    });
  },
};
</script>

<style lang="scss" scoped>
.shop-item {
  &:hover {
    border: 1px solid transparent;
  }

  &__header {
    flex-wrap: nowrap;
  }
}
</style>
