<template>
  <skeleton-loader-vue
    class="notes__block"
    type="rect"
    width="100%"
    height="60px"
    :radius="100"
    rounded
    animation="fade"
  />
</template>

<script>
export default {
  name: "NoteCardSkeleton",
};
</script>
