<template>
  <div class="orders-skeleton">
    <div class="order-block__items">
      <div v-for="i in 3" :key="i" class="order-block__item">
        <div class="order-block__item-inner d-flex">
          <div class="order-block__item-left">
            <skeleton-loader-vue
              type="rect"
              :width="isMobile ? '100%' : '160px'"
              :height="isMobile ? '155px' : '147px'"
              rounded
              :radius="11"
              animation="fade"
            />
          </div>

          <div class="order-block__item-right">
            <div class="order-block__item-content">
              <div
                class="
                  order-block__item-header
                  d-flex
                  align-items-center
                  justify-content-between
                "
              >
                <div class="order-block__item-name d-flex align-items-center">
                  <skeleton-loader-vue
                    type="rect"
                    :width="isMobile ? '120px' : '200px'"
                    height="20px"
                    rounded
                    :radius="18"
                    animation="fade"
                  />
                </div>

                <div class="order-block__item-actions d-flex">
                  <skeleton-loader-vue
                    type="rect"
                    :width="isMobile ? '100px' : '160px'"
                    height="20px"
                    rounded
                    :radius="18"
                    animation="fade"
                  />
                </div>
              </div>

              <div class="order-block__item-blocks position-relative">
                <skeleton-loader-vue
                  type="rect"
                  width="100%"
                  height="62px"
                  rounded
                  :radius="4"
                  animation="fade"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "OrdersSkeleton",

  data: () => ({
    isMobile: window.innerWidth < 768,
  }),

  mounted() {
    window.addEventListener("resize", () => {
      this.isMobile = window.innerWidth < 768;
    });
  },
};
</script>
