<template>
  <skeleton-loader-vue
    :type="type || 'rect'"
    :width="width || '100%'"
    :height="height + 'px'"
    :rounded="rounded || true"
    :radius="radius || 18"
    :animation="animation || 'fade'"
  />
</template>

<script>
export default {
  name: "PhotoItemSkeleton",
  props: {
    type: String,
    width: Number,
    height: Number,
    rounded: Boolean,
    radius: Number,
    animation: String,
  },
};
</script>
