<template>
  <div class="row">
    <div
      v-for="i in 8"
      :key="i"
      class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 populat-service__block"
    >
      <div class="populat-service__block-inner">
        <div class="populat-service__block-header">
          <div class="populat-service__block-img">
            <InlineSkeleton
              :height="isMobile ? 150 : 300"
              :width="isMobile ? 150 : 300"
            />
          </div>
        </div>
        <div class="populat-service__block-footer">
          <div class="populat-service__rating d-flex align-items-center justify-content-between">
            <div class="populat-service__rating-left d-flex align-items-center">
              <InlineSkeleton
                :height="isMobile ? 20 : 20"
                :width="isMobile ? 70 : 100"
              />
            </div>
          </div>
          <div class="populat-service__name">
            <InlineSkeleton
              :height="isMobile ? 20 : 20"
              :width="isMobile ? 120 : 160"
            />
          </div>
          <div class="populat-service__prices">
            <InlineSkeleton
              :height="isMobile ? 20 : 20"
              :width="isMobile ? 60 : 90"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InlineSkeleton from "@/components/Skeleton/InlineSkeleton";
import PhotoItemSkeleton from "@/components/Skeleton/PhotoItemSkeleton";

export default {
  name: "SalonTabSkeleton",

  components: {
    InlineSkeleton,
    PhotoItemSkeleton,
  },

  data: () => ({
    isMobile: window.innerWidth < 768,
  }),

  mounted() {
    window.addEventListener("resize", () => {
      this.isMobile = window.innerWidth < 768;
    });
  },
};
</script>

<style scoped lang="scss">
@import "@/views/Salon/styles/salon-service-card";
</style>
