<template>
  <div class="salon-page site-content main-content">
    <div class="salon-page__header">
      <div class="container">
        <div
          class="
            salon-page__header-inner
            d-flex
            align-items-center
            justify-content-between
          "
        >
          <div class="salon-page__header-left d-flex align-items-center">
            <div class="salon-page__header-logo">
              <skeleton-loader-vue
                type="circle"
                :width="isMobile ? 35 : 68"
                :height="isMobile ? 35 : 68"
                rounded
                :radius="34"
                animation="fade"
              />
            </div>

            <div class="salon-page__header-name">
              <skeleton-loader-vue
                type="rect"
                :width="isMobile ? 128 : 256"
                :height="isMobile ? 26 : 36"
                rounded
                :radius="18"
                animation="fade"
              />
            </div>
          </div>

          <div class="salon-page__header-right d-flex">
            <div
              class="
                salon-page__header-action
                d-flex
                align-items-center
                add-to-favorite
              "
            >
              <skeleton-loader-vue
                class="favorite-icon"
                type="circle"
                :width="45"
                :height="45"
                rounded
                :radius="22"
                animation="fade"
              />

              <span class="specialist-block__action-text">
                <skeleton-loader-vue
                  type="rect"
                  :width="196"
                  :height="20"
                  rounded
                  :radius="18"
                  animation="fade"
                />
              </span>
            </div>
            <div
              class="
                salon-page__header-action salon-page__share
                d-flex
                align-items-center
              "
            >
              <skeleton-loader-vue
                class="share-icon"
                type="circle"
                :width="45"
                :height="45"
                rounded
                :radius="22"
                animation="fade"
              />

              <span class="specialist-block__action-text">
                <skeleton-loader-vue
                  type="rect"
                  :width="100"
                  :height="20"
                  rounded
                  :radius="18"
                  animation="fade"
                />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="salon-page__blocks">
      <div class="container">
        <div class="salon-page__blocks-inner">
          <div class="row g-0">
            <div class="col-xl-5 col-lg-12">
              <div class="salon-page__photo position-relative">
                <div class="salon-page__photo-big swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <skeleton-loader-vue
                        type="rect"
                        width="100%"
                        height="100%"
                        rounded
                        animation="fade"
                      />
                    </div>
                  </div>
                </div>

                <div thumbsSlider="" class="swiper salon-page__photo-small">
                  <div class="swiper-wrapper">
                    <skeleton-loader-vue
                      v-for="i in 4"
                      :key="i"
                      type="rect"
                      width="100%"
                      :height="isMobile ? '96px' : '115px'"
                      rounded
                      animation="fade"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-7 col-lg-12">
              <div class="salon-page__block-details">
                <div class="salon-page__map">
                  <skeleton-loader-vue
                    class="modal-map__btn"
                    type="rect"
                    width="100%"
                    :height="isMobile ? '128px' : '196px'"
                    rounded
                    animation="fade"
                  />
                </div>

                <skeleton-loader-vue
                  class="salon-page__info"
                  type="rect"
                  width="100%"
                  height="50px"
                  rounded
                  animation="fade"
                />

                <div class="salon-page__about">
                  <skeleton-loader-vue
                    class="salon-page__about-title"
                    type="rect"
                    width="128px"
                    height="31px"
                    rounded
                    animation="fade"
                  />

                  <skeleton-loader-vue
                    class="salon-page__about-content"
                    type="rect"
                    width="100%"
                    height="300px"
                    rounded
                    animation="fade"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SalonSkeleton",

  data: () => ({
    isMobile: window.innerWidth < 768,
  }),

  mounted() {
    window.addEventListener("resize", () => {
      this.isMobile = window.innerWidth < 768;
    });
  },
};
</script>

<style lang="scss" scoped>
.salon-page__photo-small {
  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

.salon-page__header-action {
  .share-icon,
  .favorite-icon {
    background: none;
    box-shadow: none;
  }
}

@media (max-width: 575px) {
  .salon-page__header-logo {
    border: none;
  }
}
</style>
