<template>
  <div class="shop-items">
    <div class="shop-item" v-for="i in count" :key="i">
      <div class="shop-item__inner">
        <div class="shop-item__left">
          <skeleton-loader-vue
            type="rect"
            :width="isMobile ? '100%' : 314"
            height="100%"
            rounded
            animation="fade"
            style="height: 100%"
          />
        </div>

        <div class="shop-item__right">
          <div class="shop-item__content">
            <div class="shop-item__content-top d-flex justify-content-between">
              <div class="shop-item__content-topLeft">
                <div class="shop-item__header d-flex align-items-center">
                  <span class="shop-item__logo">
                    <skeleton-loader-vue
                      type="circle"
                      :width="30"
                      :height="30"
                      rounded
                      :radius="18"
                      animation="fade"
                    />
                  </span>

                  <skeleton-loader-vue
                    type="rect"
                    :width="240"
                    :height="32"
                    rounded
                    :radius="18"
                    animation="fade"
                  />
                </div>

                <div class="shop-item__contact-address">
                  <div class="shop-item__location">
                    <skeleton-loader-vue
                      type="rect"
                      :width="180"
                      :height="13"
                      rounded
                      :radius="18"
                      animation="fade"
                    />
                  </div>

                  <div class="shop-item__metro">
                    <skeleton-loader-vue
                      type="rect"
                      :width="120"
                      :height="13"
                      rounded
                      :radius="18"
                      animation="fade"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div
              class="shop-item__content-bottom d-flex justify-content-between"
            >
              <div class="shop-item__content-bottomLeft">
                <div class="shop-item__services">
                  <div v-for="i in 4" :key="i" class="shop-item__service">
                    <skeleton-loader-vue
                      type="rect"
                      :width="22"
                      :height="22"
                      rounded
                      animation="fade"
                    />
                  </div>
                </div>
              </div>

              <div class="shop-item__content-bottomRight">
                <skeleton-loader-vue
                  type="rect"
                  :width="isMobile ? '100%' : 148"
                  height="32px"
                  :radius="18"
                  rounded
                  animation="fade"
                />
              </div>
            </div>
          </div>

          <div class="shop-item__service-items">
            <div
              v-for="i in 3"
              :key="i"
              class="
                shop-item__service-item
                d-flex
                justify-content-between
                align-items-center
              "
            >
              <div class="shop-item__service-itemLeft">
                <skeleton-loader-vue
                  type="rect"
                  :width="isMobile ? 120 : 180"
                  :height="20"
                  rounded
                  :radius="18"
                  animation="fade"
                />

                <skeleton-loader-vue
                  type="rect"
                  :width="isMobile ? 64 : 96"
                  :height="14"
                  rounded
                  :radius="18"
                  animation="fade"
                  :style="{ marginTop: '6px' }"
                />
              </div>

              <div class="shop-item__service-itemRight">
                <skeleton-loader-vue
                  type="rect"
                  :width="isMobile ? 120 : 164"
                  :height="32"
                  :radius="18"
                  rounded
                  animation="fade"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ShopItemSkeleton",
  data: () => ({
    isMobile: window.innerWidth < 768,
  }),
  props: {
    count: Number,
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.isMobile = window.innerWidth < 768;
    });
  },
};
</script>

<style lang="scss" scoped>
.shop-item {
  &:hover {
    border: 1px solid transparent;
  }

  &__header {
    flex-wrap: nowrap;
  }
}
</style>
