<template>
  <div class="row">
    <div
      v-for="i in 4"
      :key="i"
      class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6"
    >
      <div class="specialists-inner__block">
        <div class="specialists-inner__block-inner">
          <div class="specialists-inner__block-link d-block">
            <div class="specialists-inner__block-img">
              <skeleton-loader-vue
                type="rect"
                width="100%"
                :height="isMobile ? '100px' : '220px'"
                rounded
                animation="fade"
              ></skeleton-loader-vue>
            </div>
            <div class="specialists-inner__block-content">
              <div class="specialists-inner__block-name">
                <skeleton-loader-vue
                  type="rect"
                  :width="isMobile ? '120px' : '240px'"
                  :height="isMobile ? '12px' : '20px'"
                  rounded
                  animation="fade"
                ></skeleton-loader-vue>
              </div>
              <div
                class="
                  specialists-inner__block-rating
                  d-flex
                  align-items-baseline
                "
              >
                <skeleton-loader-vue
                  type="rect"
                  :width="isMobile ? '100px' : '170px'"
                  :height="isMobile ? '12px' : '20px'"
                  rounded
                  animation="fade"
                ></skeleton-loader-vue>
              </div>
              <div class="specialists-inner__block-footer">
                <skeleton-loader-vue
                  type="rect"
                  :width="isMobile ? '80px' : '170px'"
                  :height="isMobile ? '12px' : '20px'"
                  rounded
                  animation="fade"
                ></skeleton-loader-vue>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SpecialistsSkeleton",

  data: () => ({
    isMobile: window.innerWidth < 768,
  }),

  mounted() {
    window.addEventListener("resize", () => {
      this.isMobile = window.innerWidth < 768;
    });
  },
};
</script>
