<template>
  <div class="specialists-page site-content main-content">
    <div class="header-page">
      <div class="container">
        <div class="header-page__title">Специалисты</div>
      </div>
    </div>

    <div class="specialists-blocks">
      <div class="container">
        <div class="row">
          <div
            v-for="i in 8"
            :key="i"
            class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6"
          >
            <div class="specialists-block">
              <skeleton-loader-vue
                type="rect"
                width="100%"
                :height="isMobile ? '160px' : '226px'"
                rounded
                animation="fade"
              ></skeleton-loader-vue>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SpecialistsSkeleton",

  data: () => ({
    isMobile: window.innerWidth < 768,
  }),

  mounted() {
    window.addEventListener("resize", () => {
      this.isMobile = window.innerWidth < 768;
    });
  },
};
</script>
