<template>
  <div class="specialist-one site-content main-content">
    <div class="container">
      <div class="specialist-one__content">
        <div class="specialist-one__header specialist-block__header">
          <div
            class="specialist-block__header-inner d-flex align-items-center justify-content-between"
          >
            <div class="specialist-block__title">
              <InlineSkeleton
                :height="isMobile ? 36 : 36"
                :width="isMobile ? 320 : 432"
              />
            </div>

            <div
              class="specialist-block__actions d-flex align-items-center justify-content-between"
            >
              <div
                v-for="action of actions"
                style="margin-right: 20px;"
                class="d-flex align-items-center"
              >
                <template v-if="!isMobile">
                  <InlineSkeleton
                    type="circle"
                    :width="45"
                    :height="45"
                    style="margin-right: 15px;"
                  />
                  <InlineSkeleton
                    type="rect"
                    :width="action.width"
                    :height="20"
                  />
                </template>
                <InlineSkeleton
                  v-else
                  type="rect"
                  :width="action.mobileWidth"
                  :height="action.mobileHeight"
                  :radius="36"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="specialist-one__photo">
          <div class="specialist-block__photo">
            <PhotoItemSkeleton :height="isMobile ? 600 : 600" />
          </div>
        </div>

        <div class="specialist-one__gallery"></div>

        <div class="specialist-one__data">
          <div class="specialist-block__info">
            <div class="specialist-block__info-line">
              <div class="specialist-block__info-title">Специализация</div>
              <div class="specialist-block__info-text">
                <InlineSkeleton
                  :height="isMobile ? 20 : 20"
                  :width="isMobile ? 280 : 280"
                />
              </div>
            </div>
            <div class="specialist-block__info-line">
              <div class="specialist-block__info-title">Стаж</div>
              <div class="specialist-block__info-text">
                <InlineSkeleton
                  :height="isMobile ? 20 : 20"
                  :width="isMobile ? 280 : 280"
                />
              </div>
            </div>
            <div class="specialist-block__info-line">
              <div class="specialist-block__info-title">О себе</div>
              <div class="specialist-block__info-text">
                <InlineSkeleton
                  :height="isMobile ? 20 : 20"
                  :width="isMobile ? 280 : 280"
                />
              </div>
            </div>
          </div>

          <div class="specialist-block__services">
            <div class="specialist-block__services-title">Услуги</div>
            <div class="specialist-block__services-items">
              <div
                v-for="i of 4"
                :key="i"
                class="specialist-block__services-item"
              >
                <div
                  class="specialist-block__services-header d-flex align-items-center position-relative"
                >
                  <div class="specialist-block__services-icon">
                    <PhotoItemSkeleton />
                  </div>
                  <span class="specialist-block__services-back">
                    <svg>
                      <use xlink:href="#arrow_specialist"></use>
                    </svg>
                  </span>
                  <div class="specialist-block__services-subtitle">
                    <InlineSkeleton :width="isMobile ? 220 : 220" />
                  </div>
                  <span class="specialist-block__services-next">
                    <svg>
                      <use xlink:href="#arrow_specialist"></use>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InlineSkeleton from "@/components/Skeleton/InlineSkeleton";
import PhotoItemSkeleton from "@/components/Skeleton/PhotoItemSkeleton";

export default {
  name: "SpecialistSkeleton",

  components: {
    InlineSkeleton,
    PhotoItemSkeleton,
  },

  data: () => ({
    isMobile: window.innerWidth < 768,
    actions: [
      {
        width: 176,
        mobileWidth: 221,
        mobileHeight: 47,
      },
      {
        width: 176,
        mobileWidth: 45,
        mobileHeight: 45,
      },
      {
        width: 91,
        mobileWidth: 45,
        mobileHeight: 45,
      },
    ],
  }),

  mounted() {
    window.addEventListener("resize", () => {
      this.isMobile = window.innerWidth < 768;
    });
  },
};
</script>
