<template>
  <tr>
    <td v-for="iItem in 5" :key="iItem" class="transaction-table__body-text">
      <skeleton-loader-vue
        type="rect"
        :width="isMobile ? 60 : 80"
        :height="isMobile ? 14 : 20"
        :radius="100"
        rounded
        animation="fade"
      />
    </td>
  </tr>
</template>

<script>
export default {
  name: "NoteCardSkeleton",

  data() {
    return {
      isMobile: window.innerWidth < 768,
    };
  },
};
</script>
