<template>
  <def-layout>
    <div class="teasers-page site-content main-content">
      <teaser-slider />

      <advertisement />

      <promoaction-slider />

      <div class="teasers-page__content">
        <div class="container">
          <div class="teasers-page__content-inner">
            <div class="site-content__header d-flex align-items-center">
              <div class="site-content__title">Описание</div>
            </div>
            <div class="teasers-page__text">
              <p>
                Безусловно, консультация с широким активом играет важную роль в
                формировании поэтапного и последовательного развития общества.
                Приятно, граждане, наблюдать, как явные признаки победы
                институционализации объявлены нарушающими общечеловеческие нормы
                этики и морали.
              </p>
              <p>
                Задача организации, в особенности же высокотехнологичная
                концепция общественного уклада способствует повышению качества
                как самодостаточных, так и внешне зависимых концептуальных
                решений.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </def-layout>
</template>

<script>
import TeaserSlider from "@/components/Sliders/TeaserSlider/TeaserSlider";
import DefLayout from "@/layouts/Default/Default";
import Advertisement from "@/components/Advertisement/Advertisement";
import PromoactionSlider from "@/components/Sliders/PromoactionSlider/PromoactionSlider";

export default {
  name: "Teasers",
  components: { PromoactionSlider, Advertisement, TeaserSlider, DefLayout },
};
</script>

<style lang="scss">
@import "teasers";
</style>
