<template>
  <auth>
    <div class="auth__content">
      <div v-if="isLoading" class="loader">
        <div class="loader__content">
          <semipolar-spinner
            :animation-duration="2000"
            :size="50"
            style="
              position: absolute;
              left: calc(50% - 25px);
              top: calc(50% - 25px);
            "
          />
        </div>
      </div>
      <div class="bg__white border__rad auth__container">
        <AuthHeader :headerText="headerText" />
        <RegistrationClinicForm @onRegister="onRegister" />
      </div>
    </div>
  </auth>
</template>

<script>
import Auth from "@/layouts/Auth/Auth";
import AuthHeader from "@/components/Auth/AuthHeader/AuthHeader";
import RegistrationClinicForm from "@/components/Registration/Registration_clinic/RegistrationClinicForm";
import Cookie from "js-cookie";

import { SemipolarSpinner } from "epic-spinners";

import { load as loadRecaptcha } from "recaptcha-v3";

// Vuex
import { createNamespacedHelpers } from "vuex";
import { accountModule } from "@/store";

import { getNewTokens } from "@/helpers/tokens";

const authStore = createNamespacedHelpers("Auth");
const userStore = createNamespacedHelpers("User");

export default {
  name: "RegistrationClinic",

  components: {
    AuthHeader,
    RegistrationClinicForm,
    Auth,
    SemipolarSpinner,
  },

  data() {
    return {
      headerText: this.$t("auth.clinicRegister"),
      recapthcaToken: null,
      recaptcha: null,
      isLoading: false,
    };
  },

  computed: {
    loginRedirectRoute() {
      const savedPath = localStorage.getItem("CRM_SAVED_PATH");
      return savedPath && process.env.VUE_APP_CRM_REDIRECT_URL
        ? `${process.env.VUE_APP_CRM_REDIRECT_URL}${savedPath}`
        : process.env.VUE_APP_CRM_REDIRECT_URL
          ? process.env.VUE_APP_CRM_REDIRECT_URL
          : process.env.VUE_APP_HOME_REDIRECT_URL || { name: "Home" };
    },
    isAuthorized() {
      return accountModule.userId;
    },
  },

  async created() {
    try {
      const recaptcha = await this.$store.dispatch("Auth/getRecaptchaSiteKey");
      if (recaptcha.use) {
        this.recaptcha = await loadRecaptcha(recaptcha.key);
      }
    } catch (e) {
      console.error(e);
    }
  },

  methods: {
    ...authStore.mapActions(["registerBusiness", "login", "registerCompany"]),
    ...userStore.mapActions(["getUserInfo"]),

    async getRecaptcha() {
      return this.recaptcha ? await this.recaptcha.execute("submit") : true;
    },

    async onRegister(data) {
      this.isLoading = true;
      let userId;
      let accessToken;

      const recaptcha = await this.getRecaptcha();
      if (!this.isAuthorized) {
        const response = await this.registerBusiness({
          ...data,
          recapthcaToken: recaptcha,
        });
        if (!response) {
          this.isLoading = false;
          return;
        }
        userId = response.data.uid;
        accessToken = response.data.accessToken;
      } else {
        userId = accountModule.userId;
        accessToken = Cookie.get("accessToken");
      }

      const registerCompanyResponse = await this.registerCompany({
        user_id: userId,
        inn: Number(data.inn),
        type: String(data.type),
        data: "{}",
      });

      if (!registerCompanyResponse) {
        this.isLoading = false;
        return;
      }

      if (this.isAuthorized) {
        const refreshToken = Cookie.get("refreshToken");
        await getNewTokens(refreshToken);
        this.redirect();
        return;
      }
      const loginResponse = await this.login({
        credential: data.phone,
        password: data.password,
        recapthcaToken: await this.getRecaptcha(),
      });
      if (loginResponse) {
        await Promise.all([
          this.getUserInfo({ accessToken: accessToken }),
          accountModule.loadUserInfo(),
        ]);

        this.redirect();
      }
    },

    redirect() {
      if (
          String(this.loginRedirectRoute).startsWith("/crm") ||
          String(this.loginRedirectRoute).startsWith("http") ||
          String(this.loginRedirectRoute).startsWith("https")
        ) {
        location.href = this.loginRedirectRoute;
      } else {
        this.$router.push(this.loginRedirectRoute);
      }
    },

    async createCompany(data) {
      this.isLoading = true;

      const recaptcha = await this.getRecaptcha();
      await this.registerBusiness({
        ...data,
        recapthcaToken: recaptcha,
      });

      this.isLoading = false;
    },
  },
};
</script>
