<template>
  <auth>
    <div class="auth__content">
      <div v-if="isLoading" class="loader">
        <div class="loader__content">
          <semipolar-spinner
            :animation-duration="2000"
            :size="50"
            style="
              position: absolute;
              left: calc(50% - 25px);
              top: calc(50% - 25px);
            "
          />
        </div>
      </div>
      <div class="bg__white border__rad auth__container">
        <AuthHeader :headerText="headerText" />
        <RegistrationForm @onRegister="onRegister" />

        <AuthFooter />
      </div>
    </div>
  </auth>
</template>

<script>
import Auth from "@/layouts/Auth/Auth";
import AuthHeader from "@/components/Auth/AuthHeader/AuthHeader";
import RegistrationForm from "@/components/Registration/Registration_user/RegistrationForm";

import AuthFooter from "@/components/Auth/AuthFooter/AuthFooter";
import { SemipolarSpinner } from "epic-spinners";

//Vuex
import { createNamespacedHelpers } from "vuex";
const authStore = createNamespacedHelpers("Auth");

export default {
  name: "RegistrationUser",
  components: {
    AuthHeader,
    AuthFooter,
    RegistrationForm,
    Auth,
    SemipolarSpinner,
  },
  data() {
    return {
      isLoading: false,
      headerText: this.$t("auth.registerOn"),
    };
  },
  methods: {
    ...authStore.mapActions(["registerClient"]),

    async onRegister(params) {
      this.isLoading = true;
      const response = await this.registerClient(params);

      if (response) {
        await this.$router.push({
          name: "Auth",
          query: this.$route.query,
        });
      }

      this.isLoading = false;
    },
  },
};
</script>
