.blog-inner {
  .header-page {
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
    }
  }
}
.blog-inner__back {
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px 18px;
  background-color: rgba($black, 0.03);
  border-radius: 18px;
  cursor: pointer;
  margin-bottom: 60px;
  @media (max-width: $mobileS) {
    display: none;
  }
  &:hover {
    span {
      color: rgba($black, 0.5);
    }
  }
  img {
    width: 8px;
    height: 15px;
    margin-right: 14px;
  }

  span {
    font-weight: 600;
    font-size: 16px;
    line-height: 133.19%;
    color: rgba($black, 0.3);
    transition: color 0.2s;
  }
}
.blog-inner__img {
  font-size: 0;
  line-height: 0;
  margin-top: 20px;
  text-align: center;
  img {
    height: 320px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    @media (max-width: $mobileS) {
      height: 170px;
    }
  }
}
.blog-inner__tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  @media (max-width: $tablet) {
    order: 3;
    margin-top: 11px;
  }
}
.blog-inner__tag {
  font-weight: 500;
  font-size: 14px;
  line-height: 129.5%;
  padding: 6px 10px;
  border-radius: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  background-color: rgba($black, 0.1);
  @media (max-width: $tablet) {
    margin-bottom: 4px;
  }
  &:last-child {
    margin-right: 0;
  }
}
.blog-inner__content {
  font-weight: 400;
  font-size: 18px;
  line-height: 142.19%;
  margin-bottom: 40px;
  @media (max-width: $tablet) {
    font-size: 14px;
    line-height: 142.19%;
    margin-bottom: 12px;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 142.19%;
    margin-bottom: 24px;
    @media (max-width: $tablet) {
      font-size: 14px;
      line-height: 142.19%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.blog-inner__date {
  font-weight: 600;
  font-size: 15px;
  line-height: 129.5%;
  color: rgba($black, 0.3);
  margin-bottom: 40px;
}
.blog-inner__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 133.19%;
  padding: 20px 40px;
  border-radius: 38px;
  @media (max-width: $tablet) {
    font-size: 15px;
    padding: 15px;
    width: 100%;
  }
}
