<template>
  <def-layout>
    <BlogInnerSkeleton v-if="isBlogLoading" />
    <div v-else class="site-content main-content blog-inner">
      <div class="header-page container">
        <router-link to="/blog" class="blog-inner__back">
          <img src="@/assets/img/icon/arrow-left.svg" />
          <span>Вернуться к блогу</span>
        </router-link>
        <div class="header-page__title">{{ blog.title }}</div>
        <div v-if="blog.tags" class="blog-inner__tags">
          <div
            v-for="(tag, tagIndex) of blog.tags"
            :key="tagIndex"
            class="blog-inner__tag"
            :style="getTagTheme()"
          >
            {{ tag }}
          </div>
        </div>
        <div class="blog-inner__img">
          <img :src="blog.image" />
        </div>
      </div>

      <div v-html="blog.description" class="container blog-inner__content"></div>

      <div class="blog-inner__footer container">
        <div class="blog-inner__date">{{ $fd(blog.date) }}</div>
        <button
          v-if="!isAuthorized"
          @click="$bvModal.show('auth-modal')"
          class="btn btn-black blog-inner__btn"
        >
          Стать клиентом WEBBERU
        </button>
      </div>
    </div>
  </def-layout>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const blogStore = createNamespacedHelpers("Blog");
import { accountModule } from "@/store";
// components
import DefLayout from "@/layouts/Default/Default";
import BlogInnerSkeleton from "@/components/Skeleton/BlogInnerSkeleton.vue";
// helpers
import { getTagTheme } from "@/views/Blog/blog-helper.js";

export default {
  name: "BlogInner",
  components: {
    DefLayout,
    BlogInnerSkeleton,
  },

  computed: {
    ...blogStore.mapGetters(["blog", "isBlogLoading"]),
    getTagTheme() {
      return getTagTheme;
    },
    isAuthorized() {
      return accountModule.userId;
    },
  },

  async created() {
    await this.getBlog(this.$route.params.id);
  },

  methods: {
    ...blogStore.mapActions(["getBlog"]),
  },
};
</script>

<style lang="scss">
@import "./blog-inner";
</style>
