<template>
  <account>
    <div class="profile-info">
      <div class="favorite-items">
        <div class="favorite-item">
          <div class="profile-page__header">
            <div class="profile-page__header-inner">
              <div class="profile-page__top-title">Избранные клиники</div>
            </div>
          </div>

          <div class="favorite-block clinic">
            <FavoriteSalonCard
              v-for="salon in salons"
              :key="salon.id"
              :salon="salon"
            />

            <template v-if="isSalonsLoading">
              <FavoriteSalonCardSkeleton v-for="i in 3" :key="i" />
            </template>

            <button
              v-if="isSalonsMore"
              type="button"
              class="btn btn-black favorite-block__more-btn"
              @click="loadSalonsNext"
            >
              Показать еще
            </button>

            <p v-if="!salons.length" class="favorite-block__not-found">
              У вас нет избранных клиник
            </p>
          </div>
        </div>

        <div class="favorite-item">
          <div class="profile-page__header">
            <div class="profile-page__header-inner">
              <div class="profile-page__top-title">Избранные специалисты</div>
            </div>
          </div>

          <div class="favorite-block specialist">
            <FavoriteSpecialistCard
              v-for="specialist in specialists"
              :key="specialist.id"
              :specialist="specialist"
            />

            <template v-if="isSpecialistsLoading">
              <FavoriteSalonCardSkeleton v-for="i in 3" :key="i" />
            </template>

            <button
              v-if="isSpecialistsMore"
              type="button"
              class="btn btn-black favorite-block__more-btn"
              @click="loadSpecialistsNext"
            >
              Показать еще
            </button>

            <p v-if="!specialists.length" class="favorite-block__not-found">
              У вас нет избранных специалистов
            </p>
          </div>
        </div>

        <div class="favorite-item">
          <div class="profile-page__header">
            <div class="profile-page__header-inner">
              <div class="profile-page__top-title">Избранные услуги</div>
            </div>
          </div>

          <div class="favorite-block services">
            <FavoriteServiceCard
              v-for="service in services"
              :key="service.id"
              :service="service"
            />

            <template v-if="isServicesLoading">
              <FavoriteSalonCardSkeleton v-for="i in 3" :key="i" />
            </template>

            <button
              v-if="isServicesMore"
              type="button"
              class="btn btn-black favorite-block__more-btn"
              @click="loadServicesNext"
            >
              Показать еще
            </button>

            <p v-if="!services.length" class="favorite-block__not-found">
              У вас нет избранных услуг
            </p>
          </div>
        </div>
      </div>
    </div>
  </account>
</template>

<script>
import Account from "@/layouts/Account/Account.vue";
import FavoriteSalonCardSkeleton from "@/components/Skeleton/FavoriteSalonCardSkeleton.vue";

import FavoriteSalonCard from "./components/FavoriteSalonCard.vue";
import FavoriteSpecialistCard from "./components/FavoriteSpecialistCard.vue";
import FavoriteServiceCard from "./components/FavoriteServiceCard.vue";

import { userFavoritesModule } from "./store/user-favorites-module";

export default {
  name: "Favorites",
  components: {
    Account,
    FavoriteSalonCardSkeleton,
    FavoriteSalonCard,
    FavoriteSpecialistCard,
    FavoriteServiceCard,
  },

  computed: {
    salons() {
      return userFavoritesModule.salons;
    },
    specialists() {
      return userFavoritesModule.specialists;
    },
    services() {
      return userFavoritesModule.services;
    },

    isSalonsMore() {
      return this.salons.length && userFavoritesModule.canLoadMoreSalons;
    },
    isSpecialistsMore() {
      return this.specialists.length && userFavoritesModule.canLoadMoreSpecialists;
    },
    isServicesMore() {
      return this.services.length && userFavoritesModule.canLoadMoreServices;
    },

    isSalonsLoading() {
      return userFavoritesModule.isSalonsLoading;
    },
    isSpecialistsLoading() {
      return userFavoritesModule.isSpecialistsLoading;
    },
    isServicesLoading() {
      return userFavoritesModule.isServicesLoading;
    },
  },

  async created() {
    await userFavoritesModule.init();
  },

  methods: {
    async loadSalonsNext() {
      await userFavoritesModule.loadSalons(true);
    },

    async loadSpecialistsNext() {
      await userFavoritesModule.loadSpecialists(true);
    },

    async loadServicesNext() {
      await userFavoritesModule.loadServices(true);
    },
  },
};
</script>

<style lang="scss">
@import "styles/favorites";
@import "~@/components/SearchResult/search-result";

.favorite-block {
  display: flex;
  flex-direction: column;
  &__not-found {
    text-align: center;
    width: 100%;
    margin: 40px auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }

  &__more-btn {
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
    border-radius: 40px;
  }
}
</style>
