.header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 10;
  transition: all 0.5s;
  &.header2 {
      background-color: $grey4;
      .salon-location__modal {
          &-inner {
              box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.25);
              &:after {
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  transform: rotate(45deg);
                  content: '';
                  display: inline-block;
                  box-shadow: -3px -3px 6px -3px rgb(0, 0, 0, 0.25);
                  top: -11px;
                  width: 22px;
                  height: 22px;
                  margin-left: -8px;
                  background: $white;
              }
          }
      }
      .hamburger-icon {
          background: url(~@/assets/img/icon/hamburger-black.svg) no-repeat;
      }
      .header__logo-text,
      .header__nav-item,
      .salon-location__btn,
      .header__login {
          color: $white;
          @media (max-width: $tabletL) {
            color: $black;
          }
      }
      .header__nav-item.active {
          color: $black;
          background: $white;
          @media (max-width: $tabletL) {
            color: $white;
            background: $black;
          }
      }
      .add-object__btn {
          background: rgba($white, 0.5);
          border-radius: 4px;
          color: $black;
          &:hover {
              background: rgba(19, 26, 49, 0.1);
          }
      }
      .local-icon {
          background: url(~@/assets/img/icon/location-white.svg) no-repeat;
          background-size: contain;
          @media (max-width: $tabletL) {
            background-image: url(~@/assets/img/icon/location-black.svg);
          }
      }
      .login-icon {
          background: url(~@/assets/img/icon/login-white.svg) no-repeat;
          @media (max-width: $tabletL) {
            background-image: url(~@/assets/img/icon/login-black.svg);
          }
      }
      .language-site__btn {
          background: rgba($white, 0.11);
          &:after {
              border-top: .3em solid $white;
          }
          &:hover {
              background: rgba(19, 26, 49, 0.1);
          }
      }
  }
  &.out {
      transform: translateY(-100%);
      .header__top {
        @media (max-width: $tabletL) {
          transform: translateY(-100%);
        }
      }
      @media (max-width: $tabletL) {
        transform: none;
      }
      .salon-location__modal {
          bottom: 100%;
          top: auto;
          transition: all 0.5s;
      }
  }
  &.sticky {
      background-color: $grey4;
  }
  &--authorized {
    .header__bottom {
      @media(max-width: $tabletL) {
        padding-top: 76px;
      }
      @media(max-width: $mobileS) {
        padding-top: 97px;
      }
    }
  }
  @media(min-width: 1200px) {
      &.not-hide {
          &.out {
              transform: none;
              .salon-location__modal {
                  bottom: auto;
              }
          }
      }
  }
  &__top-inner,
  &__left-inner,
  &__right-inner {
      display: flex;
      align-items: center;
  }
  &__top-inner {
      justify-content: space-between;
      margin-bottom: 15px;
  }
  &__left-inner {
      align-items: flex-end;
  }

  &__login {
      display: flex;
      align-items: center;
      color: $white;
      text-decoration: none;
      font-size: 13px;
      cursor: pointer;
      &:hover {
          opacity: 0.7;
          color: $white;
      }
  }
  &__logo {
      margin-right: 15px;
      &-text {
          font-size: 14px;
          text-transform: uppercase;
          color: $white;
          font-style: italic;
          line-height: 1;
          @media (max-width: $desktopL) {
              display: none;
          }
      }
  }
  &__logo-mobile,
  &__search-mobile {
      display: none;
  }
  &__search-mobile {
      width: 23px;
      height: 23px;
      background: url(~@/assets/img/icon/search-black.svg) no-repeat;
  }

  &__sale-link {
      display: inline-block;
      background: $black;
      color: $white;
      font-size: 16px;
      letter-spacing: 0.025em;
      padding: 13px 45px;
      border-radius: 57px;
      margin-right: 40px;
      text-decoration: none;
      &:hover {
          color: $white;
          opacity: 0.5;
      }
  }

  &__timer {
    position: fixed;
    right: 25px;
    bottom: 25px;
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.mobile-search {
  position: absolute;
  left: 0;
  width: 100%;
  top: -60px;
  transition: 0.5s;
  background: $white;
  &.active {
      top: 0;
      transition: 0.5s;
  }
  &__inner {
      padding: 10px 15px;
      position: relative;
  }
  &__input {
      width: 100%;
      border: 1px solid $black;
      opacity: .2;
      border-radius: 40px;
      padding: 5px 60px 5px 25px;
      height: 40px;
  }
  &__close {
      display: inline-block;
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      heighT: 15px;
      background: url(~@/assets/img/icon/remove-category.svg) no-repeat;
      background-size: cover;
  }
}

.header__right-inner {
  /*margin: 0 -10px;
  & > * {
      margin: 0 15px;
  }*/
  .header__login {
      margin-right: 25px;
      margin-left: 15px;
  }
  .salon-location {
      margin-left: 25px;
  }
}
.salon-location__btn {
  border: 0;
  background: transparent;
  padding: 0;
  color: $white;
  font-size: 13px;
  @media(max-width: $mobile) {
    display: none;
  }
  &:hover {
      color: $white;
      opacity: 0.7;
  }
}
.dropdown-menu__location {
  &-item {
      padding: 10px 15px;
      cursor: pointer;
      &:hover {
          background-color: #e9ecef;
          color: $black
      }
  }
}

.local-icon {
  display: inline-block;
  width: 17px;
  height: 22px;
  background: url(~@/assets/img/location-icon.svg) no-repeat;
  margin-right: 10px;
}

.add-object__btn {
  background: rgba($white, 0.5);
  border-radius: 4px;
  color: $black;
  border: 0;
  padding: 7px 27px;
  font-size: 14px;
  @media (max-width: $desktop) {
      display: none;
  }
  &:hover {
      color: $white;
      background: rgba(97, 130, 247, 0.5);
  }
  .fa-plus {
      margin-right: 10px;
  }
}

.login-icon {
  display: inline-block;
  min-width: 23px;
  min-height: 22px;
  background: url(~@/assets/img/login-icon.svg) no-repeat;
  margin-right: 10px;
}
.language-site__btn {
  border: 0;
  background: rgba(97, 130, 247, 0.1);
  padding: 8px 11px;
  border-radius: 43px;
  &:hover {
      background: rgba(97, 130, 247, 0.5);
  }
  &:after {
      border-top: .3em solid $white;
  }
  .dropdown-menu__language-choose {
      margin-right: 3px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
  }
}
.dropdown-menu__language {
  top: 0px;
  min-width: auto;
  padding: 5px;
  transform: translate(15px, 36px) !important;
  img {
      cursor: pointer;
      width: 20px;
  }
}
.hamburger-icon {
  display: inline-block;
  width: 30px;
  height: 22px;
  background: url(~@/assets/img/icon/hamburger.svg) no-repeat;
  margin-right: 25px;
  cursor: pointer;
}


.header__nav {
  &-items {
      display: flex;
      margin: 0 0px 0 -15px;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $desktopL) {
          margin: 0 -10px;
      }
      @media (max-width: $tabletL) {
          overflow: hidden;
          overflow-x: auto;
      }
  }
  &-item {
      display: inline-block;
      padding: 3px 15px;
      color: $white;
      font-size: 17px;
      letter-spacing: 0.16px;
      line-height: 2;
      text-decoration: none;
      border-radius: 57px;
      white-space: nowrap;
      @media (max-width: $desktopL) {
          padding: 5px 10px;
          font-size: 15px;
      }
      @media (max-width: $desktop) {
          padding: 5px 5px;
          font-size: 14px;
      }
      &:hover {
          color: $white;
          opacity: 0.7;
      }
      &.sale {
          background: $black;
          transition: all 0.5s;
          padding: 3px 35px;
          color: $white !important;
          line-height: 37px;
      }
      &.btn {
          background: transparent;
          border: 0;
          padding-right: 0;
      }
  }
}

.aside-menu {
  width: 320px;
  min-width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  left: -320px;
  padding: 15px 20px;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  z-index: 2000;
  background: $white;
  &.active {
      left: 0;
  }
  &__inner {
      position: relative;
      padding-top: 40px;
      height: 100%;
  }
  &__close {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(~@/assets/img/icon/remove-category.svg) no-repeat;
      background-size: cover;
      cursor: pointer;
  }
  .aside-menu__content {
      height: calc(100% - 55px);
  }
  &__item:not(:last-child) {
      margin-bottom: 15px;
  }
  &__link {
      font-size: 18px;
      color: $black;
      text-decoration: none;
      padding: 5px;
  }
  &__items {
     height: 100%;
  }
}

.aside-menu__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0;
  transition: opacity .15s linear;
  &.active {
      z-index: 99;
      opacity: 0.5;
      transition: opacity .15s linear;
  }
}


.header__notes-link {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 17px;
  background: url(~@/assets/img/icon/alarm-grey.svg) no-repeat;
  @media (max-width: $tabletL) {
      display: none;
  }
  &.light-grey {
      background: url(~@/assets/img/icon/alarm-lightgrey.svg) no-repeat;
  }
}
.header__loginUser-inner,
.header__profile-link {
  display: flex;
  align-items: center;
}
.header__profile-link {
  text-decoration: none;
  color: $white;
  background: transparent;
  padding: 0;
  border: 0;
  .header__login-left {
      position: relative;
      text-align: right;
      margin-right: 10px;
  }
  .header__login-name {
      display: none;
      font-weight: 500;
      font-size: 12px;
      opacity: 0.8;
      color: $white;
      text-decoration: none;
      @media (max-width: $tabletL) {
          display: block;
          text-align: left;
          overflow: hidden;
          white-space: nowrap;
          max-width: 135px;
          text-overflow: ellipsis;
      }
  }
  .header__login-info {
      img {
          width: 16px;
          margin-right: 3px;
      }
      @media (max-width: $tabletL) {
          text-align: left;
      }
  }
  .header__login-status {
      display: none;
      color: $blue;
      margin-right: 15px;
      text-decoration: none;
      background: transparent;
      border: 0;
      box-shadow: none;
      @media (max-width: $tabletL) {
          display: inline;
          font-size: 11px;
          img {
              width: 12px;
              vertical-align: middle;
          }
      }
  }
  .header__login-bonus  {
      display: inline;
      text-decoration: none;
      color: $red3;
      background: transparent;
      border: 0;
      box-shadow: none;
      white-space: nowrap;
      @media (max-width: $tabletL) {
          font-size: 11px;
          img {
              width: 14px;
              vertical-align: -1px;
          }
      }
  }
  .header__login-avatar {
      position: relative;
      width: 40px;
      height: 40px;
      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
      .header__status-icon {
          position: absolute;
          top: 0;
          right: -5px;
          width: 14px;
          height: 14px;
          background: $white url(~@/assets/img/status/crown-blue.svg) no-repeat;
          background-size: 14px;
          border-radius: 50%;
          @media (max-width: $tabletL) {
              display: none;
          }
      }
  }
}

.header__loginUser-dropdown {
  position: relative;
  cursor: pointer;
  z-index: 2;
  .header__loginUser-dropdownInner {
      display: none;
      position: absolute;
      width: 100%;
      height: 150%;
      background: $white;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
      border-radius: 12px 12px 0 0;
      min-width: 170px;
      left: 50%;
      transform: translateX(-50%);
      min-height: 70px;
      top: -15px;
      margin-left: 15px;
      @media (max-width: $tabletL) {
          width: calc(100% + 20px);
          min-height: 50px;
          top: -5px;
          margin-left: 0;
      }
  }
  &.opened {
      .header__loginUser-dropdownClose,
      .header__loginUser-dropdownInner {
          display: block;
      }

  }
  .header__profile-menu {
      // display: none;
      // position: absolute;
      top: 0px !important;
      padding: 0 17px 17px;
      background: $white;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
      border-radius: 0 0 12px 12px;
      min-width: 170px;
      left: 50%;
      transform: translateX(-50%);
      margin-left: -16px !important;
      border: 0;
      @media (max-width: $tabletL) {
          margin-left: 0px !important;
          width: calc(100% + 19px);
          padding: 0  10px 10px;
          right: -5px !important;
      }
  }
  .header__loginUser-dropdownClose {
      position: absolute;
      display: none;
      width: 11px;
      height: 11px;
      background: url(~@/assets/img/icon/close-strong.svg) no-repeat;
      background-size: 11px;
      right: -26px;
      top: 0;
      cursor: pointer;
      @media (max-width: $tabletL) {
          display: none !important;
      }
  }

  .profile-menu__top {
      padding: 10px 0;
      margin-bottom: 10px;
      text-align: center;
      border-bottom: 1px solid rgba($color: #1D274A, $alpha: 0.1);
      @media (max-width: $tabletL) {
          display: none;
          padding: 8px 0;
          margin-top: 10px;
          border-top: 1px solid rgba($color: #1D274A, $alpha: 0.1);
      }
  }
  .profile-menu__block {
      font-size: 12px;
      line-height: 13px;
      & + .profile-menu__block {
          margin-top: 5px;
      }
      @media (max-width: $tabletL) {
          & {
              text-align: left;
          }
      }
  }
  .profile-menu__link {
      display: flex;
      background: transparent;
      border: 0;
      padding: 0;
      box-shadow: none;
      font-size: 12px;
      line-height: 13px;
      text-align: left;
      &:not(:last-child) {
          margin-bottom: 10px;
      }
      &:hover {
          color: $blue;
      }
  }
  .profile-menu__link-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15px;
      flex: 0 0 15px;
      height: 15px;
      background: rgba($color: $black, $alpha: 0.1);
      border-radius: 50%;
      margin-right: 8px;
  }
}
.salon-location__block {
  position: relative;
}
.salon-location__modal {
  display: none;
  position: absolute;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  margin-top: 20px;
  width: 210px;
  @media (max-width: $tabletL) {
    position: fixed;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: calc(100vh + 60px)!important;
    transform: unset!important;
    z-index: 10;
    top: 0!important;
  }
  &-inner {
      position: relative;
      border-radius: 14px;
      padding: 10px;
      background: $white;
      &:before {
          content: '';
          display: block;
          position: absolute;
          bottom: 100%;
          width: 0;
          height: 0;
          left: 50%;
          transform: translateX(-50%);
          border: 11px solid transparent;
          border-bottom-color: $white;
      }
  }
  &-close {
      position: absolute;
      top: 10px;
      right: 10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: #F2F2F2 url(~@/assets/img/icon/modal-local-close.svg) no-repeat;
      border-radius: 50%;
      background-position: center center;
      background-size: 10px;
      cursor: pointer;
      transition: 0.5s;
  }
  &-text {
      text-align: center;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 5px;
  }
  &-input {
      display: block;
      width: 100%;
      padding: 10px;
      background: rgba(97, 130, 247, 0.1);
      border-radius: 7px;
      color: $black;
      text-decoration: underline;
      letter-spacing: 0.01em;
      font-weight: 600;
      text-align: center;
      border: 0;
      margin-bottom: 5px;
      &.print-city {
          background: rgba($black, 0.1);
          color: $black;
          text-align: left;
      }
  }
  &-buttons {
      margin-top: 10px;
      .btn + .btn {
          margin-left: 10px;
      }
      .salon-location__modal-btn {
          width: 46%;
          border-radius: 47px;
          padding: 5px 15px;
      }
  }
  &-items {
      display: none;
      margin: 0 -10px;
  }
  &-item {
      padding: 10px 30px;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      color: rgba(#000, 0.5);
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:not(:last-child) {
          border-bottom: 1px solid rgba(29, 39, 75, 0.1);
      }
      &:hover {
          color: #000;
      }
      b {
          color: #000;
      }
  }
}

@media (max-width: $tabletL) {
  .header {
      position: relative;
      padding: 0;
      z-index: 12;
      &__top {
          position: fixed;
          width: 100%;
          padding: 20px 0;
          z-index: 10;
          transition: all 0.5s;
          padding: 15px 0;
          box-shadow: 0px 2px 10px rgba(17, 6, 6, 0.2);
          background: $white;
          &-inner {
              margin: 0;
          }
          &-right {
            margin-right: 15px;
          }
      }
      &__bottom {
          background: #E8E9ED;
          padding: 5px 0;
          padding-top: 56px;
      }
      &__logo,
      &__log-text,
      &__sale-link,
      .language-site {
          display: none !important;
      }
      &__logo-mobile
      /*&__search-mobile*/ {
          display: block;
      }
      &__login {
          color: $black;
          margin: 0 !important;
          .login-icon {
              background: url(~@/assets/img/icon/login-black.svg) no-repeat;
          }
          &:hover {
              color: $black;
          }
      }
      &__top {
          margin-bottom: 0;
      }
      &__profile-link {
          .header__login-name {
              color: $black;
          }
      }

      &__nav-item {
          color: $black;
          padding: 5px 13px;
          &:hover {
              color: $black;
          }
          &.sale {
              display: inline-block;
              color: $white !important;
              line-height: 37px;
          }
      }
  }
  .hamburger-icon {
      height: 14px;
      width: 25px;
      background: url(~@/assets/img/icon/hamburger-black.svg) no-repeat;
  }
  .aside-menu__items {
      overflow-y: scroll;
  }

  .salon-location__modal {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      background: rgba(0, 0,0, 0.5);
      width: 100%;
      height: 100%;
      left: 0;
      margin: 0;
      &-inner {
          width: 330px;
          margin: 0 auto;
          &::before,
          &:after {
              display: none;
          }
      }
  }
}

@media (max-width: $mobile) {
  .header__top-right {
    margin-right: 0;
  }
}
@media (max-width: $mobileS) {
  .header__bottom {
    padding-top: 75px;
  }
}
