<template>
  <main class="auth__main">
    <form class="auth__form">
      <!-- <AuthLoginField
        :error="errors"
        @change-input="onChangeInput"
        :networkError="networkError"
      >
        {{ $t("auth.enterMailOrPhone") }}
      </AuthLoginField> -->

      <div
        class="auth__login w-100"
        v-click-outside="
          () => {
            activePopup = false;
          }
        "
      >
        <div class="registration__group w-100">
          <label for="login" class="auth__label">{{
            $t("auth.enterMailOrPhone")
          }}</label>
          <div
            class="reg__field--block relative"
            :class="{ error: $v.loginField.$error }"
          >
            <input
              type="text"
              id="login"
              v-model.trim="loginField"
              class="reg__field"
              autocomplete="off"
              @input="updateRegion"
            />
            <span v-if="hasStringNumber" class="choose__region">
              <button
                type="button"
                @click="clickOpenPopup()"
                class="active__region"
              >
                <span class="region">
                  <country-flag :country="region" rounded size="normal" />
                </span>
              </button>
            </span>
          </div>
          <div v-if="$v.$invalid && $v.loginField.$error" class="errors">
            <p class="error__text" v-if="!$v.loginField.required">
              {{ $t("auth.requiredToFill") }}
            </p>
            <span v-if="$v.loginField.required">
              <p
                class="error__text"
                v-if="!$v.loginField.email && !hasStringNumber"
              >
                {{ $t("auth.phoneEmail") }}
              </p>
              <p
                class="error__text"
                v-if="!$v.loginField.numeric && hasStringNumber"
              >
                {{ $t("auth.phoneWrong") }}
              </p>
              <p
                class="error__text"
                v-if="!$v.loginField.maxLength && hasStringNumber"
              >
                {{ $t("auth.phoneWrong") }}
              </p>
            </span>
          </div>
        </div>

        <AuthPopupRegion
          :activePopup="activePopup"
          @change-country="onChangeCountry"
        />
      </div>

      <div class="registration__group">
        <label for="password" class="auth__label" ref="password">{{
          $t("auth.password")
        }}</label>
        <div
          class="reg__field--block relative w-100"
          :class="{ error: $v.password.$error }"
        >
          <input
            type="password"
            v-model="password"
            id="password"
            class="reg__field"
            autocomplete="off"
          />
        </div>

        <div v-if="$v.$invalid && $v.password.$error" class="errors">
          <p class="error__text" v-if="!$v.password.required">
            {{ $t("auth.requiredToFill") }}
          </p>
        </div>
      </div>

      <AuthRemember />
      <AuthSocial />
    </form>
    <div class="auth__footer-btn">
      <button
        type="button"
        class="auth__button w_100-468"
        @click.prevent="onLogin"
      >
        {{ $t("auth.nextButton") }}
      </button>
      <button
        type="button"
        class="auth__button auth__button--forgot"
        @click="$emit('recoveryPassword')"
      >
        {{ $t("auth.fogotPassword") }}
      </button>
    </div>
  </main>
</template>

<script>
import CountryFlag from "vue-country-flag";
import AuthPopupRegion from "@/components/Auth/AuthPopupRegion/AuthPopupRegion";
import ClickOutside from "vue-click-outside";

import { validationMixin } from "vuelidate";
const { required, maxLength, email } = require("vuelidate/lib/validators");

import { load as loadRecaptcha } from "recaptcha-v3";

// Vuex
import { createNamespacedHelpers } from "vuex";
import { accountModule } from "@/store";

const popupStore = createNamespacedHelpers("Popup");
const authStore = createNamespacedHelpers("Auth");
const userStore = createNamespacedHelpers("User");

export default {
  name: "AuthForm",

  components: {
    AuthSocial: () => import("@/components/Auth/AuthSocial/AuthSocial"),
    // AuthLoginField: () => import("@/components/Auth/AuthLoginField/AuthLoginField"),
    AuthRemember: () => import("@/components/Auth/AuthRemember/AuthRemember"),
    CountryFlag,
    AuthPopupRegion,
  },
  directives: {
    ClickOutside,
  },
  mixins: [validationMixin],
  validations() {
    if (this.hasStringNumber) {
      return {
        loginField: {
          required,
          maxLength: maxLength(20),
        },
        password: {
          required,
        },
      };
    } else {
      return {
        loginField: {
          required,
          email,
        },
        password: {
          required,
        },
      };
    }
  },
  data() {
    return {
      region: "ru",
      password: "",
      loginField: "",
      activePopup: false,
      isCurrentTextNumber: true,
      recaptcha: null,
    };
  },
  computed: {
    ...authStore.mapState(["remember"]),
    ...popupStore.mapGetters(["regions"]),
    hasStringNumber() {
      return /^\+?([0-9]*)\d*$/.test(this.loginField);
    },
  },

  async mounted() {
    try {
      const recaptcha = await this.getRecaptchaSiteKey();
      if (recaptcha.use) {
        loadRecaptcha(recaptcha.key).then((recaptcha) => {
          this.recaptcha = recaptcha;
        });
      }
    } catch (err) {
      console.error(err);
    }
  },

  methods: {
    ...authStore.mapActions([
      "getRecaptchaSiteKey",
      "login",
    ]),
    ...userStore.mapActions(["getUserInfo"]),

    updateRegion() {
      if (!this.hasStringNumber) {
        this.region = "";
        return;
      }

      const regionObj = this.regions.find((item) => {
        return this.loginField
          .replace("+", "")
          .startsWith(item.number.replace("+", ""));
      });
      this.region = regionObj ? regionObj.region : "ru";
    },

    onChangeCountry(country) {
      this.region = country.region || "ru";
      this.loginField = country.number;
      this.activePopup = false;
    },

    clickOpenPopup() {
      this.activePopup = true;
    },
    async onLogin() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      this.$emit("changeLoading", true);

      const recaptcha = await this.getRecaptcha();

      const loginData = {
        credential: this.hasStringNumber
          ? this.loginField.replace("+", "")
          : this.loginField,
        password: this.password,
        remember: this.remember,
        recapthcaToken: recaptcha,
      };

      const response = await this.login(loginData);

      if (response) {
        await this.getUserInfo({ accessToken: response.data.accessToken });
        await accountModule.loadUserInfo();

        this.$emit("onLogin");
      }

      this.$emit("changeLoading", false);
    },

    async getRecaptcha() {
      return this.recaptcha ? await this.recaptcha.execute("submit") : true;
    },
  },
};
</script>

<style lang="scss" scoped>
.choose__region__on_auth {
  transform: translateY(-50%) !important;
}

.auth__login {
  position: relative;
}
</style>

<style lang="scss">
.auth__login {
  .popup__region {
    top: 100px;
  }
}
</style>
