<template>
  <div>
    <div class="our-slider__header">
      <div class="our-slider__title">{{ title || "Специалисты" }}</div>
      <div class="slider-nav">
        <div class="specialists-swiper-button-prev swiper-button-prev"></div>
        <div class="specialists-swiper-button-next swiper-button-next"></div>
      </div>
    </div>
    <div
      class="our-specialists__blocks swiper our-slider"
      v-swiper="swiperOption"
    >
      <div class="swiper-wrapper">
        <div v-for="i in 6" :key="i" class="swiper-slide">
          <div class="our-slider__block">
            <div class="our-slider__block-inner">
              <router-link to="/specialist/2" class="our-slider__block-img">
                <img src="~@/assets/img/our-specialists.png" alt="" />
              </router-link>
              <div class="our-slider__block-content">
                <div class="text-decoration-none our-slider__name">
                  Наталья Вознесенская
                </div>
                <div class="text-decoration-none our-slider__service-name">
                  Наращивание ресниц
                </div>
              </div>
              <div @click.prevent class="our-slider__block-footer">
                <button
                  @click="$bvModal.show('order-modal')"
                  class="our-slider__more-info btn btn-border"
                >
                  Забронировать
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { directive } from "vue-awesome-swiper";

export default {
  name: "OurSpecialistsSlider",
  directives: {
    swiper: directive,
  },
  props: {
    title: String,
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 6,
        spaceBetween: 30,
        centeredSlides: false,
        loop: true,
        navigation: {
          nextEl: ".specialists-swiper-button-next",
          prevEl: ".specialists-swiper-button-prev",
        },
        breakpoints: {
          0: {
            slidesPerView: 1.5,
            spaceBetween: 15,
          },
          575: {
            slidesPerView: 2,
            spaceBetween: 15,
          },
          767: {
            slidesPerView: 3,
          },
          992: {
            slidesPerView: 4,
          },
        },
      },
    };
  },
};
</script>

<style scoped></style>
