<template>
  <router-link :to="`/specialists/${category.id}`" class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
    <div class="specialists-block">
      <div class="specialists-block__inner">
        <div class="specialists-block__link">
          <div class="specialists-block__img">
            <img v-if="category.cover" :src="category.cover" alt="" />
            <img v-else src="@/assets/img/media/media7.png" alt="" />
          </div>
          <div class="specialists-block__title">{{ category.title }}</div>
          <button to="/" class="text-decoration-none specialists-block__btn">
            Смотреть
          </button>
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    category: { type: Object, required: true },
  },
};
</script>
