<template>
  <router-link
    :to="salonLink"
    class="services-variant"
  >
    <div class="services-variant__photo">
      <img :src="service.cover" />
    </div>
    <div class="services-variant__content justify-content-between w-100">
      <div class="services-variant__info">
        <div
          :title="service.title"
          class="services-variant__name"
        >{{ service.title }}</div>

        <div class="services-variant__service-name">{{ service.specialistService.categoryTitle }}</div>

        <div class="services-variant__address">
          <div class="shop-item__location">
            <i class="fas fa-map-marker-alt"></i>
            <div class="shop-item__location-content">
              <span class="shop-item__address">
                {{ service.salon.address }}
              </span>
            </div>
          </div>
          <div v-if="service.salon.metro" class="shop-item__metro">
            <i class="metro-icon"></i>
            {{ service.salon.metro }}
          </div>
        </div>
      </div>
      <div class="services-variant__rating">
        <div class="d-flex align-items-center justify-content-end h-100">
          <div class="services-variant__rating-content">
            <div class="services-variant__rating-title">
              {{ service.ratingTitle }}
            </div>
            <div class="services-variant__rating-value">
              {{ $tc("review.count", service.reviewsCount) }}
            </div>
          </div>
          <div class="services-variant__rating-ball">{{ service.rating }}</div>
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
import { composeSalonLink } from "@/helpers/links";
export default {
  props: {
    service: { type: Object, required: true },
  },
  computed: {
    salonLink() {
      return composeSalonLink(this.service.salon)
        + `?categoryId=${this.service.specialistService.categoryId}`;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../styles/services-variant.scss";
</style>
