/*-------glodal style------*/

body {
  font: 14px/20px $baseFont;
  color: $black;
  font-weight: 400;
  font-feature-settings: 'pnum' on, 'lnum' on;
  &.modal-open {
    overflow: hidden;
  }
}
* {
  outline: none !important;
}
img {
  max-width: 100%;
  width: 100%;
  vertical-align: top;
}
.text-blue {
  display: inline-block;
  color: $blue;
}

button:focus,
button:active,
input:focus,
input:active,
.btn-check:focus+.btn,
.btn:focus {
  box-shadow: none !important;
}
a:hover,
button:hover {
  transition: 0.5s;
}

/*-------type buttons----------*/

.btn-blueBorder {
  border: 1px solid $blue;
  border-radius: 45px;
  color: $blue;
  transition: 0.5s;
  padding: 10px 15px;
  &:hover {
      background: $blue;
      color: $white;
      transition: 0.5s;
  }
}

.btn-border {
  border: 1px solid rgba(24, 33, 62, 0.2);
  border-radius: 7px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  transition: 0.5s;
  &:hover {
      background: $black;
      border: 1px solid $black;
      color: $white;
  }
  &.black:hover {
      border: 1px solid $black;
      background: $black;
      color: $white;
  }
}
.btn-white {
  background: $white;
  color: $black;
  transition: 0.5s;
  padding: 10px;
  &:hover {
      background: #f2f0f0;
      transition: 0.5s;
      color: $black;
      -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  }
}
.btn-black {
  background: $black;
  color: $white;
  transition: 0.5s;
  &:hover {
      background: rgba(29, 39, 74, 0.8);
      color: $white;
      transition: 0.5s;
  }
}
.btn-blackBorder {
  background: transparent;
  color: $black;
  transition: 0.5s;
  &:hover {
    background: $black;
    color: $white;
    transition: 0.5s;
  }
}

.btn-grey {
  background: $lightgrey3;
  color: $lightgrey2;
  border-radius: 57px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.25));
  transition: 0.5s;
  &:hover {
      background: rgba(29, 39, 75, 1);
      transition: 0.5s;
      color: $white;
  }
}

.btn-blue {
  background: $blue;
  color: $white;
  transition: 0.5s;
  &:hover {
      transition: 0.5s;
      opacity: 0.5;
      color: $white;
  }
}

.btn-lightblue {
  color: $blue;
  transition: 0.5s;
  background: rgba(97, 130, 247, 0.1);
  border-radius: 103px;
  &:hover {
      color: $white;
      transition: 0.5s;
      background: rgba(97, 130, 247, 1);
  }
}

.btn-lightgrey {
  color: $black;
  transition: 0.5s;
  background: rgba(29, 39, 74, 0.05);
  border-radius: 103px;
  &:hover {
      color: $white;
      transition: 0.5s;
      background: rgba(29, 39, 74, 1);
  }
}

/*------icons--------*/

.metro-icon {
  display: inline-block;
  width: 15px;
  height: 10px;
  background: url(../img/icon/metro.svg) no-repeat;
}
.quality-icon {
  display: inline-block;
  width: 38px;
  height: 42px;
  background: url(../img/status/quality.svg) no-repeat;
}
.steps-icon {
  display: inline-block;
  width: 46px;
  flex: 0 0 46px;
  height: 46px;
  background: url(../img/status/top-three.svg) no-repeat;
}

/*------custom style for scroll------------*/

.custom-scroll {
  overflow: hidden;
  overflow-y: scroll;
}
.custom-scroll::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
border-radius: 20px;
background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
width: 4px;
background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
border-radius: 20px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
background-color: $black;
}

.custom-scroll-horizontal {
  overflow: hidden;
  overflow-x: scroll;
}
.custom-scroll-horizontal::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
border-radius: 20px;
background-color: #F5F5F5;
}

.custom-scroll-horizontal::-webkit-scrollbar {
height: 4px;
background-color: #F5F5F5;
}

.custom-scroll-horizontal::-webkit-scrollbar-thumb {
border-radius: 20px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
background-color: $blue;
}

/*------type text color-------*/
.text-orange {
  color: #E19447;
}
.text-purple {
  color: #E352E3;
}
.text-gold {
  color: $yellow;
}
.text-black {
  color: $black;
}

/*-------style input--------*/
.custom-input__label {
  display: flex;
  align-items: center;
  .custom-input__input {
      display: none;
  }
  .custom-input__text {
      position: relative;
      padding-left: 35px;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
      &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 22px;
          height: 22px;
          border: 1.5px solid $black;
          border-radius: 50%;
          background: $white;
          transition: 0.5s;
      }
      &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background: $black url(~@/assets/img/icon/check-input.svg) no-repeat;
          background-position: center center;
          opacity: 0;
          transition: 0.5s;
      }
  }
  .custom-input__input:checked + .custom-input__text:after {
      opacity: 1;
  }
  .custom-input__input:checked + .custom-input__text:before {
      border: 0;
  }
}

.custom-input__label-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  .custom-input__input-checkbox {
      display: none;
  }
  .custom-input__text-checkbox {
      position: relative;
      padding-right: 60px;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
      &:before {
          content: '';
          position: absolute;
          top: -2px;
          right: 0;
          width: 43px;
          height: 25px;
          border-radius: 25px;
          background: $black;
          opacity: 0.5;
          transition: .2s;
      }
      &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 19px;
          width: 21px;
          height: 21px;
          border-radius: 25px;
          background: $white;
          transition: .2s;
      }
  }
  .custom-input__input-checkbox:checked + .custom-input__text-checkbox:before {
      opacity: 1;
      transition: .2s;
  }
  .custom-input__input-checkbox:checked + .custom-input__text-checkbox:after {
      right: 3px;
      transition: .2s;
  }
}


/*--------style input----------*/

.checkbox-label {
  display: block;
  margin: 0;
}
.checkbox-input {
  display: none;
}
.checkbox-text {
  display: block;
  position: relative;
  padding-left: 35px;
  font-size: 18px;
  cursor: pointer;
  &:before {
      transition: 0.5s;
      position: absolute;
      left: 0;
      top: -3px;
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      border: 1px solid #1D274A;
      border-radius: 2px;
  }
  &:after {
      transition: 0.5s;
      position: absolute;
      top: 3px;
      left: 5px;
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      background: url(../img/icon/check-blue.svg) no-repeat;
      background-size: 15px;
      opacity: 0;
  }
}
.checkbox-input:checked + .checkbox-text::after {
  transition: 0.5s;
  opacity: 1;
}
.checkbox-input:checked + .checkbox-text::before {
  transition: 0.5s;
  border: 1px solid $blue;
}
.input-style {
  border: 1px solid rgba(29, 39, 74, 0.2);
  border-radius: 6px;
  font-size: 14px;
  padding: 10px 15px;
}
/*-----Футер прижат к низу-----*/

html{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
}
header{
  flex: 0 0 auto;
}
.main-content {
  flex: 1 0 auto;
  padding-bottom: 80px;
}
footer{
  flex: 0 0 auto;
}
/*------button add to favorite and button get notes-------------*/

.add-to-favorite {
  display: flex;
  align-items: center;
  cursor: pointer;
  &.active {
      .favorite-icon {
          background: url(../img/icon/favorite-color.svg) no-repeat;
          background-size: 21px;
          background-position: center 10px;
          transition: 0.5s;
      }
  }
}
.favorite-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../img/icon/salon-add-favorite.svg) no-repeat;
  box-shadow: 0px 2px 10px rgba(24, 33, 62, 0.2);
  border-radius: 50%;
  background-position: center 11px;
  margin-left: 15px;
  transition: 0.5s;
}

.share-icon {
  cursor: pointer;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  box-shadow: 0 2px 10px rgba(24, 33, 62, 0.2);
  border-radius: 50%;
  background: url(~@/assets/img/icon/share.svg) no-repeat;
  background-position: center center;
}

.add-to-notes {
  display: flex;
  align-items: center;
  cursor: pointer;
  &.active {
      .notes-icon {
          background: url(../img/icon/alarm-color.svg) no-repeat;
          background-size: 21px;
          background-position: center 10px;
          transition: 0.5s;
      }
  }
}
.notes-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../img/icon/alarm.svg) no-repeat;
  box-shadow: 0px 2px 10px rgba(24, 33, 62, 0.2);
  border-radius: 50%;
  background-position: center 11px;
  margin-right: 7px;
  transition: 0.5s;
}


/*------Slider style-------*/
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.slider-nav {
  display: flex;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  position: inherit;
  width: 37px;
  height: 15px;
  background: url(../img/icon/slider-arrow-left.svg) no-repeat;
  margin: 0;
  &:after {
      display: none;
  }
}
.swiper-button-next {
  margin-left: 10px;
  background: url(../img/icon/slider-arrow-right.svg) no-repeat;
}
.our-specialists__inner,
.our-services__inner {
  padding-bottom: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid rgba(24, 33, 62, 0.2);
}

.our-slider {
  &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 35px;
      .site-content__title {
        margin-bottom: 0;
      }
      @media (max-width: $mobile) {
        margin-bottom: 18px;
      }
  }
  &__title {
      font-size: 34px;
      line-height: 36px;
      font-weight: 600;
  }
  &__block-img {
      display: block;
      margin-bottom: 20px;
      border-radius: 7px;
      img {
          border-radius: 7px;
      }
  }
  &__block-content {
      display: block;
      color: $black;
      text-decoration: none;
      margin-bottom: 25px;
  }
  &__name {
      font-size: 16px;
      line-height: 17px;
      font-weight: 600;
      margin-bottom: 10px;
  }
  &__service-name {
      font-size: 14px;
      line-height: 15px;
  }
  &__more-info {
      font-size: 13px;
      line-height: 18px;
      width: 100%;
      border-radius: 40px;
  }
}

@media (max-width: 767px) {
  .our-slider__title {
      font-size: 26px;
  }
  .our-slider__header {
      margin-bottom: 20px;
  }
}

/*-----mobile bottom menu---------*/
.mobile-bottom {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 999;
  bottom: 0;
  background: $white;
  box-shadow: 0px -4px 10px rgba(17, 6, 6, 0.2);
  &__inner {
      max-width: 720px;
      margin: 0 auto;
      padding: 8px 15px;
  }
  &__blocks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 -15px;
  }
  &__block {
      display: inline-block;
      // width: calc(100% / 5);
      padding: 0 15px;
      text-align: center;
      text-decoration: none;
      opacity: 0.5;
      &.active {
        opacity: 1;
      }
      &--sm {
          width: fit-content;
      }
  }
  &__icon {
      margin: 0 auto 5px;
      img {
        max-height: 27px;
        height: 100%;
      }
  }
  &__name {
      color: $black;
      line-height: 15px;
  }
  .timer-block {
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: $orange;
      border: 1px solid rgba(255, 255, 255, 0.5);
      @media (max-width: 575px) {
          width: 40px;
          height: 40px;
      }
      &__text {
          color: $lightgrey2;
          letter-spacing: 0.025em;
          font-weight: 600;
          line-height: 58px;
          text-align: center;
          @media (max-width: 575px) {
              line-height: 38px;
              font-size: 12px;
          }
      }
  }
}

@media (max-width: 767px) {
  .mobile-bottom {
      display: block;

      &__inner {
          max-width: 540px;
      }
  }
}

@media (max-width: 575px) {
  .mobile-bottom {
      &__inner {
        max-width: 400px;
        width: 100%;
      }
      &__blocks {
          margin: 0;
      }
      &__block {
          padding: 0;
      }
      &__icon {
          max-width: 30px;
      }
      &__name {
          font-size: 11px;
          line-height: 12px;
      }
  }
}

/*----Стили input-------*/
.custom-input__label-long {
  padding: 0 5px;
  margin-bottom: 7px;
  width: 49%;
  .custom-input__input {
      display: none;
  }
  .custom-input__text-long {
      display: inline-block;
      width: 100%;
      line-height: 16px;
      padding: 15px;
      border: 1px solid rgba(28, 28, 28, 0.2);
      transition: 0.5s;
      border-radius: 40px;
      cursor: pointer;
      text-align: center;
  }
  .custom-input__input:checked + .custom-input__text-long {
      background: $blue;
      color: $white;
      transition: 0.5s;
  }
}

@media (max-width: 1199px) {
  .custom-input__label-long .custom-input__text-long {
      padding: 10px 5px;
      font-size: 13px;
  }
}

/*-----------*/
.site-content {
  padding-top: 175px;
  &__header {
      margin-bottom: 25px;
  }
  &__title {
      font-size: 34px;
      line-height: 37px;
      font-weight: 600;
  }
}
@media(max-width: 991px) {
  .site-content {
      padding-top: 22px;
      &__title {
          font-size: 21px;
          line-height: 23px;
      }
  }
}
@media (max-width: 575px) {
  .site-content {
      &__header {
          margin-bottom: 20px;
      }
      &__title {
          font-size: 24px;
          line-height: 1.08;
      }
  }
}

.header-page {
  margin-bottom: 35px;
  @media (max-width: $mobile) {
    margin-bottom: 20px;
  }
  &__title {
      font-weight: 600;
      font-size: 30px;
      line-height: 32px;
      @media (max-width: $mobile) {
        font-size: 24px;
        line-height: 108%;
      }
  }
}

/*-------------*/

[aria-label][role~="tooltip"] {
  &::before {
    display: none;
  }

  &::after {
    padding: 10px;
    background-color: $white;
    color: $black;
    box-shadow: 0 0 5px rgba(21, 29, 54, 0.15);
    border-radius: 6px;
    font-size: 12px;
    line-height: 16px;
    width: max-content;
  }

  &[data-microtip-position="top-right"]:hover::after {
    transform: translate3d(calc(0% + -24px), 0, 0);
  }

  &[data-microtip-position="top"]:hover::after {
    transform: translate3d(-50%, 0, 0);
  }

  &:focus::before,
  &:focus::after {
    opacity: 0;
    pointer-events: none;
  }

  &:focus:hover::before,
  &:focus:hover::after {
    opacity: unset;
    pointer-events: unset;
  }
}

.ymaps-2-1-79-controls-pane,
.ymaps-2-1-79-copyrights-pane {
  display: none !important;
}

.ymaps-2-1-79-balloon,
.ymaps-2-1-79-balloon__layout {
  border-radius: 8px;

  h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
  }

  p {
    margin: 4px 0;
    font-size: 12px;
    line-height: 16px;
  }
}

.semipolar-spinner {
  .ring {
    border-top-color: $blue!important;
    border-left-color: $blue!important;
  }
}

.vue-star-rating-star {
  stop {
    &:first-child {
      stop-color: $blue;
    }
    &:last-child {
      stop-color: $blue-inactive;
    }
  }
}
// исправляет видимость vue-country-flag
// на мобильном
.flag {
  background-color: $white!important;
}
