$baseFont: Raleway, sans-serif;

// queries
$mobileS: 424px;
$mobile: 575px;
$tablet: 767px;
$tabletL: 991px;
$desktopS: 1024px;
$desktop: 1199px;
$desktopL: 1399px;

// colors
$choko: #c08960;
$red: #b64341;
$red2: #a8706f;
$lightred: #dba2a0;
$blue: #6182f7;
$blue-inactive: #cfd9fd;

$lightgrey: #bababa;
$lightgrey2: #fafafb;
$grey: #7a7a7a;
$grey2: #898d98;
$grey3: #8e93a4;
$violet: #9161f7;
$green: #26ae60;
$yellow: #faba08;
$orange: #f59378;

$white: #fff;
$black: #1d274b;

$error-color: #ff0000;
