<template>
  <account>
    <div class="profile-info">
      <div class="profile-page__header notes-header">
        <div
          class="
            profile-page__title-mobile
            profile-page__header-inner
            d-flex
            align-items-center
            justify-content-between
          "
        >
          <div class="profile-page__top-title">Уведомления</div>
          <NotesTabs />
        </div>
      </div>

      <div class="tab-content notes__blocks" id="myTabContent">
        <div
          v-infinite-scroll="loadMore"
          :infinite-scroll-distance="300"
          class="tab-pane fade show active"
        >
          <div class="notes__blocks-inner">
            <template v-if="notes.length">
              <NoteCard v-for="note in notes" :key="note.id" :note="note" />
            </template>

            <p v-else-if="!isLoading" class="notes__not-found">
              У вас нет уведомлений
            </p>

            <template v-if="isLoading">
              <NoteCardSkeleton v-for="i in 4" :key="i" />
            </template>
          </div>
        </div>
      </div>
    </div>
  </account>
</template>

<script>
import Account from "@/layouts/Account/Account.vue";
import NotesTabs from "./components/NotesTabs.vue";
import NoteCard from "./components/NoteCard.vue";
import NoteCardSkeleton from "@/components/Skeleton/NoteCardSkeleton.vue";

import { notesModule } from "./store/notes-module";
import infiniteScroll from "vue-infinite-scroll";

export default {
  name: "Notes",
  directives: { infiniteScroll },
  components: {
    Account,
    NotesTabs,
    NoteCard,
    NoteCardSkeleton,
  },

  computed: {
    notes() {
      return notesModule.notes;
    },

    isLoading() {
      return notesModule.isLoading;
    },
  },

  watch: {
    "$route.params.tab": {
      immediate: true,
      handler(tab) {
        notesModule.loadNotes(
          tab === "all"
            ? ""
            : tab
        );
      },
    },
  },

  methods: {
    async loadMore() {
      if (notesModule.isLoading || !notesModule.hasNext) return;
      notesModule.loadMoreNotes();
    },
  },
};
</script>

<style lang="scss">
@import "styles/notes";

.notes {
  &__not-found {
    text-align: center;
    width: 100%;
    margin: 60px auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}
</style>
