<template>
  <div class="order-card canceled-order">
    <div class="order-card__img">
      <img :src="order.specialistService.image || require('@/assets/img/no-image.png')" />
    </div>
    <div class="order-card__content">
      <div class="order-card__header">
        <div class="order-card__header-left">
          <div class="order-card__name">
            <div class="order-card__title">
              {{ order.specialistService.serviceTitle }}
            </div>
          </div>
          <div class="order-card__img order-card__img--mobile">
            <img :src="order.specialistService.image || require('@/assets/img/no-image.png')" />
          </div>
        </div>
        <div class="order-card__header-right">
          <button @click="repeatOrder" class="order-card__repeat">
            <i class="repeat-icon"></i>
            Восстановить заказ
          </button>
        </div>
      </div>
      <div class="order-card__body position-relative">
        <div class="order-card__info">
          <table>
            <thead>
              <tr>
                <th>Мастер</th>
                <th>Дата</th>
                <th>Цена</th>
              </tr>
            </thead>
            <tbody>
              <td>{{ order.specialist.name }}</td>
              <td>{{ $fdt(order.startAt) }}</td>
              <td>{{ $fm(order.price) }}</td>
            </tbody>
          </table>
        </div>
        <button @click="repeatOrder" class="order-card__repeat order-card__repeat--mobile">
          <i class="repeat-icon"></i>
          Восстановить заказ
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { Order } from "@/models/Order";
import { orderModule } from "@/store";

export default {
  name: "CanceledOrderCard",
  props: {
    order: { type: Order, required: true },
  },

  methods: {
    repeatOrder() {
      orderModule.setOrder({
        salon: this.order.salon,
        specialistId: this.order.specialist.id,
        serviceId: this.order.specialistService.serviceId,
        serviceTitle: this.order.specialistService.serviceTitle,
        categoryId: this.order.specialistService.categoryId,
      });

      if (!orderModule.order.serviceId) return;

      this.$bvModal.show("order-modal");
    },
  },
};
</script>
