<template>
  <div class="order-card">
    <div class="order-card__img">
      <img :src="order.specialistService.image || require('@/assets/img/no-image.png')" />
    </div>
    <div class="order-card__content">
      <div class="order-card__header">
        <div class="order-card__header-left">
          <div class="order-card__header-name">
            <div class="order-card__title">
              {{ order.specialistService.serviceTitle }}
            </div>
            <div class="order-card__rating">
              <VueStarRating
                v-model="review.rating"
                :increment="0.5"
                :show-rating="false"
                :star-size="20"
                :max-rating="10"
                :star-points="[
                  23, 2, 14, 17, 0, 19, 10, 34, 7, 50, 23, 43, 38, 50, 36, 34,
                  46, 19, 31, 17,
                ]"
              />
            </div>
          </div>
          <div class="order-card__img order-card__img--mobile">
            <img :src="order.specialistService.image || require('@/assets/img/no-image.png')" />
          </div>
        </div>
        <div class="order-card__header-right">
          <button @click="repeatOrder" class="order-card__repeat">
            <i class="repeat-icon"></i>
            Повторить процедуру
          </button>
        </div>
      </div>
      <div class="order-card__body position-relative">
        <button
          v-if="canSendReview"
          class="order-card__review-button"
          @click="createReview"
        >
          Отправить отзыв
        </button>
        <button
          v-else
          class="order-card__review-button"
          @click="showReview"
        >
          <template v-if="order.reviewId">
            Посмотреть отзыв
          </template>
          <template v-else>
            Оставить отзыв
          </template>
        </button>

        <div
          class="order-card__review"
          :style="{ display: isReviewMode ? 'block' : 'none' }"
        >
          <textarea
            v-model="review.message"
            name="review"
            :disabled="isExistringOrder"
            class="order-card__review-text"
          />
        </div>
        <button @click="repeatOrder" class="order-card__repeat order-card__repeat--mobile">
          <i class="repeat-icon"></i>
          Повторить процедуру
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { Order } from "@/models/Order";
import VueStarRating from "vue-star-rating";
import { orderModule, reviewModule } from "@/store";
import { ordersModule } from "../store/orders-module";

export default {
  name: "CompletedOrderCard",
  components: { VueStarRating },
  props: {
    order: { type: Order, required: true },
  },

  data() {
    return {
      isReviewMode: false,
      review: {
        message: "",
        rating: 0,
      },
    };
  },

  computed: {
    canSendReview() {
      return !this.isExistringOrder && this.isReviewMode && this.review.message?.length;
    },

    isExistringOrder() {
      return !!this.existingReview;
    },

    existingReview() {
      return ordersModule.getReview(this.order.reviewId);
    },
  },

  methods: {
    repeatOrder() {
      orderModule.setOrder({
        salon: this.order.salon,
        specialistId: this.order.specialist.id,
        serviceId: this.order.specialistService.serviceId,
        serviceTitle: this.order.specialistService.serviceTitle,
        categoryId: this.order.specialistService.categoryId,
      });

      if (!orderModule.order.serviceId) return;

      this.$bvModal.show("order-modal");
    },

    async createReview() {
      reviewModule.setOrder(this.order);
      const { id } = await reviewModule.createReview(this.review);
      await ordersModule.updateOrder({
        order: this.order,
        data: { review_id: id },
      });
      this.isReviewMode = false;
      await ordersModule.updateCompletedOrders();
    },

    async showReview() {
      if (window.innerWidth < 992 && !this.order.reviewId) {
        reviewModule.setOrder(this.order);
        this.$bvModal.show("review-modal");
        return;
      }

      if (this.order.reviewId) {
        await ordersModule.loadReview({ order: this.order });
      }

      if (this.existingReview) {
        this.review.message = this.existingReview?.text || "";
        this.review.rating = this.existingReview?.rating || 0;
      }

      this.isReviewMode = !this.isReviewMode;
    },
  },
};
</script>
