<template>
  <div class="orders-blocks">
    <div class="order-block-wrp">
      <div class="order-block">
        <div class="profile-page__header">
          <div
            class="profile-page__header-inner d-flex align-items-center justify-content-between flex-row"
          >
            <div class="profile-page__top-title d-flex">
              Незавершенные бронирования
              <span>(На сумму {{ $fm(bookedOrdersAmount) }})</span>
            </div>

            <OrderFilters
              v-if="0"
              @open="isFiltersOpen = true"
              @close="isFiltersOpen = false"
            />
          </div>
        </div>

        <div class="order-block__items">
          <PendingOrderCard
            v-for="order in pendingOrders"
            :key="order.id"
            :order="order"
          />
          <OrdersBlockSkeleton v-if="isBookedLoading" />
          <button
            v-if="totalPendingOrders > pendingOrders.length"
            type="button"
            class="btn btn-black order-block__more-btn"
            @click="loadBookedOrdersNext"
          >
            Показать еще
          </button>

          <p v-if="!pendingOrders.length" class="order-block__not-found">
            У вас нет незавершённых заказов
          </p>
        </div>
      </div>
    </div>

    <div class="order-block">
      <div class="profile-page__header">
        <div class="profile-page__header-inner">
          <div class="profile-page__top-title">
            Завершенные заказы
            <span>(На сумму {{ $fm(completedOrdersAmount) }})</span>
          </div>
        </div>
      </div>

      <div class="order-block__items">
        <CompletedOrderCard
          v-for="order in completedOrders"
          :key="order.id"
          :order="order"
        />
        <OrdersBlockSkeleton v-if="isCompletedLoading" />
        <button
          v-if="totalCompletedOrders > completedOrders.length"
          type="button"
          class="btn btn-black order-block__more-btn"
          @click="loadCompletedOrdersNext"
        >
          Показать еще
        </button>

        <p v-if="!completedOrders.length" class="order-block__not-found">
          У вас нет завершённых заказов
        </p>
      </div>
    </div>

    <div class="order-block">
      <div class="profile-page__header">
        <div class="profile-page__header-inner">
          <div class="profile-page__top-title">
            Отмененные заказы
            <span>(На сумму {{ $fm(canceledOrdersAmount) }})</span>
          </div>
        </div>
      </div>

      <div class="order-block__items">
        <CanceledOrderCard
          v-for="order in canceledOrders"
          :key="order.id"
          :order="order"
        />
        <OrdersBlockSkeleton v-if="isCanceledLoading" />
        <button
          v-if="totalCanceledOrders > canceledOrders.length"
          type="button"
          class="btn btn-black order-block__more-btn"
          @click="loadCanceledOrdersNext"
        >
          Показать еще
        </button>

        <p v-if="!canceledOrders.length" class="order-block__not-found">
          У вас нет отменённых заказов
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import OrdersBlockSkeleton from "@/components/Skeleton/OrdersBlockSkeleton.vue";
import OrderFilters from "./OrderFilters.vue";

import PendingOrderCard from "./PendingOrderCard.vue";
import CompletedOrderCard from "./CompletedOrderCard.vue";
import CanceledOrderCard from "./CanceledOrderCard.vue";

import { ordersModule } from "../store/orders-module";

export default {
  name: "OrderBlocks",
  components: {
    OrdersBlockSkeleton,
    OrderFilters,

    PendingOrderCard,
    CompletedOrderCard,
    CanceledOrderCard,
  },

  data() {
    return {
      isFiltersOpen: false,
    };
  },

  computed: {
    totalPendingOrders: () => ordersModule.bookedOrdersCount,
    totalCompletedOrders: () => ordersModule.completedOrdersCount,
    totalCanceledOrders: () => ordersModule.canceledOrdersCount,

    pendingOrders: () => ordersModule.pendingOrders,
    completedOrders: () => ordersModule.pendingOrders,
    canceledOrders: () => ordersModule.canceledOrders,

    isBookedLoading: () => ordersModule.isBookedLoading,
    isCompletedLoading: () => ordersModule.isCompletedLoading,
    isCanceledLoading: () => ordersModule.isCanceledLoading,

    canceledOrdersAmount: () => ordersModule.canceledOrdersAmount,
    completedOrdersAmount: () => ordersModule.completedOrdersAmount,
    bookedOrdersAmount: () => ordersModule.bookedOrdersAmount,
  },

  methods: {
    loadCanceledOrdersNext() {
      ordersModule.loadCanceledOrders(true);
    },
    loadCompletedOrdersNext() {
      ordersModule.loadCompletedOrders(true);
    },
    loadBookedOrdersNext() {
      ordersModule.loadBookedOrders(true);
    },
  },
};
</script>

<style lang="scss" scoped>
.order-block {
  &__not-found {
    text-align: center;
    width: 100%;
    margin: 40px auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
  &__items {
    display: flex;
    flex-direction: column;
  }
}

.order-block-wrp {
  position: relative;
  margin-bottom: 50px;
}

.order-block-stub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  padding: 20px;
  border-radius: 11px;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.13);
}

.order-block__more-btn {
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 40px;
}
</style>
