<template>
  <div class="order-filter">
    <div class="dropdown">
      <button
        class="order-filter__inner btn"
        :class="{ show: isOpened }"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        @click="toggle"
      >
        <span class="order-filter__icon" />
        Фильтр
      </button>

      <ul
        id="order-filter__menu"
        class="dropdown-menu order-filter__menu dropdown-menu-end"
        :class="{ show: isOpened }"
      >
        <div class="order-filter__menu-block">
          <div class="order-filter__menu-title">По времени создания</div>
          <div class="order-filter__menu-names">
            <div class="order-filter__menu-name">Сначала новые</div>
            <div class="order-filter__menu-name">Сначала старые</div>
          </div>
        </div>

        <div class="order-filter__menu-block">
          <div class="order-filter__menu-title">По названию</div>
          <div class="order-filter__menu-names">
            <div class="order-filter__menu-name">От А до Я</div>
            <div class="order-filter__menu-name">От Я до А</div>
          </div>
        </div>

        <div class="order-filter__menu-block">
          <div class="order-filter__menu-title">По услуге</div>
          <div class="order-filter__menu-search">
            <input type="text" name="" id="" />
          </div>
        </div>

        <div class="order-filter__menu-block">
          <div class="order-filter__menu-title">По стоимости</div>
          <div class="order-filter__menu-names">
            <div class="order-filter__menu-name">Сначала дешевые</div>
            <div class="order-filter__menu-name">Сначала дорогие</div>
          </div>
        </div>
        <div class="order-filter__menu-block">
          <div class="order-filter__menu-title">По специалисту</div>
          <div class="order-filter__menu-names">
            <div class="order-filter__menu-name">От А до Я</div>
            <div class="order-filter__menu-name">От Я до А</div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "OrderFilters",

  data() {
    return {
      isOpened: false,
    };
  },

  methods: {
    toggle() {
      this.isOpened = !this.isOpened;
      this.$emit(this.isOpened ? "open" : "close");
    },
  },
};
</script>

<style lang="scss" scoped>
.order-filter {
  &__menu {
    top: calc(100% + 2px);
    right: 0;
  }

  &__inner {
    white-space: nowrap;
  }
}
</style>
