<template>
  <div class="order-card pending-order">
    <div class="order-card__img">
      <img :src="order.specialistService.image || require('@/assets/img/no-image.png')" />
    </div>
    <div class="order-card__content">
      <div class="order-card__header">
        <div class="order-card__header-left">
          <div class="order-card__header-name">
            <div class="order-card__title">
              {{ order.specialistService.serviceTitle }}
            </div>
            <div class="order-card__actions order-card__actions--mobile">
              <div
                class="order-card__action deception"
                @click="showDeceptionModal"
              >
                Обман
              </div>

                <!-- v-if="isPostponeButtonShown" -->
              <div
                class="order-card__action time"
                @click="showPostponeModal"
              >
                Перенести
              </div>
            </div>
            <div class="order-card__info order-card__info--vertical">
              <table>
                <tbody>
                  <tr>
                    <td>Мастер</td>
                    <td>{{ order.specialist.name }}</td>
                  </tr>
                  <tr>
                    <td>Дата</td>
                    <td>{{ $fdt(order.startAt) }}</td>
                  </tr>
                  <tr>
                    <td>Цена</td>
                    <td>{{ $fm(order.price) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="order-card__img order-card__img--mobile">
            <img :src="order.specialistService.image || require('@/assets/img/no-image.png')" />
          </div>
        </div>
        <div class="order-card__header-right">
          <div class="order-card__actions">
            <div
              class="order-card__action deception"
              @click="showDeceptionModal"
            >
              Обман
            </div>

            <div
              v-if="isPostponeButtonShown"
              class="order-card__action time"
              @click="showPostponeModal"
            >
              Перенести
            </div>

            <div
              v-if="order.isCancelable"
              class="order-card__action cancel"
              @click="showCancelModal"
            >
              Отменить
            </div>
          </div>
        </div>
      </div>
      <div class="order-card__body position-relative">
        <div class="order-card__info">
          <table>
            <thead>
              <tr>
                <th>Мастер</th>
                <th>Дата</th>
                <th>Цена</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ order.specialist.name }}</td>
                <td>{{ $fdt(order.startAt) }}</td>
                <td>{{ $fm(order.price) }}</td>
              </tr>
            </tbody>
          </table>
          <button
            v-if="order.isUnpaid"
            :disabled="isProcessing"
            @click="showPaymentModal"
            class="btn btn-black order-card__booking"
          >
            <template v-if="isProcessing">Обработка…</template>
            <template v-else>Оплатить</template>
          </button>
        </div>
        <div class="order-card__buttons order-card__buttons--mobile">
          <button
            v-if="order.isUnpaid"
            :disabled="isProcessing"
            @click="showPaymentModal"
            class="btn btn-black order-card__booking order-card__booking--mobile"
          >
            <template v-if="isProcessing">Обработка…</template>
            <template v-else>Оплатить</template>
          </button>
          <button v-if="order.isCancelable" class="btn order-card__action cancel">
            Отменить
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Order } from "@/models/Order";
import { ordersModule } from "../store/orders-module";

export default {
  name: "PendingOrderCard",
  props: {
    order: { type: Order, required: true },
  },

  data() {
    return {
      now: 0,
      isProcessing: false,
    };
  },

  computed: {
    isPostponeButtonShown() {
      const postponeTimeMin = process.env.VUE_APP_MIN_POSTPONE_TIME || 60;
      return (
        this.order.startAt.getTime() >= this.now + postponeTimeMin * 60 * 1000
      );
    },
  },

  created() {
    this.now = Date.now();
    setInterval(() => {
      this.now = Date.now();
    }, 5000);
  },

  methods: {
    showDeceptionModal() {
      ordersModule.setSelectedOrder(this.order);
      this.$bvModal.show("deception-modal");
    },

    showCancelModal() {
      ordersModule.setSelectedOrder(this.order);
      this.$bvModal.show("cancel-modal");
    },

    showPostponeModal() {
      ordersModule.setSelectedOrder(this.order);
      this.$bvModal.show("postpone-modal");
    },

    showPaymentModal() {
      ordersModule.setSelectedOrder(this.order);
      this.$bvModal.show("payment-modal");
    },
  },
};
</script>
