<template>
  <main class="auth__main">
    <form @submit.prevent class="auth__form">
      <div
        class="registration__group"
        :class="{ error: $v.reg_form.inn.$error }"
      >
        <label for="inn" class="auth__label" ref="password">{{
          $t("auth.inn")
        }}</label>
        <div
          class="reg__field--block"
          :class="{ error: $v.reg_form.inn.$error || isInnError }"
        >
          <input
            type="text"
            name="inn"
            v-model="reg_form.inn"
            id="inn"
            class="reg__field"
            autocomplete="off"
            @blur="checkInn"
            @input="isInnError = false"
          />
        </div>

        <div
          v-if="($v.$invalid && $v.reg_form.inn.$error) || isInnError"
          class="errors"
        >
          <p class="error__text" v-if="!$v.reg_form.inn.required">
            {{ $t("auth.requiredToFill") }}
          </p>
          <p
            class="error__text"
            v-if="
              !$v.reg_form.inn.minLength ||
              !$v.reg_form.inn.maxLength ||
              isInnError
            "
          >
            {{ $t("auth.wrongInn") }}
          </p>
        </div>
      </div>
      <template v-if="!isAuthorized">
        <div class="registration__group">
          <label for="surname" class="auth__label" ref="name">{{
            $t("auth.name")
          }}</label>
          <div
            class="reg__field--block"
            :class="{ error: $v.reg_form.name.$error }"
          >
            <input
              type="text"
              id="surname"
              v-model="reg_form.name"
              name="surname"
              class="reg__field"
              autocomplete="off"
            />
          </div>
          <div v-if="$v.$invalid && $v.reg_form.name.$error" class="errors">
            <p class="error__text" v-if="!$v.reg_form.name.required">
              {{ $t("auth.requiredToFill") }}
            </p>
          </div>
        </div>

        <TelephoneField
          @setTelephone="setTelephone"
          @setTelephonePin="setTelephoneCode"
          :isCompany="true"
          email=""
        />
        <EmailField
          @setEmail="setEmail"
          @setEmailPin="setEmailCode"
          :isCompany="true"
          :email.sync="reg_form.email"
          :telephone.sync="reg_form.telephone"
        />

        <div class="registration__password">
          <div class="registration__group">
            <label for="password" class="auth__label" ref="password">{{
              $t("auth.password")
            }}</label>
            <div
              class="reg__field--block"
              :class="{ error: $v.reg_form.password.$error }"
            >
              <input
                type="password"
                name="password"
                v-model="reg_form.password"
                id="password"
                class="reg__field"
                autocomplete="off"
              />
            </div>
            <div
              v-if="$v.$invalid && $v.reg_form.password.$error"
              class="errors"
            >
              <p class="error__text" v-if="!$v.reg_form.password.required">
                {{ $t("auth.requiredToFill") }}
              </p>
            </div>
          </div>

          <div class="registration__group">
            <label for="rep_password" class="auth__label" ref="rep_password">{{
              $t("auth.repeatPassword")
            }}</label>
            <div
              class="reg__field--block"
              :class="{ error: $v.reg_form.rep_password.$error }"
            >
              <input
                type="password"
                name="rep_password"
                v-model="reg_form.rep_password"
                id="rep_password"
                class="reg__field"
                autocomplete="off"
              />
            </div>
            <div
              v-if="$v.$invalid && $v.reg_form.rep_password.$error"
              class="errors"
            >
              <p class="error__text" v-if="!$v.reg_form.rep_password.required">
                {{ $t("auth.requiredToFill") }}
              </p>
              <p
                class="error__text"
                v-if="!$v.reg_form.rep_password.sameAsPassword"
              >
                {{ $t("auth.passwordsNotSame") }}
              </p>
            </div>
          </div>
        </div>
      </template>
    </form>
    <footer class="auth__footer auth__footer--border">
      <div class="reg__checkbox">
        <label for="reg_check" class="reg__label">
          <div class="reg-checkbox">
            <input
              v-model="agreeOne"
              type="checkbox"
              class="reg--real"
              id="reg_check"
            />
            <span class="reg--fake"></span>
          </div>
          <div>
            {{ $t("auth.agreeWith") }}
            <router-link :to="{ name: 'Terms' }" class="reg__link">
              {{ $t("auth.useRules") }}
            </router-link>
            {{ $t("and") }}
            <router-link :to="{ name: 'Privacy' }" class="reg__link">
              {{ $t("auth.confidentPolicy") }}
            </router-link>
            *
          </div>
        </label>
      </div>

      <div class="reg__checkbox mb-60">
        <label for="reg_approval" class="reg__label">
          <div class="reg-checkbox">
            <input
              v-model="agreeTwo"
              type="checkbox"
              class="reg--real"
              id="reg_approval"
            />
            <span class="reg--fake"></span>
          </div>
          {{ $t("auth.youDataAgreed") }}
        </label>
      </div>

      <div class="auth__footer-btn">
        <button
          type="button"
          class="auth__button w_100-468"
          :disabled="disabled"
          @click.prevent="clickCreate"
        >
          {{ $t("auth.createBusiness") }}
        </button>
      </div>
    </footer>
  </main>
</template>

<script>
import TelephoneField from "@/components/Registration/Common/TelephoneField";
import EmailField from "@/components/Registration/Common/EmailField";
import { validationMixin } from "vuelidate";
import { accountModule } from "@/store";
import { mapActions } from "vuex";
import { COMPANY_TYPES_MAP } from "@/constants/company-types";

const {
  required,
  numeric,
  sameAs,
  minLength,
  maxLength,
} = require("vuelidate/lib/validators");

export default {
  name: "RegistrationClinicForm",
  components: {
    TelephoneField,
    EmailField,
  },
  mixins: [validationMixin],
  validations() {
    return {
      reg_form: {
        name: {
          required,
        },
        inn: {
          required,
          numeric,
          minLength: minLength(10),
          maxLength: maxLength(12),
        },
        password: {
          required,
        },
        rep_password: {
          required,
          sameAsPassword: sameAs("password"),
        },
      },
    };
  },
  data() {
    return {
      agreeOne: false,
      agreeTwo: false,
      isTelephoneError: true,
      isEmailError: true,
      isInnError: false,
      type: undefined,
      reg_form: {
        inn: "",
        name: "",
        telephone: "+7",
        email: "",
        password: "",
        rep_password: "",
      },
      confirmCode: {
        telephone: "",
        isTelephoneCodeError: true,
        isEmailCodeError: true,
      },
    };
  },

  computed: {
    disabled() {
      return !this.agreeOne || !this.agreeTwo || this.isInnError;
    },

    isAuthorized() {
      return accountModule.userId;
    },
  },

  methods: {
    ...mapActions("Auth", ["getInfoFromInn"]),

    setTelephoneCode(value) {
      this.confirmCode.isTelephoneCodeError = true;
      this.confirmCode.telephone = value.val;
      this.confirmCode.isTelephoneCodeError = value.hasError;
    },

    setEmailCode(value) {
      this.confirmCode.isEmailCodeError = true;
      this.confirmCode.email = value.val;
      this.confirmCode.isEmailCodeError = value.hasError;
    },

    setTelephone(value) {
      this.isTelephoneError = true;
      this.reg_form.telephone = value.val;
      this.isTelephoneError = value.hasError;
      this.$eventHub.$emit("emailCheck");
    },

    setEmail(value) {
      this.isEmailError = true;
      this.reg_form.email = value.val;
      this.isEmailError = value.hasError;
      this.$eventHub.$emit("telephoneCheck");
    },

    async checkInn() {
      this.role = undefined;
      const innLength = this.reg_form.inn.length;
      if (innLength < 10 || innLength > 12) {
        this.isInnError = true;
        return;
      }

      const response = await this.getInfoFromInn({ inn: this.reg_form.inn });
      if (!response || !response.data) return;

      const { type, msg } = response.data;
      this.type = COMPANY_TYPES_MAP[type];
      if (this.type !== undefined) {
        this.$doNoty.info(this.$t("auth.validInn"));
      } else {
        this.$doNoty.error(msg);
        this.isInnError = true;
      }
    },

    clickCreate() {
      if (this.isAuthorized) {
        this.createCompany();
        return;
      }
      this.$v.$touch();
      this.$eventHub.$emit("telephoneCheck");
      this.$eventHub.$emit("emailCheck");

      if (
        this.$v.$invalid ||
        this.isTelephoneError ||
        this.confirmCode.isTelephoneCodeError ||
        (this.isEmailError && this.confirmCode.isEmailCodeError)
      ) {
        return;
      } else {
        const data = {
          phoneConfirmCode: this.confirmCode.telephone,
          emailConfirmCode: this.confirmCode.email,
          type: this.type,
          inn: this.reg_form.inn,
          phone: this.reg_form.telephone,
          email: this.reg_form.email,
          password: this.reg_form.password,
          userinfo: {
            firstName: this.reg_form.name,
            lastName: "",
          },
        };
        this.$emit("onRegister", data);
      }
    },
    async createCompany() {
      if (this.isInnError) return;
      const data = {
        type: this.type,
        inn: this.reg_form.inn,
        phone: accountModule.phone,
        email: accountModule.email,
        is_conformed: 1,
        user_id: accountModule.userId,
      };
      this.$emit("onRegister", data);
    },
  },
};
</script>
