<template>
  <def-layout>
    <div class="terms-of-use site-content main-content">
      <div class="container">
        <h1 class="terms-of-use__title mb-5 text-center">
          Публичная оферта (для бизнеса)
        </h1>
      </div>
    </div>
  </def-layout>
</template>

<script>
import DefLayout from "@/layouts/Default/Default";

export default {
  name: "PublicOffer",
  components: {
    DefLayout,
  },
};
</script>
