$contentBorder: 1px solid rgba(#2a284d, 0.1);
#recovery-password-modal {
  @import "~@/layouts/Auth/auth.scss";
  .modal-content {
    padding: 38px 38px 25px;
  }
  .modal-header {
    border-bottom: $contentBorder;
    padding: 0 0 15px;
  }
  .modal-body {
    position: static;
    padding: 27px 0 30px;
  }
  .modal-footer {
    border-top: $contentBorder;
    justify-content: center;
    padding: 25px 0 0;
  }

  .registration__group {
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .auth__main {
    padding: 0;
  }

  .auth__form {
    margin-bottom: 15px;
  }

  .auth__label {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
  }

  .auth__social {
    border-top: $contentBorder;
    padding-top: 15px;
    margin-top: 15px;
    &--text {
      display: none;
    }
  }

  .auth__button {
    min-width: 150px;
    padding: 10px;
    font-size: 14px;
    height: 44px;
  }

  .recovery-password-modal__title {
    font-size: 0;
    line-height: 0;
    span {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.25;
      vertical-align: middle;
    }
    img {
      display: inline-block;
      height: 16px;
      width: auto;
      vertical-align: middle;
      margin-left: 6px;
    }
  }

  .recovery-password-modal__close {
    position: relative;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: $lightgrey2;
    border: 0;
    outline: 0;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: url(~@/assets/img/icon/close-strong.svg) center no-repeat;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      transition: opacity 0.2s;
    }
    &:hover {
      &:after {
        opacity: 0.8;
      }
    }
  }

  .recovery-password-modal__reg {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.23;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    margin: 0;
    &:hover {
      text-decoration: none;
    }
  }

  .recovery-password-modal__loader {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  .errors {
    justify-content: center;
    bottom: -4px;
  }
}
