#modal-cancel {
    .modal-dialog  {
        max-width: 700px;
        @media (max-width: 575px) {
            margin: 0.5rem 0;
        }
    }
    .modal-content {
        border: 0;
        background: $white;
        border-radius: 5px;
    }
    .btn-close {
        background: $lightgrey2 url(~@/assets/img/icon/banner-filter-remove.svg) no-repeat;
        width: 38px;
        height: 38px;
        background-size: 14px;
        background-position: center center;
        opacity: 0.5;
        border-radius: 50%;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        &:hover {
            opacity: 1;
        }
        @media (max-width: 700px) {
            width: 25px;
            height: 25px;
            right: 15px;
        }
    }
    .modal-body {
        padding: 0;
    }
}

.modal-cancel {
    &__header {
        position: relative;
        padding: 20px 50px;
        text-align: center;
        @media (max-width: 700px) {
            padding: 20px 50px;
        }
        &-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            color: $black;
            @media (max-width: 700px) {
                font-size: 21px;
            }
        }
    }
    &__content {
        padding: 35px 50px;
        border-radius: 10px;
        text-align: center;
        background: rgba($color: $black, $alpha: 0.05);
        @media (max-width: 700px) {
            padding: 20px 30px 30px;
        }
        &-title {
            font-weight: 600;
            font-size: 21px;
            line-height: 28px;
            margin-bottom: 15px;
        }
        &-subtitle {
            font-size: 14px;
            margin-bottom: 30px;
        }
        &-buttons {
            display: flex;
            justify-content: space-between;
            max-width: 300px;
            margin: 0 auto;
            .modal-cancel__content-button {
                max-width: 49%;
                flex: 0 0 49%;
                border-radius: 63px;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}
