.modal iframe {
  width: 100%;
}
.modal-btn-close {
  position: absolute;
  padding: 0;
  top: 25px;
  right: 25px;
}
.modal-header__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}


/*
* CSS payment card
*/
#credit-card {
  .modal-dialog {
      max-width: 600px;
  }
  .modal-content {
      background: none;
      border: 0;
  }
  .btn-close {
      right: 0;
      top: -5px;
      @media (max-width: 630px) {
          top: 0;
      }
  }
}
.credit-card__header {
  margin-bottom: 10px;
}
.credit-card__title {
  font-weight: bold;
  font-size: 24px;
  color: $white;
  text-align: center;
  line-height: 32px;
  @media (max-width: 630px) {
      text-align: left;
  }
}
.payment-card__footer{
text-align: center;
margin: 30px auto 0;
  max-width: 250px;
  @media (max-width: 630px) {
      max-width: 100%;
  }
}

.bank-card{
position: relative;
}
.bank-card__hint {
  display: block;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 5px;
  @media (max-width: 630px) {
      font-size: 12px;
      margin: 0;
  }
}
.bank-card__month-label,
.bank-card__year-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  font-size: 14px;
  opacity: 0.5;
}

.bank-card{
  height: 315px;
  @media (max-width: 630px) {
      height: auto;
  }
}

.bank-card__side{
  border-radius: 11px;
  position: absolute;
  @media (max-width: 630px) {
      position: inherit;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      padding: 20px;
  }
}

.bank-card__side_front{
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(23px);
  padding: 25px;
  width: 81%;

  top: 0;
  left: 0;
  z-index: 3;
}
.bank-card__side-left {
  max-width: 290px;
  margin-right: 60px;
  @media (max-width: 630px) {
      max-width: 100%;
      margin-right: 30px;
  }
}
.bank-card__side-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25px;
  @media (max-width: 630px)  {
      max-width: 60px;
      flex: 0 0 60px;
      padding-top: 10px;
      margin-bottom: 15px;
  }
}

.bank-card__side_back{
  background-color: #e0ddd7;
  padding: 25px 15px;
  width: 81%;
  height: 295px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: rgba(242, 242, 242, 0.6);
  backdrop-filter: blur(23px);
  border-radius: 11px;

  text-align: right;

  top: 20px;
  right: 0;

  @media (max-width: 630px)  {
      display: none;
  }
}

.bank-card__side_back:before{
  content: "";
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(23px);

  position: absolute;
  top: 35px;
  right: 0;
}
.bank-card__cvc {
  text-align: left;
  width: 23%;
  @media (max-width: 630px) {
      width: 100%;
  }
}
.bank-card__inner{
margin-bottom: 10px;
}

.bank-card__label {
display: inline-block;
vertical-align: middle;
}
.bank-card__label_holder, .bank-card__label_number{
width: 100%;
}
.bank-card__month,
.bank-card__year{
  width: 45.5%;
  @media (max-width: 630px)  {
      width: 47%;
  }
}
.bank-card__month {
  margin-right: 20px;
}
.bank-card__cvc-text {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.7;
  margin-top: 10px;
}
.bank-card__field {
  height: 48px;
box-sizing: border-box;
border: 1px solid rgba(29, 39, 74, 0.3);
width: 100%;
  border-radius: 3px;
  padding: 5px 15px;
  @media (max-width: 630px) {
      height: 35px;
      padding: 5px 10px;
  }
  &:focus{
      outline: none;
      border-color: $blue;
  }
}
.payment-card__button {
background: $white;
  border-radius: 63px;
  font-weight: 600;
  font-size: 18px;
  color: $blue;
  width: 100%;
  padding: 15px;
  transition: 0.5s;
  border: 0;
  &:focus,
  &:hover {
      background: $blue;
      color: $white;
      transition: 0.5s;
  }
}
.bank-card__cvc-model {
  display: none;
  @media (max-width: 630px) {
      display: block;
      max-width: 60px;
      flex: 0 0 60px;
      margin-left: 25px;
  }
}



#your-choice {
  .modal-dialog {
      max-width: 740px;
      @media (max-width: 767px) {
          margin-left: 10px;
          margin-right: 10px;
      }
  }
  .modal-content {
      padding: 40px 35px;
      @media (max-width: 767px)  {
          padding: 25px;
      }
  }
  .modal-header {
      padding: 0 0 20px;
      &__title {
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
      }
  }
  .modal-body {
      padding: 0;
  }
}

.your-choice {
  &__blocks {
      margin-bottom: 15px;
  }
  &__block {
      margin: 15px 0;
      border-radius: 10px;
      border: 1px solid rgba(29, 39, 74, 0.2);
      padding: 25px 30px;
      @media (max-width: 767px) {
          padding: 20px 15px;
          margin: 7px 0;
      }
  }
  &__block-icon {
      margin-right: 10px;
  }
  &__block-title {
      font-size: 16px;
      margin-bottom: 5px;
  }
  &__block-text {
      display: block;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 25px;
  }
  &__block-action {
      border: 1px solid rgba(29, 39, 74, 0.1);
      padding: 5px 13px;
      background: none;
      font-size: 12px;
      line-height: 16px;
      border-radius: 52px;
      transition: 0.5s;
      &::before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;
          vertical-align: middle;
          margin-right: 5px;
          background: url(~@/assets/img/icon/edit-pen-black.svg) no-repeat;
      }
      &:hover {
          transition: 0.5s;
          border: 1px solid rgba(29, 39, 74, 1);
      }
  }

  &__price-title {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 15px;
  }
  &__price-top {
      display: flex;
      align-items: baseline;
      @media (max-width: 767px) {
          flex-direction: column;
      }
  }
  &__price-inputBlock {
      flex: 1;
      margin-right: 20px;
      @media (max-width: 767px) {
          margin: 0 0 20px;
          width: 100%;
      }
  }
  &__price-input {
      width: 100%;
      border: 1px solid rgba(29, 39, 74, 0.2);
      border-radius: 6px;
      padding: 15px;
  }
  &__price-info {
      margin-top: 10px;
      font-size: 12px;
      line-height: 16px;
      width: calc(100% - 160px);
      @media (max-width: 767px) {
          width: 100%;
      }
  }
  &__price-btn {
      font-weight: 600;
      font-size: 16px;
      padding: 17px 30px;
      line-height: 1;
      @media (max-width: 767px) {
          width: 100%;
          margin: 0 auto;
      }
  }
  &__footer {
      max-width: 365px;
      margin: 50px auto 0;
      @media (max-width: 767px) {
          max-width: 100%;
          margin-top: 25px;
      }
  }
  &__footer-btn {
      width: 100%;
      border-radius: 63px;
      font-weight: 600;
      font-size: 20px;
      padding: 20px;
  }
}

.price-low {
  display: none;
  padding-bottom: 35px;
  &__input {
      height: 50px;
      width: 225px;
      margin-right: 10px;
  }
  &__btn {
      border-radius: 6px;
      font-size: 16px;
      font-weight: 600;
      padding: 5px 30px;
      margin-right: 15px;
  }
  &__text {
      font-size: 12px;
      line-height: 16px;
      max-width: 230px;
  }
}





@media (min-width: 768px) {
  .modal {
      .modal-dialog {
          margin-top: 60px;
      }
      .btn-close {
          position: absolute;
          right: -60px;
          top: 0;
          width: 28px;
          height: 28px;
          background: url(~@/assets/img/icon/close-white.svg) no-repeat;
          opacity: 1;
          padding: 0;
      }
  }
}


@media (max-width: 991px) {
  .modal {
      .btn-close {
          position: absolute;
          right: 6px;
          top: -40px;
      }
  }
}


@media (max-width: 767px) {

  .modal {
      .btn-close {
          position: absolute;
          right: 30px;
          top: 30px;
          width: 10px;
          height: 10px;
          font-size: 10px;
      }
  }
}
