<template>
  <b-modal
    id="checkout-modal"
    hide-header
    hide-footer
    @show="createWidget"
    @hide="onHide"
  >
    <div id="youkassa-checkout" />
  </b-modal>
</template>

<script>
import { paymentModule, orderModule } from "@/store";

export default {
  name: "CheckoutModal",

  methods: {
    async createWidget() {
      await this.$nextTick();

      if (!paymentModule.confirmationToken) {
        this.showSuccess();
        this.$bvModal.hide("checkout-modal");
        return;
      }
      const Vue = this;
      const checkout = new window.YooMoneyCheckoutWidget({
        confirmation_token: paymentModule.confirmationToken,
        error_callback: function (error) {
          Vue.$doNoty.error(error);
        },
      });

      checkout.on("success", () => {
        if (paymentModule.linkCard) {
          this.$doNoty.success("Карта успешно привязана!");
        }
        this.showSuccess();
        this.$bvModal.hide("checkout-modal");
      });

      checkout.on("fail", () => {
        const message = paymentModule.linkCard
          ? "Ошибка при привязке карты!"
          : "Ошибка при оплате";
        this.$doNoty.error(message);
      });

      checkout.render("youkassa-checkout");
    },

    async showSuccess() {
      await orderModule.loadOrder(this.$route.query.orderId);

      const query = {
        ...this.$route.query,
        showSuccess: true,
      };
      delete query.orderId;
      this.$router.replace({ query }).catch(()=>{});

      this.$bvModal.show("order-modal");
    },

    onHide() {
      paymentModule.reset();
    },
  },
};
</script>
