<template>
  <b-modal id="deception-modal" hide-header hide-footer>
    <div class="modal" id="modal-deception">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-deception__header">
              <div class="modal-deception__header-title">Обман</div>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="$bvModal.hide('deception-modal')"
              ></button>
            </div>

            <div class="modal-deception__content">
              <div class="modal-deception__content-title">
                Вы уверены, что хотите пожаловаться на обман?
              </div>
              <div class="modal-deception__content-subtitle">
                Данное действие невозможно будет отменить!
              </div>

              <div class="modal-deception__content-buttons">
                <button
                  type="button"
                  class="btn btn-black modal-deception__content-button"
                  @click="complainOrder"
                >
                  Да
                </button>

                <button
                  type="button"
                  class="btn btn-border modal-deception__content-button"
                  data-bs-dismiss="modal"
                  @click="$bvModal.hide('deception-modal')"
                >
                  Нет
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import { ordersModule } from "@/views/User/modules/Orders/store/orders-module";

export default {
  name: "DeceptionModal",

  methods: {
    complainOrder() {
      ordersModule.complainOrder();
      this.$bvModal.hide("deception-modal");
    },
  },
};
</script>

<style lang="scss">
#deception-modal {
  .modal-body {
    padding: 0;
  }

  .modal {
    display: initial;
  }
}
</style>

<style lang="scss" scoped>
@import "deception-modal";
</style>
