<template>
  <!-- Modal Решай сам-->
  <b-modal id="your-choice" hide-footer>
    <template v-slot:modal-header>
      <div class="modal-header__title">
        Решай сам
        <button
          @click="$bvModal.hide('your-choice')"
          class="btn-close"
        ></button>
      </div>
    </template>
    <template #default>
      <div class="modal-body">
        <div class="your-choice__blocks">
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6">
              <div class="your-choice__block left d-flex">
                <div class="your-choice__block-icon">
                  <img src="@/assets/img/icon/calendar-black.svg" alt="" />
                </div>
                <div class="your-choice__block-content">
                  <div class="your-choice__block-title">Выбранная дата:</div>
                  <div class="your-choice__block-text text-blue">
                    14.02.2021
                  </div>
                  <button type="button" class="your-choice__block-action">
                    Изменить
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-6">
              <div class="your-choice__block right d-flex">
                <div class="your-choice__block-icon">
                  <img src="@/assets/img/icon/brush.svg" alt="" />
                </div>
                <div class="your-choice__block-content">
                  <div class="your-choice__block-title">Выбранная услуга:</div>
                  <div class="your-choice__block-text text-blue">
                    Косметическая депиляция
                  </div>
                  <button type="button" class="your-choice__block-action">
                    Изменить
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="your-choice__price">
          <div class="your-choice__price-title">Введите вашу сумму</div>
          <div class="your-choice__price-blocks">
            <div class="your-choice__price-top">
              <div class="your-choice__price-inputBlock">
                <input
                  type="text"
                  name=""
                  placeholder="Введите вашу сумму"
                  class="your-choice__price-input"
                />
              </div>
              <button
                type="button"
                class="your-choice__price-btn btn btn-black"
              >
                Отправить
              </button>
            </div>
            <div class="your-choice__price-info">
              Укажите свою цену, которую вы готовы заплатить. Мы замораживаем
              средства на протяжении одного часа.
            </div>
          </div>
        </div>
        <div class="your-choice__footer">
          <button class="your-choice__footer-btn btn btn-black" type="button">
            Подтвердить
          </button>
        </div>
      </div>
    </template>
  </b-modal>
</template>

<script>
export default {
  name: "DecideYourself",
};
</script>
<style lang="scss">
@import "modal";
</style>
