#map-modal,
#map-order-modal {
  .modal-dialog {
    margin: 40px auto 0;
    height: calc(100% - 80px);
    overflow: hidden;
    @media (min-width: 1400px) {
      max-width: 1320px;
    }
    @media(min-width: 1199px) {
      max-width: 100%;
      width: calc(100% - 80px);
    }
    @media (max-width: 991px) {
      width: 100%;
      height: 100%;
      max-width: 100%;
      margin: 0;
    }
  }
  .modal-content {
    border: 0;
    border-radius: 0;
  }
  .modal-btn-close {
    @media (max-width: 991px) {
      display: none;
    }
  }
  .search-filter__content {
    height: calc(100% - 80px);
  }
  .search-filter__title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
  }
}
.map-modal {
  &__header {
    display: none;
    font-weight: 500;
    font-size: 18px;
    @media (max-width: 991px) {
      display: block;
      text-align: center;
    }
  }
  &__header-inner {
    padding: 15px 0;
    .arrow-close {
      top: 50%;
      right: auto;
      left: 15px;
      width: 15px;
      height: 18px;
      background: url(~@/assets/img/icon/arrow-specialist.svg) no-repeat;
      transform: translateY(-50%)  rotate(180deg);
      background-size: 11px;
    }
    .filter-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      width: 37px;
      height: 31px;
      background: $white;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
      border-radius: 6px;
      background: url(~@/assets/img/icon/filter-icon-new.svg) no-repeat;
      background-position: center center;
    }
    .close-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      width: 30px;
      height: 30px;
      background: $white;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
      border-radius: 50%;
      background: url(~@/assets/img/icon/close-strong.svg) no-repeat;
      background-position: center center;

    }
  }
  &__blocks {
    display: flex;
    position: relative;
    @media(max-width: 991px) {
      flex-direction: column;
      height: 100%;
    }
  }
  &__block {
    &-title {
      font-weight: 600;
      font-size: 21px;
      line-height: 23px;
      margin-bottom: 25px;
      @media (max-width: 991px) {
        font-size: 18px;
        line-height: 20px;
      }
    }
    &-modalScroll {
      display: none;
      @media(max-width: 991px) {
        display: block;
        height: 30px;
        text-align: center;
        &:after {
          content: '';
          display: inline-block;
          width: 35px;
          height: 4px;
          background: $black;
          opacity: 0.3;
          border-radius: 20px;
        }
      }
    }
    &.filter {
      max-width: 300px;
      @media(max-width: 991px) {
        max-width: 0;
        width: 0;
        height: 0;
      }
      .map-modal__block-inner  {
        padding: 25px 25px 0;
        @media(max-width: 991px) {
          padding: 0;
        }
      }
      .search-filter__close,
      .search-filter__title {
        display: none;
        @media (max-width: 991px) {
          display: block;
        }
      }
      .search-filter__block:first-child {
        border-top: 0;
        padding-top: 0;
      }
      .search-filter__block.rating {
        .custom-input__label {
          display: flex !important;
        }
      }
    }
    &.salons {
      width: 350px;
      @media(max-width: 991px) {
        position: absolute;
        bottom: 0;
        width: 100%;
        top: auto;
        height: 300px;
        z-index: 9;
        background: $white;
        border-radius: 30px 30px 0px 0px;
        &.full {
          height: calc(100% - 20px);
        }
        .map-modal__block-title {
          margin-bottom: 0;
        }
      }
      @media (max-width: 767px) {
        height: 200vh;
      }
      .map-modal__block-inner  {
        padding: 25px 10px 0;
        background: rgba(29, 39, 74, 0.05);
        @media(max-width: 991px) {
          background: $white;
          padding: 10px 10px 0;
          overflow: hidden;
        }
      }
      .shop-item__service {
        padding: 0;
      }
      .shop-item__service-inner {
        width: 28px;
        height: 28px;
      }
      .map-modal__salons-found {
        display: none;
        @media(max-width: 991px) {
          display: block;
          font-weight: 500;
          font-size: 14px;
          opacity: 0.5;
          margin-bottom: 10px;
        }
      }
    }
    &.map {
      flex: 1;

      @media(max-width: 991px) {
        position: relative;
        flex-grow: 1;
      }
    }
  }
}
