<template>
  <!-- Modal with map -->
  <b-modal
    id="map-modal"
    size="xl"
    hide-header
    hide-footer
    @show="onShow"
    @hide="onHide"
  >
    <div class="modal">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content h-100">
          <button
            type="button"
            class="btn-close modal-btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            @click="$bvModal.hide('map-modal')"
          ></button>

          <div class="modal-map__body h-100">
            <div class="map-modal__header">
              <div class="map-modal__header-inner position-relative">
                <button
                  type="button"
                  class="btn-close arrow-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  @click="$bvModal.hide('map-modal')"
                ></button>
                Карта
                <span class="filter-icon" @click="isFilterOpened = true"></span>
              </div>
            </div>

            <div class="map-modal__blocks h-100">
              <div v-if="isSearchRoute" class="map-modal__block filter">
                <div class="map-modal__block-inner custom-scroll h-100">
                  <div class="map-modal__block-title">Фильтры</div>
                  <SearchFilter
                    :class="{ active: isFilterOpened }"
                    @close="isFilterOpened = false"
                  />
                </div>
              </div>

              <div
                v-if="isSearchRoute"
                class="map-modal__block salons"
                :style="{
                  top: `${drawerTop}px`,
                  transition: touchStartY ? '' : 'top 500ms',
                }"
              >
                <div
                  class="map-modal__block-modalScroll"
                  @touchstart="onTouchStart"
                  @touchmove="onTouchMove"
                  @touchend="onTouchEnd"
                ></div>

                <div class="map-modal__block-inner custom-scroll h-100">
                  <div class="map-modal__block-title">Места поблизости</div>
                  <div class="map-modal__salons-found">
                    Найдено мест: {{ mapSalonsCount }}
                  </div>
                  <ModalSalons
                    class="map-modal__salons-items"
                    :class="{
                      'map-modal__salons-items_top': drawerTop === maxDrawerTop,
                      'map-modal__salons-items_fill': touchStartY !== 0,
                    }"
                    :is-loading="isLoading"
                    @click="$bvModal.hide('map-modal')"
                    @focusToMark="focusToMark"
                  />
                </div>
              </div>

              <div id="modal-map" class="map-modal__block map">
                <button class="map-modal__location" @click="setLocation">
                  <i class="fas fa-location-arrow"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import SearchFilter from "@/components/Sidebars/SearchFilter/SearchFilter";
import ModalSalons from "@/components/ModalSalons/ModalSalons";

import { createNamespacedHelpers } from "vuex";
import { accountModule } from "@/store";

import { YandexMap } from "@/services/yandex-map";
import { composeSalonLink } from "@/helpers/links";

import { debounce } from "lodash";

const searchStore = createNamespacedHelpers("Search");

export default {
  name: "MapModal",
  components: {
    SearchFilter,
    ModalSalons,
  },

  data: () => ({
    isFilterOpened: false,
    isShown: false,
    drawerTop: 0,
    savedDrawerTop: 0,
    touchStartY: 0,
    deltaTouch: 0,
    screenHeight: window.innerHeight,
    map: null,
    isLoading: false,
    center: [0, 0],
    radius: 12,
    userMark: null,
    route: null,
    loadSalonsDebounced: () => {},
  }),

  computed: {
    ...searchStore.mapGetters(["mapSalons", "mapMarks", "mapSalonsCount", "salonById"]),

    isMobile() {
      return this.screenHeight < 768;
    },

    minDrawerTop() {
      return this.screenHeight - 180;
    },

    maxDrawerTop() {
      return this.screenHeight * 0.1;
    },

    isSearchRoute() {
      return this.$route.name === "Search";
    },

    salonId() {
      return +this.$route.query.showMapSalon;
    },
  },

  watch: {
    mapSalons: {
      deep: true,
      handler() {
        if (!this.map || !this.isShown) return;
        this.displayMapMarks();
      },
    },

    "$route.query": {
      deep: true,
      immediate: true,
      handler() {
        if (!this.isShown) return;

        this.isLoading = true;

        this.map.removeAllMarks();
        this.loadSalonsDebounced();
      },
    },
  },

  created() {
    this.savedDrawerTop = this.minDrawerTop;
    this.drawerTop = this.minDrawerTop;
    this.loadSalonsDebounced = debounce(this.loadSalons, 1000);
  },

  methods: {
    ...searchStore.mapActions(["getMapSalons", "getMapMarks",]),

    async loadSalons() {
      this.isLoading = true;
      const params = {
        ...this.$route.query,
        latitude: this.center[0],
        longitude: this.center[1],
        radius: this.radius,
      };
      this.getMapMarks(params);
      await this.getMapSalons(params);
      this.isLoading = false;
    },

    setLocation() {
      navigator.geolocation.getCurrentPosition((val) => {
        const coords = [val.coords.latitude, val.coords.longitude];
        this.map.setCenter(coords);
        this.userMark = {
          center: coords,
          title: "",
          image: require("@/assets/img/location.png"),
          height: 32,
        };

        this.map.addMark(this.userMark);
      });
    },

    focusToMark(coords) {
      this.map.setCenter(coords);
    },

    onTouchStart(e) {
      const touch = e.touches[0];
      if (!touch) return;

      this.touchStartY = touch.clientY;
      this.savedDrawerTop = this.drawerTop;
    },

    onTouchMove(e) {
      const touch = e.touches[0];
      if (!touch) return;

      const deltaTouch = touch.clientY - this.touchStartY;
      this.drawerTop = this.savedDrawerTop + deltaTouch;
    },

    onTouchEnd() {
      this.touchStartY = 0;
      this.drawerTop =
        this.drawerTop > this.screenHeight * 0.5
          ? this.minDrawerTop
          : this.maxDrawerTop;
    },

    async onShow() {
      if (this.isMobile) {
        document.documentElement.style.overflow = "hidden";
        document.body.style.overflow = "hidden";
      }
      this.center = [
        Number(accountModule.latitude) || 0,
        Number(accountModule.longitude) || 0,
      ];
      this.radius = 12;
      await this.createMap();

      if (!this.salonId) {
        this.setLocation();
        await this.loadSalons();
      } else {
        await this.loadSalons();
        const salon = this.salonById(this.salonId);
        this.map.setCenter(salon.coordinates);
      }

      this.isShown = true;
      this.displayMapMarks();
    },

    async createMap() {
      await this.$nextTick();
      this.map = await YandexMap.create({
        elementId: "modal-map",
        center: this.center,
        zoom: 11,
      });

      this.map.map.events.add("boundschange", (e) => {
        if (this.route) return;

        this.center = e.get("newCenter");
        this.radius = this.map.getRadiusKm(...e.get("newBounds"));

        this.isLoading = true;
        this.loadSalonsDebounced();
      });
    },

    onHide() {
      this.isShown = false;
      this.map.map.destroy();
      this.route = null;

      if (this.isMobile) {
        document.documentElement.style.overflow = "";
        document.body.style.overflow = "";
      }
    },

    async displayMapMarks() {
      this.map.removeAllMarks();
      if (this.userMark) {
        this.map.addMark(this.userMark);
      }



      window.onRouteClick = (...coordinates) => {
        if (this.route) return;
        this.route = coordinates;
        this.map.addRoute({
          from: this.userMark.center,
          to: coordinates,
        });
      };
      const marks = this.mapMarks.map((salon) => {
        const routeLayout = this.userMark
          ? `<a href="#" onclick="window.onRouteClick(${salon.coordinates})">Маршрут</a>`
          : "";

        return {
          center: salon.coordinates,
          title: salon.name,
          text: salon.minPrice ? this.$fm(salon.minPrice) : undefined,
          image: salon.logo,
          layout: `
            <div>
              <h3>${salon.name}</h3>
              <p>${salon.address}</p>
              <a href="${composeSalonLink(salon)}">Забронировать</a>
              ${routeLayout}
            </div>
          `,
        };
      });

      this.map.addMarks(marks);
    },
  },
};
</script>

<style lang="scss">
#map-modal {
  .modal-body {
    padding: 0;
  }

  .modal {
    display: initial;
  }

  .modal-dialog {
    width: 100%;
    min-width: calc(100vw - 80px);
    min-height: calc(100vh - 80px);
    height: 100%;
    margin: 0 auto;
  }

  .search-filter__title {
    display: none;
  }

  .map-modal__block.filter .search-filter__block.rating .custom-input__label {
    display: flex !important;
  }

  .map-salon {
    &__name {
      color: inherit;
      text-decoration: none;
    }
    &__items {
      @media (max-width: 767px) {
        padding-bottom: 20px;
      }
    }
  }
}
</style>

<style lang="scss" scoped>
@import "map-modal";

.map-modal {
  &__salons-items {
    padding-bottom: 20px;

    @media (max-width: 767px) {
      padding-bottom: 0px;
      max-height: 50px;
      height: 100%;
      overflow-y: auto;

      &_top {
        max-height: 70vh;
      }

      &_fill {
        max-height: 100%;
      }
    }
  }

  &__location {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: $blue;
    color: $white;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;

    @media (max-width: 575px) {
      top: unset;
      bottom: 200px;
    }
  }
}

.map-modal__block.salons {
  z-index: 9999;
}
</style>

<style lang="scss">
#modal-map {
  .ymaps-2-1-79-controls-pane {
    display: block !important;
  }

  .ymaps-2-1-79-controls__toolbar,
  .ymaps-2-1-79-controls__bottom {
    display: none;
  }
}
</style>
