.modal iframe {
  width: 100%;
}

.modal-content {
  border: 0;
}

#map-modal .modal-btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  background: $white url(~@/assets/img/icon/remove-category.svg) no-repeat;
  background-size: 15px;
  background-position: center center;
  opacity: 1;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.3);
  border-radius: 100%;
  padding: 5px;
}
.modal-btn-close {
  position: absolute;
  padding: 0;
  top: 25px;
  right: 25px;
}
.modal-header__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

#modal-city {
  .modal-dialog {
    max-width: 430px;
  }
  .modal-content {
    padding: 25px 60px;
  }
  .btn-black,
  .btn-border {
    font-size: 21px;
    line-height: 25px;
    padding: 15px;
    border-radius: 47px;
    width: 49%;
    font-weight: 400;
  }
}
.modal-city {
  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
    text-align: center;
  }
  &__city {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    padding: 12px;
    color: $blue;
    text-decoration-line: underline;
    background: rgba(97, 130, 247, 0.1);
    border-radius: 7px;
    text-align: center;
    margin-bottom: 10px;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
}

/*
 * CSS payment card
 */
#credit-card {
  .modal-dialog {
    max-width: 600px;
  }
  .modal-content {
    background: none;
    border: 0;
  }
  .btn-close {
    right: 0;
    top: -5px;
  }
}
.credit-card__header {
  margin-bottom: 10px;
}
.credit-card__title {
  font-weight: bold;
  font-size: 24px;
  color: $white;
  text-align: center;
  line-height: 32px;
}
/*
.payment-card{
	width: 60rem;
}
*/
.payment-card__footer {
  text-align: center;
  margin: 30px auto 0;
  max-width: 250px;
}

.bank-card {
  position: relative;
}
.bank-card__hint {
  display: block;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 5px;
}
.bank-card__month-label,
.bank-card__year-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  font-size: 14px;
  opacity: 0.5;
}

.bank-card {
  height: 315px;
}

.bank-card__side {
  border-radius: 11px;
  position: absolute;
  /*width: 51%;*/
}

.bank-card__side_front {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(23px);
  padding: 25px;
  width: 81%;

  top: 0;
  left: 0;
  z-index: 3;
}
.bank-card__side-left {
  max-width: 290px;
  margin-right: 60px;
}
.bank-card__side-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25px;
}

.bank-card__side_back {
  background-color: #e0ddd7;
  padding: 25px 15px;
  width: 81%;
  height: 295px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: rgba(242, 242, 242, 0.6);
  backdrop-filter: blur(23px);
  border-radius: 11px;

  text-align: right;

  top: 20px;
  right: 0;
}

.bank-card__side_back:before {
  content: "";
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(23px);

  position: absolute;
  top: 35px;
  right: 0;
}
.bank-card__cvc {
  text-align: left;
  width: 23%;
}
.bank-card__inner {
  margin-bottom: 10px;
}

.bank-card__label {
  display: inline-block;
  vertical-align: middle;
}
.bank-card__label_holder,
.bank-card__label_number {
  width: 100%;
}
.bank-card__month,
.bank-card__year {
  width: 45.5%;
}
.bank-card__month {
  margin-right: 20px;
}
.bank-card__cvc-text {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.7;
  margin-top: 10px;
}
.bank-card__field {
  height: 48px;
  box-sizing: border-box;
  border: 1px solid rgba(29, 39, 74, 0.3);
  width: 100%;
  border-radius: 3px;
  padding: 5px 15px;
  &:focus {
    outline: none;
    border-color: $blue;
  }
}
.payment-card__button {
  background: $white;
  border-radius: 63px;
  font-weight: 600;
  font-size: 18px;
  color: $blue;
  width: 100%;
  padding: 15px;
  transition: 0.5s;
  border: 0;
  &:focus,
  &:hover {
    background: $blue;
    color: $white;
    transition: 0.5s;
  }
}
.bank-card__cvc-model {
  display: none;
}

#your-choice {
  .modal-dialog {
    max-width: 740px;
  }
  .modal-content {
    padding: 40px 35px;
  }
  .modal-header {
    padding: 0 0 20px;
    &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .modal-body {
    padding: 0;
  }
}

.your-choice {
  &__blocks {
    margin-bottom: 15px;
  }
  &__block {
    margin: 15px 0;
    border-radius: 10px;
    border: 1px solid rgba(29, 39, 74, 0.2);
    padding: 25px 30px;
  }
  &__block-icon {
    margin-right: 10px;
  }
  &__block-title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  &__block-text {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 25px;
  }
  &__block-action {
    border: 1px solid rgba(29, 39, 74, 0.1);
    padding: 5px 13px;
    background: none;
    font-size: 12px;
    line-height: 16px;
    border-radius: 52px;
    transition: 0.5s;
    &::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      vertical-align: middle;
      margin-right: 5px;
      background: url(../~@/assets/img/icon/edit-pen-black.svg) no-repeat;
    }
    &:hover {
      transition: 0.5s;
      border: 1px solid rgba(29, 39, 74, 1);
    }
  }

  &__price-title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
  }
  &__price-top {
    display: flex;
    align-items: baseline;
  }
  &__price-inputBlock {
    flex: 1;
    margin-right: 20px;
  }
  &__price-input {
    width: 100%;
    border: 1px solid rgba(29, 39, 74, 0.2);
    border-radius: 6px;
    padding: 15px;
  }
  &__price-info {
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;
    width: calc(100% - 160px);
  }
  &__price-btn {
    font-weight: 600;
    font-size: 16px;
    padding: 17px 30px;
    line-height: 1;
  }
  &__footer {
    max-width: 365px;
    margin: 50px auto 0;
  }
  &__footer-btn {
    width: 100%;
    border-radius: 63px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
  }
}

.price-low {
  display: none;
  padding-bottom: 35px;
  &__input {
    height: 50px;
    width: 225px;
    margin-right: 10px;
  }
  &__btn {
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 30px;
    margin-right: 15px;
  }
  &__text {
    font-size: 12px;
    line-height: 16px;
    max-width: 230px;
  }
}

.tooltip {
  &.show {
    opacity: 1;
  }
  &-arrow {
    display: none !important;
  }
  &-inner {
    padding: 10px;
    background: $white;
    box-shadow: 0px 0px 5px rgba(21, 29, 54, 0.15);
    border-radius: 6px;
    font-size: 12px;
    line-height: 16px;
    color: $black;
  }
}

@media (min-width: 768px) {
  .modal {
    .modal-dialog {
      margin-top: 60px;
    }
    .btn-close {
      position: absolute;
      right: -60px;
      top: 0;
      width: 28px;
      height: 28px;
      background: url(../~@/assets/img/icon/close-white.svg) no-repeat;
      opacity: 1;
      padding: 0;
    }
  }
}

@media (max-width: 991px) {
  .modal {
    .btn-close {
      position: absolute;
      right: 6px;
      top: -40px;
    }
  }
}

@media (max-width: 630px) {
  #credit-card {
    /*.modal-dialog {
            margin-left: 10px;
            margin-right: 10px;
        }*/
    .btn-close {
      top: 0;
    }
    .credit-card__title {
      text-align: left;
    }
    .bank-card__side-left {
      max-width: 100%;
      margin-right: 30px;
    }
    .bank-card__side {
      position: inherit;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      padding: 20px;
    }
    .bank-card__cvc {
      width: 100%;
    }
    .bank-card__side_back {
      display: none;
    }
    .bank-card {
      height: auto;
    }
    .bank-card__cvc-model {
      display: block;
      max-width: 60px;
      flex: 0 0 60px;
      margin-left: 25px;
    }
    .bank-card__month,
    .bank-card__year {
      width: 47%;
    }
    .bank-card__side-right {
      max-width: 60px;
      flex: 0 0 60px;
      padding-top: 10px;
      margin-bottom: 15px;
    }
    .bank-card__hint {
      font-size: 12px;
      margin: 0;
    }
    .payment-card__footer {
      max-width: 100%;
    }
    .bank-card__field {
      height: 35px;
      padding: 5px 10px;
    }
  }
}

@media (max-width: 767px) {
  #your-choice {
    .modal-dialog {
      margin-left: 10px;
      margin-right: 10px;
    }
    .modal-content {
      padding: 25px;
    }
    .your-choice__block {
      padding: 20px 15px;
      margin: 7px 0;
    }
    .your-choice__blocks {
      margin-top: 10px;
    }
    .your-choice__price-top {
      flex-direction: column;
    }
    .your-choice__price-inputBlock {
      margin: 0 0 20px;
      width: 100%;
    }
    .your-choice__price-btn,
    .your-choice__price-info {
      width: 100%;
    }
    .your-choice__price-btn {
      margin: 0 auto;
    }
    .your-choice__footer {
      max-width: 100%;
      margin-top: 25px;
    }
  }

  .modal {
    .btn-close {
      position: absolute;
      right: 30px;
      top: 30px;
      width: 10px;
      height: 10px;
      font-size: 10px;
    }
  }
}

