#modal-sale {
    .modal-content {
        border: 0;
        background: $white;
        border-radius: 5px;
    }
    .btn-close {
        background: $lightgrey2 url(~@/assets/img/icon/banner-filter-remove.svg) no-repeat;
        width: 38px;
        height: 38px;
        background-size: 14px;
        background-position: center center;
        opacity: 0.5;
        border-radius: 50%;
        right: 0;
        margin-top: -10px;
        top: 50%;
        transform: translateY(-50%);
        &:hover {
            opacity: 1;
        }
        @media (max-width: 575px) {
            width: 25px;
            height: 25px;
            right: 15px;
            margin: 0;
        }
    }
    .modal-body {
        padding: 0;
    }
}

.modal-sale  {
    &__body {
        padding: 40px 45px 30px;
        @media (max-width: 575px) {
            padding: 0;
        }
    }
    &__header {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);
        @media (max-width: 575px) {
            padding: 25px;
            margin-bottom: 10px;
        }
    }
    &__content {
        @media (max-width: 575px) {
            padding: 0 25px 25px;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }
    &__text {
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 30px;
    }
    &__btn {
        width: 100%;
        border-radius: 63px;
        font-size: 18px;
        font-weight: 600;
        padding: 13px;
    }
}
