.push-modal {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 15%;
    bottom: unset;
    width: 380px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 4px 16px 0 rgb(0, 0, 0, 0.10);
    @media (max-width: 1199px) {
        left: 15px;
    }
    @media (max-width: 400px) {
        width: 100%;
        left: 0;
    }
    &__inner {
        padding: 16px 25px;
    }
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        &-logo {
            display: flex;
            align-items: center;
            width: 64px;
            height: 64px;
            flex: 0 0 64px;
            margin-right: 15px;
        }
        &-text {
            font-size: 15px;
            line-height: 22px;
        }
    }
    &__footer {
        display: flex;
        justify-content: flex-end;
        &-btn {
            font-size: 14px;
            & + .push-modal__footer-btn {
                margin-left: 10px;
            }
        }
        .btn-transporent {
            &:hover {
                color: $blue;
            }
        }
    }
}
