#modal-reviews {
  .modal-dialog  {
      max-width: $tablet;
      @media (max-width: $tablet) {
        display: flex;
        align-items: flex-end;
        height: 100%;
        margin: 0 auto;
        transform: translate(0, 0);
      }
  }
  .modal-content {
    border: 0;
    background: $white;
    border-radius: 5px;
  }
  .btn-close {
    background: $lightgrey2 url(~@/assets/img/icon/banner-filter-remove.svg) no-repeat;
    width: 38px;
    height: 38px;
    background-size: 14px;
    background-position: center center;
    opacity: 0.5;
    border-radius: 50%;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
        opacity: 1;
    }
    @media (max-width: $tablet) {
      width: 25px;
      height: 25px;
      right: 15px;
    }
  }
  .modal-body {
      padding: 0;
      @media (max-width: $tablet) {
        border-radius: 30px 30px 0px 0px;
      }
  }
  .order-block__error {
    color: $error-color;

    &.rating {
      margin-top: -20px;
    }
  }

}

.modal-reviews {
  &__header {
      position: relative;
      padding: 30px 50px 30px;
      text-align: center;
      @media (max-width: $tablet) {
        padding: 36px 15px 25px;
      }
      &-title {
        font-weight: 600;
        font-size: 21px;
        line-height: 28px;
        color: $blue;
        @media (max-width: $tablet) {
          font-weight: 600;
          font-size: 24px;
          line-height: 108%;
          text-align: left;
          color: $black;
        }
      }
  }

  &__content {
      padding: 30px 50px;
      border-radius: 10px;
      background: rgba($color: $black, $alpha: 0.05);
      @media (max-width: $tablet) {
        background-color: $white;
        padding: 0 15px 25px;
      }
  }
  &__block-title {
      font-weight: 600;
      font-size: 19px;
      line-height: 25px;
      @media (max-width: $tablet) {
        display: none;
      }
  }
  &__block-rating {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      @media (max-width: $tablet) {
        display: block;
        margin-bottom: 20px;
      }
      .modal-reviews__block-title {
          margin-right: 10px;
          @media (max-width: $tablet) {
              margin: 0 0 10px;
          }
      }
      .jq-ry-container {
          padding: 0;
      }
  }
  &__block-comment {
      .modal-reviews__block-title {
          margin-bottom: 20px;
      }
  }
  &__block-textarea {
      textarea {
        background: $white;
        border-radius: 10px;
        height: 170px;
        width: 100%;
        resize: none;
        border: 0;
        padding: 15px;
        @media (max-width: $tablet) {
          height: 200px;
          border: 1px solid rgba($black, 0.3);
          border-radius: 4px;
        }
      }
  }
  &__content-footer {
      margin-top: 45px;
      @media (max-width: $tablet) {
          margin-top: 20px;
      }
  }
  &__send-btn {
      width: 100%;
      border-radius: 63px;
      font-size: 20px;
      font-weight: 600;
      padding: 15px;
      @media (max-width: $tablet) {
        font-weight: 500;
        font-size: 16px;
        line-height: 133.19%;
        color: $black;
        background-color: transparent;
        border: 1px solid $black;
        border-radius: 7px;
      }
  }
}
