<template>
  <main class="auth__main">
    <form @submit.prevent class="auth__form">
      <div class="registration__group">
        <label for="name" class="auth__label" ref="name">{{
          $t("auth.yourName")
        }}</label>
        <div
          class="reg__field--block"
          :class="{ error: $v.reg_form.name.$error }"
        >
          <input
            type="text"
            id="name"
            v-model="reg_form.name"
            name="name"
            class="reg__field"
            autocomplete="off"
          />
        </div>
        <div v-if="$v.$invalid && $v.reg_form.name.$error" class="errors">
          <p class="error__text" v-if="!$v.reg_form.name.required">
            {{ $t("auth.requiredToFill") }}
          </p>
        </div>
      </div>

      <div class="registration__group" v-if="false">
        <label for="surname" class="auth__label" ref="surname">{{
          $t("auth.yourSurname")
        }}</label>
        <div class="reg__field--block">
          <input
            type="text"
            id="surname"
            v-model="reg_form.surname"
            name="surname"
            class="reg__field"
            autocomplete="off"
          />
        </div>
      </div>

      <TelephoneField
        @setTelephone="setTelephone"
        @setTelephonePin="setTelephoneCode"
        :email.sync="reg_form.email"
      />

      <EmailField
        @setEmail="setEmail"
        @setEmailPin="setEmailCode"
        :telephone.sync="reg_form.telephone"
      />

      <div class="registration__password">
        <div class="registration__group">
          <label for="password" class="auth__label" ref="password">{{
            $t("auth.password")
          }}</label>
          <div
            class="reg__field--block"
            :class="{ error: $v.reg_form.password.$error }"
          >
            <input
              type="password"
              name="password"
              v-model="reg_form.password"
              id="password"
              class="reg__field"
              autocomplete="off"
            />
          </div>
          <div v-if="$v.$invalid && $v.reg_form.password.$error" class="errors">
            <p class="error__text" v-if="!$v.reg_form.password.required">
              {{ $t("auth.requiredToFill") }}
            </p>
          </div>
        </div>

        <div class="registration__group">
          <label for="rep_password" class="auth__label" ref="rep_password">{{
            $t("auth.repeatPassword")
          }}</label>
          <div
            class="reg__field--block"
            :class="{ error: $v.reg_form.rep_password.$error }"
          >
            <input
              type="password"
              name="rep_password"
              v-model="reg_form.rep_password"
              id="rep_password"
              class="reg__field"
              autocomplete="off"
            />
          </div>
          <div
            v-if="$v.$invalid && $v.reg_form.rep_password.$error"
            class="errors"
          >
            <p class="error__text" v-if="!$v.reg_form.rep_password.required">
              {{ $t("auth.requiredToFill") }}
            </p>
            <p
              class="error__text"
              v-if="!$v.reg_form.rep_password.sameAsPassword"
            >
              {{ $t("auth.passwordsNotSame") }}
            </p>
          </div>
        </div>
      </div>
    </form>

    <footer class="auth__footer">
      <div class="reg__checkbox">
        <label for="reg_check" class="reg__label">
          <div class="reg-checkbox">
            <input
              v-model="agreeOne"
              type="checkbox"
              class="reg--real"
              id="reg_check"
            />
            <span class="reg--fake"></span>
          </div>
          <div>
            {{ $t("auth.agreeWith") }}
            <router-link :to="{ name: 'Terms' }" class="reg__link">
              {{ $t("auth.useRules") }}
            </router-link>
            {{ $t("and") }}
            <router-link :to="{ name: 'Privacy' }" class="reg__link">
              {{ $t("auth.confidentPolicy") }}
            </router-link>
            *
          </div>
        </label>
      </div>

      <div class="reg__checkbox mb-60">
        <label for="reg_approval" class="reg__label">
          <div class="reg-checkbox">
            <input
              v-model="agreeTwo"
              type="checkbox"
              class="reg--real"
              id="reg_approval"
            />
            <span class="reg--fake"></span>
          </div>
          {{ $t("auth.youDataAgreed") }}
        </label>
      </div>

      <div class="auth__footer-btn">
        <button
          type="button"
          class="auth__button w_100-468"
          :disabled="disabled"
          @click.prevent="clickCreate"
        >
          {{ $t("auth.createAccount") }}
        </button>
      </div>
    </footer>
  </main>
</template>

<script>
import TelephoneField from "@/components/Registration/Common/TelephoneField.vue";
import EmailField from "@/components/Registration/Common/EmailField.vue";
import { load as loadRecaptcha } from "recaptcha-v3";
import { validationMixin } from "vuelidate";
import { favoritesModule } from "@/store";

const { required, sameAs } = require("vuelidate/lib/validators");

export default {
  components: {
    EmailField,
    TelephoneField,
  },
  mixins: [validationMixin],

  validations: {
    reg_form: {
      name: {
        required,
      },
      password: {
        required,
      },
      rep_password: {
        required,
        sameAsPassword: sameAs("password"),
      },
    },
  },
  name: "RegistrationForm",
  data() {
    return {
      agreeOne: false,
      agreeTwo: false,
      isTelephoneError: true,
      isEmailError: true,

      reg_form: {
        name: "",
        surname: "",
        email: "",
        telephone: "",
        password: "",
        rep_password: "",
      },
      confirmCode: {
        email: "",
        telephone: "",
        isEmailCodeError: true,
        isTelephoneCodeError: true,
      },

      recapthcaToken: null,
      recaptcha: null,
    };
  },
  computed: {
    disabled() {
      return this.agreeOne == true && this.agreeTwo == true ? false : true;
    },
  },

  async mounted() {
    try {
      const recaptcha = await this.$store.dispatch("Auth/getRecaptchaSiteKey");
      if (recaptcha.use) {
        loadRecaptcha(recaptcha.key).then((recaptcha) => {
          this.$data.recaptcha = recaptcha;
        });
      }
    } catch (e) {
      console.error(e);
    }
  },

  methods: {
    async getRecaptcha() {
      return this.recaptcha ? await this.recaptcha.execute("submit") : true;
    },

    setEmailCode(value) {
      this.confirmCode.isEmailCodeError = true;
      this.confirmCode.email = value.val;
      this.confirmCode.isEmailCodeError = value.hasError;
    },
    setTelephoneCode(value) {
      this.confirmCode.isTelephoneCodeError = true;
      this.confirmCode.telephone = value.val;
      this.confirmCode.isTelephoneCodeError = value.hasError;
    },
    setTelephone(value) {
      this.isTelephoneError = true;
      this.reg_form.telephone = value.val;
      this.isTelephoneError = value.hasError;
      this.$eventHub.$emit("emailCheck");
    },
    setEmail(value) {
      this.isEmailError = true;
      this.reg_form.email = value.val;
      this.isEmailError = value.hasError;
      this.$eventHub.$emit("telephoneCheck");
    },
    async clickCreate() {
      this.$v.$touch();
      this.$eventHub.$emit("telephoneCheck");
      this.$eventHub.$emit("emailCheck");

      if (
        this.$v.$invalid ||
        this.isTelephoneError ||
        this.confirmCode.isTelephoneCodeError ||
        (this.isEmailError && this.confirmCode.isEmailCodeError)
      ) {
        return;
      }
      favoritesModule.loadFavoriteSalons();
      const recaptcha = await this.getRecaptcha();
      this.$emit("onRegister", {
        emailConfirmCode: this.confirmCode.email,
        phoneConfirmCode: this.confirmCode.telephone,
        email: this.reg_form.email,
        phone: this.reg_form.telephone,
        password: this.reg_form.password,
        userinfo: {
          firstName: this.reg_form.name,
          lastName: this.reg_form.surname,
          status: "Classic",
          balance: 0,
          favoriteSalons: favoritesModule.favoriteSalons,
          favoriteServices: favoritesModule.favoriteServices,
        },
        recapthcaToken: recaptcha,
      });
    },
  },
};
</script>
