<template>
  <div class="filter-choose">
    <div class="filter-choose__inner">
      <button
        v-for="(tag, tagIndex) in allFilterTags"
        :key="`${tag.id}-${tagIndex}`"
        type="button"
        class="filter-choose__block"
      >
        <span class="filter-choose__block-inner">
          {{ tag.title }}
          <span class="filter-choose__remove" @click="processRemoveTag(tag.type, tag)"></span>
        </span>
      </button>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import { get } from "lodash";
import { parseIntegerArrayFromQuery } from "@/helpers/uri-query";
import moment from "moment";

const searchStore = createNamespacedHelpers("Search");
moment.locale("ru");

const FILTER_TAGS = [
  "service",
  "date",
  "gender",
  "rating",
  "reviews",
  "booking",
  "parking",
  "kids",
  "animals",
  "health",
  "special",
];

const ARRAY_FILTER_TAGS = [
  "categoryId",
  "bodyPartId",
  "salonTypeId",
];

export default {
  name: "FilterTags",

  computed: {
    ...searchStore.mapGetters([
      "serviceCategories",
      "bodyParts",
      "genderOptions",
      "salonTypes",
      "reviewOptions",
      "bookingOptions",
    ]),

    allFilterTags() {
      return [
        ...this.filterTags,
        ...this.arrayFilterTags,
      ];
    },
    filterTags() {
      return FILTER_TAGS.map((item) => ({
        id: item,
        value: this.$route.query[item],
        title: this.formatters[item]
          ? this.formatters[item](this.$route.query[item])
          : this.$route.query[item],
        type: "tag",
      })).filter((item) => item.value !== undefined);
    },

    arrayFilterTags() {
      const filterTags = ARRAY_FILTER_TAGS.map((item) =>
        this[item].map((filterItem) => ({
          id: item,
          value: filterItem.id,
          title: filterItem.title,
          type: "array-tag",
        }))
      ).filter((item) => item.length);
      return [].concat(...filterTags);
    },

    formatters() {
      return {
        date: this.$fdt,
        date: (date) => moment(date).format("ddd D MMMM YYYY HH:mm"),
        reviews: () => get(this.selectedReviews, "title"),
        booking: () => get(this.selectedBooking, "title"),
        parking: () => "Наличие парковки",
        kids: () => "Можно с детьми",
        animals: () => "Можно с животными",
        health: () => "Здоровье",
        special: () => "Специальные предложения",
        gender: (id) => (
          this.genderOptions.find((g) => g.id === id)?.title || ""
        )
      };
    },

    categoryId() {
      const ids = parseIntegerArrayFromQuery(this.$route.query.categoryId);
      return this.serviceCategories.filter((item) =>
        ids.includes(item.id)
      );
    },

    bodyPartId() {
      const ids = parseIntegerArrayFromQuery(this.$route.query.bodyPartId);
      return this.bodyParts.filter((item) =>
        ids.includes(item.id)
      );
    },

    salonTypeId() {
      const ids = parseIntegerArrayFromQuery(this.$route.query.salonTypeId);
      return this.reviewOptions.filter((item) =>
        ids.includes(item.id)
      );
    },

    selectedBooking() {
      return this.bookingOptions.find(
        (item) => String(item.id) == this.$route.query.booking
      );
    },
  },

  methods: {
    processRemoveTag(type, item) {
      if (type === "array-tag") {
        this.removeArrayTag(item);
      } else {
        this.removeTag(item);
      }
    },
    removeArrayTag({ id, value }) {
      const index = this[id].findIndex((item) => item.id === value);
      const newValue = this[id].map((item) => item.id);
      newValue.splice(index, 1);
      this.$router.replace({
        query: {
          ...this.$route.query,
          [id]: newValue.length
            ? newValue.join(",")
            : undefined,
        },
      })
    },
    removeTag({ id }) {
      this.$router.replace({
        query: {
          ...this.$route.query,
          [id]: undefined,
        },
      });
    },
  },
};
</script>

<style lang="scss"></style>
