.search-mobile__nav {
  display: none;
}

.search-block__right {
  padding-left: 77px;
}

.search-title-result {
  margin-bottom: 18px;
  h2 {
    display: inline-block;
    margin: 0;
    font-size: 21px;
    font-weight: 300;
    line-height: 26px;
  }
  .fa-map-marker-alt {
    vertical-align: -1px;
    font-size: 21px;
    margin-right: 5px;
  }
  &__city {
    font-size: 24px;
    font-weight: 700;
  }
  &__number {
    font-size: 24px;
    font-weight: 600;
  }
}

.beauty-premium {
  &__inner {
    border: 1px solid $blue;
    border-radius: 40px;
    align-items: center;
    padding-right: 3px;
  }
  &__title {
    background: $blue;
    color: $white;
    font-weight: 600;
    line-height: 15px;
    padding: 14px 20px;
    border-radius: 40px 0 0 40px;
    margin: -1px 15px -1px 0;
    sub {
      top: -7px;
    }
  }
  &__block {
    line-height: 15.5px;
    color: $white;
    padding: 11px 20px;
    border-radius: 20px;
    color: $blue;
    cursor: pointer;
    border: 0;
    background: none;
    &:hover {
      opacity: 0.8;
    }
    &.active {
      background: $blue;
      color: $white;
    }
  }
}

.search-block__right-top {
  margin-bottom: 25px;
  &.right {
    max-width: 160px;
  }
  &.right,
  &.left {
    margin-bottom: 0;
  }
}

.search-block__map {
  position: relative;
  .search-block__map-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 139px;
    border: 0;
    background: $black;
    color: $white;
    padding: 10px;
    font-size: 12px;
    line-height: 13px;
    border-radius: 38px;
    &:hover {
      background: rgba(29, 39, 75, 0.9);
    }
  }
}

.sort-block__inner,
.sort-block__items {
  display: flex;
  align-items: baseline;
}
.sort-block {
  margin-bottom: 10px;
  &__title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
  }
  &__item {
    position: relative;
    margin: 0 5px;
    line-height: 15px;
    cursor: pointer;
    border: 0;
    background: none;
    &:hover {
      color: $blue;
    }
    &.active {
      font-weight: 600;
      &:after {
        position: absolute;
        left: 0;
        bottom: -5px;
        content: '';
        width: 100%;
        height: 1px;
        background: $black;
      }
    }
  }
}

.filter-choose {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -3px;
  }
  &__block {
    padding: 3px;
    border: 0;
    background: none;
  }
  &__block-inner {
    display: inline-block;
    padding: 10px 20px;
    background: rgba($black, 0.05);
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    border-radius: 45px;
  }
  &__remove {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background: url(~@/assets/img/icon/remove-category.svg) no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}

.shop-items__bottom {
  max-width: 260px;
  margin: 30px auto 0;
}
.shop-items__showMore {
  padding: 20px;
  background: $black;
  border: 2px solid $black;
  color: $white;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  border-radius: 40px;
  transition: 0.5s;
  &:hover {
    background: transparent;
    transition: 0.5s;
    color: $black;
  }
}

.search-block__right.custom-scroll,
.search-block__left.custom-scroll {
  padding-right: 20px;
}

.shop-item {
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(29, 39, 75, 0.15);
  transition: 0.5s;
  border: 1px solid transparent;
  &__inner {
    display: flex;
  }
  &__right {
    padding: 20px 20px 5px 30px;
    flex: 1;
  }
  &__content-topLeft {
    max-width: unset;
    flex: 0 0 80%;
  }
  &__content-topRight {
    max-width: unset;
    flex: 0 0 20%;
  }
  &__left {
    max-width: 314px;
    width: 100%;
    margin: -1px;
    position: relative;
    img {
      height: 100%;
      object-fit: cover;
      border-radius: 8px 0 0 8px;
    }
  }
  &__offer {
    font-weight: 500;
    font-size: 12px;
    color: $blue;
    background: rgba(97, 130, 247, 0.1);
    border-radius: 2px;
    padding: 0 5px;
    margin-left: 5px;
  }

  &__info {
    position: absolute;
    width: 100%;
    &-inner {
      position: relative;
    }
    &-actions {
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
  .shop-item__checked {
    position: absolute;
    left: 5px;
    top: 10px;
    display: inline-block;
    width: 27px;
    height: 40px;
    background: url(~@/assets/img/shop/shop-checked.svg) no-repeat;
    border: 0;
    padding: 0;
    cursor: pointer;
  }
  &__labels {
    position: absolute;
    left: 15px;
    top: -3px;
    .shop-item__checked,
    .best-price-label {
      position: initial;
    }
    div + div {
      margin-left: 10px;
    }
  }

  &__content-top {
    margin-bottom: 10px;
  }

  &__logo {
    width: 30px;
    flex: 0 0 30px;
    margin-right: 10px;
  }
  &__header {
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  &__name {
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    color: $black;
    font-weight: 600;
    word-break: break-word;
  }
  &__address,
  &__onMap {
    font-weight: 300;
    display: inline-block;
    text-decoration: underline;
    font-size: 12px;
    line-height: 16px;
  }
  &__onMap {
    padding: 0;
    background: transparent;
    padding: 0;
    border: 0;
    margin-left: 10px;
    font-size: 12px;
    opacity: 0.5;
  }
  &__rating {
    /*display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    order: 1;*/
    &-ball {
      text-align: right;
      font-size: 21px;
      line-height: 28px;
      color: $orange;
      letter-spacing: -0.025em;
      font-weight: 600;
    }
    &-title {
      font-size: 14px;
      font-weight: 500;
      color: $black;
      text-align: right;
    }
    &-reviews {
      font-size: 12px;
      font-weight: 300;
      text-decoration: underline;
      text-align: right;
    }
  }

  &__location {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &-content {
      margin-left: 10px;
      .shop-item__address {
        text-decoration: none;
      }
    }
  }
  &__metro {
    display: flex;
    align-items: center;
    line-height: 13px;
    font-size: 12px;
    font-weight: 300;
  }
  .metro-icon {
    margin-right: 7px;
  }

  &__services {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
    max-width: 340px;
  }

  &__price {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 25px;
    text-align: right;
  }
  &__content-bottom {
    order: 2;
  }

  &__content-allPricebtn {
    display: inline-block;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 13px;
    color: $black;
    filter: drop-shadow(0px 0px 5px rgba(29, 39, 75, 0.15));
    border-radius: 39px;
  }
}

.shop-note,
.shop-favorite {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  border: 0;
}
.shop-note {
  background: $white url(~@/assets/img/icon/alarm.svg) no-repeat;
  background-size: 18px;
  background-position: 6px center;
  margin-right: 5px;
  transition: 0.5s;
  &.active {
    background: $white url(~@/assets/img/icon/alarm-color.svg) no-repeat;
    transition: 0.5s;
    background-size: 18px;
    background-position: 6px center;
  }
}
.shop-favorite {
  background: $white url(~@/assets/img/icon/favorite.svg) no-repeat;
  background-size: 16px;
  background-position: center 9px;
  transition: 0.5s;
  &.active {
    background: $white url(~@/assets/img/icon/favorite-color.svg) no-repeat;
    transition: 0.5s;
    background-size: 16px;
    background-position: center 9px;
  }
}

.filter-block {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 3px;
  background: url(~@/assets/img/icon/filter-icon.svg) no-repeat;
}
.sort-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 3px;
  background: url(~@/assets/img/icon/sort-icon.svg) no-repeat;
}
.map-icon {
  display: inline-block;
  width: 11px;
  height: 15px;
  margin-left: 3px;
  background: url(~@/assets/img/icon/location-black.svg) no-repeat;
  background-size: contain;
}

.search-mobile__nav {
  height: 90px;
  &-wrapper {
    background: rgba($black, 0.05);
    border-radius: 0px 0px 6px 6px;
    transition: 0.5s;
    &.fixed {
      position: fixed;
      left: 0;
      top: 115px;
      right: 0;
      z-index: 9;
      background: rgba(204, 204, 204, 0.9);
      .search-mobile__nav-inner {
        padding: 10px 15px;
      }
    }
    &.top_up {
      top: 0;
      transform: translateY(-100%);
    }
  }
  &-inner {
    display: flex;
    margin: 0 -1px;
    padding: 20px 15px;
    transition: 0.2s;
  }
  &-block {
    padding: 0 2px;
    max-width: 33.3333333%;
    flex: 0 0 33.333333%;
  }
  &-blockInner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    border-radius: 50px;
    padding: 15px;
  }
}

.sort-block__close {
  display: none;
}

.shop-item__service {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
  &-item {
    padding: 10px 0;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(29, 39, 74, 0.1);
    }
  }
  &-itemInfo {
    color: $grey3;
    word-break: break-word;
  }
  &-itemPrice {
    font-weight: 500;
    font-size: 14px;
    &.old {
      font-size: 12px;
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
  &-itemBtn {
    background-color: rgba($black, 0.05);
    box-shadow: 0px 0px 5px rgba(29, 39, 75, 0.15);
    border-radius: 39px;
    color: $black;
    font-weight: 600;
    font-size: 13px;
    padding: 5px 33px;
    &:hover {
      background-color: rgba($black, 0.1);
    }
  }
  &-inner {
    text-align: center;
    padding: 0;
    img {
      height: 22px;
      width: 22px;
    }
  }
}
.shop-item__service-itemLeft {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 0 10px;
  grid-template-rows: repeat(3, 1fr);
}
.shop-item__service-gender {
  font-size: 0;
  line-height: 0;
  width: 20px;
  height: 30px;
  grid-row: span 3;
  margin-top: 2px;
  img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 575px) {
    width: 16px;
    height: 24px;
  }
}

@media (max-width: 1399px) {
  .search-block__right {
    padding-left: 30px;
  }
}

@media (max-width: 1199px) {
  .beauty-premium__block {
    font-size: 12px;
    padding: 10px 8px;
  }
  .shop-item__rating-title,
  .shop-item__rating-reviews {
    font-size: 12px;
  }
  .shop-item__content-bottom {
    text-align: right;
  }
  .shop-item__onMap {
    margin: 0;
  }

  .shop-item__content-topLeft {
    max-width: 250px;
    flex: 0 0 250px;
  }
}

@media (max-width: 991px) {
  .sort-block__close {
    display: block;
  }
  .search-block__right {
    padding-left: 0;
  }
  .sort-block {
    background: $white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 43px;
    left: 0;
    overflow-y: scroll;
    bottom: 0;
    margin: 0;
    z-index: 9;
    transform: translateX(-100%);
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 999;
    display: none;
  }
  .sort-block__content {
    width: 100%;
    height: 100%;
  }
  .sort-block.active {
    transform: translateX(0);
    transition: 0.5s;
  }
  .sort-block {
    margin-bottom: 0;
    &__items {
      flex-direction: column;
    }
    &__item {
      padding: 5px 0;
      margin: 5px 0;
      font-size: 15px;
    }
  }
  .search-filter__content {
    padding: 0 15px;
  }
  .search-filter__title {
    padding: 20px 15px;
    margin: 0;
  }
  .sort-block__inner {
    position: relative;
    height: 100%;
  }
  .sort-block__items {
    padding: 20px 30px;
  }
  .sort-block__close {
    background: rgba(29,39,74,.05);
    padding: 15px;
    border-radius: 0 0 6px 6px;
    &-text {
      font-weight: 600;
      font-size: 18px;
      color: $black;
      opacity: .3;
      &:before {
        content: '';
        display: inline-block;
        width: 35px;
        height: 20px;
        margin-right: 15px;
        vertical-align: middle;
        background: url(~@/assets/img/icon/long-arrow.svg) no-repeat;
      }
    }
  }
  /*.sort-block__close {
    position: absolute;
    right: 15px;
    padding: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(~@/assets/img/icon/remove-category.svg) no-repeat;
    background-size: cover;
  }*/
  .search-title-result,
  .search-block__right-top.right {
    display: none;
  }
  .search-mobile__nav {
    margin: 0 -12px;
    display: block;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
  }
  .search-block__right-top.parent {
    margin: 0 -12px;
    padding: 20px 0;
    box-shadow: 0px 2px 10px rgba(17, 6, 6, 0.2);
    overflow: hidden;
    .search-block__right-top.left {
      width: 100%;
      margin: 0;
      padding: 0 12px;
    }
  }
  .search-mobile__nav-blockInner {
    width: 100%;
    border: 0;
  }
  .beauty-premium {
    &__inner {
      width: 100%;
      flex-wrap: wrap;
      border-radius: 22px;
      padding: 0;
      justify-content: space-between;
      padding: 0 4px;
    }
    &__title {
      border-radius: 22px 22px 0 0;
      width: calc(100% + 8px);
      background: $blue;
      padding: 10px;
      margin: 0 -4px;
      justify-content: center;
    }
    &__block {
      max-width: 33.333333%;
      flex: 0 0 33.333333%;
      margin: 4px 0;
      text-align: center;
    }
  }
  .sort-block__title {
    display: none;
  }
  .shop-items {
    margin-top: 15px;
  }
  .shop-item__content-topLeft {
    max-width: 270px;
    flex: 0 0 270px;
  }
}

@media (max-width: 767px) {
  .shop-item {
    &__inner {
      display: block;
    }
    &__left {
      max-width: 100%;
      flex: 0 0 100%;
      height: 200px;
      border-radius: 10px 10px 0 0;
      margin: 0;
      img {
        height: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
    }
    &__right {
      padding: 15px;
    }
    /*&__logo {
      display: none;
    }*/
    &__content-bottom {
      flex-direction: column;
    }
    &__content-bottomRight {
      margin-top: 15px;
    }
    &__content-allPricebtn {
      width: 100%;
      text-align: center;
      padding: 8px;
    }
    &__rating-title {
      font-size: 14px;
    }
    &__content-topLeft {
      max-width: initial;
      flex: auto;
    }
    &__service-itemBtn {
      padding: 5px;
      background: none;
      box-shadow: none;
    }
  }
}

@media (max-width: 575px) {
  .beauty-premium__block {
    font-size: 12px;
    max-width: none;
    flex: 0 0 auto;
  }

  .shop-item {
    &__left {
      height: 140px;
      margin: 0 -1px 0 -1px;
      max-width: inherit;
    }
    &__content {
      display: block;
      &-left {
        display: flex;
        flex-direction: column;
      }
    }
    &__services {
      order: 4;
    }
    &__name {
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 0;
    }
    .shop-note,
    .shop-favorite {
      box-shadow: 0px 4px 4px rgba(61, 47, 47, 0.2);
    }
    .shop-note {
      margin-right: 15px;
    }
    &__location {
      align-items: flex-start;
      svg {
        margin-top: 3px;
      }
    }
    &__location-content {
      display: flex;
      flex-flow: column;
      .shop-item__onMap,
      .shop-item__address {
        font-size: 13px;
        line-height: 18px;
        margin: 0;
        text-align: left;
      }
    }
    /*&__services {
      padding: 0;
      border: 0;
      margin-bottom: 25px;
    }*/
    /*&__service-inner {
      fill: $blue;
      background: rgba(97, 130, 247, 0.1);
      width: 45px;
      height: 45px;
      padding: 7px;
    }*/
    /*&__content-bottom {
      display: flex;
      flex-flow: row-reverse;
      text-align: left;
      justify-content: space-between;
      align-items: center;
    }*/
    &___content-allPricebtn {
      font-size: 14px;
      padding: 10px 20px;
    }
    &__price {
      margin: 0;
    }
    &__header {
      flex-wrap: wrap;
    }
  }
}
