<template>
  <div class="search-block__right">
    <div
      class="search-block__right-top parent d-flex justify-content-between"
    >
      <div class="search-block__right-top left">
        <div class="search-title-result">
          <h2>
            <i class="fas fa-map-marker-alt"></i>
            <span class="search-title-result__city">{{ userCity }}:</span>
            {{ $t(findedEnding) }}

            <span v-if="!isSalonsLoading" class="search-title-result__number">
              {{ salonsCount }} {{ $t(countEnding) }}
            </span>

            <span v-else class="search-title-result__number">
              <skeleton-loader-vue
                style="display: inline-block"
                type="rect"
                :width="120"
                :height="20"
                animation="fade"
              />
            </span>
          </h2>
        </div>

        <div
          v-if="false"
          class="beauty-premium"
          role="tooltip"
          data-microtip-position="bottom-center"
          data-microtip-size="large"
          aria-label="В разработке"
        >
          <div class="beauty-premium__inner d-inline-flex">
            <div class="beauty-premium__title d-flex">
              BeautyPremium
              <sub>
                <img
                  src="@/assets/img/icon/small-icon.svg"
                  width="11px"
                  height="11px"
                  alt=""
                />
              </sub>
            </div>
            <button type="button" class="beauty-premium__block active">
              Эпиляция
            </button>
            <button type="button" class="beauty-premium__block">
              Омоложение
            </button>
            <button type="button" class="beauty-premium__block">
              Коррекция фигуры
            </button>
          </div>
        </div>
        <div
          class="sort-block"
          :class="{ active: sortOpened }"
          role="tooltip"
          data-microtip-position="bottom-center"
          data-microtip-size="large"
          aria-label="В разработке"
        >
          <div class="sort-block__inner">
            <p class="sort-block__title">Сортировка:</p>
            <div class="sort-block__content">
              <div class="sort-block__close">
                <div class="sort-block__close-text">Назад</div>
              </div>
              <div class="sort-block__items">
                <button
                  v-for="option in sortOptions"
                  :key="option.id"
                  class="sort-block__item"
                  :class="{ active: sort === option.id }"
                  type="button"
                  @click="setSort(option)"
                >
                  {{ option.title }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <FilterTags />
      </div>

      <div class="search-block__right-top right">
        <div class="search-block__map">
          <img src="@/assets/img/map.png" alt="" />

          <button
            type="button"
            @click="$bvModal.show('map-modal')"
            class="search-block__map-btn"
          >
            Показать на карте
          </button>
        </div>
      </div>
    </div>

    <div class="search-mobile__nav">
      <div ref="mobileNav" class="search-mobile__nav-wrapper">
        <div class="search-mobile__nav-inner">
          <div class="search-mobile__nav-block">
            <div
              class="search-mobile__nav-blockInner search-mobile__nav-filter"
              @click="openFilter"
            >
              Фильтры
              <i class="filter-block"></i>
            </div>
          </div>

          <div class="search-mobile__nav-block">
            <div class="search-mobile__nav-blockInner search-mobile__nav-sort">
              Сортировать
              <i class="sort-icon"></i>
            </div>
          </div>

          <div class="search-mobile__nav-block">
            <button
              type="button"
              class="search-mobile__nav-blockInner"
              @click="displayMap"
            >
              Карта
              <i class="map-icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="shop-item-wrp">
      <template v-if="!isSalonsLoading">
        <div v-if="salons.length" class="shop-items">
          <ShopItem
            v-for="salon in salons"
            :key="salon.id"
            :salon="salon"
            class="shop-item"
          />
        </div>

        <p v-else class="shop-items__not-found">Ничего не найдено</p>
      </template>

      <ShopItemSkeleton
        v-if="isSalonsLoading || isNextSalonsLoading"
        :count="3"
      />
    </div>

    <div class="shop-items__bottom">
      <button
        v-if="
          !isSalonsLoading &&
          !isNextSalonsLoading &&
          salons.length < salonsCount
        "
        type="button"
        class="shop-items__showMore"
        @click="getNextSalons($route.query)"
      >
        Показать еще
      </button>
    </div>
  </div>
</template>

<script>
import FilterTags from "./FilterTags";
import ShopItem from "./ShopItem";
import ShopItemSkeleton from "../Skeleton/ShopItemSkeleton";

import { createNamespacedHelpers } from "vuex";
import { accountModule } from "@/store";

const searchStore = createNamespacedHelpers("Search");

export default {
  name: "SearchResult",
  components: {
    FilterTags,
    ShopItem,
    ShopItemSkeleton,
  },

  data: () => ({
    sort: "",
    sortOpened: false,
    filterOpened: false,
  }),

  computed: {
    ...searchStore.mapGetters([
      "salons",
      "isSalonsLoading",
      "isNextSalonsLoading",
      "salonsCount",
    ]),

    findedEnding() {
      if (this.salonsCount % 10 === 1 && this.salonsCount % 100 !== 11)
        return "search.finded_1";
      return "search.finded_2";
    },

    countEnding() {
      if (this.salonsCount % 10 === 1 && this.salonsCount % 100 !== 11)
        return "search.variants_1";
      if (
        this.salonsCount % 10 > 1 &&
        this.salonsCount % 10 < 5 &&
        (this.salonsCount % 100 < 12 || this.salonsCount % 100 > 14)
      )
        return "search.variants_2";
      return "search.variants_3";
    },

    sortOptions() {
      return [
        { id: "near", title: "Лучшее рядом" },
        { id: "combo", title: "Лучшие комбо" },
        { id: "discounts", title: "Небольшие скидки" },
        { id: "hours", title: "Счастливые часы" },
      ];
    },

    userCity() {
      return accountModule.city;
    },
  },

  created() {
    this.sort = this.$route.query.sort || "";
  },

  methods: {
    ...searchStore.mapActions(["getNextSalons"]),

    setSort(sort) {
      this.sort = sort.id;
      this.$router.replace({
        query: {
          ...this.$route.query,
          sort: this.sort,
        },
      });
    },

    fixSearchMobileNav() {
      const scrolled = window.scrollY;
      const nav = this.$refs.mobileNav;
      if (!nav) return;

      if (scrolled > 70 && scrolled > this.scrollPrev) {
        nav.classList.add("top_up");
      } else {
        nav.classList.remove("top_up");
      }
      this.scrollPrev = scrolled;

      if (scrolled > 5) {
        nav.classList.add("fixed");
      } else {
        nav.classList.remove("fixed");
      }
    },

    openCloseSortBlock() {
      this.sortOpened = !this.sortOpened;
      if (this.sortOpened) {
        document.querySelector("body").style.top = "-" + window.scrollY + "px";
        document.querySelector("body").style.position = "fixed";
        document.querySelector(".header").style.position = "top";
        document.querySelector(".header").style.top = "0";
      } else {
        document.querySelector("body").style.top = "";
        document.querySelector("body").style.position = "";
        document.querySelector(".header").style.position = "";
        document.querySelector(".header").style.top = "";
      }
    },

    openFilter() {
      this.$emit("openFilter");
    },

    displayMap() {
      this.$bvModal.show("map-modal");
    },
  },
};
</script>

<style lang="scss">
@import "search-result";

.shop-items {
  &__not-found {
    text-align: center;
    width: 100%;
    margin: 120px auto;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
  }
}

.beauty-premium__inner,
.sort-block__inner {
  pointer-events: none;
}
</style>
