<template>
  <div class="shop-item">
    <div class="shop-item__inner">
      <div class="shop-item__left">
        <div class="shop-item__info">
          <div class="shop-item__info-inner">
            <div class="shop-item__labels">
              <div
                class="best-price-label"
                role="tooltip"
                :data-microtip-position="isShortMobile ? 'top-right' : 'top'"
                data-microtip-size="medium"
                aria-label="Решай сам"
                v-if="false"
              ></div>

              <div
                class="best-price-label promo"
                role="tooltip"
                :data-microtip-position="isShortMobile ? 'top-right' : 'top'"
                data-microtip-size="medium"
                aria-label="Акция"
                v-if="false"
              ></div>

              <div
                v-if="salon.isConfirmed"
                class="shop-item__checked"
                role="tooltip"
                :data-microtip-position="isShortMobile ? 'top-right' : 'top'"
                data-microtip-size="medium"
                aria-label="Провереный салон"
              ></div>
            </div>

            <div class="shop-item__info-actions">
              <button
                type="button"
                class="shop-favorite"
                :class="{ active: isFavorite }"
                @click="toggleFavorite"
              ></button>
            </div>
          </div>
        </div>
        <img
          :src="salon.cover"
          alt=""
          :style="{ objectFit: salon.cover ? 'cover' : 'contain' }"
        />
      </div>

      <div class="shop-item__right">
        <div class="shop-item__content">
          <div class="shop-item__content-top d-flex justify-content-between">
            <div class="shop-item__content-topLeft">
              <div class="shop-item__header d-flex align-items-center">
                <span class="shop-item__logo">
                  <img :src="salon.logo" alt="" />
                </span>

                <router-link :to="salonLink" class="shop-item__name">
                  {{ salon.name }}
                </router-link>

                <span v-if="salon.hasOffer" class="shop-item__offer">
                  Есть предложение
                </span>
              </div>

              <div class="shop-item__contact-address">
                <div class="shop-item__location">
                  <i class="fas fa-map-marker-alt"></i>
                  <div class="shop-item__location-content">
                    <span class="shop-item__address">
                      {{ salon.city }}, {{ salon.address }}
                    </span>

                    <button
                      type="button"
                      class="shop-item__onMap"
                      @click="displayMap"
                    >
                      Показать на карте
                    </button>
                  </div>
                </div>

                <div v-if="salon.metro" class="shop-item__metro">
                  <i class="metro-icon"></i>
                  {{ salon.metro }}
                </div>
              </div>
            </div>

            <div class="shop-item__content-topRight">
              <div class="shop-item__rating">
                <div class="shop-item__rating-ball">
                  {{ salon.rating }}
                </div>

                <span class="shop-item__rating-title d-block">
                  {{ salon.ratingTitle }}
                </span>

                <router-link
                  :to="`${salonLink}#reviews`"
                  class="shop-item__rating-reviews d-block"
                >
                  {{ $tc("review.count", salon.reviewsCount) }}
                </router-link>
              </div>
            </div>
          </div>

          <div class="shop-item__content-bottom d-flex justify-content-between">
            <div class="shop-item__content-bottomLeft">
              <div class="shop-item__services">
                <span
                  v-for="category in salon.categories"
                  :key="category.id"
                  class="shop-item__service"
                  role="tooltip"
                  :data-microtip-position="isShortMobile ? 'top-right' : 'top'"
                  data-microtip-size="medium"
                  :aria-label="category.title"
                >
                  <i class="shop-item__service-inner">
                    <img :src="category.image" alt="" />
                  </i>
                </span>
              </div>
            </div>

            <div class="shop-item__content-bottomRight">
              <router-link
                :to="`${salonLink}#services`"
                class="shop-item__content-allPricebtn btn-border"
              >
                Смотреть все услуги
              </router-link>
            </div>
          </div>
        </div>

        <div class="shop-item__service-items">
          <div
            v-for="service in filteredServices"
            :key="service.id"
            class="shop-item__service-item d-flex justify-content-between align-items-center"
          >
            <div class="shop-item__service-itemLeft">
              <div
                v-if="service.gender"
                class="shop-item__service-gender"
                role="tooltip"
                :data-microtip-position="isShortMobile ? 'top-right' : 'top'"
                data-microtip-size="medium"
                :aria-label="
                  service.gender === 'Ж'
                    ? 'Подходит женщинам'
                    : service.gender === 'М'
                    ? 'Подходит мужчинам'
                    : 'Подходит всем'
                "
              >
                <img
                  v-if="service.gender === 'Ж'"
                  src="@/assets/img/icon/female.svg"
                />
                <img
                  v-else-if="service.gender === 'М'"
                  src="@/assets/img/icon/male.svg"
                />
                <img v-else src="@/assets/img/icon/male-female.svg" />
              </div>
              <span class="shop-item__service-itemInfo d-block">
                {{ service.specialistService.serviceTitle }}
                ({{ service.duration }} мин)
              </span>

              <template v-if="service.priceWithDiscount">
                <span class="shop-item__service-itemPrice d-block old">
                  от {{ service.price }} Р.
                </span>
                <span class="shop-item__service-itemPrice d-block new">
                  от {{ service.priceWithDiscount }} Р.
                </span>
              </template>
              <span v-else class="shop-item__service-itemPrice d-block">
                от {{ service.price }} Р.
              </span>
            </div>

            <div class="shop-item__service-itemRight">
              <button
                type="button"
                class="shop-item__service-itemBtn btn"
                @click="setOrder(service)"
              >
                Забронировать
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { favoritesModule, orderModule } from "@/store";
import { Salon } from "@/models/Salon";
import { composeSalonLink } from "@/helpers/links";

export default {
  name: "ShopItem",

  props: {
    salon: { type: Salon, required: true },
  },

  data: () => ({
    isShortMobile: window.innerWidth < 576,
    isFavorite: false,
  }),

  computed: {
    salonLink() {
      return composeSalonLink(this.salon);
    },

    filteredServices() {
      const categoryId = (this.$route.query.categoryId || "")
        .split(",")
        .filter((item) => item)
        .map((item) => +item);

      const service = this.$route.query.service;

      return this.salon.salonServices
        .filter((item) => {
          const serviceTitle = String(
            item.specialistService.serviceTitle
          ).toLowerCase();
          const byCategory =
            !categoryId.length ||
            categoryId.includes(item.specialistService.categoryId);
          const byService =
            !service || serviceTitle.includes(service.toLowerCase());

          return byCategory && byService;
        })
        .slice(0, 3);
    },
  },

  created() {
    this.isFavorite = favoritesModule.favoriteSalons.includes(this.salon.id);
  },

  mounted() {
    window.addEventListener("resize", () => {
      this.isShortMobile = window.innerWidth < 576;
    });
  },

  methods: {
    toggleFavorite() {
      this.isFavorite = !this.isFavorite;
      favoritesModule.setFavoriteSalon({
        salonId: this.salon.id,
        isFavorite: this.isFavorite,
      });
    },

    setOrder(service) {
      orderModule.setOrder({
        salon: this.salon,
        serviceId: service.specialistService.serviceId,
        serviceTitle: service.specialistService.serviceTitle,
        categoryId: service.specialistService.categoryId,
      });
      if (!orderModule.order.serviceId) return;

      this.$bvModal.show("order-modal");
    },

    displayMap() {
      this.$router.replace({
        query: { ...this.$router.query, showMapSalon: this.salon.id },
      });
      this.$bvModal.show("map-modal");
    },
  },
};
</script>

<style lang="scss" scoped>
.shop-item {
  text-decoration: none;

  &__rating-reviews {
    color: inherit;
  }
}

.best-price-label {
  cursor: pointer;
}
</style>
