<template>
  <def-layout>
    <div class="site-content main-content search-page">
      <div class="search-blocks">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-3" @scroll="handleScrollFilter">
              <div ref="sidebar" class="search-block__left">
                <SearchFilter
                  :class="{ active: isFilterOpened }"
                  :use-short-date="false"
                  @close="closeFilter"
                />
              </div>
            </div>

            <div class="col-xl-9 col-lg-9 col-md-12">
              <SearchResult @openFilter="openFilter" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </def-layout>
</template>

<script>
import DefLayout from "@/layouts/Default/Default";
import SearchFilter from "@/components/Sidebars/SearchFilter/SearchFilter";
import SearchResult from "@/components/SearchResult/SearchResult";

import { createNamespacedHelpers } from "vuex";
import { debounce } from "lodash";
import { accountModule, favoritesModule } from "@/store";

const searchStore = createNamespacedHelpers("Search");

export default {
  name: "Search",
  components: {
    SearchFilter,
    SearchResult,
    DefLayout,
  },

  data: () => ({
    isFilterOpened: false,
    loadSalonsDebounced: null,
  }),

  computed: {
    city() {
      return accountModule.city;
    },

    latitude() {
      return accountModule.latitude;
    },
    longitude() {
      return accountModule.longitude;
    },
  },

  watch: {
    "$route.query": {
      deep: true,
      immediate: true,
      handler() {
        if (!this.loadSalonsDebounced) {
          this.loadSalonsDebounced = debounce(this.loadSalons, 1000);
        }

        this.setSalonsLoading(true);
        this.loadSalonsDebounced();
      },
    },

    city() {
      this.loadSalons();
    },
  },

  async created() {
    window.addEventListener("scroll", this.handleScrollFilter);

    favoritesModule.loadFavoriteSalons();
    this.getSalonTypes();
    this.getBodyParts();
  },

  async mounted() {
    const p_b = this.$refs.sidebar;
    const w_h = window.innerHeight;
    if (window.innerWidth > 991) {
      if (p_b.clientHeight > w_h) {
        p_b.classList.add("custom-scroll");
        p_b.style.height = w_h + "px";
      }
    }

    await this.$nextTick();
    if (this.$route.query.showMap === "true") {
      this.$bvModal.show("map-modal");
    }
  },

  destroyed() {
    window.removeEventListener("scroll", this.handleScrollFilter);
  },

  methods: {
    ...searchStore.mapActions([
      "getSalons",
      "getSalonTypes",
      "getBodyParts",
      "setSalonsLoading",
    ]),

    async loadSalons() {
      this.setSalonsLoading(true);
      await this.getSalons({
        ...this.$route.query,
        latitude: this.latitude,
        longitude: this.longitude,
        radius: 60,
      });
      this.setSalonsLoading(false);
    },

    openFilter() {
      this.isFilterOpened = true;
      document.querySelector("body").style.top = "-" + window.scrollY + "px";
      document.querySelector("body").style.position = "fixed";
      document.querySelector(".header").style.position = "top";
      document.querySelector(".header").style.top = "0";
    },

    closeFilter() {
      this.isFilterOpened = false;
      document.querySelector("body").style.top = "";
      document.querySelector("body").style.position = "";
      document.querySelector(".header").style.position = "";
      document.querySelector(".header").style.top = "";
    },

    handleScrollFilter() {
      const block = this.$refs.sidebar;
      const scrolled = window.scrollY;

      if (
        scrolled > 150 &&
        scrolled > this.scrollPrev &&
        !this.isFilterOpened
      ) {
        block.classList.add("sticked");
      } else if (scrolled < 150) {
        block.classList.remove("sticked");
      }
      this.scrollPrev = scrolled;
    },
  },
};
</script>

<style lang="scss">
@import "search-page";

.search-blocks .row {
  position: relative;
  display: flex;
  align-items: stretch;
}

.search-blocks .row .sticked {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
</style>
