<template>
  <div>
    <div
      v-show="isLoading"
      :class="[
        'specialist-block__gellary',
        'specialist-block__gellary--load',
        `specialist-block__gellary--${slidesPerView}`,
        type,
      ]"
    >
      <div v-for="i in slidesPerView" :key="i" class="swiper-slide">
        <PhotoItemSkeleton :height="120" />
      </div>
    </div>
    <div
      v-show="!isLoading"
      v-swiper="swiperOption"
      :class="['specialist-block__gellary swiper', type]"
    >
      <div class="swiper-wrapper">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
import { directive } from "vue-awesome-swiper";
import PhotoItemSkeleton from "@/components/Skeleton/PhotoItemSkeleton";

export default {
  name: "SpecialistOneSlider",
  directives: {
    swiper: directive,
  },
  components: {
    PhotoItemSkeleton,
  },
  props: {
    type: String,
    isLoading: Boolean,
  },
  data() {
    return {
      slidesPerView: 4,
      swiperOption: {
        slidesPerView: 4,
        spaceBetween: 15,
        loop: false,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        breakpoints: {
          0: {
            slidesPerView: 2,
          },
          575: {
            slidesPerView: 3,
          },
          767: {
            slidesPerView: 4,
          },
          991: {
            slidesPerView: 3,
          },
          1200: {
            slidesPerView: 4,
          },
        },
      },
    };
  },
  created() {
    this.initSlidesPerView();
  },
  methods: {
    initSlidesPerView() {
      const slidesPerView = this.type === "work-place" ? 3 : 4;
      this.swiperOption.slidesPerView = slidesPerView;
      this.swiperOption.breakpoints[1200].slidesPerView = slidesPerView;
    },
  },
};
</script>

<style lang="scss" scoped>
.specialist-block__gellary {
  &--load {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
  }
  &--3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
</style>
