.notes__block {
  padding: 20px 5px 20px 30px;
  background: $white;
  border-radius: 103px;
  @media (max-width: 767px) {
    padding: 20px;
  }
  &.with-btn {
    padding: 10px 5px 10px 30px;
    @media (max-width: 767px) {
      padding: 20px;
      border-radius: 18px;
    }
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &.new {
    .notes__block-status {
      background: $green;
    }
  }
  &.read {
    background: rgba(29, 39, 74, 0.05);
    .notes__block-status {
      background: $black;
    }
  }
  &-inner {
    @media (max-width: 767px) {
      flex-direction: column;
      min-height: auto;
    }
  }
  &-left {
    flex: 1;
    margin-right: 20px;
    align-items: center;
    @media(max-width: 767px) {
      width: 100%;
      margin: 0;
      align-items: flex-start;
    }
  }
  &-right {
    @media (max-width: 767px) {
      margin-top: 30px;
      width: 100%;
    }
  }
  &-status {
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    margin-right: 20px;
    @media(max-width: 767px) {
      align-self: center;
      margin-right: 12px;
    }
  }
  &-text {
    font-weight: 500;
    font-size: 16px;
    @media(max-width: 767px) {
      font-size: 14px;
    }
  }
  &-data {
    margin-left: 15px;
    opacity: 0.5;
    white-space: nowrap;
    @media(max-width: 767px) {
      font-size: 12px;
    }
  }
  &-btn {
    font-size: 14px;
    font-weight: 500;
    border-radius: 103px;
    padding: 10px 25px;
  }
}
.tabs-menu {
  @media (max-width: 767px) {
    margin-top: 20px;
  }
  .nav-tabs {
    border: 0;
    margin: 0 -3px;
    @media (max-width: 575px) {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      overflow-x: scroll;
    }
    .nav-item {

      display: inline-block;
      padding: 0 3px;
    }
    .nav-link,
    .nav-link.active {
      border: 0;
    }
    .nav-link {
      background: $blue;
      color: $white;
      font-weight: 600;
      border-radius: 7px;
      font-size: 15px;
      &.active {
        background: $black;
      }
      &:hover {
        background: rgba(97, 130, 247, 0.5);
      }
    }
  }
}

@media (max-width: 767px) {
  .profile-page__header-inner {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

@media (max-width: 575px) {
  .notes-header .profile-page__header-inner  {
    display: block !important;
  }
}
