<template>
  <svg style="display: none">
    <symbol id="search" width="23" height="23" viewBox="0 0 23 23">
      <g>
        <path
          d="M22.0549 20.6588L22.0554 20.6593C22.1474 20.7506 22.2205 20.8592 22.2703 20.9789C22.3202 21.0986 22.3459 21.2269 22.3459 21.3566C22.3459 21.4862 22.3202 21.6146 22.2703 21.7343C22.2205 21.854 22.1474 21.9626 22.0554 22.0539L22.0539 22.0554C21.9626 22.1474 21.854 22.2205 21.7343 22.2703C21.6146 22.3202 21.4862 22.3459 21.3566 22.3459C21.2269 22.3459 21.0986 22.3202 20.9789 22.2703C20.8592 22.2205 20.7506 22.1474 20.6593 22.0554L20.6588 22.0549L16.4818 17.8656L16.3251 17.7084L16.1504 17.8455C14.4726 19.1625 12.4006 19.8771 10.2676 19.8744H10.2673C8.36719 19.8744 6.50975 19.311 4.92986 18.2554C3.34997 17.1997 2.1186 15.6993 1.39146 13.9438C0.664319 12.1883 0.474066 10.2566 0.844759 8.39304C1.21545 6.52944 2.13044 4.81761 3.47403 3.47403C4.81761 2.13044 6.52944 1.21545 8.39304 0.844759C10.2566 0.474066 12.1883 0.664319 13.9438 1.39146C15.6993 2.1186 17.1997 3.34997 18.2554 4.92986C19.311 6.50975 19.8744 8.36719 19.8744 10.2673V10.2676C19.8771 12.4006 19.1625 14.4726 17.8455 16.1504L17.7084 16.3251L17.8656 16.4818L22.0549 20.6588ZM3.9125 6.02116C3.07269 7.27802 2.62445 8.75569 2.62445 10.2673C2.62445 12.2943 3.42967 14.2383 4.86299 15.6716C6.2963 17.1049 8.24029 17.9102 10.2673 17.9102C11.7789 17.9102 13.2566 17.4619 14.5134 16.6221C15.7703 15.7823 16.7499 14.5886 17.3284 13.1921C17.9069 11.7955 18.0582 10.2588 17.7633 8.77626C17.4684 7.29369 16.7405 5.93186 15.6716 4.86299C14.6027 3.79411 13.2409 3.0662 11.7584 2.7713C10.2758 2.4764 8.73906 2.62775 7.34251 3.20622C5.94596 3.78469 4.75231 4.7643 3.9125 6.02116Z"
          fill="#1B1918"
          stroke="white"
          stroke-width="0.5"
        />
      </g>
    </symbol>
  </svg>
</template>

<script>
export default {
  name: "AuthHeaderSprite",
};
</script>
