<template>
  <def-layout>
    <div class="contacts-page site-content main-content">
      <div class="container">
        <div class="site-content__header">
          <div class="site-content__title">Список контактов</div>
        </div>

        <div class="contacts-page__content">
          <div class="contacts-blocks">
            <div class="contacts-block__line">
              <div class="contacts-block__left">
                <span>Полное наименование компании: </span>
              </div>
              <div class="contacts-block__right">
                ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "СФЕРА"
              </div>
            </div>
            <div class="contacts-block__line">
              <div class="contacts-block__left">
                <span>Сокращенное название компании: </span>
              </div>
              <div class="contacts-block__right">ООО "СФЕРА"</div>
            </div>
            <div class="contacts-block__line">
              <div class="contacts-block__left">
                <span> Юридический адрес: </span>
              </div>
              <div class="contacts-block__right">
                127106 г. Москва, ул. Ботаническая, д. 41, к. 7, пом. 7182
              </div>
            </div>
            <div class="contacts-block__line">
              <div class="contacts-block__left">
                <span> Фактический адрес: </span>
              </div>
              <div class="contacts-block__right">
                127106 г. Москва, ул. Ботаническая, д. 41, к. 7, пом. 7182
              </div>
            </div>
            <div class="contacts-block__line">
              <div class="contacts-block__left">
                <span>Генеральный директор</span>
              </div>
              <div class="contacts-block__right">
                Сотников Евгений Валерьевич
              </div>
            </div>
            <div class="contacts-block__line">
              <div class="contacts-block__left"><span>ИНН</span></div>
              <div class="contacts-block__right">9715389663</div>
            </div>
            <div class="contacts-block__line">
              <div class="contacts-block__left"><span>КПП </span></div>
              <div class="contacts-block__right">771501001</div>
            </div>
            <div class="contacts-block__line">
              <div class="contacts-block__left"><span>Основание: </span></div>
              <div class="contacts-block__right">Устав</div>
            </div>
            <div class="contacts-block__line">
              <div class="contacts-block__left"><span>ОГРН: </span></div>
              <div class="contacts-block__right">1207700343795</div>
            </div>
            <div class="contacts-block__line">
              <div class="contacts-block__left"><span>Банк:</span></div>
              <div class="contacts-block__right">ПАО Сбербанк</div>
            </div>
            <div class="contacts-block__line">
              <div class="contacts-block__left">
                <span>Расчетный счет в рос руб: </span>
              </div>
              <div class="contacts-block__right">40702810038000202916</div>
            </div>
            <div class="contacts-block__line">
              <div class="contacts-block__left">
                <span>Корреспондентский счет: </span>
              </div>
              <div class="contacts-block__right">30101810400000000225</div>
            </div>
          </div>

          <div class="contacts-email">
            <div class="contacts__icon">
              <i class="fas fa-envelope"></i>
            </div>
            <a href="mailto:support@xxxxxxxxxx.com" class="contacts__link"
              >support@xxxxxxxxxx.com</a
            >
          </div>
          <div class="contacts-phone">
            <div class="contacts__icon">
              <i class="fas fa-phone-alt"></i>
            </div>
            <a href="tel:+ 77777777" class="contacts__link">+ 7 777 777 77</a>
          </div>
        </div>
      </div>
    </div>
  </def-layout>
</template>

<script>
import DefLayout from "@/layouts/Default/Default";

export default {
  name: "Terms",
  components: {
    DefLayout,
  },
};
</script>

<style lang="scss" scoped>
.contacts-page {
  background: $lightgrey2;
}

.contacts {
  &-blocks {
    margin-bottom: 35px;
  }
  &-block__line {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    @media (max-width: 767px) {
      display: block;
    }
  }
  &-block__left {
    position: relative;
    max-width: 350px;
    flex: 0 0 350px;
    margin-right: 10px;
    @media (max-width: 767px) {
      max-width: 100%;
      flex: 0 0 100%;
      margin: 0 0 5px;
    }
    &:after {
      position: absolute;
      top: 13px;
      content: "";
      display: block;
      width: 100%;
      border: 1px dashed rgba(29, 39, 74, 0.3);
      @media (max-width: 767px) {
        display: none;
      }
    }
    span {
      position: relative;
      z-index: 2;
      display: inline-block;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.01em;
      background: $lightgrey2;
      padding: 3px 10px 3px 0;
      @media (max-width: 767px) {
        font-size: 14px;
        padding: 0;
        font-weight: 600;
      }
    }
  }
  &-block__right {
    flex: 1;
    font-size: 18px;
    opacity: 0.5;
    @media (max-width: 767px) {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.contacts-email,
.contacts-phone {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  .contacts__link {
    font-weight: 600;
    font-size: 18px;
    color: $blue;
    text-decoration: none;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  .contacts__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: $blue;
    margin-right: 10px;
    .fa-envelope {
      width: 17px;
      height: 14px;
      color: $white;
    }
    .fa-phone-alt {
      width: 17px;
      height: 17px;
      color: $white;
    }
  }
}
</style>
