<template>
  <div class="shop-item">
    <div class="shop-item__inner">
      <div class="shop-item__left">
        <div class="shop-item__info">
          <div class="shop-item__info-inner">
            <div class="shop-item__labels">
              <div
                v-if="service.isBestPrice"
                class="best-price-label"
                role="tooltip"
                :data-microtip-position="isShortMobile ? 'top-right' : 'top'"
                data-microtip-size="medium"
                aria-label="Салон по лучшей цене"
              />
            </div>

            <div class="shop-item__info-actions">
              <span
                class="shop-favorite"
                :class="{ active: isFavorite }"
                @click="toggleFavorite"
              />
            </div>
          </div>
        </div>

        <img
          :src="service.image || require('@/assets/img/no-image.png')"
          alt=""
        />
      </div>

      <div class="shop-item__right">
        <div class="shop-item__content d-flex justify-content-between">
          <div class="shop-item__content-left">
            <div class="shop-item__header">
              <div class="shop-item__name">
                {{ service.serviceTitle }}
              </div>
            </div>

            <div class="time-procedure">
              <span>{{ service.duration }} мин</span>
            </div>
          </div>

          <div class="shop-item__content-right">
            <div class="shop-item__rating d-flex align-items-center">
              <div class="shop-item__rating-left">
                <div class="shop-item__rating-title">
                  {{ service.ratingTitle }}
                </div>

                <div class="shop-item__rating-reviews">
                  {{ $tc("review.count", service.reviewsCount) }}
                </div>
              </div>

              <div class="shop-item__rating-ball">
                {{ service.rating }}
              </div>
            </div>
          </div>
        </div>

        <router-link
          :to="{
            name: 'Salon',
            params: { id: service.salonId },
            query: {
              specialist_id: service.specialistId,
              category_id: service.categoryId,
            },
          }"
          class="services__block-chat btn btn-blackBorder"
        >
          Записаться
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { SpecialistService } from "@/models/SpecialistService";
import { userFavoritesModule } from "../store/user-favorites-module";

export default {
  name: "FavoriteServiceCard",

  props: {
    service: { type: SpecialistService, required: true },
  },

  data: () => ({
    isFavorite: true,
    isShortMobile: window.innerWidth < 576,
  }),

  methods: {
    toggleFavorite() {
      this.isFavorite = !this.isFavorite;
      userFavoritesModule.removeService({
        serviceId: this.service.id,
        specialistId: this.service.specialistId,
      });
    },
  },
};
</script>
