<template>
  <div class="shop-item">
    <div class="shop-item__inner">
      <div class="shop-item__left">
        <div class="shop-item__info">
          <div class="shop-item__info-inner">
            <div class="shop-item__labels">
              <div
                v-if="salon.isConfirmed"
                class="shop-item__checked"
                role="tooltip"
                :data-microtip-position="isShortMobile ? 'top-right' : 'top'"
                data-microtip-size="medium"
                aria-label="Провереный салон"
              />
            </div>

            <div class="shop-item__info-actions">
              <span
                class="shop-favorite"
                :class="{ active: isFavorite }"
                @click="toggleFavorite"
              />
            </div>
          </div>
        </div>

        <img
          :src="salon.images[0] || require('@/assets/img/no-image.png')"
          alt=""
        />
      </div>

      <div class="shop-item__right">
        <div class="shop-item__content d-flex justify-content-between">
          <div class="shop-item__content-left">
            <div class="shop-item__logo">
              <img :src="salon.logo" alt="" />
            </div>

            <div class="shop-item__header">
              <router-link :to="salonLink" class="shop-item__name">
                {{ salon.name }}
              </router-link>
            </div>

            <div
              v-if="isShortMobile"
              class="shop-item__rating d-flex align-items-center"
            >
              <div class="shop-item__rating-left">
                <div class="shop-item__rating-title">
                  {{ salon.ratingTitle }}
                </div>

                <router-link
                  :to="`${salonLink}#reviews`"
                  class="shop-item__rating-reviews"
                >
                  {{ $tc("review.count", salon.reviewsCount) }}
                </router-link>
              </div>

              <div class="shop-item__rating-ball">
                {{ salon.rating }}
              </div>
            </div>

            <div class="shop-item__contact-address">
              <div class="shop-item__location">
                <i class="fas fa-map-marker-alt"></i>
                <div class="shop-item__location-content">
                  <span class="shop-item__address">
                    {{ salon.city }}, {{ salon.address }}
                  </span>

                  <button
                    type="button"
                    class="shop-item__onMap"
                    @click="displayMap"
                  >
                    Показать на карте
                  </button>
                </div>
              </div>

              <div v-if="salon.metro" class="shop-item__metro">
                <i class="metro-icon"></i>
                {{ salon.metro }}
              </div>
            </div>

            <div
              v-if="salon.categories && salon.categories.length"
              class="shop-item__services"
            >
              <span
                v-for="category in salon.categories"
                :key="category.id"
                class="shop-item__service"
                role="tooltip"
                :data-microtip-position="isShortMobile ? 'top-right' : 'top'"
                data-microtip-size="medium"
                :aria-label="category.title"
              >
                <i class="shop-item__service-inner">
                  <img :src="category.image" alt="" />
                </i>
              </span>
            </div>
          </div>

          <div class="shop-item__content-right">
            <div
              v-if="!isShortMobile"
              class="shop-item__rating d-flex align-items-center"
            >
              <div class="shop-item__rating-left">
                <div class="shop-item__rating-title">
                  {{ salon.ratingTitle }}
                </div>

                <router-link
                  :to="`${salonLink}#reviews`"
                  class="shop-item__rating-reviews"
                >
                  {{ $tc("review.count", salon.reviewsCount) }}
                </router-link>
              </div>

              <div class="shop-item__rating-ball">
                {{ salon.rating }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Salon } from "@/models/Salon";
import { composeSalonLink } from "@/helpers/links";
import { userFavoritesModule } from "../store/user-favorites-module";

export default {
  name: "FavoriteSalonCard",

  props: {
    salon: { type: Salon, required: true },
  },

  data: () => ({
    isShortMobile: window.innerWidth < 576,
    isFavorite: true,
  }),

  computed: {
    salonLink() {
      return composeSalonLink(this.salon);
    },
  },

  methods: {
    toggleFavorite() {
      this.isFavorite = !this.isFavorite;
      userFavoritesModule.removeSalon(this.salon.id);
    },

    displayMap() {
      this.$router.push({
        name: "Search",
        query: { showMap: true, showMapSalon: this.salon.id },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.shop-item__service-inner {
  padding: 4px;
  height: 40px;
  width: 40px;

  img {
    width: inherit;
    height: inherit;
  }
}
.shop-item__address {
  text-decoration: none;
}
.shop-item__onMap {
  @media (max-width: 1199px) {
    margin-left: 10px;
  }
}
</style>
