<template>
  <div class="specialist-item">
    <div class="shop-item__inner">
      <div class="shop-item__left">
        <div class="shop-item__info">
          <div class="shop-item__info-inner">
            <div class="shop-item__info-actions">
              <span
                class="shop-favorite"
                :class="{ active: isFavorite }"
                @click="toggleFavorite"
              />
            </div>
          </div>
        </div>

        <img :src="specialist.avatarSrc" alt="" />
      </div>

      <div class="shop-item__right">
        <div class="shop-item__content d-flex justify-content-between">
          <div class="shop-item__content-left">
            <div class="shop-item__header">
              <div class="shop-item__name">{{ specialist.name }}</div>
            </div>

            <div
              v-if="specialist.services.length"
              class="our-slider__service-name"
            >
              {{ specialist.services[0].serviceTitle }}
            </div>
          </div>

          <div class="shop-item__content-right">
            <div class="shop-item__rating d-flex align-items-center">
              <div class="shop-item__rating-left">
                <div class="shop-item__rating-title">
                  {{ specialist.ratingTitle }}
                </div>

                <div class="shop-item__rating-reviews">
                  {{ $tc("review.count", specialist.reviewsCount) }}
                </div>
              </div>

              <div class="shop-item__rating-ball">
                {{ specialist.rating }}
              </div>
            </div>
          </div>
        </div>

        <a
          class="specialist__block-chat d-inline-flex align-items-center"
          role="tooltip"
          data-microtip-position="bottom-center"
          data-microtip-size="large"
          aria-label="В разработке"
        >
          <i class="chat-icon"></i>
          Написать специалисту
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { Specialist } from "@/models/Specialist";
import { userFavoritesModule } from "../store/user-favorites-module";

export default {
  name: "FavoriteSpecialistCard",

  props: {
    specialist: { type: Specialist, required: true },
  },

  data: () => ({
    isFavorite: true,
  }),

  methods: {
    toggleFavorite() {
      this.isFavorite = !this.isFavorite;
      userFavoritesModule.removeSpecialist(this.specialist.id);
    },
  },
};
</script>

<style lang="scss" scoped>
.specialist__block-chat {
  text-decoration: none;
}
</style>
