.our-plus {
  margin-top: -60px;
  z-index: 1;
  position: relative;
  margin-bottom: 50px;
  & + .home-status__section {
    margin-top: 106px;
  }
  &__blocks {
    padding: 34px 50px;
    border: 1px solid $lightgrey;
    border-radius: 143px;
    background: $white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
  }
  &__block {
    display: flex;
    align-items: center;
  }
  &__icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 13px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    font-size: 18px;
    letter-spacing: 0.16px;
    opacity: 0.5;
      width: min-content;
  }
}

@media (max-width: $desktopL) {
  .our-plus__block {
    padding: 0 15px;
  }
  .our-plus__text {
    font-size: 16px;
  }
}

@media (max-width: $desktop) {
  .our-plus {
    &__blocks {
      flex-wrap: wrap;
      margin: -15px 0;
    }
    &__block {
      max-width:  33.333333%;
      flex: 0 0 33.333333%;
      border: 0 !important;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &__text {
      font-size: 14px;
      line-height: 15px;
    }
  }
}

@media (max-width: $tabletL) {
  .our-plus__blocks {
    flex-wrap: wrap;
    border-radius: 25px;
    border: 0;
    box-shadow: 0px 0px 5px rgba(21, 29, 54, 0.15);
    padding: 14px 15px;
  }
  .our-plus__block {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 7px 0;
  }
  .our-plus__icon {
    width: 41px;
    height: 41px;
    margin-right: 10px;
  }
}

@media (max-width: $tablet) {
  .our-plus {
    & + .home-status__section {
      margin-top: 35px;
    }
  }
}

@media (max-width: $mobile) {
  .our-plus {
    .container {
      padding: 0;
    }
  }
}
