<template>
  <def-layout>
    <div class="terms-of-use site-content main-content">
      <div class="container">
        <h1 class="terms-of-use__title mb-5 text-center">
          Условия пользования
        </h1>

        <div class="terms-of-use__content">
          <div class="terms-of-use__content-top mb-5">
            <p><strong>1. Пользовательское Соглашение</strong></p>
            <p><strong>2. Публичная Оферта (для юридических лиц)</strong></p>
          </div>

          <p class="text-cetner">
            <strong>1. Пользовательское Соглашение</strong>
          </p>
          <p>
            Настоящее Пользовательское Соглашение (Далее «Соглашение»)
            регулирует отношения между ООО «Сфера» (далее Webberu или
            «Администрация») с одной стороны и пользователем сайта с другой
            (далее «Пользователь»).
          </p>
          <p>Сайт Webberu не является средством массовой информации</p>
          <p>
            Используя сайт, вы соглашаетесь с условиями данного соглашения. Если
            вы не согласны с условиями данного соглашения, не используйте сайт
            Webberu.
          </p>
          <p><strong>Предмет соглашения</strong></p>
          <p>
            Администрация предоставляет пользователю право бронировать услуги и
            приобретать товары у третьих лиц, размещенных на Сайте, согласно
            указанной цене и согласно описаниям в каталогах услуг и
            интернет-магазине и оплачивать эти услуги, сертификаты, товары, и
            доставку, в режиме онлайн через Сайт Webberu.ru (далее «Сайт») или
            на месте, и право на размещение на сайте следующей информации:
          </p>
          <p>- Текстовой информации;</p>
          <p>- Собственных фотоматериалов;</p>
          <p>- Ссылок на материалы, размещенные на других сайтах.</p>
          <p><strong>Права и обязанности сторон</strong></p>
          <p><strong>Пользователь имеет право:</strong></p>
          <p>- осуществлять поиск информации на сайте;</p>
          <p>- получать информацию на сайте;</p>
          <p>- комментировать контент, выложенный на сайте;</p>
          <p>- изменять рейтинг пользователей;</p>
          <p>- копировать информацию на другие сайты с указанием источника;</p>
          <p>
            - требовать от администрации скрытия любой информации о
            пользователе;
          </p>
          <p>- использовать информацию сайта в личных некоммерческих целях;</p>
          <p>- бронировать услуги у третьих лиц размещенных на сайте;</p>
          <p>
            - отменить и переносить бронирования, сделанные с помощью Сайта;
          </p>
          <p>
            - получить полный возврат средств за отмененные оплаченные
            бронирования.
          </p>
          <p><strong>Администрация имеет право:</strong></p>
          <p>
            - по своему усмотрению и необходимости создавать, изменять, отменять
            правила пользования Сайтом;
          </p>
          <p>- ограничивать доступ к любой информации на сайте;</p>
          <p>- создавать, изменять, удалять информацию;</p>
          <p>- удалять учетные записи;</p>
          <p>- отказывать в регистрации без объяснения причин;</p>
          <p>
            - привлекать третьи стороны и предоставлять им контактные данные,
            необходимые для выполнения их обязательств по настоящему Соглашению;
          </p>
          <p>- вести администрирование Сайта;</p>
          <p>
            - использовать информацию сайта в коммерческих целях без
            специального разрешения;
          </p>
          <p>
            - уведомлять об акциях и скидках или бронированиях, совершенных на
            сайте, по электронной почте или sms
          </p>
          <p>
            - информировать и отправлять информацию об учетной записи
            пользователя на сайте посредством sms или электронной почты
          </p>
          <p>
            - Администрация не осуществляет предварительную проверку контента
            Пользователя, размещаемого посредством Сервисов Интернет-ресурса, на
            соответствие законодательству РФ, но вправе сделать это по
            собственной инициативе.
          </p>
          <p><strong>Пользователь обязуется:</strong></p>
          <p>- обеспечить достоверность предоставляемой информации;</p>
          <p>
            - обеспечивать сохранность личных данных от доступа третьих лиц;
          </p>
          <p>
            - обновлять персональные данные, предоставленные при регистрации, в
            случае их изменения
          </p>
          <p>- не нарушать работоспособность сайта;</p>
          <p>
            - не передавать в пользование свою учетную запись и/или логин и
            пароль своей учетной записи третьим лицам;
          </p>
          <p>
            - не регистрировать учетную запись от имени или вместо другого лица
            за исключением случаев, предусмотренных законодательством РФ;
          </p>
          <p>
            - не размещать материалы рекламного, эротического, порнографического
            или оскорбительного характера, а также иную информацию, размещение
            которой запрещено или противоречит нормам действующего
            законодательства РФ;
          </p>
          <p>
            - не использовать скрипты (программы) для автоматизированного сбора
            информации и/или взаимодействия с Сайтом и его Сервисами.
          </p>
          <p><strong>Администрация обязуется:</strong></p>
          <p>
            - поддерживать работоспособность сайта за исключением случаев, когда
            это невозможно по независящим от Администрации причинам;
          </p>
          <p>
            - осуществлять разностороннюю защиту учетной записи Пользователя;
          </p>
          <p>
            - защищать информацию, распространение которой ограничено или
            запрещено законами путем вынесения предупреждения либо удалением
            учетной записи пользователя, нарушившего правила;
          </p>
          <p>
            - не хранит и не обрабатывает платежные реквизиты и данные
            Пользователя, обеспечивая лишь запросы в Процессинговый центр для
            проведения операции по банковской карте Пользователя;
          </p>
          <p>
            - обеспечивать сохранность личных данных от доступа третьих лиц.
          </p>
          <p><strong>Условия действия Соглашения</strong></p>
          <p>
            Настоящее Соглашение вступает в силу с момента использования сайта.
          </p>
          <p>
            Соглашение перестает действовать при появлении его новой версии.
          </p>
          <p>
            Настоящее Соглашение размещено по адресу
            <a href="https://webberu.ru/conditions"
              >https://webberu.ru/conditions</a
            >
          </p>
          <p>
            Администрация оставляет за собой право в одностороннем порядке
            изменять данное соглашение по своему усмотрению и без оповещения.
          </p>
          <p>
            При любом изменении данного соглашения Администрация будет оповещать
            пользователей удобным для нее способом.
          </p>
          <p>
            Любые уведомления по соглашения могут направляться одной Стороной
            другой Стороне:
          </p>
          <p>
            - по электронной почте: на адрес электронной почты Пользователя,
            указанный им при регистрации и/или в Личном кабинете,
          </p>
          <p>
            - на адрес электронной почты Исполнителя, указанный в конце
            настоящего Соглашения.
          </p>
          <p class="text-center"><strong>2. Публичная оферта </strong></p>
          <p><strong>Общие положения</strong></p>
          <p>
            1.1. Данный документ является публичной офертой ООО «Альфа-Поиск» (в
            дальнейшем именуемого «Исполнитель») и содержит все существенные
            условия предоставления услуг Исполнителя на веб-сайте
            https://webberu.ru
          </p>
          <p>
            1.2. В соответствии с п. 2 ст. 437 Гражданского Кодекса Российской
            Федерации (далее — ГК РФ), в случае принятия изложенных ниже условий
            и оплаты услуг договора оферты юридическое или физическое лицо,
            производящее акцепт этой оферты, становится Заказчиком (или
            Заказчиком) (в соответствии с п. 3 ст. 438 ГК РФ, акцепт оферты
            равносилен заключению договора на условиях, изложенных в оферте), а
            Исполнитель и Заказчик совместно становятся Сторонами, а по
            отдельности — Стороной в рамках настоящего Договора Оферты (как
            определено ниже).
          </p>
          <p>
            1.3. Оказание услуг Исполнителем регулируется настоящим Договором
            Оферты. При этом Политика Конфиденциальности, размещенная по адресу:
            <a href="https://webberu.ru/privacy">https://webberu.ru/privacy</a>
            (далее — «Политика Конфиденциальности») применяется к настоящему
            Договору Оферты и являются его неотъемлемыми частями.
          </p>
          <p>
            1.4. Принимая данный Договор Оферты, Заказчик выражает свое согласие
            с тем, что настоящие условия не ущемляют его законных прав, что он
            внимательно с ними ознакомился и безоговорочно принял их условия.
          </p>
          <p>
            1.5. Если Вы не согласны с условиями Договора Оферты, и/или Политики
            Конфиденциальности, Исполнитель предлагает Вам отказаться от
            заключения настоящего Договора Оферты и использования услуг
            Исполнителя.
          </p>
          <p><strong>Термины и Определения</strong></p>
          <p>
            1.6. В целях настоящей Оферты нижеприведенные термины и определения
            используются в следующем значении:
          </p>
          <p>
            <strong>Акцепт Оферты</strong> — полное и безоговорочное принятие
            условий настоящего Договора Оферты методом выполнения действий,
            отмеченных в части 4 данного Договора Оферты без каких-либо изъятий
            и/или ограничений. Акцепт Оферты равносилен заключению
            двухстороннего письменного соглашения.
          </p>
          <p>
            <strong>Анкета</strong> — электронная форма, заполняемая Заказчиком
            на Интернет-ресурсе.
          </p>
          <p>
            <strong>Заказчик</strong> - любое физическое или юридическое лицо,
            которое размещает свои услуги на сайте и продает свои услуги с
            помощью сайта.
          </p>
          <p>
            <strong>Бонусные рубли (Бонусы - Clicks)</strong> — виртуальные
            условные единицы, зачисляемые на баланс Заказчика в Личном кабинете,
            используемые Заказчиком на Сайте для оплаты услуг Бизнесов. Бонусный
            рубль эквивалентен на Сайте 10 (десяти) рублям. Бонусы не
            предоставляют участнику права на получение их в денежном
            эквиваленте.
          </p>
          <p>
            <strong>Акция</strong> – вид рекламной активности, проводимый на
            базе Сервиса Исполнителя, направленный на формирование и увеличение
            лояльности Пользователя к Сервису и Заказчикам Исполнителя.
          </p>
          <p>
            <strong>Договор Оферты/Договор</strong> — настоящий договор между
            Исполнителем и Заказчиком или Заказчиком на предоставление услуг,
            который заключается посредством Акцепта Оферты.
          </p>
          <p>
            <strong>Единоразовый платеж</strong> — вид платежа Заказчика,
            который подразумевает единоразовое внесение денежных средств на счет
            Исполнителя, указанный в Договоре Оферты, одним из предусмотренных
            Договором Оферты способов. Данная процедура требует повторного ввода
            платежных реквизитов Пользователя для дальнейших оплат.
          </p>
          <p>
            <strong>Интернет-ресурс</strong> — онлайн-ресурс webberu,
            представляющий собой совокупность программ и баз данных, которые
            размещены на серверах Компании, исполняют программный код
            Исполнителя и обеспечивают доступность данных об организациях,
            содержащихся в базах данных. Онлайн-ресурс webberu размещён в сети
            Интернет в открытом доступе на домене webberu.ru, включая все
            подуровни указанного домена, в том числе, вводимые в эксплуатацию в
            будущем. Предметом регулирования данного договора являются также все
            сервисы, службы, приложения, программное обеспечение,
            предоставляемые Исполнителем.
          </p>
          <p>
            <strong>Информационное содержание</strong> — документы, информация,
            данные, текст, изображения, программное обеспечение, музыку, видео,
            звук, фотографии, графику, сообщения и другие материалы, в том числе
            любые тексты, которые Заказчик загружает в Платформу webberu через
            Интернет-ресурс или иным образом направляет Исполнителю для целей
            исполнения Договора Оферты.
          </p>
          <p>
            <strong>Контент</strong> — динамически обновляемые графические или
            текстовые модули, встраиваемые в код страницы Интернет-ресурса,
            доступные для просмотра и совершения действий со стороны
            Пользователя.
          </p>
          <p>
            <strong>Конфиденциальная информация</strong> — любая информация на
            любом носителе, включая, в частности, Информационное содержание,
            которая была раскрыта, либо будет раскрыта Заказчиком и/или
            какому-либо субподрядчику, включая, в том числе, текст, данные,
            технологии, исходный программный код, ноу-хау, изобретения,
            открытия, проекты, процессы, наработки, модели, оборудование,
            алгоритмы, программное обеспечение, документы, спецификации,
            информацию о научно-исследовательских и опытно-конструкторских
            работах и/или профессиональные и коммерческие тайны.
          </p>
          <p>
            <strong>Учетная запись</strong> — хранимая в компьютерной системе
            совокупность данных Пользователя и Заказчика, полученных путем
            заполнения соответствующих форм на Сайте и необходимых для опознания
            (аутентификации) Пользователя или Заказчика, установления связи
            между данными Пользователя или Заказчика и его Личным кабинетом.
          </p>
          <p>
            <strong>Личный кабинет</strong> — совокупность защищенных страниц
            Сайта, выделенных в веб-интерфейсе для ввода/изменения данных,
            представляющий собой совокупность разделов, предусмотренных для
            определения параметров рекламных кампаний, выбора необходимых
            Сервисов Исполнителя, оплата услуг, получения информации: о платежах
            и бронировании, о данных по статистике; а также осуществлении иных
            действий, предусмотренных функциями Личного кабинета.
          </p>
          <p>
            <strong>Платформа webberu</strong> – совокупность инструментов по
            продвижению бизнеса онлайн.
          </p>
          <p>
            <strong>Тарифы</strong> — действующий систематизированный перечень
            услуг Исполнителя с тарифными планами и ценами, публикуемый на Сайте
            по адресу
            <a href="https://webberu.ru/tariffs"
              >https://webberu.ru/tariffs</a
            >.
          </p>
          <p>
            <strong>Повторяющийся платеж</strong> — вид платежа Заказчика,
            который подразумевает периодическое списание денежных средств с
            банковской карты или платежного аккаунта Заказчика без
            дополнительных действий с его стороны (автоматическое списание), при
            условии, что первый платеж прошел успешно. Данная процедура не
            требует повторного ввода платежных реквизитов Заказчика.
          </p>
          <p>
            <strong>Пост</strong> — информационное сообщение, включающее
            текстовые, графические, аудио- видео- и иные материалы.
          </p>
          <p>Сайт— совокупность всех страниц домена webberu.ru.</p>
          <p>
            Сервис — техническое решение webberu на Интернет-ресурсе,
            предоставляемое Заказчику и Исполнителю с целью выполнения последним
            своих обязательств по настоящему Договору Оферты.
          </p>
          <p>
            1.7. В настоящем Договоре Оферты могут быть использованы термины, не
            определенные в п.2.1. Договора Оферты. В этом случае толкование
            такого термина производится в соответствии с текстом настоящего
            Договора Оферты. В случае отсутствия однозначного толкования термина
            в тексте Договора Оферты следует руководствоваться толкованием
            термина, в первую очередь, в соответствии с применимым
            законодательством, во вторую очередь, в соответствии со сложившейся
            практикой толкования таких терминов в сети Интернет.
          </p>
          <p><strong>Инструкции</strong></p>
          <p>
            1.8. Инструкции по использованию Cайта можно найти по адресу
            <a href="https://webberu.ru/webberu_instructions_rus.pdf"
              >https://webberu.ru/webberu_instructions_rus.pdf</a
            >
          </p>
          <p><strong>Предмет Договора Оферты</strong></p>
          <p>
            1.9. В соответствии с условиями настоящего Договора Оферты
            Исполнитель обязуется обеспечить оказание рекламно-информационных
            услуг согласно п. 3.2. настоящего Договора Оферты, а Заказчик
            обязуется принять и оплатить услуги Исполнителя в соответствии с
            настоящим Договором Оферты и Тарифами, указанные в разделе Тарифы
            (<a href="https://webberu.ru/tariffs"
              >https://webberu.ru/tariffs</a
            >).
          </p>
          <p>
            1.10. Рекламно-информационные услуги Исполнителя оказываются в
            соответствии с установленными параметрами в Личном кабинете
            Заказчика, согласно условиям настоящего Договора Оферты и Тарифов
            Исполнителя, указанном в разделе Тарифы (<a
              href="https://webberu.ru/tariffs"
              >https://webberu.ru/tariffs</a
            >), являющегося неотъемлемой частью настоящего Договора Оферты,
            после произведения оплаты Заказчиком.
          </p>
          <p>
            1.11. Договор Оферты со всеми его приложениями и дополнениями
            публикуется на Сайте и Интернет-ресурсе.
          </p>
          <p>
            1.12. Исполнитель имеет право изменять стоимость услуг, условия
            данного Договора Оферты и Тарифы (<a
              href="https://webberu.ru/tariffs"
              >https://webberu.ru/tariffs</a
            >) без предварительного согласования с Заказчиком и без какого-либо
            специального уведомления. Новая редакция настоящего Договора Оферты
            вступает в силу с момента ее размещения на Сайте. Действующая
            редакция Договора Оферты всегда находится на странице по адресу
            <a href="https://webberu.ru/conditions"
              >https://webberu.ru/conditions</a
            >. Заказчик настоящим соглашается время от времени, но не реже 1
            раза в месяц проверять текущую редакцию Договора Оферты на предмет
            новых изменений. Если Заказчик продолжает получать услуги по
            Договору Оферты и не отказывается от него, то это означает, он
            согласился с новой редакцией Договора Оферты. Если Заказчик не
            согласен с новой редакцией Договора Оферты, он должен послать
            Исполнителю уведомления об отказе от редакцию Договора Оферты на
            адрес электронной почты
            <a href="mailto:info@webberu.ru">info@webberu.ru</a>.
          </p>
          <p><strong>Акцепт Оферты и заключение Договора Оферты</strong></p>
          <p>Акцепт Оферты и заключение Договора Оферты</p>
          <p>
            1.13. Заказчик производит Акцепт Оферты путем заполнения и отправки
            Исполнителю Анкеты, а также внесения оплаты с учетом условий,
            указанных в разделе Тарифы (<a href="https://webberu.ru/tariffs"
              >https://webberu.ru/tariffs</a
            >) к Договору Оферты, в течение срока Акцепта, а также с учетом
            условий раздела 6 настоящего Договора Оферты.
          </p>
          <p>
            1.14. Срок Акцепта составляет отрезок времени с момента выставления
            Исполнителем счета на перечисление задатка в счет оплаты услуг в
            Личном кабинете в соответствии со стоимостью услуги до момента
            перечисления Заказчиком задатка посредством оплаты онлайн
            (банковской картой, электронными деньгами, мобильным платежом) или
            посредством банковского перевода на счет Исполнителя.
          </p>
          <p><strong>Права и обязанности Сторон</strong></p>
          <p><strong>1.15. Обязанности Исполнителя: </strong></p>
          <p>
            1.15.1. В течение срока действия настоящего Договора Оферты оказать
            Заказчику оплаченные им услуги в соответствии с Тарифами указанными
            в разделе Тарифы (<a href="https://webberu.ru/tariffs"
              >https://webberu.ru/tariffs</a
            >) и параметрами, установленными в Личном кабинете Заказчика. При
            этом во избежание сомнений Заказчик уведомлен о том и понимает, что
            услуги могут оказываться Исполнителем как полностью, так и частично
            с привлечением субподрядчиков.
          </p>
          <p>
            1.15.2. Оказывать услуги надлежащим образом в соответствии с
            настоящим Договором Оферты и законодательством Российской Федерации.
          </p>
          <p><strong>Права Исполнителя: </strong></p>
          <p>
            1.15.3. Исполнитель имеет право изменять условия данного Договора
            Оферты, в разделе Тарифы (<a href="https://webberu.ru/tariffs"
              >https://webberu.ru/tariffs</a
            >) без предварительного согласования с Заказчиком, обеспечивая при
            этом выполнение услуг и публикацию измененных условий на Сайте по
            адресу:
            <a href="https://webberu.ru/conditions"
              >https://webberu.ru/conditions</a
            >.
          </p>
          <p>
            1.15.4. Требовать оплату услуг в соответствии с условиями настоящего
            Договора Оферты.
          </p>
          <p>
            1.15.5. В одностороннем порядке расторгнуть настоящий Договор Оферты
            в случае невыполнения Заказчиком обязанности по своевременной оплате
            услуг в порядке, предусмотренном настоящим Договором Оферты, и/или в
            случаях нарушения Заказчиком законодательства Российской Федерации
            при использовании Сервисов Интернет-ресурса и/или нарушения Правил
            пользования Интернет-ресурсом.
          </p>
          <p>
            1.15.6. Привлекать третьих лиц для исполнения своих обязательств по
            настоящему Договору Оферты, оставаясь полностью ответственным за их
            действия перед Заказчиком.
          </p>
          <p>1.15.7. Вести администрирование Сайта</p>
          <p>
            1.15.8. Проводить совместно с Заказчиками, а также собственные
            рекламные акции в порядке, предусмотренном Исполнителем в
            соответствии с законодательством Российской Федерации.
          </p>
          <p>
            1.15.9. Исполнитель не осуществляет предварительную проверку
            Контента Заказчика, размещаемого посредством Сервисов
            Интернет-ресурса, на соответствие законодательству РФ, но вправе
            сделать это по собственной инициативе.
          </p>
          <p>
            1.15.10. Размещать на Сайте публикации в формате отзыва (публикация,
            состоящая из текста и/или фотографии/иных графических элементов, и
            содержащая субъективную оценку Заказчика об услугах и/или Сайте)
            (далее - Отзыв).
          </p>
          <p>
            1.15.11. Исполнитель в праве продвигать и рекламировать бизнес
            Заказчика в социальных сетях и поисковых системах.
          </p>
          <p><strong>Обязанности Заказчика:</strong></p>
          <p>
            1.15.12. Заказчик обязуется своевременно в соответствии с условиями
            настоящего Договора Оферты оплатить и принять услуги Исполнителя.
          </p>
          <p>
            1.15.13. Заказчик обязуется выполнять все условия и требования,
            изложенные в настоящем Договоре Оферты, Правилах пользования
            Интернет-ресурсом (адрес:
            <a href="https://webberu.ru">https://webberu.ru</a>) и иных
            документах, размещенных на Сайте.
          </p>
          <p>
            1.15.14. Заказчик обязуется не передавать свои права на
            использование Сервисов Интернет-ресурса, услуг по Договору Оферты
            какой-либо третьей стороне при отсутствии письменного согласия
            Исполнителя. Заказчик не имеет права уступать свои права и
            обязательства по настоящему Договору Оферты третьим лицам без
            письменного согласия Исполнителя.
          </p>
          <p>
            1.15.15. Заказчик согласен с тем, что Исполнитель может обрабатывать
            и использовать персональные данные Заказчика (когда применимо)
            согласно Федеральному закону от 27.07.2006 N 152-ФЗ "О персональных
            данных" различными способами, в том числе путем осуществления
            автоматизированного анализа персональных данных, а также согласен на
            их передачу третьим лицам с целью выполнения своих обязательств по
            настоящему Договору Оферты без ограничения срока действия. Настоящее
            согласие может быть отозвано Заказчиком только при условии
            письменного уведомления Исполнителя не менее чем за 30 (тридцать)
            дней до предполагаемой даты прекращения использования данных
            Исполнителем.
          </p>
          <p>
            1.15.16. Соглашаясь с условиями и принимая условия настоящего
            Договора Оферты путем Акцепта Оферты, Заказчик заверяет и
            гарантирует Исполнителю, как это предусмотрено ст. 431.2. ГК РФ,
            что:
          </p>
          <p>
            - Заказчик указал достоверные персональные данные и/или иные
            реквизиты Заказчика (данные о физическом или юридическом лице) при
            регистрации на сайте и заполнении регистрационной Анкеты и
            оформлении платежных документов при оплате услуг Исполнителя;
          </p>
          <p>
            - Заказчик заключает Договор Оферты добровольно, при этом Заказчик
            полностью ознакомился с условиями Оферты, полностью понимает предмет
            и содержание Договора Оферты, значение и последствия своих действий
            в отношении заключения и исполнения Договора Оферты;
          </p>
          <p>
            - Заказчик обладает всеми правами и полномочиями, необходимыми для
            заключения и исполнения Договора Оферты и для разрешения
            использования Исполнителем информации и материалов, предоставленных
            Исполнителю Заказчиком для оказания услуг по Договору Оферты;
          </p>
          <p>
            - Заказчик обладает всеми необходимыми правами: для заключения
            настоящего Договора Оферты с Заказчиком; на материалы и/или
            информацию, размещенные Заказчиком посредством Сервисов Сайта и/или
            переданные Исполнителю для оказания услуг по Договору Оферты;
          </p>
          <p>
            - Заказчик согласен с тем, что любая добровольно предоставленная им
            информация, в том числе персональные данные, может обрабатываться
            Исполнителем, webberu, их уполномоченными представителями (далее —
            «Представители») в целях выполнения Исполнителем обязательств в
            соответствии с настоящим Договором Оферты, без получения
            дополнительного согласия Заказчика и без уплаты ему какого-либо
            вознаграждения за это. Заказчик понимает и соглашается с тем, что
            персональные данные, указанные им при регистрации на Сайте и/или
            иным образом сообщенные Исполнителю и webberu, будут обрабатываться
            Исполнителем, webberu, а также их Заказчиками всеми необходимыми
            способами в целях исполнения обязательств по настоящему Договору
            Оферты и дает согласие на такую обработку при Акцепте условий
            настоящей Оферты.
          </p>
          <p>
            1.15.17. Заказчик обязуется не указывать заведомо ложных и
            незаконных сведений в материалах и информации, передаваемых
            Исполнителю для оказания услуг, размещаемых посредством Сервисов
            Интернет-ресурса, а также сведений, запрещенных Правилами
            пользования Сайта и законодательством РФ, следить за актуальностью и
            достоверностью сведений, содержащихся в них, соблюдать требования
            действующего законодательства к публично размещаемой информации,
            соблюдать права третьих лиц (в том числе права третьих лиц на
            интеллектуальную собственность).
          </p>
          <p>
            Заказчик гарантирует, что содержание и форма рекламных материалов,
            размещенная Исполнителем рекламных материалов в соответствии с
            определенными Исполнителем условиями размещения не нарушает и не
            влечет за собой нарушение каких-либо прав третьих лиц и действующего
            законодательства РФ в том числе, но, не ограничиваясь, ФЗ «О
            рекламе».
          </p>
          <p>
            Заказчик предоставляет Исполнителю всю информацию, необходимую для
            оказания услуг, и осуществляет предоставление рекламных материалов,
            размещаемых согласно настоящему Договору.
          </p>
          <p>
            Заказчик предоставляет по запросу Исполнителю лицензии, сертификаты,
            декларации соответствия и другие документы (при необходимости) или
            их надлежаще заверенные копии на рекламируемые товары (работы,
            услуги), а также документы, свидетельствующие о достоверности
            информации, содержащейся в рекламном объявлении, и документы,
            подтверждающие соблюдение Заказчиком авторских и смежных прав в
            отношении объектов интеллектуальной собственности, используемых в
            рекламных материалах, а также выдает в письменном виде разрешение на
            использование интеллектуальной собственности Заказчика для
            осуществления Исполнителем своих обязанностей по настоящему
            Договору.
          </p>
          <p>
            1.15.18. В случае предъявления претензий к Исполнителю со стороны
            третьих лиц в отношении материалов и информации, передаваемых
            Заказчиком Исполнителю для оказания услуг и продажи товаров,
            размещаемых посредством Сервисов Интернет-ресурса, Заказчик по
            требованию Исполнителя в срок не более 3 (трех) рабочих дней обязан
            предоставлять документально подтвержденные сведения о соответствии
            предоставляемой Исполнителю информации, необходимой последнему для
            оказания услуг по настоящему Договору Оферты, требованиям
            законодательства Российской Федерации, в том числе сведения о
            наличии лицензии, об обязательной сертификации, о государственной
            регистрации (или их должным образом заверенные копии) на товары и
            услуги в случаях, предусмотренных действующим законодательством
            Российской Федерации. Заказчик также обязуется предоставить по
            требованию Исполнителя правоустанавливающие документы на свою
            организацию или индивидуального предпринимателя (когда применимо) в
            предложенном Заказчиком составе.
          </p>
          <p>
            1.15.19. Заказчик обязуется предлагать скидки на свои товары и
            услуги только в соответствии со всеми применимыми законами, включая
            законы о защите прав потребителей и о рекламе.
          </p>

          <p>
            Любая скидка не должна вводить в заблуждение и всегда должна быть
            точной, простой для понимания, недвусмысленной и относиться к
            подлинной скидке;
          </p>
          <p>
            Любая скидка, сообщенная клиентам, должна быть фактически доступна
            клиентам, бронирующим эту услугу;
          </p>
          <p>
            Любая скидка должна основываться на недисконтированной ссылочной
            ставке, которая является стандартной ставкой. Это означает, что
            листинг должен быть объявлен по этой базовой ставке в течение
            юридически достаточного периода времени.
          </p>
          <p><strong>Права Заказчика:</strong></p>
          <p>
            1.15.20. Получать оплаченные услуги в соответствии с условиями
            настоящего Договора Оферты.
          </p>
          <p>
            1.15.21. Получать необходимую и достоверную информацию об
            Исполнителе и оказываемых ему услугах.
          </p>
          <p><strong>Условия и порядок оказания услуг</strong></p>
          <p>
            1.16. Ознакомившись с условиями настоящего Договора Оферты,
            размещенными на Сайте, Заказчик производит регистрацию на Сайте
            посредством заполнения формы электронной Анкеты, размещенной по
            адресу:
            <a href="https://webberu.ru/business"
              >https://webberu.ru/business</a
            >
            (далее – регистрация) и отмечает, что он ознакомлен с условиями
            пользования и политикой конфиденциальности .
          </p>
          <p>
            1.17. После регистрации Заказчик получает возможность в Личном
            Кабинете выбрать тариф, сроки, сумму и способ оплаты, а также
            необходимые услуги из перечня, установленного в разделе Тарифы (<a
              href="https://webberu.ru/tariffs"
              >https://webberu.ru/tariffs</a
            >).
          </p>
          <p>
            1.18. Далее Заказчик производит оплату по тарифу, перечисляя задаток
            в счет оплаты услуг Исполнителя на основании счета. В случае
            онлайн-платежа оплата должна быть произведена моментально. В случае
            платежа посредством банковского перевода оплата должна быть
            произведена в течение 2 (двух) банковских дней с момента выставления
            счета.
          </p>
          <p>
            1.19. Заказчик обязан внести 100 % задаток за оказание услуг
            Исполнителем на сумму согласно выбранному тарифному плану. В случае,
            если задаток оказался менее, чем необходимый для выбранного
            тарифного плана, оказание услуг не происходит, Исполнитель начинает
            оказание услуг при пополнении полной оплатой Заказчиком до
            необходимой суммы в соответствии с выбранным тарифным планом.
          </p>
          <p>
            1.20. Условия и порядок оказания услуг Сервиса при тарифном плане на
            14 дней, месяц, квартал, 6 месяцев или год.
          </p>
          <p>
            1.20.1. Сервис при выборе тарифного плана подключается на 14, 30,
            90, 120 или 365 (четырнадцать, тридцать, девяносто, сто двадцать или
            триста шестьдесят пять) календарных дней с момента активации и
            оплаты данной услуги.
          </p>
          <p>
            1.20.2. За пользованием услугами, включенными в тарифный план,
            оплата списывается при подключении Сервиса и далее каждые 14, 30,
            90, 120 или 365 (четырнадцать,тридцать, девяносто, сто двадцать или
            триста шестьдесят пять) дней, в размере, установленном в разделе
            Тарифы, пока Сервис не будет приостановлен Заказчиком или
            Исполнителем при неоплате.
          </p>
          <p>
            1.20.3. Пользование Сервисом по тарифному плану может быть
            приостановлено при отправке письма на электронный адрес
            info@webberu.ru.
          </p>
          <p>
            1.20.4. Пользование Сервисом будет приостановлено со следующего
            периода после совершения Заказчиком действий, описанных в п.6.5.3.
          </p>
          <p><strong>Смена тарифного плана</strong></p>
          <p>
            1.20.5. Смена тарифного плана возможна путем выбора нового тарифного
            плана в Личном Кабинете Заказчика.
          </p>
          <p>
            1.20.6. В случае, если на Сайте велись технические работы, и
            Заказчик не мог осуществлять пользование Сервисами Интернет-ресурса
            надлежащим образом, Исполнитель без дополнительной платы продлевает
            оказание услуг на количество дней проведения технических работ.
            Продление оказания услуг осуществляется после получения Исполнителем
            претензии Заказчика по электронной почте на адрес
            <a href="mailto:support@webberu.ru">support@webberu.ru</a>
          </p>
          <p>
            1.20.7. Стороны после оказания услуг по Договору Оферты не имеют
            друг к другу никаких претензий за исключением случаев нарушения
            законодательства Российской Федерации.
          </p>
          <p><strong>Условия пользования Личным кабинетом. </strong></p>
          <p>
            Исполнитель предоставляет Заказчику сведения (логин и пароль),
            необходимые для получения доступа к Личному кабинету. Доступ в
            Личный кабинет осуществляется путем ввода учетных данных в
            предусмотренные для этого поля на Интернет-ресурсе. На Заказчике
            лежит обязанность обеспечить безопасность и сохранность пароля перед
            третьими лицами. При утрате, либо компрометации пароля, а также в
            случае незаконного завладения третьими лицами доступа к Личному
            кабинету, Заказчик обязан незамедлительно сообщить об этом
            Исполнителю по электронной почте на адрес
            <a href="abuse@webberu.ru">abuse@webberu.ru</a>. До момента
            поступления такого сообщения все действия, совершенные с
            использованием Личного кабинета, в том числе по учетным данным
            Заказчика будут считаться совершенными самим Заказчиком. Заказчик
            соглашается использовать Личный кабинет в том виде, в котором он
            представлен, без каких-либо гарантий со стороны Исполнителя.
          </p>
          <p>
            <strong>Условия услуг по размещению рекламных материалов.</strong>
          </p>
          <p>
            1.20.8. Размещение рекламных материалов Заказчика осуществляется на
            основании расценок (тарифов), указанных в Спецификации и по адресу
            <a href="https://webberu.ru/tariffs"
              >https://webberu.ru/tariffs</a
            >. Стоимость размещения рекламно-информационных материалов и их
            тип,указанна на сайте по адресу
            <a href="https://webberu.ru/tariffs"
              >https://webberu.ru/tariffs</a
            >
          </p>
          <p>
            <strong
              >Стоимость услуг и порядок расчетов по Договору Оферты</strong
            >
          </p>
          <p>
            1.20.9. Оплата услуг Исполнителя, предоставляемых Заказчику,
            осуществляется на основе задатка в 100 % размере, соответствующем
            выбранному тарифному плану
          </p>
          <p>
            1.20.10. Расчет стоимости предоставляемых Исполнителем услуг
            производится на основании Тарифов в рублях.
          </p>
          <p>
            1.20.11. Оплата производится Заказчиком путем перечисления денежных
            средств на расчетный счет Исполнителя на основании счета или
            электронном путем.
          </p>
          <p>
            1.20.12. Заказчик самостоятельно следит за оплатой услуг и
            достаточностью денежных средств для оказания услуг.
          </p>
          <p>
            1.20.13. В целях настоящего Договора Оферты Исполнитель
            устанавливает тарифные планы, указанные по адресу
            <a href="https://webberu.ru/tariffs"
              >https://webberu.ru/tariffs</a
            >
          </p>
          <p>
            1.20.14. Иные услуги, указанные в в разделе Тарифы (<a
              href="https://webberu.ru/tariffs"
              >https://webberu.ru/tariffs</a
            >), могут быть оплачены единоразовыми платежами. Расценки тарифных
            планов опубликованы в разделе «Тарифы» Сайта (<a
              href="https://webberu.ru/tariffs"
              >https://webberu.ru/tariffs</a
            >) и могут быть изменены Исполнителем в любое время.
          </p>
          <p>
            1.20.15. При изменении расценок Исполнителем во время оказания ранее
            оплаченных Заказчиком услуг, Исполнитель не меняет стоимость ранее
            оплаченных услуг до момента выполнения обязательств по таким услугам
            в полном объеме.
          </p>
          <p>
            1.20.16. В целях настоящего Договора Оферты принимаются следующие
            способы оплаты от Заказчика согласно нижеприведенной таблице:
          </p>
          <p>
            1.21. Исполнитель не хранит и не обрабатывает платежные реквизиты и
            данные Заказчика, обеспечивая лишь запросы в Процессинговый центр
            для проведения операции по банковской карте Заказчика.
          </p>

          <p>
            1.22. Оплата услуг производится Заказчиком по собственному
            усмотрению и без предусмотренной ответственности Исполнителя.
            Безопасность, конфиденциальность, а также иные условия использования
            выбранного Заказчиком способа/формы оплаты выходят за рамки Договора
            Оферты и регулируются договорами между Заказчиком и соответствующими
            организациями (операторами). Заказчик гарантирует, что он является
            держателем банковской карты, осознанно, корректно и полностью вводит
            все требуемые реквизиты банковской карты при оплате услуг.
          </p>

          <p>
            1.23. Выполнение Заказчиком действий, указанных в настоящих
            условиях, пользования сервисом означает согласие Заказчика: на
            получение и оплату услуг; Заказчик осознанно предоставляет (вводит)
            Банку-эквайеру и Процессинговому центру данные, идентифицирующие
            Заказчика в целях совершения оплаты.
          </p>

          <p>
            1.24. Оплата услуг в порядке, предусмотренном настоящими условиями,
            осуществляется только при наличии технической возможности Заказчика,
            Процессингового центра, Банка - эквайера.
          </p>

          <p>
            1.25. Заказчик дает свое согласие на списание денежных средств с его
            карточного счёта в оплату услуг в пользу Заказчика по его
            распоряжению, отданному в порядке, предусмотренном разделом 7
            настоящего Договора Оферты, и признает свои действия по оплате
            равными платежам, заверенным его подписью.
          </p>

          <p>
            1.26. Заказчик выражает согласие на проверку сведений, вносимых им в
            порядке, предусмотренном разделом 7 настоящего Договора Оферты с
            соблюдением законодательства Российской Федерации.
          </p>
          <p>1.27. Возврат денежных средств:</p>
          <p>
            1.27.1. В случае отказа Заказчика от услуг ему не возвращается сумма
            неизрасходованных денежных средств, т.к. Заказчик предоставляет
            право пользования услугами за весь оплаченный период вне
            зависимости, осуществлял Заказчик такое пользование или нет.
          </p>

          <p>
            1.27.2. Списание денежных средств за услуги в соответствии с
            Тарифами, происходит единовременно за весь соответствующий период
            согласно выбранному Заказчиком тарифному плану. Таким образом, к
            правоотношениям Сторон по указанным услугам применяются положения
            ст. 429.4. ГК РФ (абонентский договор). Возврат уже списанных за
            услуги денежных средств не осуществляется, т.к. Заказчик
            предоставляет право пользования услугами за весь оплаченный период
            вне зависимости, осуществлял Заказчик такое пользование или нет.
          </p>

          <p>
            1.28. Заказчик самостоятельно отслеживает изменение реквизитов
            Исполнителя, указанных в настоящем Договоре Оферты и несет
            ответственность за правильность производимых им платежей.
          </p>
          <p><strong>Онлайн платежи за услуги от третьих лиц</strong></p>
          <p>
            1.28.1.
            <span class="text-red"
              >В случае, если Заказчик дал разрешение на получение
              онлайн-платежей за товары и услуги, приобретенные и/или
              забронированные онлайн через webberu, то Исполнитель перечислит
              Заказчику банковским переводом эквивалентную сумму за вычетом 12%
              (двенадцать процентов) или 15% (пятнадцать процентов) в
              зависимости от выбранного тарифа, что составляет комиссию
              Исполнителя за обработку платежа. При оплате подарочными
              сертификатами комиссия составляет 15%.</span
            >
          </p>
          <p>
            1.28.2. Чтобы получать платежи за товары и услуги, оплаченные
            онлайн, Заказчик должен внести свои банковские реквизиты в личном
            кабинете. Любые данные, предоставленные таким образом, зашифрованы и
            никогда не будут переданы третьим лицам.
          </p>
          <p>
            1.28.3. Исполнитель имеет право без предварительного уведомления
            изменить комиссию за обработку онлайн-платежей. Любые изменения
            будут опубликованы на Cайте по адресу
            <a href="https://webberu.ru/conditions"
              >https://webberu.ru/conditions</a
            >.
          </p>
          <p>
            1.28.4.<span class="text-red">
              Оплата будет произведена Заказчику за товары и услуги не позднее,
              чем через пять банковских дней после оказания услуг и доставки
              товаров. Предоставление услуги подтверждается Заказчиком в меню
              «Визиты» под календарем сотрудника, оказавшего услугу. Получение
              товара клиентом подтверждается Заказчиком в меню «Статус» после
              изменения статуса товара на «Доставлен».</span
            >
          </p>
          <p>
            1.28.5. Заказчик несет всю ответственность за качество
            предоставляемых услуг.
          </p>
          <p><strong>Повторяющиеся платежи</strong></p>
          <p>
            1.28.6. Заказчик вправе выбрать указанный способ оплаты, при выборе
            тарифных планов в Личном кабинете, и оплате услуг, не входящих в
            указанный тарифный план, оплата которых повторяющимися платежами
            прямо предусмотрена функционалом Интернет-ресурса Исполнителя.
            Способ оплаты Повторяющихся платежей позволяет Заказчику оплачивать
            услуги по Договору Оферты, путём автоматического списания денежных
            средств с банковской карты или любой платежной системой, включенной
            в Яндекс Касса (Yoomoney), которая позволяет проводить повторяющиеся
            платежи Заказчика в сумме, указанной Заказчиком при активации
            (подключении) выбранного тарифного плана в Личном кабинете.
          </p>
          <p>
            Активация (подключение) Сервиса «Повторяющиеся платежи»
            предполагает, выполнение следующих действий:
          </p>
          <p>
            - В Личном кабинете Заказчик выбирает тарифный план. Далее нажимает
            кнопку «Купить» и в открывшемся интерфейсе выбирает способ оплаты.
          </p>

          <p>
            - После выбора способа оплаты Заказчик нажимает кнопку «Оплатить».
            Далее Заказчик перенаправляется на экран процессингового центра (на
            выбор), где заполняет необходимые данные для осуществления платежа и
            совершает оплату банковской картой или электронными деньгами. После
            успешной оплаты банковской картой/электронными деньгами
            повторяющиеся платежи будут активированы (подключены) автоматически.
          </p>

          <p>
            1.28.7. После выполнения вышеуказанных действий с карточного
            (банковского) счёта или счета платёжной системы PayPal или Яндекс
            Касса (Yoomoney) Заказчика списывается сумма в соответствии с
            выбранным тарифным планом. В дальнейшем, каждый период (в
            соответствии с выбранным тарифным планом в то же число или в
            ближайшее число соответствующего месяца/года по отношению к тому дню
            месяца, когда был произведен первый платеж) платежи будут проходить
            в автоматическом режиме.
          </p>
          <p>
            1.28.8. После выполнения вышеуказанных действий с карточного
            (банковского) счёта или счета платёжной системы PayPal или Яндекс
            Касса (Yoomoney) Заказчика списывается сумма в соответствии с
            выбранным тарифным планом. В дальнейшем, каждый период (в
            соответствии с выбранным тарифным планом в то же число или в
            ближайшее число соответствующего месяца/года по отношению к тому дню
            месяца, когда был произведен первый платеж) платежи будут проходить
            в автоматическом режиме.
          </p>
          <p>
            1.28.9. Выбирая тарифный план с Повторяющимися платежами, Заказчик
            соглашается и дает право, в зависимости от выбранного тарифного
            плана списывать предоплату за сервис, способом выбранным Заказчиком
            при первом платеже, без непосредственного участия Заказчика в
            процедуре списания (списания происходят в автоматизированном режиме
            путём инициации запросов к платежным системам или внутренними
            механизмами платёжных систем).
          </p>
          <p>
            1.28.10. В случае невозможности произвести списание средств со счета
            Заказчика (в виду отсутствия денежных средств на платёжном
            инструменте, недействительности платёжного инструмента или других
            причинах, не зависящих от Исполнителя), Исполнитель вправе
            прекратить оказание услуг, о чём Исполнитель уведомляет Заказчика в
            Личном Кабинете Интернет-ресурса. В этом случае возобновление
            оказания услуг начинается только после оплаты Заказчиком
            последующего периода.
          </p>
          <p>
            1.28.11. Отказ Заказчика от способа оплаты Повторяющиеся платежи.
            Заказчик вправе в любое время отказаться от способа оплаты
            Повторяющиеся платежи, выполнив следующие действия:
          </p>
          <p>
            - В Личном Кабинете перейти с выбранного тарифного плана на новый
            тарифный план, с единоразовой оплатой путем банковского перевода.
          </p>
          <p>
            - В указанном случае услуги продолжают оказываться в соответствии с
            предыдущим тарифным планом до момента окончания текущего периода, а
            затем оказание услуг продолжается в соответствии с новом тарифным
            планом, таким образом, набор услуг и их стоимость изменяется в
            соответствии указанным тарифным планом
          </p>
          <p>
            - Исполнитель не несёт ответственности за временную
            неработоспособность способа оплаты
          </p>
          <p>
            - Повторяющиеся платежи по не зависящим от Исполнителя причинам, а
            также обстоятельствам непреодолимой силы. В этом случае Заказчик
            использует иные способы внесения средств для оплаты услуг.
          </p>
          <p><strong>Ответственность Сторон</strong></p>
          <p>
            8.1. В случае невыполнения или ненадлежащего выполнения обязательств
            по настоящему Договору Оферты Стороны несут ответственность в
            соответствии с положениями настоящего Договора Оферты и действующего
            законодательства Российской Федерации.
          </p>
          <p>
            8.2. Исполнитель не несет ответственности за невозможность
            обслуживания Заказчика или Пользователю по каким-либо независящим от
            него причинам, включая нарушение работы линий связи, неисправность
            оборудования, невыполнение обязательств поставщиков тех или иных
            услуг и т.п.
          </p>
          <p>
            8.3. Оплачивая услуги Исполнителя по Договору Оферты, Заказчик
            соглашается с условиями данного Договора Оферты и с тем, что он не
            вправе требовать от Исполнителя какой-либо компенсации морального,
            материального вреда, упущенной выгоды или вреда, причиненного
            Заказчику, как в течение срока действия настоящего Договора Оферты,
            так и по истечении срока его действия, за исключением случаев, прямо
            предусмотренных законодательством Российской Федерации.
          </p>
          <p>
            8.4. Исполнитель ни при каких обстоятельствах не несет никакой
            ответственности по настоящему Договору Оферты за:
          </p>
          <p>
            - какие-либо действия и/или бездействия, являющиеся прямым или
            косвенным результатом действий/бездействий каких-либо третьих
            сторон;
          </p>
          <p>
            - какие-либо косвенные, прямые убытки (реальные ущерб и/или
            упущенную выгоду) Заказчика и/или Пользователя и/или третьих сторон
            вне зависимости от того, мог Исполнитель предвидеть возможность
            таких убытков или нет;
          </p>
          <p>
            - использование (невозможность использования) и какие бы то ни было
            последствия использования (невозможности использования) Заказчиком
            или Пользователем информации, полученной от Исполнителя;
          </p>
          <p>
            - материалы и информацию, передаваемые Заказчиком Исполнителю для
            оказания услуг и/или размещаемые Заказчиком посредством Сервисов
            Интернет-ресурса.
          </p>
          <p>
            8.5. Совокупная ответственность Исполнителя по Договору Оферты, по
            любому иску или претензии в отношении Договора Оферты или его
            исполнения ограничивается суммой платежа, уплаченного Исполнителю
            Заказчиком или Пользователем по настоящему Договору Оферты, за
            соответствующие услуги, в отношении которых предъявлена претензия
            и/или иск, не может превышать сумм, полученных Исполнителем от
            Заказчика или Пользователем за последние 3 месяца действия Договора
            Оферты до того момента, как была предъявлена претензия или иск.
          </p>
          <p>
            8.6. Не вступая в противоречие с указанным выше, Исполнитель
            освобождается от ответственности за нарушение условий Договора
            Оферты, если такое нарушение вызвано действием обстоятельств
            непреодолимой силы (форс-мажор), включая: действия органов
            государственной власти, пожар, наводнение, землетрясение, другие
            стихийные бедствия, отсутствие электроэнергии, забастовки,
            гражданские волнения, беспорядки, любые иные обстоятельства, не
            ограничиваясь перечисленными, которые могут повлиять на выполнение
            Исполнителем настоящего Договора Оферты.
          </p>
          <p>
            8.7. Некоторые услуги предполагают: показ, а также включают или
            предоставляют доступ к Контенту, данным, информации, приложениям или
            материалам третьих лиц, а также предоставляют ссылки на веб-сайты
            третьих лиц; передачу Заказчиком Исполнителю Контента для оказания
            услуг; размещение Контента Заказчиком самостоятельно с помощью
            Сервисов Сайта на cайте Заказчика и сторонних веб-сайтах. Пользуясь
            данными услугами, Заказчик признает и соглашается с тем, что
            Исполнитель не принимает на себя обязательств по изучению или оценке
            данного Контента, а также точности, полноты, актуальности,
            правильности, соблюдения авторских прав, правомерности,
            пристойности, качества и прочих качеств любых материалов Заказчика
            или веб-сайтов третьих лиц. Исполнитель не гарантирует и не
            рекомендует, а также не принимает на себя и не несет никакой̆
            ответственности перед Заказчиком, третьими лицами за любой,
            указанный в настоящем пункте Контент Заказчика или веб-сайты третьих
            лиц, либо за любые другие материалы, продукты или услуги третьих
            лиц.
          </p>
          <p>
            8.8. Принятие к размещению и/или согласование Исполнителем
            какого-либо Контента и/или каких-либо изменений в Контенте, который
            Заказчик передал Исполнителю для оказания услуг, или разместил
            самостоятельно с помощью Сервисов Сайта ни при каких обстоятельствах
            не означает подтверждение Исполнителем права Заказчика на какое-либо
            использование в таком Контенте объектов исключительных прав третьих
            лиц. Всю ответственность за такое использование и любые последствия
            такого использования Заказчик несет самостоятел
          </p>
          <p>
            8.9. Стороны согласились, что в спорных ситуациях будут общаться по
            электронной почте, указанной на Сайте.
          </p>
          <p>
            8.10. Все споры и разногласия решаются путем письменных переговоров
            Сторон. В случае если споры и разногласия не могут быть
            урегулированы путем переговоров и Заказчиком является юридическое
            лицо или индивидуальный предприниматель, они передаются на
            рассмотрение Арбитражного суда г. Москвы, если Заказчиком является
            физическое лицо — по месту нахождения Исполнителя.
          </p>
          <p>
            8.11. В случае предъявления претензий к Исполнителю со стороны
            третьих лиц в отношении материалов и информации, передаваемых
            Заказчиком Исполнителю для оказания услуг и продажи товаров и/или
            размещаемых Заказчиком посредством Сервисов Интернет-ресурса,
            Заказчик обязуется урегулировать все такие претензии и спорные
            вопросы собственными силами и за собственный счет, а также
            возместить Исполнителю в полном объеме ущерб, причиненный вследствие
            передачи Заказчиком Исполнителю и/или размещения Заказчиком
            самостоятельно посредством Сервисов Интернет-ресурса материалов и
            информации, нарушающих права третьих лиц, действующее
            законодательство РФ.
          </p>
          <p>
            8.12. В максимальной степени, разрешенной действующим
            законодательством, использование Сервисов Сайта и оказание услуг
            предоставляются «как есть» и «в текущем состоянии («как доступно»)
            без гарантий любого рода.
          </p>
          <p>
            8.13. Исполнитель не несет ответственности за покупки, платежи или
            другие коммерческие действия, совершенные с помощью функций
            программного обеспечения Интернет-ресурса, Заказчик соглашается для
            разрешения любых вопросов или споров в отношении платежных карт,
            виртуальных платежей и связанных коммерческих действий обращаться
            исключительно к соглашениям, которые заключаются между Заказчиком и
            Банком-эмитентом, Процессинговый центром при совершении платежа.
            Заказчик гарантирует, что при передаче любой информации или данных,
            принадлежащих третьему лицу, Исполнителю, Заказчик получил
            соответствующее разрешение от третьего лица.
          </p>
          <p><strong>9. Конфиденциальность </strong></p>
          <p>
            9.1. Конфиденциальная информация не включает информацию, которая:
          </p>
          <p>
            9.1.1. уже была известна Исполнителю, либо находилась в открытом
            доступе на момент ее раскрытия;
          </p>
          <p>
            9.1.2. стала достоянием общественности после ее раскрытия при
            условии, что Исполнитель не совершал действий в нарушение условий
            Договора Оферты;
          </p>
          <p>
            9.1.3. была получена Исполнителем независимым образом без
            использования Конфиденциальной информации, которую им предоставил
            Заказчик;
          </p>
          <p>
            9.1.4. раскрыта во исполнение судебного решения в соответствии с
            действующим законодательством Российской Федерации, при условии,
            что, по требованию и за счет Заказчика, Исполнитель предпринимает
            разумные усилия для ограничения такого раскрытия до оговоренного в
            судебном решении уровня.
          </p>
          <p>
            9.2. Исполнитель обязуется не раскрывать и не предоставлять
            каким-либо иным образом Конфиденциальную информацию третьим лицам
            без получения предварительного письменного согласия Заказчика.
            Заказчик самостоятельно принимает решение о раскрытии или
            нераскрытии Конфиденциальной информации третьим лицам через
            Платформу webberu.
          </p>
          <p>
            9.3. Исполнитель обязуется не копировать и/или не использовать
            Конфиденциальную информацию, кроме случаев, когда это необходимо для
            исполнения своих обязательств по Договору Оферты.
          </p>
          <p>
            9.4. Исполнитель обязуется хранить всю Конфиденциальную информацию в
            тайне и предпринимать для обеспечения ее защиты любые необходимые
            меры, включая, в частности, такие меры, которые данная Сторона
            применяет для защиты своей собственной Конфиденциальной информации.
          </p>
          <p>
            9.5. Исполнитель обязуется ограничить раскрытие Конфиденциальной
            информации внутри своей компании, раскрывая ее только тем
            сотрудникам, которым необходимо знать эту информацию.
          </p>
          <p>
            9.6. Исполнитель, а также субподрядчики Исполнителя, которые
            взаимодействуют с Заказчиком через Платформу webberu, ни при каких
            обстоятельствах не приобретают в соответствии с Договором Оферты,
            права собственности или иные права на интеллектуальную собственность
            в отношении Конфиденциальной информации, предоставленной Заказчиком,
            в том числе права на Информационное содержание, загруженное с
            помощью Платформы webberu.
          </p>
          <p>
            <strong
              >Срок действия, изменение, расторжение Договора Оферты</strong
            >
          </p>
          <p>
            9.7. Договор Оферты вступает в силу с момента, указанного в п.1.2.
            Договора Оферты, раздела 4 настоящего Договора Оферты, и действует
            до момента выполнения Исполнителем обязательств по оказанию услуг в
            объеме, соответствующем размеру произведенной Заказчиком предоплаты
            по Договору Оферты.
          </p>
          <p>
            9.8. Исполнитель оставляет за собой право внести изменения в Договор
            Оферты или расторгнуть Договор Оферты в любой момент по своему
            усмотрению.
          </p>
          <p>
            9.9. Заказчик соглашается, что внесенные изменения в Договор Оферты
            вступают в силу с момента их опубликования на Сайте.
          </p>
          <p>
            9.10. В случае отзыва Оферты Исполнителем в течение срока действия
            Договора Оферты Договор Оферты считается прекращенным с момента
            отзыва Оферты и до выполнения обязательств Сторон по Договору
            Оферты.
          </p>
          <p>
            9.11. Исполнитель вправе в любое время в одностороннем порядке
            отказаться от исполнения Договора Оферты в соответствии с
            законодательством Российской Федерации. Исполнитель вправе
            прекратить оказание услуг по настоящему Договору Оферты без выплат
            каких-либо компенсаций в случае выявления нарушений Заказчиком
            законодательства Российской Федерации при использовании Сервисов
            Интернет-ресурса.
          </p>
          <p>
            9.12. Исполнитель оставляет за собой право в одностороннем порядке
            приостановить или полностью заблокировать доступ Заказчика в его
            Личный кабинет на сайте Исполнителя, с одновременным прекращением
            размещения и показа его Объявлений или без такового, в случае
            нарушения им условий данного Договора, Приложений к нему, Правил
            пользования сайтом или законодательства РФ.
          </p>
          <p>
            9.13. Заказчик вправе в любое время в одностороннем порядке
            отказаться от услуг Исполнителя путём направления запроса по
            электронной почте на адрес
            <a href="mailto:info@webberu.ru">info@webberu.ru</a>
          </p>
          <p>
            9.14. В случае нарушений условий данной Оферты Заказчиком денежные
            средства не возвращаются.
          </p>
          <p><strong>Прочие условия</strong></p>
          <p>
            9.15. Любые уведомления по Договору Оферты могут направляться одной
            Стороной другой Стороне:
          </p>
          <p></p>
          <p>
            - по электронной почте: на адрес электронной почты Заказчика,
            указанный им при регистрации и/или в Личном кабинете, на адрес
            электронной почты Исполнителя, указанный в конце настоящего Договора
            Оферты;
          </p>
          <p>- почтой с уведомлением о вручении.</p>
          <p>
            9.16. Стороны по настоящему Договору Оферты признают юридическую
            силу сообщений относительно оказания услуг по настоящему Договору
            Оферты полученных по электронным каналам связи. Каналы связи в
            терминах настоящего Договора Оферты – это контактные адреса
            электронной почты Исполнителя, указанные в настоящем Договоре
            Оферты, адреса электронной почты Заказчика, указанные в Личном
            Кабинете в регистрационных данных.
          </p>
          <p>
            9.17. Неосуществление того или иного права в рамках Договора Оферты,
            полномочия или намерения, предусмотренных Договором Оферты, не
            означает ни отказа Исполнителя от сроков и условий Договора Оферты в
            случае следующего нарушения, ни отказа от своих прав потребовать
            соблюдения условий Договора Оферты в любое время впоследствии.
          </p>
          <p>
            9.18. Договор Оферты представляет собой полную договоренность между
            Исполнителем и Заказчиком и/или Пользователем. Исполнитель не
            принимает на себя никаких условий и обязательств в отношении
            предмета Договора Оферты, за исключением указанных в Договоре
            Оферты, которыми регулируется исполнение Договора Оферты, за
            исключением случая, когда такие условия или обязательства
            зафиксированы в письменном виде и подписаны уполномоченными
            представителями Исполнителя и Заказчика.
          </p>

          <div class="terms-of-use__content-bottom mt-5">
            <p><strong>Реквизиты Исполнителя</strong></p>
            <p>ООО «Сфера»</p>
            <p>
              Юридический адрес и адрес для корреспонденции: 127106 г. Москва,
              ул. Ботаническая, д. 41, к. 7, пом. 7182
            </p>
            <p>ИНН 9715389663</p>
            <p>КПП 771501001</p>
            <p>ОГРН 1207700343795</p>
            <p>Банк: ПАО СБЕРБАНК</p>
            <p>Расчетный счет в рос руб: 40702810038000202916</p>
            <p>Корреспондентский счет: 30101810400000000225</p>
            <p>БИК 044525225</p>
            <p>Email: <a href="mailto:info@webberu.ru">info@webberu.ru</a></p>
          </div>
        </div>
      </div>
    </div>
  </def-layout>
</template>

<script>
import DefLayout from "@/layouts/Default/Default";

export default {
  name: "Terms",
  components: {
    DefLayout,
  },
};
</script>
