<template>
  <def-layout>
    <div class="media-page site-content main-content">
      <div class="container">
        <div class="site-content__header">
          <div class="site-content__title">Медиа</div>
        </div>

        <div
          v-masonry
          transition-duration="0s"
          item-selector=".grid-item"
          class="grid"
          ref="grid"
        >
          <div
            v-masonry-tile
            class="grid-item"
            v-for="(img, imageIndex) in images"
            :key="imageIndex"
            @click="indexOfShownImage = imageIndex"
          >
            <img :src="img" alt="" />
          </div>
        </div>
        <CoolLightBox
          :items="images"
          :index="indexOfShownImage"
          :effect="'fade'"
          @close="indexOfShownImage = null"
        >
        </CoolLightBox>
      </div>
    </div>
  </def-layout>
</template>

<script>
import DefLayout from "@/layouts/Default/Default";

export default {
  name: "Media",
  components: { DefLayout },

  data() {
    return {
      indexOfShownImage: null,
      images: [
        require("@/assets/img/media/media1.png"),
        require("@/assets/img/media/media2.png"),
        require("@/assets/img/media/media3.png"),
        require("@/assets/img/media/media4.png"),
        require("@/assets/img/media/media5.png"),
        require("@/assets/img/media/media6.png"),
        require("@/assets/img/media/media7.png"),
      ],
    };
  },
};
</script>

<style lang="scss">
@import "media";

.cool-lightbox__slide__img img {
  width: auto;
}
</style>
