.grid {
  margin: -15px;
  &-item {
    display: block;
    float: left;
    padding: 15px;
    width: 33.3333333%;
  }
  a {
    display: block;
  }
  img {
    border-radius: 7px;
  }
}

@media (max-width: 991px) {
  .grid {
    &-item {
      width: 50%;
      padding: 10px;
    }
  }
}

@media (max-width: 575px) {
  .grid {
    margin: 0;
    &-item {
      float: none;
      width: 100%;
      padding: 0 0 20px;
    }
  }
}
